#list3  li  {
    font-size: 9px;
    list-style: none;
}
div{
	font-family: lato light;
}

.list-group ul li{
height: 2px;
font-size: 9px;
}
.list-group-item{
	height: 33px;
}			


label {
    font-size:9px;
}

 fieldset 
	{
		margin: 0;
		padding: 10px;       
		position: relative;
		border-radius:4px;
	
		padding-left:10px!important;
	}	
	
		legend
		{
			font-size:10px;
			font-weight:bold;
			margin-bottom: 0px; 
			width: 15%; 
			border: 1px solid #ddd;
			border-radius: 4px; 
			padding: 5px 5px 5px 10px;
		}
.details {
	font-size: 18px;
}
@media print{
	img {
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 40%;
	  }
    #div{
        background-color:  #20a8d8;
    }
    .total{
    background-color: greenyellow;
    }
    .footer{
        position: fixed;
        bottom: 0;
    }
       
    table{
        width: 100%;
        font-family : lato light;
    }
    tr{
     font-weight: bold;
    }
    hr{
        margin-top: -2px;
    
    }
    .col-sm-5{
        font-size: 15px;
        font-weight:bold;
        // text-transform: uppercase;
        font-family: lato light;
    }
    .address{
        font-weight: bold;
        font-family: lato light;
        margin-top: -5px;
    }
    .header{
        font-family: lato light;
        font-family: 22px;
        font-weight: bold;
    }
    .total {
        font-family: lato light
    }
}
hr{
border-top: 1px dashed #20a8d8;;
}
label {
	font-size: 8px;
	font-weight: bold;
	text-transform: uppercase;
	font-family:lato light;

}
// span{
// 	font-size: 10px;
// 	text-transform: uppercase;
// 	font-weight: bold;
// 	font-family: lato;
	
// }


span{
	font-family:lato light;
}
table {
    width: 100%;
}
table{
	width: 100%;
	font-family:lato light;
}
tr.mat-header-row {
	height:38px;
}
td.mat-cell{
  font-size:13px;
  font-weight: bold;
}
tr.mat-row, tr.mat-footer-row {
  height: 32px;
}

th.mat-header-cell {
  text-align: left;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
}

th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
  padding: 0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

th.mat-header-cell:first-child, td.mat-cell:first-child, td.mat-footer-cell:first-child {
  padding-left: 24px;
}

th.mat-header-cell:last-child, td.mat-cell:last-child, td.mat-footer-cell:last-child {
  padding-right: 24px;
}
mat-form-field{
	width: 100%;
}

td.mat-cell{
  font-size:13px;
}
tr.mat-row, tr.mat-footer-row {
  height: 30px;
  font-weight: bold;
}
tr.mat-header-row {
  height:32px;
  
}
th {
  color: #20a8d8;
  font-weight: bolder;
  font-size:17px;
  text-transform: uppercase;
}