#list3  li  {
    font-size: 9px;
    list-style: none;
}
div{
	font-family: lato light;
}

.list-group ul li{
height: 2px;
font-size: 9px;
}
.list-group-item{
	height: 33px;
}			


label {
    font-size:9px;
}

 fieldset 
	{
		margin: 0;
		padding: 10px;       
		position: relative;
		border-radius:4px;
	
		padding-left:10px!important;
	}	
	
		legend
		{
			font-size:10px;
			font-weight:bold;
			margin-bottom: 0px; 
			width: 15%; 
			border: 1px solid #ddd;
			border-radius: 4px; 
			padding: 5px 5px 5px 10px;
		}
.details {
	font-size: 18px;
}
hr{
border-top: 1px dashed #20a8d8;;
}
label {
	font-size: 8px;
	font-weight: bold;
	text-transform: uppercase;
	font-family:lato light;

}
span{
	font-size: 10px;
	text-transform: uppercase;
	font-weight: bold;
	font-family: lato;
	
}
m{
font-family:lato light;
font-size: 13px;
text-transform: uppercase;
font-weight: 600;
}

span{
	font-family:lato light;
}
table{
	width: 100%;
	font-family:lato;  
}
tr.mat-header-row {
	height:38px;
}

td.mat-cell{
	font-size:11px;
}
tr.mat-row, tr.mat-footer-row {
  height: 30px;
}

th.mat-header-cell {
	text-align: left;
	font-size: 16px;
}

th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
  padding: 0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

th.mat-header-cell:first-child, td.mat-cell:first-child, td.mat-footer-cell:first-child {
  padding-left: 24px;
}

th.mat-header-cell:last-child, td.mat-cell:last-child, td.mat-footer-cell:last-child {
  padding-right: 24px;
}
mat-form-field{
	font-size: 9px;
}
input[type="text"]{
	font-size: 16px;
	width: 100%;
}
mat-label{
	font-size:16px;
	
}