<tabset [pills]="false" [hidden]="loading">
  <tab title="Tab title">
    <span *tabHeading>
      <span style="font-family:lato">PATIENT BILLING</span>
    </span>
  <div class="row">
    <div class="col-sm-12">
        <span style="font-size:13px;font-weight: bold" class="pull-right">PATIENT NO:<span  style="font-size:16px;font-weight: bold" class="text-primary" >{{patientInfo.patient_no}}</span></span>
        <span style="font-size:13px;font-weight: bold" class="pull-right">VISIT  NO:<span  style="font-size:16px;font-weight: bold;margin-right:10px;" class="text-primary" >{{patientInfo.visit_no}}</span></span>
    </div>
    <div class="col-sm-2">
      <h6 class="text-center">
        <img title="profile image" class="img-circle img-responsive center" src="assets/img/avatars/download.png"
          style="height: 120px;"><br>
        <span1 style="font-size:12px;border-radius:2px;font-weight:200px;" class="badge badge-info text-center">
          {{patientInfo.first_name}}
          {{patientInfo.other_names}} {{patientInfo.last_name}}</span1>
      </h6>
    </div>
    <div class="col-sm-10">
        <div class="row">
            <div class="col-sm-12">
              <mat-card> 
                <mat-card-title>
                 <u>
                    <span class="text-primary" style="font-weight:600;">{{patientInfo.first_name | uppercase}} {{patientInfo.other_names | uppercase}}
                        {{patientInfo.last_name | uppercase}}</span> | <span style="font-weight: 600">
                          <span *ngIf="patientInfo?.age?.years > 0">{{patientInfo?.age?.years}}  Years</span>
                          <span *ngIf="patientInfo?.age?.months > 0">{{patientInfo?.age?.months}} Months</span>
                          <span *ngIf="patientInfo?.age?.days > 0">{{patientInfo?.age?.days}} Days</span>
                        </span>| <span class="text-primary" style="font-weight: 600">{{patientInfo?.gender}}</span> 
                </u>
                </mat-card-title>
                  <div class="row">
                      <div class="col-sm-5">

                        <div class="row">
                            <div class="col-sm-4 hx">
                            CHECK IN
                            </div>
                            <div class="col-sm-8"><span class="text-primary" style="font-weight:bold;">{{patientInfo.check_in | date}}</span></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 hx">
                            PRIORITY
                            </div>
                            <div class="col-sm-8"><span class="text-primary" style="font-weight:bold;">{{patientInfo.priority}}</span></div>
                          </div>
                        <div class="row"> 
                          <div class="col-sm-4 hx">
                            NATIONAL ID
                          </div>
                          <div class="col-sm-8"><span class="text-primary" style="font-weight:bold;">{{patientInfo.national_id}}</span></div>
                        </div>
                      </div>
                     
                    
                    </div>
              </mat-card>
            </div>
           </div>
    </div>
  </div>
  <div>
      <div class="modal fade" bsModal #billModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog"
      aria-labelledby="dialog-static-name">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-body">
            <h3>Add Bills <i class="fa fa-close pull-right" (click)="billModal.hide()" style="font-size:24px;"></i></h3>
    
            <div class="row">
<div class="col-sm-6">
<mat-form-field><input type="text"  (typeaheadOnSelect)="onSelect($event)" name="test"
placeholder="****** Type procedure and select to add *******" typeaheadOptionField="name"
[(ngModel)]="name" [typeahead]="services" [typeaheadOptionsLimit]="12" matInput></mat-form-field>
</div>
<div class="col-sm-4">
  <mat-form-field>
      <input type="text" placeholder="Cost" [(ngModel)]="selectedOption.cost" matInput>
  </mat-form-field>
</div>
<div class="col-sm-2">
  <button mat-mini-fab color="primary" (click)="saveService()"> <i class="fa fa-plus"></i></button>
</div>
            </div>
            <div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
  <mat-card>
    <mat-card-title><u style="font-family:lato light;font-weight: 600" class="text-success">PATIENT BILLS</u></mat-card-title>
      <div class="col-sm-12">
  
          <button mat-raised-button class="btn btn-info btn-sm pull-right" style="margin-top:-15px;margin-left: 10px;" printTitle="INVOICE"
            printSectionId="print-section" [useExistingCss]="true" ngxPrint><i class="cui-print" style="font-size: 34px"></i></button>
          <button mat-raised-button class="btn btn-success btn-sm pull-right" style="margin-top:-15px;" (click)="billModal.show()"><i
              class="fa fa-plus"></i> ADD BILL</button>
          <button mat-raised-button class="btn btn-info btn-sm pull-right" style="margin-top:-15px;margin-right: 10px;"><i
              class="cui-dollar"></i> TOTAL <span
              style="color:white;font-size:13px;font-weight: bold">{{total | number}}</span></button>
          <button mat-raised-button color="warn" class="btn-sm pull-right"
            style="margin-top:-15px;margin-right: 10px" (click)="confirm()"
            [disabled]="pending_amount <= 0"><i class="fa fa-money"></i> PAY BILLS <span
              style="color:white;font-size:13px;font-weight: bold">{{pending_amount | number}}</span></button>
    
    
        </div>
        <br>
        <br>
        <div class="col-sm-12 table-responsive mat-elevation-z8" *ngIf="patientInfo.bills">
          <table mat-table [dataSource]="dataSource" matSort>
              <ng-container matColumnDef="sn">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> S/N </th>
                  <td mat-cell *matCellDef="let element;let i = index"> {{i+1}} </td>
                </ng-container>
        
            <ng-container matColumnDef="service">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> SERVICE </th>
              <td mat-cell *matCellDef="let element"> {{element.service}} </td>
            </ng-container>
    
            <ng-container matColumnDef="category">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>CATEGORY</th>
              <td mat-cell *matCellDef="let element"> {{element.category}} </td>
            </ng-container>
    
            <ng-container matColumnDef="bill_number">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> BILL NUMBER </th>
              <td mat-cell *matCellDef="let element"> {{element.bill_number}} </td>
            </ng-container>
    
            <ng-container matColumnDef="invoice__no">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> INVOICE NUMBER </th>
              <td mat-cell *matCellDef="let element"> {{element.invoice__no}} </td>
            </ng-container>
    
            <ng-container matColumnDef="rate">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>COST</th>
              <td mat-cell *matCellDef="let element"> {{element.rate}}</td>
            </ng-container>
    
            <ng-container matColumnDef="reverse">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>REVERSE</th>
              <td mat-cell *matCellDef="let element"> <button (click)="reverseBill(element)"><i class="cui-action-undo"
                    style="color:red;font-weight:900"></i> Reverse</button></td>
            </ng-container>
    
            <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>STATUS</th>
              <td mat-cell *matCellDef="let element"><span  *ngIf="element.status =='0'">Not Paid</span>
                <span  *ngIf="element.status =='1'">Paid</span>
              </td>
            </ng-container>
    
    
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
    
          <br>
        </div>
  </mat-card>

  </div>
 
  
  <div class="modal fade" bsModal #confirmModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog"
    aria-labelledby="dialog-static-name">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-body">
          <div class="row">
            <div class="col-sm-12">
              <h6>Are you Insured?</h6>
            </div>
            <div class="col-sm-12">
              <mat-radio-button (click)="openPay('Yes')">Yes</mat-radio-button>
            </div>
            <div class="col-sm-12">
              <mat-radio-button (click)="openPay('No')">No</mat-radio-button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" bsModal #payBills="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog"
    aria-labelledby="dialog-static-name">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-body">
          <h6>Choose Payment Mode
            <span class=" text-primary pull-right" style="font-size:14px;font-weight:bold;"> <i class="cui-dollar"></i>
              {{pending_amount | number}}</span>
          </h6>
          <hr>
          <div class="row">
            <div class="col-sm-4">
              <mat-checkbox [checked]="isMpesa" (change)="onMpesa()">Mpesa</mat-checkbox>
            </div>
            <div class="col-sm-4">
              <mat-checkbox [checked]="isCash" (change)="onCash()">Cash</mat-checkbox>
            </div>
            <div class="col-sm-4" *ngIf="isInsurance">
              <mat-checkbox [checked]="isInsurance">Insurance</mat-checkbox>
            </div>
  
          </div>
          <div class="row">
            <div class="col-sm-12" *ngIf="isInsurance">
              <label>Insurance Amount</label>
              <input type="number" [disabled]="status" class="form-control" placeholder="insurance amount"
                [(ngModel)]="amount" (ngModelChange)="calculate()">
            </div>
            <div class="col-sm-12" *ngIf="isCash">
              <div class="row">
                <div class="col-sm-6">
                  <label>Cash </label>
                  <input type="number" min="0" class="form-control" placeholder="Cash Amount" [(ngModel)]="cash"
                    (ngModelChange)="calculate()" [disabled]="status">
                </div>
              </div>
            </div>
            <div class="col-sm-12" *ngIf="isMpesa">
              <label>Mpesa Deposit</label>
              <div class="row">
                <div class="col-sm-6">
                  <input type="text" class="form-control" placeholder="Transaction No" [(ngModel)]="mpesa.trx">
                </div>
                <div class="col-sm-6">
                  <input type="number" class="form-control" placeholder="insurance amount" [(ngModel)]="mpesa.amount"
                    (ngModelChange)="calculate()" [disabled]="status">
                </div>
              </div>
            </div>
          </div>
          <br>
          <div>
            <button class="btn btn-danger btn-sm pull-right" (click)="payBills.hide()">Cancel</button>
            <button class="btn btn-success btn-sm pull-right" style="margin-right:8px;" (click)="submitPayment()"
              [disabled]="bill_amount < pending_amount">Submit</button>
          </div>
        </div>
  
      </div>
    </div>
  </div>


  <div class="card" id="print-section"  hidden> 
    <div class="card-body">
      <div class="row container-fluid">
          <div class="col-sm-12">
              <div class="row">
                <div class="col-sm-6">
                    <address>
                        <h2 style="font-family:lato light;font-weight: bolder">HEALTHIX HOSPITAL</h2>
                        <span class="address" style="font-size: 18px;">
                             <i class="icon-location-pin"></i> 637833-00200 Nairobi,<br>
                            <i class="icon-call-in"></i> contact +254 7 789-1234,<br>
                            <i class="icon-envelope-letter"></i> hospital@gmail.com
                        </span>
                        </address>
                </div>
                <div class="col-sm-6">
                  <img src="../../../../assets/img/avatars/logo.png" style="float: right" alt="">
                </div>
              </div>
          </div>
          <div class="col-sm-12">
            <h3 style="font-weight: bolder">INVOICE N0 : <span class="text-primary" *ngIf="patientInfo?.bills?.length">{{patientInfo?.bills[0].invoice__no}}</span></h3>
          
          </div>
          
            <div class="col-sm-5" style="font-size: 16px;">
              <div class="row">
                <div class="col-sm-4">Charge Date</div>
                <div class="col-sm-5">{{ patientInfo?.check_in | date}}</div>
              </div>
              <div class="row">
                  <div class="col-sm-4">Net</div>
                  <div class="col-sm-5"><b>{{total | number:'1.2-2'}}</b></div>
                </div>
                <div class="row">
                    <div class="col-sm-4">Currency</div>
                    <div class="col-sm-5">KSH</div>
                </div>
                <div class="row">
                    <div class="col-sm-4">Cashier</div>
                    <div class="col-sm-5">Davi</div>
                  </div>
            </div>
            <div class="col-sm-5" style="font-size: 16px;">
                <div class="row">
                    <div class="col-sm-4" >Billed to</div>
                    <div class="col-sm-5"><strong>{{patientInfo?.first_name | uppercase}} {{patientInfo?.other_names | uppercase}} {{patientInfo?.last_name | uppercase}}</strong></div>
                  </div>
                  <div class="row">
                      <div class="col-sm-4">Visit number</div>
                      <div class="col-sm-5">{{patientInfo?.visit_no}}</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">Gender</div>
                        <div class="col-sm-5">{{patientInfo?.gender}}</div>
                    </div>
                  <div class="row">
                      <div class="col-sm-4">Phone</div>
                      <div class="col-sm-5">{{patientInfo?.phone}}</div>
                    </div>
                    <!-- <div class="row">
                        <div class="col-sm-4">Email</div>
                        <div class="col-sm-5">davia@gmail.com</div>
                    </div> -->
              </div>
              
              <div class="col-sm-12">
                  <br>
                  <table class="table table-condensed" style="font-size: 16px;">  <tr> 
                      <th>Item / Desc.</th>
                      <th>Category.</th>
                      <th>Bill Number.</th>
                      <th>Qty.</th>
                      <th>Cost</th>
                      <th>Total</th>
                      </tr> 
                      <tr *ngFor="let item of patientInfo.bills" style="font-weight: bolder"> 
                      <td>{{item.service}}</td>
                      <td >{{item.category | lowercase}}</td> 
                      <td>{{item.bill_number}}</td>
                      <td>{{item.quantity}}</td>
                      <td>{{item.rate | number:'1.2-2'}}</td>
                      <td>{{item.rate * item.quantity | number:'1.2-2'}}</td> 
                      </tr>
  
                      <tr>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      </tr> 
                       </table>
  
                    </div>
                    <div class="col-sm-4"></div>
                    <div class="col-sm-4"></div>
                    <div class="col-sm-4 total" style="font-size: 19px;">
                      <div class="row">
                        <div class="col-sm-5"> <b>SUB TOTAL </b></div>
                        <div class="col-sm-7">{{total | number:'1.2-2' }}</div>
                      </div>
                      <hr>
                      <div class="row">
                          <div class="col-sm-5">Total Amount </div>
                          <div class="col-sm-7"></div>
                        </div>
                        
                        <div class="row">
                            <div class="col-sm-5">Tax </div>
                            <div class="col-sm-7">{{0.00}}</div>
                        </div>
                        <div class="row">
                            <div class="col-sm-5"><strong class="text-success">AMOUNT DUE</strong></div>
                            <div class="col-sm-7"><strong>{{total | number:'1.2-2'}}</strong></div>
                          </div>
                        
                      
                    </div>
                    <div class="col-sm-12 footer">
                      <div class="row">
                        <div class="col-sm-6">
                            powered by healthix uilabs
                        </div>
                        <div class="col-sm-6"><p class="pull-right"> <img src="../../../../assets/img/avatars/logo.png" style="height: 40px" alt=""> </p></div>
                      </div>
                    </div>
                  
      </div>
    </div>
  </div>
  </tab>
  <tab title="Insure Check" [disabled]="!patientInfo?.insure_check?.length">
    <span *tabHeading>
      Insurance Details
    </span>
            <tabset>
              <tab>
                <ng-template tabHeading><span style="font-size:12px;">Patient Information</span> </ng-template>
              
                <div class="row">
                  <div class="col-sm-4"><img title="profile image" class="img-circle img-responsive center"
                      src="assets/img/avatars/download.png" style="margin-left:90px;height: 140px;">
                    <br /><br />
                    <ul class="list-group">
                      <li class="list-group-item" contenteditable="false">
                        <h5 align="center" style="font-size:12px;" class="text-primary">
                          {{memberInfo?.name || memberInfo?.member_data?.name}}</h5>
                      </li>
                      <li class="list-group-item text-right"><span class="pull-left"><strong class=""><i
                              class="fa fa-address-card-o"></i> National id</strong></span>
                        <b style="font-size:10px;" class="text-primary">{{memberInfo?.national_id}}</b>
                      </li>
                      <li class="list-group-item text-right"><span class="pull-left"><strong class=""><i class="icon-calendar"></i>
                            D.O.B</strong></span>
                        <b style="font-size:10px;" class="text-primary">{{memberInfo?.dob || memberInfo?.member_data?.dob |date}}</b>
                      </li>
                      <li class="list-group-item text-right"><span class="pull-left"><strong class=""> <i class="icon-people"></i>
                            Gender</strong></span>
                        <span
                          *ngIf="memberInfo?.gender  == 'F'||memberInfo?.gender =='FEMALE' || memberInfo?.gender =='Female' || memberInfo?.gender == 'female' "><b
                            style="font-size:10px;" class="text-primary">FEMALE</b></span>
                        <span
                          *ngIf="memberInfo?.gender == 'M' || memberInfo?.gender == 'Male' || memberInfo?.gender =='MALE' || memberInfo?.gender=='male'"><b
                            style="font-size:10px;" class="text-primary">MALE</b></span>
                      </li>
              
                      <li class="list-group-item text-right"><span class="pull-left"><strong class=""> <i
                              class="icon-screen-smartphone"></i> Phone</strong></span>
                        <b style="font-size:10px;" class="text-primary">{{  memberInfo?.phone || memberInfo?.member_data?.phone}}</b>
                      </li>
                      <li class="list-group-item text-right"><span class="pull-left"><strong class=""> <i class="icon-cursor"></i>
                            PhysicalAddress</strong></span>
                        <b style="font-size:10px;"
                          class="text-primary">{{ memberInfo?.physical_address || memberInfo?.member_data?.physical_address }}</b>
                      </li>
                      <li class="list-group-item text-right"><span class="pull-left"><strong class=""><i
                              class="icon-envelope-open"></i> Email</strong></span>
                        <b style="font-size:10px;" class="text-primary">{{ memberInfo?.email || memberInfo?.member_data?.email }}</b>
              
                      </li>
                    </ul>
              
                  </div>
                  <div class="col-sm-8 container-fluid">
              
                    <div class="panel panel-default target">
                      <div class="panel-body">
                        <div class="row">
                          <fieldset class="col-md-12">
                            <legend>Member Information</legend>
              
                            <div class="panel panel-default">
                              <div class="panel-body">
                                <div class="row">
                                  <div class="col-sm-3"><span style="font-size:10px;">MEMBER NUMBER</span></div>
                                  <div class="col-sm-3"><span style="font-size:10px;">RELATIONSHIP</span></div>
                                  <div class="col-sm-3"><span style="font-size:10px;">PRINCIPAL</span></div>
                                  <div class="col-sm-3" style="font-size:10px;"> <span>AGE</span></div>
                                </div>
                                <div class="row">
                                  <div class="col-sm-3"> <b style="font-size:10px;"
                                      class="text-primary">{{memberInfo?.member_number || memberInfo?.member_data?.member_number}}</b>
                                  </div>
                                  <div class="col-sm-3"><b style="font-size:10px;"
                                      class="text-primary">{{memberInfo?.relationship ||memberInfo?.member_data?.relationship | uppercase}}</b>
                                  </div>
                                  <div class="col-sm-3"><b style="font-size:10px;" class="text-primary"><i
                                        class="icon-check text-success"></i></b></div>
                                  <div class="col-sm-3"><b style="font-size:10px;"
                                      class="text-primary">{{memberInfo?.age || memberInfo?.member_data?.age}}</b></div>
                                </div>
                              </div>
                            </div>
              
                          </fieldset>
              
                          <div class="clearfix"></div>
              
                        </div>
                        <br />
              
                        <div class="row">
                          <fieldset class="col-md-12">
                            <legend>Daily LImits</legend>
              
                            <div class="panel panel-default">
                              <div class="panel-body">
                                <div class="row">
                                  <div class="col-sm-2 text-primary" style="font-size:10px;"> <i class="fa fa-bed"></i> INPATIENT
                                  </div>
                                  <div class="col-sm-2 text-primary" style="font-size:10px;"> <i class="cui-share icons"></i>
                                    OUTPATIENT</div>
                                  <div class="col-sm-2 text-primary" style="font-size:10px;"> <i class="fa fa-heart"> </i>
                                    MATERNITY</div>
                                  <div class="col-sm-2 text-primary" style="font-size:10px;"> <i class="cui-tags icons"></i>
                                    DENTAL</div>
                                  <div class="col-sm-2 text-primary" style="font-size:10px;"> <i class="icon-eyeglass"></i>
                                    OPTICAL</div>
                                </div>
                              </div>
                            </div>
              
                          </fieldset>
              
                          <div class="clearfix"></div>
              
                        </div>
                        <br />
                        <div class="row">
                          <fieldset class="col-md-12">
                            <legend>Annual Limits</legend>
              
                            <div class="panel panel-default">
                              <div class="panel-body">
                                <div class="row">
                                  <div class="col-sm-2 text-primary" style="font-size:10px;"> <i class="fa fa-bed"></i> INPATIENT
                                  </div>
                                  <div class="col-sm-2 text-primary" style="font-size:10px;"> <i class="cui-share icons"></i>
                                    OUTPATIENT</div>
                                  <div class="col-sm-2 text-primary" style="font-size:10px;"> <i class="fa fa-heart"> </i>
                                    MATERNITY</div>
                                  <div class="col-sm-2 text-primary" style="font-size:10px;"> <i class="cui-tags icons"></i>
                                    DENTAL</div>
                                  <div class="col-sm-2 text-primary" style="font-size:10px;"> <i class="icon-eyeglass"></i>
                                    OPTICAL</div>
                                </div>
                              </div>
                            </div>
              
                          </fieldset>
              
                          <div class="clearfix"></div>
              
                        </div>
                      </div>
              
                    </div>
                    <br />
              
                    <div class="row">
              
                      <fieldset class="col-md-12">
                        <legend>Insurance Details</legend>
                        <style>
                          .panel-body {
                            font-size: 12px;
                          }
                        </style>
                        <div class="panel panel-default">
                          <div class="panel-body">
                            <div class="row">
                              <div class="col-sm-3"><b style="font-size:9px;">NAME</b></div>
                              <div class="col-sm-3"><b style="font-size:9px;">SCHEME</b></div>
                              <div class="col-sm-4"><b style="font-size:9px;">PLAN</b></div>
                              <div class="col-sm-2"><b style="font-size:9px;">COPAY</b></div>
                            </div>
                            <div class="row">
                              <div class="col-sm-3 text-primary" style="font-size:9px;font-weight: bold;">
                                {{memberInfo?.payer?.name || memberInfo?.payer }}</div>
                              <div class="col-sm-3 text-primary" style="font-size:9px;font-weight: bold;">
                                {{memberInfo?.scheme || memberInfo?.member_data?.scheme}}</div>
                              <div class="col-sm-4 text-primary" style="font-size:9px;font-weight: bold;">
                                {{memberInfo?.plan || memberInfo?.member_data?.plan}}</div>
                              <div class="col-sm-2 text-primary">0</div>
                            </div>
                          </div>
                        </div>
              
                      </fieldset>
                    </div>
              
                  </div>
                </div>
              
              </tab>
              <tab>
                <ng-template tabHeading> <span style="font-size:12px;">Benefits</span></ng-template>
                  <div class="row">
                    <div class="col-sm-4">
                      <mat-form-field>
                        <input matInput (keyup)="applySearch($event.target.value)" placeholder="search exclusion">
                      </mat-form-field>
                    </div>
                  </div>
                <div class="row">
                  <div class="col-sm-10">
                    <div class="mat-elevation-z8">
                      <table mat-table [dataSource]="covered_benefits">
                        <ng-container matColumnDef="benefit">
                          <th mat-header-cell *matHeaderCellDef>Benefit</th>
                          <td mat-cell *matCellDef="let element"> {{element.benefit__benefit}} </td>
                        </ng-container>
                        <ng-container matColumnDef="category">
                          <th mat-header-cell *matHeaderCellDef>Category</th>
                          <td mat-cell *matCellDef="let element"> {{element.benefit__category}} </td>
                        </ng-container>
                        <ng-container matColumnDef="balance">
                          <th mat-header-cell *matHeaderCellDef>Balance</th>
                          <td mat-cell *matCellDef="let element"> {{element.balance}} </td>
                        </ng-container>
              
                        <tr mat-header-row *matHeaderRowDef="benefitColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: benefitColumns;"></tr>
                      </table>
                      <!-- <mat-paginator #paginator3 [pageSizeOptions]="[10, 20]" showFirstLastButtons></mat-paginator> -->
                    </div>
              
                  </div>
                </div>
              </tab>
              <tab>
                <ng-template tabHeading> <span style="font-size:12px;">Exclusion</span></ng-template>
                <div class="row" >
                  <div class="col-sm-10">
                    <div class="row">
                      <div class="col-sm-4">
                        <mat-form-field>
                          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="search exclusion">
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="mat-elevation-z8">
                      <table mat-table [dataSource]="dataSource1" matSort>
              
                        <!-- Position Column -->
                        <ng-container matColumnDef="benefit">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header>Exclusion</th>
                          <td mat-cell *matCellDef="let element"> {{element.benefit}} </td>
                        </ng-container>
              
                        <!-- Name Column -->
                        <ng-container matColumnDef="category">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header>Category </th>
                          <td mat-cell *matCellDef="let element"> {{element.category}} </td>
                        </ng-container>
              
                        <!-- Weight Column -->
                        <ng-container matColumnDef="updated">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header>Updated</th>
                          <td mat-cell *matCellDef="let element"> {{element.updated | date : 'yyyy-MM-dd'}} </td>
                        </ng-container>
              
                        <ng-container matColumnDef="Time">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header>Time</th>
                          <td mat-cell *matCellDef="let element"> {{element.updated | date : 'shortTime'}} </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="exclusionColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns:exclusionColumns;"></tr>
                      </table>
              
                      <mat-paginator #paginator [pageSizeOptions]="[12,22]" showFirstLastButtons></mat-paginator>
                    </div>
              
                  </div>
                </div>
              </tab>
            </tabset>
  </tab>
</tabset>

<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '9px' }"></ngx-loading>
