<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-6 col-md-3">
      <a routerLink="new-patient">
        <div class="card">
          <div class="card-body">
            <div class="text-center">
              <span class="fa-stack fa-4x">
                <i class=" fa-stack-2x icon-background4"></i>
                <i class="fa fa-circle-thin fa-stack-2x icon-background6"></i>
    
                <i class="fa fa-user-plus " style="color:#A6CF39;"></i>
              </span>
            </div>
            <div class="text-center" style="font-size:9px;">ADD PATIENT</div>
    
    
          </div>
        </div>
      </a>
    </div>
    <div class="col-sm-6 col-md-3">
      <a routerLink="register">
        <div class="card">
          <div class="card-body">
            <div class="text-center">
              <span class="fa-stack fa-4x">
                <i class=" fa-stack-2x icon-background4"></i>
                <i class="fa fa-circle-thin fa-stack-2x icon-background6"></i>

                <i class="fa fa-users fa-stack-4x" style="color:#A6CF39;"></i>
              </span>
            </div>
            <div class="text-center" style="font-size:9px;">PATIENT LIST</div>


          </div>
        </div>
      </a>
    </div>
    <div class="col-sm-6 col-md-3">
      <a routerLink="services">
        <div class="card">
          <div class="card-body">
            <div class="text-center">
              <span class="fa-stack fa-4x">
                <i class=" fa-stack-2x icon-background4"></i>
                <i class="fa fa-circle-thin fa-stack-2x icon-background6"></i>
    
                <i class="icon-notebook fa-stack-4x" style="color:#A6CF39;"></i>
              </span>
            </div>
            <div class="text-center" style="font-size:9px;">PATIENT SERVICES</div>
    
    
          </div>
        </div>
      </a>
    </div>
    <div class="col-sm-6 col-md-3">
      <a routerLink="insure-check">
        <div class="card">
          <div class="card-body">
            <div class="text-center">
              <span class="fa-stack fa-4x">
                <i class=" fa-stack-2x icon-background4"></i>
                <i class="fa fa-circle-thin fa-stack-2x icon-background6"></i>

                <i class="fa fa-search-plus fa-stack-4x" style="color:#A6CF39;"></i>
              </span>
            </div>
            <div class="text-center" style="font-size:9px;">INSURE CHECK</div>


          </div>
        </div>
      </a>
    </div>
    <!-- <div class="col-sm-6 col-md-3">
      <a routerLink="register">
        <div class="card">
          <div class="card-body">
            <div class="text-center">
              <span class="fa-stack fa-4x">
                <i class=" fa-stack-2x icon-background4"></i>
                <i class="fa fa-circle-thin fa-stack-2x icon-background6"></i>

                <i class="icon-notebook fa-stack-4x" style="color:#A6CF39;"></i>
              </span>
            </div>
            <div class="text-center" style="font-size:9px;">AUTH LETTER</div>


          </div>
        </div>
      </a>
    </div> -->
    
    <div class="col-sm-6 col-md-3">
      <a routerLink="calendar">
        <div class="card">
          <div class="card-body">
            <div class="text-center">
              <span class="fa-stack fa-4x">
                <i class=" fa-stack-2x icon-background4"></i>
                <i class="fa fa-circle-thin fa-stack-2x icon-background6"></i>

                <i class="cui-calendar fa-stack-4x" style="color:#A6CF39;"></i>
              </span>
            </div>
            <div class="text-center" style="font-size:9px;">CALENDER</div>


          </div>
        </div>
      </a>
    </div>
    <div class="col-sm-6 col-md-3">
      <a routerLink="diagnosis&treatment">
        <div class="card">
          <div class="card-body">
            <div class="text-center">
              <span class="fa-stack fa-4x">
                <i class=" fa-stack-2x icon-background4"></i>
                <i class="fa fa-circle-thin fa-stack-2x icon-background6"></i>

                <i class="fa fa-heartbeat fa-stack-4x" style="color:#A6CF39;"></i>
              </span>
            </div>
            <div class="text-center" style="font-size:9px;">DIAGNOSIS/TREATMENT</div>


          </div>
        </div>
      </a>
    </div>

<!-- <div class="col-sm-6 col-md-3">
  <a routerLink="create-claim">
    <div class="card">
      <div class="card-body">
        <div class="text-center">
          <span class="fa-stack fa-4x">
            <i class=" fa-stack-2x icon-background4"></i>
            <i class="fa fa-circle-thin fa-stack-2x icon-background6"></i>

            <i class="cui-chart fa-stack-4x" style="color:#A6CF39;"></i>
          </span>
        </div>
        <div class="text-center" style="font-size:9px;">HISTORY</div>


      </div>
    </div>
  </a>
</div> -->

    <div class="col-sm-6 col-md-3">
      <a routerLink="patient-list">
        <div class="card">
          <div class="card-body">
            <div class="text-center">
              <span class="fa-stack fa-4x">
                <i class=" fa-stack-2x icon-background4"></i>
                <i class="fa fa-circle-thin fa-stack-2x icon-background6"></i>

                <i class="icon-wallet fa-stack-4x" style="color:#A6CF39;"></i>
              </span>
            </div>
            <div class="text-center" style="font-size:9px;">PAYMENTS</div>


          </div>
        </div>
      </a>
    </div>
  </div>
  <!--/.row-->
</div>
