<div class="card">
    <div class="card-body" id="print-section">
        <div class="row">
            <div class="col-sm-12" >
                <button class="btn btn-success" style="float: right;" (click)="printPage()">Print Claim Form</button>
                <div class="clearfix"></div>
                <button class="btn btn-success" style="float: right; margin-top: 20px;" (click)="Aarform()">AAR Claimform</button>


    
            </div>
           
            
            
        </div>
        <div class="row" style="justify-content: center;">
           
            <div class="col-sm-4">
                <h3 style="white-space:nowrap">
                    <img src="../../../../assets/img/avatars/coop.png" alt="" height="150" width="300">
                   
                     
                   
                </h3>
              <h2>Medical Claim Form</h2>
             
            </div> 
            
            <div class="col-sm-12" >
                <hr>
                <!-- ___________________________________________________________________________________________________________________ -->
                <div style="display: flex !important;" class="text">
                    <h3 >A. PATIENT DETAILS (to be completed by patient/parent/gurdian) </h3>
                </div>
                <div class="row">
                    <div class="col-sm-5">Patient Name:</div>
                    <div class="col-sm-7">
                    <input type="text" [(ngModel)]="patient.employee">
                    </div>
                    
                </div>
                <div class="clearfix"></div>

                <div class="row">
                    <div class="col-sm-5">Patient Membership Number(Appers on the smart card):</div>
                    <div class="col-sm-7">
                    <input type="text" [(ngModel)]="patient.member_number">
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-sm-5">Principle Member Name(staff):</div>
                    <div class="col-sm-7">
                    <input type="text" [(ngModel)]="patient.scheme_name">
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="col-sm-12" >
                <hr>
                  
                <div style="display: flex !important;" class="text">
                    <h3>B. MEDICAL CERTIFICATE (to be completed by Attending Medical Practitioner) </h3>
                </div>
                <div class="row">
                    <div class="col-sm-5">Provissional/Final DX:</div>
                    <div class="col-sm-7">
                    <input type="text" [(ngModel)]="patient.employee">
                    </div>
                    
                </div>
                <div class="clearfix"></div>
                <div class="row" style="position: relative; margin: 30px;">
                    <div class="col-sm-5">Prescription(drugs/dressing/Ijection etc):<br>(A Separate Prescription can also be attached)<br>   ______________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________


                    </div><br>
                    <!-- <div class="col-sm-4">
                    <input type="text" [(ngModel)]="patient.employee">
                    </div> -->
                    <div class="col-sm-4">Quantity:<br>____________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________





                    </div><br>
                  

            </div>
           
                <div class="col-sm-12" style="margin: 30px;">I certify that I have seen the above named person and that the Information provided above is<br> correct to the best of my knowledge</div>
                
            

        </div>
        <div class="row" style="position: relative; margin: 50px;">
            <div class="col-sm-2">
                <textarea rows="5" style="width: 100%;"></textarea>
            Name of attending Doctor/Medical officer <br>
            
            </div>
            <div class="col-sm-2">
                <textarea rows="5" style="width: 100%;"></textarea>
            Signature of the Doctor/Medical officer <br>
            
            </div>
            <div class="col-sm-2">
                <textarea rows="5" style="width: 100%;"></textarea>
           Date <br>
            
            </div>
            <div class="col-sm-2">
                <textarea rows="5" style="width: 100%;"></textarea>
            Stamp of Health Facility <br>
            
            </div>

            
        </div>
        <div class="row" style="margin: 40px;">
            <div class="col-sm-8">
                Patient/Gurdian Signature:_______________________________________________
            </div>
            <div class="col-sm-4">
                Date:____________________________
            </div>
            
        </div>

       
        


       









        
      
    </div>
    <div>     
        <div class="col-sm-12" >
                    <h4><u>Important</u></h4>
                    Please attach the following documents while submitting the Claim<br>
                   <i>1.Completed Medical claim form on the spaces Provided<br>
                    2. Original invoices(receipts) showing itemized cost of treatment/drugs per Patient<br>
                    3.Prescription(provide Separate Prescription if not provided)</i> 

                    </div>
                    
                
        </div>
        <hr>
        
            <div class="row" style="justify-content: center;">
                <p>
                   <strong> All Claims Should be sent to:</strong>
                </p>
            </div>
            <div class="row"  style="margin: 40px;" >
                
            <!-- <div > -->
                <div class="col-sm-8"><strong><i>Physical Address:</i></strong><i>Co-op Bank-HR Department,Co-optrust, Plaza,Bunyala Road,Nairobi</i></div>
               
            <!-- </div> -->
            <!-- <div   > -->
                <div class="col-sm-8"><strong><i>Postal Address:</i></strong><i> Box 48231-00100,GPO Nairobi</i></div>
               
            <!-- </div> -->
            <!-- <div > -->
                <div class="col-sm-8"><strong><i>Medical Support Hotlines:</i></strong><i> 0711013217/0711013699</i></div>
               
            <!-- </div> -->
            <!-- <div> -->
                <div class="col-sm-8"><strong>Email Contact:</strong><i>Medicalmanagers@co-opbank.co.ke</i></div>
               
            <!-- </div> -->


        </div>
        <hr>
       
  </div>
  