<div class="card">
    <div class="card-header">
    <h5>Vaccinate Setup</h5>
    </div>
    <div class="card-body">
        <form [formGroup]="registerForm" >
      <div class="row">
        <div class="col-sm-3">
          <mat-form-field appearance="outline"> 
            <mat-label>Select Dose</mat-label>
            <mat-select formControlName="dose" [multiple]="false" (selectionChange)="doseSelected($event.value)">
              <mat-option *ngFor="let dose of doses" [value]="dose">{{dose}}</mat-option>
            </mat-select>
          </mat-form-field>  
            
        </div>
        <div class="col-sm-3">
          <mat-form-field appearance="outline">
            <mat-label>Appointment Date</mat-label>
              <input matInput placeholder="Appointment Date" [matDatepickerFilter]="weekendsDatesFilter" [min]="minDate" formControlName="date" [matDatepicker]="picker1">
              <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
              <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
          
      </div>
        
      </div>
      <div class="row">
        <div class="col-sm-6">
            <mat-form-field appearance="outline">
                <mat-label>Select Vaccines</mat-label>
                <mat-select formControlName="names" multiple>
                  <mat-option *ngFor="let vaccine of vaccines" [value]="vaccine">{{vaccine}}</mat-option>
                </mat-select>
              </mat-form-field>
        </div>
       
    </div>
    <div class="row">
        <div class="col-sm-12">
            <button class="btn btn-success" (click)="onSubmit()">Submit</button>
        </div>
    </div>

    </form>
        <div class="mat-elevation-z8" style="margin-top: 8px;">
            <table mat-table [dataSource]="dataSource">
          
              <ng-container matColumnDef="no">
                <th mat-header-cell *matHeaderCellDef> No. </th>
                <td mat-cell *matCellDef="let element;let i=index"> {{i+1}} </td>
              </ng-container>
          
              <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef>date</th>
                <td mat-cell *matCellDef="let element"> {{element.date}} </td>
              </ng-container>
          
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>Vaccines</th>
                <td mat-cell *matCellDef="let element"> {{element.names}}</td>
              </ng-container>
              <ng-container matColumnDef="dose">
                <th mat-header-cell *matHeaderCellDef>Dose</th>
                <td mat-cell *matCellDef="let element"> {{element.dose}}</td>
              </ng-container>
              <ng-container matColumnDef="delete">
                <th mat-header-cell *matHeaderCellDef>Delete</th>
                <td mat-cell *matCellDef="let element"><mat-icon color="warn" (click)="selected=element;staticModal.show()">delete_sweep</mat-icon></td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        
            <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                           showFirstLastButtons 
                           aria-label="Select page of periodic elements">
            </mat-paginator>
          </div>
    </div>
  </div>


  <div class="modal fade" bsModal #staticModal="bs-modal" [config]="{backdrop: 'static'}"
     tabindex="-1" role="dialog" aria-labelledby="dialog-static-name">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h6 id="dialog-static-name" class="modal-title pull-left">Confirmation</h6>
        <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="staticModal.hide()">
          <span aria-hidden="true" class="visually-hidden">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
        <div class="row">
          <div class="col-sm-12">
          Do you really want to delete?
          </div>
          <div class="col-sm-12" style="text-align: right;">
            <button class="btn btn-danger btn-sm" (click)="staticModal.hide()">cancel</button>
            <button (click)="delete()" class="btn btn-success btn-sm">confirm</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '9px' }"></ngx-loading>