<div class="card">
    <div class="card-header">
    <h5>Mpesa Payments</h5>
    </div>
    <div class="card-body">



      <mat-tab-group>
      <mat-tab label="Payments">


        <div class="row">
            <div class="col-sm-2">
                <mat-form-field>
                    <input matInput (keyup)="applyFilter($event.target.value)" autocomplete="new-mobile"   placeholder="Search by mobile,reference" >
                  </mat-form-field>
            </div>
            <div class="col-sm-2">
                <mat-form-field >
                    <mat-label>Start date</mat-label>
                    <input matInput [matDatepicker]="picker" [max]="max" [(ngModel)]="data.start_date">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
            </div>
            <div class="col-sm-2">
                <mat-form-field >
                    <mat-label>End date</mat-label>
                    <input matInput [matDatepicker]="picker1" [max]="max" [(ngModel)]="data.end_date">
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                  </mat-form-field>
            </div>
            <div class="col-sm-2">
                <button class="btn btn-success btn-sm" style="margin-top: 10px;" (click)="dateFilter()" [disabled]="!data.start_date || !data.end_date">Search</button>
            </div>
            <div class="col-sm-2">
              <button class="btn btn-success btn-sm" style="margin-top: 10px;" (click)="SendFeedbackSMS()" >Feedback Sms</button>
          </div>
            <div class="col-sm-2" style="float: right;">
              <button class="btn btn-success btn-sm" style="margin-top: 10px;" (click)="refreshPayments()"><i class="fa fa-refresh"  aria-hidden="true" style="font-size: 20px; color:white;"></i>Refresh</button>
          </div>
          <div class="col-sm-12">
            <a type="button"    href="{{endpoint}}api/all-payments-download/" download class="btn btn-success btn-xs" style="float: right;"><i class="fa fa-download" aria-hidden="true"></i>
             All Payments</a>
        </div>

            
        </div>
        <div class="mat-elevation-z8 table-responsive">
            <table mat-table [dataSource]="dataSource">
              <ng-container matColumnDef="sn">
                <th mat-header-cell *matHeaderCellDef> No. </th>
                <td mat-cell *matCellDef="let element;let i=index"> {{i+1}} </td>
              </ng-container>
              <ng-container matColumnDef="TransactionDate">
                <th mat-header-cell *matHeaderCellDef>Date </th>
                <td mat-cell *matCellDef="let element"> {{element.TransactionDate}} </td>
              </ng-container>

              <ng-container matColumnDef="PhoneNumber">
                <th mat-header-cell *matHeaderCellDef>Phone Number </th>
                <td mat-cell *matCellDef="let element"> {{element.PhoneNumber}} </td>
              </ng-container>
              <ng-container matColumnDef="Name">
                <th mat-header-cell *matHeaderCellDef>Name</th>
                <td mat-cell *matCellDef="let element"> {{element.Name}} </td>
              </ng-container>
          
              <ng-container matColumnDef="MpesaReceiptNumber">
                <th mat-header-cell *matHeaderCellDef>MpesaReceiptNumber</th>
                <td mat-cell *matCellDef="let element"> {{element.MpesaReceiptNumber}} </td>
              </ng-container>
          
              <ng-container matColumnDef="Amount">
                <th mat-header-cell *matHeaderCellDef>Amount</th>
                <td mat-cell *matCellDef="let element"> {{element.Amount }} </td>
              </ng-container>
              <ng-container matColumnDef="type">
                <th mat-header-cell *matHeaderCellDef>Type</th>
                <td mat-cell *matCellDef="let element"> {{element.type || 'Stk Push' }} </td>
              </ng-container>
              <ng-container matColumnDef="Status">
                <th mat-header-cell *matHeaderCellDef>Status</th>
                <td mat-cell *matCellDef="let element">
                    <button class="btn btn-success btn-sm" [hidden]="element.status"  (click)="showUtilizations(element)">Utilized</button>
                    <button class="btn btn-danger btn-sm" [hidden]="!element.status"  (click)="utilizePayment(element)">Not Utilized</button>

                </td>
              </ng-container>
          
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          
            <mat-paginator [pageSizeOptions]="[100,200]"
                           showFirstLastButtons 
                           aria-label="Select page of periodic elements">
            </mat-paginator>
          </div>


        </mat-tab>
 
          <mat-tab label="Utilized Payments"> 
            <div class="row container-fluid" style="margin-top: 12px;"> 
              <div class="col-sm-12">
                <div class="row">
                 
                  <div class="col-sm-2">
                      <mat-form-field>
                          <input matInput (keyup)="applyFilter1($event.target.value)" autocomplete="new-mobile"   placeholder="Search by mobile,reference" >
                        </mat-form-field>
                  </div>
                  <div class="col-sm-2">
                      <mat-form-field >
                          <mat-label>Start date</mat-label>
                          <input matInput [matDatepicker]="picker8" [max]="max" [(ngModel)]="data3.start_date">
                          <mat-datepicker-toggle matSuffix [for]="picker8"></mat-datepicker-toggle>
                          <mat-datepicker #picker8></mat-datepicker>
                        </mat-form-field>
                  </div>
                  <div class="col-sm-2">
                      <mat-form-field >
                          <mat-label>End date</mat-label>
                          <input matInput [matDatepicker]="picker7" [max]="max" [(ngModel)]="data3.end_date">
                          <mat-datepicker-toggle matSuffix [for]="picker7"></mat-datepicker-toggle>
                          <mat-datepicker #picker7></mat-datepicker>
                        </mat-form-field>
                  </div>
                  <div class="col-sm-2">
                      <button class="btn btn-success btn-sm" (click)="dateFilterUtilized()" style="margin-top: 10px;">Search</button>
                  </div>

                  <!-- <div class="col-sm-2">
                      <button class="btn btn-success btn-sm" style="margin-top: 10px;" (click)="downloadUtilized()">Download</button>
                  </div> -->
                  <div class="col-sm-2">
                    <a type="button"   href="{{endpoint}}api/datedutilized-payments-download/?start={{data.start_date | date:'M/d/yy'}}&&end={{data.end_date | date:'M/d/yy'}}"   download class="btn btn-success btn-xs" style="float: right;"><i class="fa fa-download" aria-hidden="true"></i>
                     Download</a>
                </div>

                </div>
              </div>
                <div class="col-sm-12">
    
                  <div class="mat-elevation-z8 table-responsive">
                      <table mat-table [dataSource]="dataSource3">
                        <ng-container matColumnDef="sn">
                          <th mat-header-cell *matHeaderCellDef> No. </th>
                          <td mat-cell *matCellDef="let element;let i=index"> {{i+1}} </td>
                        </ng-container>
                        <ng-container matColumnDef="TransactionDate">
                          <th mat-header-cell *matHeaderCellDef>Date </th>
                          <td mat-cell *matCellDef="let element"> {{element.TransactionDate}} </td>
                        </ng-container>
          
                        <ng-container matColumnDef="PhoneNumber">
                          <th mat-header-cell *matHeaderCellDef>Phone Number </th>
                          <td mat-cell *matCellDef="let element"> {{element.PhoneNumber}} </td>
                        </ng-container>
                        <ng-container matColumnDef="Name">
                          <th mat-header-cell *matHeaderCellDef>Name</th>
                          <td mat-cell *matCellDef="let element"> {{element.Name}} </td>
                        </ng-container>
                    
                        <ng-container matColumnDef="MpesaReceiptNumber">
                          <th mat-header-cell *matHeaderCellDef>MpesaReceiptNumber</th>
                          <td mat-cell *matCellDef="let element"> {{element.MpesaReceiptNumber}} </td>
                        </ng-container>
                    
                        <ng-container matColumnDef="Amount">
                          <th mat-header-cell *matHeaderCellDef>Amount</th>
                          <td mat-cell *matCellDef="let element"> {{element.Amount }} </td>
                        </ng-container>
                        <ng-container matColumnDef="type">
                          <th mat-header-cell *matHeaderCellDef>Type</th>
                          <td mat-cell *matCellDef="let element"> {{element.type || 'Stk Push' }} </td>
                        </ng-container>
                        <ng-container matColumnDef="department">
                          <th mat-header-cell *matHeaderCellDef>Department</th>
                          <td mat-cell *matCellDef="let element"> {{element.department}} </td>
                        </ng-container>
                                             
                        <tr mat-header-row *matHeaderRowDef="displayedColumns3"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns3;"></tr>
                      </table>
                    
                      <mat-paginator [pageSizeOptions]="[100,200]"
                                     showFirstLastButtons 
                                     aria-label="Select page of periodic elements">
                      </mat-paginator>
                    </div>
                  </div>
            </div>
            <br>
            <br>
          </mat-tab>
          <mat-tab label="Not Utilized  Payments"> 
            <div class="row container-fluid" style="margin-top: 12px;">
                 
              <div class="col-sm-2">
                  <mat-form-field>
                      <input matInput (keyup)="applyFilter2($event.target.value)" autocomplete="new-mobile"   placeholder="Search by mobile,reference" >
                    </mat-form-field>
              </div>
              <div class="col-sm-2">
                  <mat-form-field >
                      <mat-label>Start date</mat-label>
                      <input matInput [matDatepicker]="picker3" [max]="max" [(ngModel)]="data2.start_date">
                      <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                      <mat-datepicker #picker3></mat-datepicker>
                    </mat-form-field>
              </div>
              <div class="col-sm-2">
                  <mat-form-field >
                      <mat-label>End date</mat-label>
                      <input matInput [matDatepicker]="picker4" [max]="max" [(ngModel)]="data2.end_date">
                      <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
                      <mat-datepicker #picker4></mat-datepicker>
                    </mat-form-field>
              </div>
              <div class="col-sm-2">
                  <button class="btn btn-success btn-sm" style="margin-top: 10px;" (click)="dateFilterNotUtilized()">Search</button>
              </div>

             
              <div class="col-sm-2">
                <!-- <a href="http://localhost:8000/api/datednot-utilized-payments-download/?start={{data2.start_date | date:'M/d/yy'}}&&end={{data2.end_date | date:'M/d/yy'}}" [disabled]="!data2.end_date ||!data2.start_date" >Dated Download</a> -->
                <a type="button"   href="{{endpoint}}api/datednot-utilized-payments-download/?start={{data2.start_date | date:'M/d/yy'}}&&end={{data2.end_date | date:'M/d/yy'}}" [disabled]="!data.start_date || !data.end_date" download class="btn btn-success btn-xs" style="float: right;"><i class="fa fa-download" aria-hidden="true"></i>
                  Download</a>
             </div>
            </div>
              
                
            
                <div class="col-sm-12">
                  <div class="mat-elevation-z8 table-responsive">
                      <table mat-table [dataSource]="dataSource2">
                        <ng-container matColumnDef="sn">
                          <th mat-header-cell *matHeaderCellDef> No. </th>
                          <td mat-cell *matCellDef="let element;let i=index"> {{i+1}} </td>
                        </ng-container>
                        <ng-container matColumnDef="TransactionDate">
                          <th mat-header-cell *matHeaderCellDef>Date </th>
                          <td mat-cell *matCellDef="let element"> {{element.TransactionDate}} </td>
                        </ng-container>
          
                        <ng-container matColumnDef="PhoneNumber">
                          <th mat-header-cell *matHeaderCellDef>Phone Number </th>
                          <td mat-cell *matCellDef="let element"> {{element.PhoneNumber}} </td>
                        </ng-container>
                        <ng-container matColumnDef="Name">
                          <th mat-header-cell *matHeaderCellDef>Name</th>
                          <td mat-cell *matCellDef="let element"> {{element.Name}} </td>
                        </ng-container>
                    
                        <ng-container matColumnDef="MpesaReceiptNumber">
                          <th mat-header-cell *matHeaderCellDef>MpesaReceiptNumber</th>
                          <td mat-cell *matCellDef="let element"> {{element.MpesaReceiptNumber}} </td>
                        </ng-container>
                    
                        <ng-container matColumnDef="Amount">
                          <th mat-header-cell *matHeaderCellDef>Amount</th>
                          <td mat-cell *matCellDef="let element"> {{element.Amount }} </td>
                        </ng-container>
                        <ng-container matColumnDef="type">
                          <th mat-header-cell *matHeaderCellDef>Type</th>
                          <td mat-cell *matCellDef="let element"> {{element.type || 'Stk Push' }} </td>
                        </ng-container>
                                             
                        <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns1;"></tr>
                      </table>
                    
                      <mat-paginator [pageSizeOptions]="[100,200]"
                                     showFirstLastButtons 
                                     aria-label="Select page of periodic elements">
                      </mat-paginator>
                    </div>
                  </div>
            <!-- </div> -->
            <br>
            <br>
          </mat-tab>
      
         
        
         
            
        </mat-tab-group>




          
  </div>
  </div>
  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '9px' }"></ngx-loading>