<div class="card">
    <div class="card-header">
  <i class="icon-plus"></i> Create Claim
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-sm-12">
            <mat-horizontal-stepper labelPosition="end" #stepper>
                <mat-step>
                        <ng-template matStepLabel>Background Information</ng-template>
                        <form [formGroup]="claimForm" (ngSubmit)="onSubmit()">
                       <fieldset>
                         <legend style="width:15%;font-size:17px;"> <span style="margin-left:13px;font: weight 200;"> <i class="icon-people"></i> Patient Details</span>
                          </legend>
                      
                         <div class="row" >
                            <div class="col-sm-2">
                              <label>Insurance</label>
                              <input type="text"  [(ngModel)]="patient.insurance_company" [typeahead]="payers" (typeaheadLoading)="payerSearch(patient.insurance_company)"
                              (typeaheadOnSelect)="OnPayer($event)" [typeaheadOptionsLimit]="7" typeaheadOptionField="name"
                              formControlName="insurance" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.insurance.errors }" [ngModelOptions]="{standalone: true}" />
                              <div *ngIf="submitted && f.insurance.errors" class="invalid-feedback">
                                  <div *ngIf="f.insurance.errors.required">Insurance is required</div>
                              </div>
                            </div>
                            
                            <div class="col-sm-2">
                                <label>Scheme</label>
                                <input [(ngModel)]="patient.scheme_name" [typeahead]="schemes" (typeaheadLoading)="schemeSearch(patient.scheme)"
                                    (typeaheadOnSelect)="OnScheme($event)" [typeaheadOptionsLimit]="6" typeaheadOptionField="name"
                                    class="form-control" type="text" formControlName="scheme"  [ngClass]="{ 'is-invalid': submitted && f.scheme.errors }" [ngModelOptions]="{standalone: true}"/>
                                <div *ngIf="submitted && f.scheme.errors" class="invalid-feedback">
                                    <div *ngIf="f.scheme.errors.required">Scheme is required</div>
                                </div>
                              </div>
                              <div class="col-sm-2">
                                  <label>Member Name</label>
                                  <!-- (typeaheadLoading)="search(patient.name)"  -->
                                  <input [(ngModel)]="patient.patient_name" [typeahead]="members" [typeaheadOptionsLimit]="7"
                                  typeaheadOptionField="name" (typeaheadOnSelect)="OnMember($event)" class="form-control" type="text"  formControlName="name"  [ngClass]="{ 'is-invalid': submitted && f.name.errors }" [ngModelOptions]="{standalone: true}" />
                                  <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                                      <div *ngIf="f.name.errors.required">Member number is required</div>
                                  </div>
                                </div>
                                <div class="col-sm-2">
                                    <label>Hospital</label>
                                    <input type="text" formControlName="hospital" [(ngModel)]="patient.provider" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.hospital.errors }" [ngModelOptions]="{standalone: true}" />
                                    <div *ngIf="submitted && f.hospital.errors" class="invalid-feedback">
                                        <div *ngIf="f.hospital.errors.required">Hospital is required</div>
                                    </div>
                                  </div>
                                  <div class="col-sm-2">
                                      <label>Patient Number</label>
                                      <input type="text" formControlName="patient_number"  [(ngModel)]="patient.patient_number" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.patient_number.errors }"  [ngModelOptions]="{standalone: true}"/>
                                      <div *ngIf="submitted && f.patient_number.errors" class="invalid-feedback">
                                          <div *ngIf="f.patient_number.errors.required">Patient number is required</div>
                                      </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <label>Visit Number</label>
                                        <input type="text" formControlName="visit_number" [(ngModel)]="patient.visit_number" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.visit_number.errors }" [ngModelOptions]="{standalone: true}" />
                                        <div *ngIf="submitted && f.visit_number.errors" class="invalid-feedback">
                                            <div *ngIf="f.visit_number.errors.required">Last name is required</div>
                                        </div>
                                      </div>
                                
                          
                        </div>
                        <div class="row" >
                            
                                  <div class="col-sm-2">
                                    <!-- <label>Visit type</label>
                                    <input type="text" formControlName="visit_type" [(ngModel)]="patient.visit_type" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.visit_type.errors }" [ngModelOptions]="{standalone: true}" />
                                    <div *ngIf="submitted && f.visit_type.errors" class="invalid-feedback">
                                        <div *ngIf="f.visit_type.errors.required">visit type is required</div>
                                    </div> -->
                                    <label for="ccmonth">Visit Type</label>
                  <select class="form-control" name="visit type" [(ngModel)]="patient.visit_type" formControlName="visit_type"  style="height:28px;" [ngClass]="{ 'is-invalid': submitted && f.visit_type.errors }" [ngModelOptions]="{standalone: true}">
                    <option
                      *ngFor="let visit  of  ['Main Visit', 'Follow -Up',  'Doctor Consultation', 'Follow up with doctors Consultation', 'Inpatient', 'Revisit','Optical','Maternity','Dental']"
                      value="{{visit}}">{{visit}}</option>
                  </select>
                  <div *ngIf="submitted && f.visit_type.errors" class="invalid-feedback">
                    <div *ngIf="f.visit_type.errors.required">visit type is required</div>
                </div>
                                  </div>
                                
                                  <div class="col-sm-2">
                                    <label>Check in</label>
                                    <input type="text" formControlName="check_in" class="form-control" bsDatepicker [(ngModel)]="patient.check_in"
                                    [bsConfig]="{ isAnimated: true }" [ngClass]="{ 'is-invalid': submitted && f.check_in.errors }" [ngModelOptions]="{standalone: true}" />
                                    <div *ngIf="submitted && f.check_in.errors" class="invalid-feedback">
                                        <div *ngIf="f.check_in.errors.required">check is required</div>
                                    </div>
                                  </div>
                                  <div class="col-sm-2">
                                    <label>Check out</label>
                                    <input type="text" formControlName="check_out" class="form-control" bsDatepicker [(ngModel)]="patient.check_out"
                                    [bsConfig]="{ isAnimated: true }" [ngClass]="{ 'is-invalid': submitted && f.check_out.errors }" [ngModelOptions]="{standalone: true}" />
                                    <div *ngIf="submitted && f.check_out.errors" class="invalid-feedback">
                                        <div *ngIf="f.check_out.errors.required"> check out is required</div>
                                    </div>
                                  </div>
                                  <div class="col-sm-2">
                                      <label>Nhif Number</label>
                                      <input type="text"  class="form-control" name="nhif_number" [(ngModel)]="patient.nhif_number"  [ngModelOptions]="{standalone: true}"/>
                                     
                                    </div>
                                
                                  <div class="col-sm-2">
                                      <label>Doctor Name</label>
                                      <input type="text" formControlName="doctor" [(ngModel)]="patient.doctor" name="doctor" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.doctor.errors }" [ngModelOptions]="{standalone: true}" />
                                      <div *ngIf="submitted && f.doctor.errors" class="invalid-feedback">
                                          <div *ngIf="f.doctor.errors.required">Doctor Name is required</div>
                                      </div>
                                    </div>
                                
                        </div>
                       
        
                            
                       </fieldset>
                       <br>
                       <fieldset style="min-height: 100px;">
                           <legend style="width: 15%;font-size: 17px;"> <span style="margin-left:13px;font: weight 200;"> <i class="fa fa-heartbeat"></i> Diagnoses </span></legend>
                           <div class="row">
                              <div class="col-sm-3">
                                <label>Diagnosis Name</label>
                                <input type="text" class="form-control"  name="diagnosis"
                                  [(ngModel)]="selectedDiagnosis.description" typeaheadOptionField="description" [typeahead]="diagnosesList"
                                  (typeaheadOnSelect)="onDiagnosis($event)" [typeaheadOptionsLimit]="5" [ngModelOptions]="{standalone: true}" (typeaheadLoading)="searchDiagnosis(selectedDiagnosis.description)"   [dropup]="true">
                              </div>
                              <div class="col-sm-1">
                                <label>Code</label>
                                <input type="text" class="form-control" name="code" [(ngModel)]="selectedDiagnosis.code" [ngModelOptions]="{standalone: true}">
                              </div>
                              
                    
                            </div>
                            <br>
                            <div class="row">
                              <div class="col-sm-3" *ngFor="let item of diagnosis"> <mat-checkbox [checked]="true" (click)="deleteDiagnosis(item)"></mat-checkbox> {{item.description}}({{item.code}})</div>

                            </div>
                       </fieldset>

                       <button  style="margin-top: 10px;"  class="btn btn-success btn-sm pull-right" mat-button matStepperNext>Next Step <i class="cui-arrow-right"></i> </button>
                    
                        </form>
                </mat-step>
              
                <mat-step >
             
                        <ng-template matStepLabel>Services</ng-template>
                        
                        <fieldset style="min-height:200px;">
                                <legend style="width: 15%;font-size: 17px;"> <span style="margin-left:13px;font: weight 200;"> <i class="icon-plus"></i>  Services</span></legend>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <span class="badge badge-success pull-right" style="margin-left:9px;"> Sub Cost :{{proceduresCost}}  </span>
                                      <span class="badge badge-info pull-right">{{procedures.length}}  </span>
                                    </div>
                                        <div class="col-sm-3">
                                          <label>Name</label>
                                          <input type="text" class="form-control" (typeaheadOnSelect)="onSelect($event)" name="test"
                                            placeholder="procedure" typeaheadOptionField="name" [(ngModel)]="selectedOption.name"
                                            [typeahead]="services" [typeaheadOptionsLimit]="3"
                                            (typeaheadLoading)="searchProcedure(selectedOption.name)">
                              
                                        </div>
                              
                                        <!-- <div class="col-sm-2"> 
                                          <label>Category</label>
                                          <input type="text" name="category" class="form-control"
                                            [(ngModel)]="selectedOption.category" placeholder="category" [disabled]="true"></div>
                                        <div class="col-sm-2"> 
                                            <label>Cost</label>
                                          <input type="text" name="cost" class="form-control" [(ngModel)]="selectedOption.cost"
                                             [disabled]="true"></div>
                                        <div class="col-sm-1">
                              
                                          <button class="btn btn-success btn-sm" (click)="addService()" style="margin-top: 28px;"> <i
                                              class="icon-plus"></i></button>
                                        </div> -->
                              
                                      </div>
                                      <br>
                                      <div class="row" *ngIf="procedures.length">
                                          <div class="col-sm-7">
                                              <table mat-table [dataSource]="dataSource1" matSort class="mat-elevation-z8">
                                                  <ng-container matColumnDef="Name">
                                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                                                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                                                  </ng-container>
      
                                                  <ng-container matColumnDef="Code">
                                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Code</th>
                                                    <td mat-cell *matCellDef="let element"> {{element.code}} </td>
                                                  </ng-container>
                                                
                                                  <ng-container matColumnDef="Cost">
                                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Cost</th>
                                                    <td mat-cell *matCellDef="let element"> {{element.cost}} </td>
                                                  </ng-container>
                                                  <ng-container matColumnDef="Delete">
                                                      <th mat-header-cell *matHeaderCellDef mat-sort-header>Delete</th>
                                                      <td mat-cell *matCellDef="let element" (click)="deleteProcedure(element)"> <i class="fa fa-close" style="font-size:20px;color:red"></i> </td>
                                                    </ng-container>
                                               
                                                
                                                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                                </table> 
                                          </div>
                                        </div>  
                                        
                                       
                        </fieldset>
                        <div>
                            <button  style="margin-top: 10px;margin-left: 5px;"  class="btn btn-success btn-sm pull-right" mat-button matStepperNext>Next Step <i class="cui-arrow-right"></i> </button>
                            <button  style="margin-top: 10px;"  class="btn btn-info btn-sm pull-right" mat-button matStepperPrevious><i class="cui-arrow-left"></i> Back </button>

                        </div>
               
                </mat-step>
                <mat-step >
                    
                        <ng-template matStepLabel>pharmaceuticals</ng-template>
                        <fieldset style="min-height: 100px;">
                                <legend style="width: 15%;font-size: 17px;"> <span style="margin-left:13px;font: weight 200;"> <i class="icon-plus"></i> Drugs</span></legend>
                            <div class="row">
                                    <div class="col-sm-2">
                                    <label><b> Drug name</b></label>
                                      <input type="text" [(ngModel)]="selectedDrug.name" [typeahead]="drugs"
                                        [typeaheadOptionsInScrollableView]="5" typeaheadOptionField="name"
                                        (typeaheadOnSelect)="onDrug($event)" class="form-control" 
                                        typeaheadGroupField="strength" (typeaheadLoading)="searchPrescription(selectedDrug.name)">
                    
                                    </div>
                                    <div class="col-sm-2">
                                      <label><b>Form</b></label>
                                      <input type="text" class="form-control"  [(ngModel)]="selectedDrug.form">
                                    </div>
                                    <div class="col-sm-1">
                                      <label><b>Strength</b></label>
                                      <input type="text" class="form-control"  [(ngModel)]="selectedDrug.strength">
                                    </div>
                                    <div class="col-sm-1">
                                      <label><b>Quantity</b></label>
                                      <input type="number" name="refils" class="form-control" [(ngModel)]="selectedDrug.quantity">
                                    </div>
                                    <!-- <div class="col-sm-1">
                                      <label><b>Refills</b></label>
                                      <input type="number" name="refils" class="form-control" [(ngModel)]="selectedDrug.refills">
                                    </div> -->
                          
                                    <div class="col-sm-1"> <button class="btn btn-success btn-sm" [disabled]="!selectedDrug.name || selectedDrug.quantity < 1" (click)="addPrescription()"
                                        style="margin-top:28px;"> <i class="icon-plus"></i></button>
                                    </div>
                                  </div>
                                  <br>
                                  
                                  <div class="row" *ngIf="prescription.length">
                                      <div class="col-sm-6">
                                          <table mat-table [dataSource]="dataSource2" matSort class="mat-elevation-z8">
                                              <ng-container matColumnDef="Name">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                                                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                                              </ng-container>
  
                                              <ng-container matColumnDef="Strength">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Strength</th>
                                                <td mat-cell *matCellDef="let element"> {{element.strength}} </td>
                                              </ng-container>
                                            
                                              <ng-container matColumnDef="Form">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Form</th>
                                                <td mat-cell *matCellDef="let element"> {{element.form}} </td>
                                              </ng-container>
                                              <ng-container matColumnDef="Quantity">
                                                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Quantity</th>
                                                  <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
                                                </ng-container>
                                              <ng-container matColumnDef="Delete">
                                                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Delete</th>
                                                  <td mat-cell *matCellDef="let element" (click)="deleteDrug(element)"> <i class="fa fa-close" style="font-size:20px;color:red"></i> </td>
                                                </ng-container>
                                           
                                            
                                              <tr mat-header-row *matHeaderRowDef="drugColumns"></tr>
                                              <tr mat-row *matRowDef="let row; columns: drugColumns;"></tr>
                                            </table> 
                                         
                                      </div>
                                    </div>  
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <span class="badge badge-success pull-right" style="margin-left:9px;"> Sub Cost :{{drugsCost}}  </span>
                                          <span class="badge badge-info pull-right">{{prescription.length}}  </span>
                                        </div>
                                      </div>  
                        </fieldset>
                        
                        <div>
                                <button  style="margin-top: 10px;margin-left: 5px;"  class="btn btn-success btn-sm pull-right" mat-button matStepperNext>Next Step <i class="cui-arrow-right"></i> </button>
                                <button  style="margin-top: 10px;"  class="btn btn-info btn-sm pull-right" mat-button matStepperPrevious><i class="cui-arrow-left"></i> Back </button>
    
                        </div>
                 
                </mat-step>
                <mat-step  >
                   
                        <ng-template matStepLabel>Lab Tests</ng-template>

                        <fieldset style="min-height: 200px;">
                                <legend style="width: 15%;font-size: 17px;"> <span style="margin-left:13px;font: weight 200;"> <i class="icon-plus"></i> Lab Test</span></legend>
                                
                                <div class="row">
                                    <div class="col-sm-12">
                                        <span class="badge badge-success pull-right" style="margin-left:9px;"> Sub Cost :{{labCost}}  </span>
                                      <span class="badge badge-info pull-right">{{labtest.length}}  </span>
                                    </div>
                                        <div class="col-sm-3">
                                          <!-- <label>Name</label> -->
                                          <input [(ngModel)]="selectedTest.name" [typeahead]="test" (typeaheadOnSelect)="OnSelectTest($event)"
                                            [typeaheadOptionsLimit]="4" typeaheadOptionField="name"  class="form-control"
                                            name="labtest" type="text" (typeaheadLoading)="searchTest(selectedTest.name)" placeholder="Type the Test">
                                        </div>
                                        <!-- <div class="col-sm-2">
                                          <label>Code</label>
                                          <input type="text" [(ngModel)]="selectedTest.code" [disabled]="true" class="form-control">
                                        </div>
                                        <div class="col-sm-1">
                                            <label>Cost</label>
                                            <input type="text" [(ngModel)]="selectedTest.cost" [disabled]="true"  class="form-control">
                                          </div> -->
                                      </div>
                                      <br>
                                <div class="row">
                                    <div class="col-sm-6" *ngIf="labtest.length">
                                        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
                                            <ng-container matColumnDef="Name">
                                              <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                                              <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                                            </ng-container>

                                            <ng-container matColumnDef="Code">
                                              <th mat-header-cell *matHeaderCellDef mat-sort-header>Code</th>
                                              <td mat-cell *matCellDef="let element"> {{element.code}} </td>
                                            </ng-container>
                                          
                                            <ng-container matColumnDef="Cost">
                                              <th mat-header-cell *matHeaderCellDef mat-sort-header>Cost</th>
                                              <td mat-cell *matCellDef="let element"> {{element.cost}} </td>
                                            </ng-container>
                                            <ng-container matColumnDef="Delete">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Delete</th>
                                                <td mat-cell *matCellDef="let element" (click)="deleteLab(element)"> <i class="fa fa-close" style="font-size:20px;color:red"></i> </td>
                                              </ng-container>
                                         
                                          
                                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                          </table> 
                                    </div>
                                </div>
                                 
                        </fieldset>
                        
                        <div>
                                <button  style="margin-top: 10px;margin-left: 5px;"  class="btn btn-success btn-sm pull-right" mat-button matStepperNext>Next Step <i class="cui-arrow-right"></i> </button>
                                <button  style="margin-top: 10px;"  class="btn btn-info btn-sm pull-right" mat-button matStepperPrevious><i class="cui-arrow-left"></i> Back </button>
    
                        </div>
            
                </mat-step>
              
                <mat-step>
                    <ng-template matStepLabel>Preview & Submit</ng-template>
                    <div class="row">
                      <div class="col-sm-12">
                        <span><b>Claim amount</b><span class="badge badge-success" style="margin-left:6px;">{{totalAmount | number}}</span></span>
                          <button  style="margin-top: 10px;"  class="btn btn-info btn-sm pull-right" [disabled]="!claimForm.valid" (click)="submitClaim()"> <i class="icon-check"></i> Claim Submit</button>
                      </div>
                    </div>
                      <div class="row">
                        <div class="col-sm-9">
                          <fieldset>
                            <legend style="width:30%;font-size: 14px;font-weight: bold"> <span style="margin-left:13px;font: weight 200;"> <i class="icon-people"></i> Patient Details</span></legend>
                            <div class="row">
                            <div class="col-sm-3">
                              <span style="font-size:10px;font-weight:bold"> <br>
                                PATIENT NAME: <span class="text-primary">{{patient.patient_name}}</span>
                              </span>
                              
                            </div>
                            
                            <div class="col-sm-4">
                              <span style="font-size:10px;font-weight:bold"><br>
                                INSURANCE: <span class="text-primary">{{patient.insurance_company}}</span>
                              </span>
                              
                            </div>
                            <div class="col-sm-3">
                              <span style="font-size:10px;font-weight:bold"><br>
                                SCHEME: <span class="text-primary">{{patient.scheme_name}}</span>
                              </span>
                              
                            </div>
                          
                            <div class="col-sm-2">
                              <span style="font-size:10px;font-weight:bold"><br>
                                PATIENT  NUMBER: <span class="text-primary">{{patient.patient_number}}</span>
                              </span>
                              
                            </div>
                            <div class="col-sm-3">
                              <span style="font-size:10px;font-weight:bold">
                              HOSPITAL: <span class="text-primary">{{patient.provider}}</span>
                              </span>
                              
                            </div>
                            <div class="col-sm-3">
                              <span style="font-size:10px;font-weight:bold">
                              VISIT TYPE: <span class="text-primary">{{patient.visit_type | uppercase}}</span>
                              </span>
                              
                            </div>
                            <div class="col-sm-3">
                              <span style="font-size:10px;font-weight:bold">
                              VISIT NUMBER: <span class="text-primary">{{patient.patient_number}}</span>
                              </span>
                              
                            </div>
                            <div class="col-sm-3">
                              <span style="font-size:10px;font-weight:bold">
                                NHIF  NUMBER: <span class="text-primary">{{patient.nhif_number}}</span>
                              </span>
                              
                            </div>
                            <div class="col-sm-3">
                              <span style="font-size:10px;font-weight:bold">
                                CHECKIN: <span class="text-primary">{{patient.check_in | date}}</span>
                              </span>
                              
                            </div>
                            <div class="col-sm-3">
                              <span style="font-size:10px;font-weight:bold">
                                CHECKOUT: <span class="text-primary">{{patient.check_out | date}}</span>
                              </span>
                              
                            </div>
                            </div>
                          </fieldset>
                        </div>
                        <div class="col-sm-3">
                          <fieldset>
                            <legend style="width:50%;font-size: 14px;font-weight: bold"> <span style="margin-left:13px;font: weight 200;"> <i class="fa fa-heartbeat"></i> Diagnosis</span></legend>
                            <div class="row">
                              <div class="col-sm-12" *ngFor="let item of diagnosis"> <mat-checkbox [checked]="true"></mat-checkbox> {{item.description}}</div>

                            </div>
                          </fieldset>
                        </div>
                      </div>
                      <br>
                      <div class="row">
                        <div class="col-sm-9">
                          <fieldset>
                            <legend style="width:50%;font-size: 14px;font-weight: bold"> <span style="margin-left:13px;font: weight 200;"> <i class="cui-list"></i> Procedures</span></legend>
                            <div class="row">
                              <div class="col-sm-12" *ngFor="let item of procedures"> <mat-checkbox [checked]="true"></mat-checkbox> {{item.name}}</div>

                            </div>
                            <div class="col-sm-12">
                                <span class="badge badge-success pull-right" style="margin-left:9px;"> Sub Cost :{{proceduresCost}}  </span>
                              <span class="badge badge-info pull-right">{{procedures.length}}  </span>
                            </div>
                          </fieldset>
                        </div>
                      </div>
                      <br>
                      <div class="row">
                        <div class="col-sm-9">
                          <fieldset>
                            <legend style="width:50%;font-size: 14px;font-weight: bold"> <span style="margin-left:13px;font: weight 200;"> <i class="fa fa-medkit"></i> Pharmaceuticals</span></legend>
                            <div class="row">
                                <div class="col-sm-12" *ngFor="let item of  prescription"> <mat-checkbox [checked]="true"></mat-checkbox> {{item.name}} - {{item.strength}}</div>
  
                              </div>
                              <div class="row">
                                  <div class="col-sm-12">
                                      <span class="badge badge-success pull-right" style="margin-left:9px;"> Sub Cost :{{drugsCost}}  </span>
                                    <span class="badge badge-info pull-right">{{prescription.length}}  </span>
                                  </div>
                                </div>
                          </fieldset>
                        </div>
                       
                      </div>
                      <br>
                      <div class="row">
                        <div class="col-sm-9">
                          <fieldset>
                            <legend style="width:50%;font-size: 14px;font-weight: bold"> <span style="margin-left:13px;font: weight 200;"> <i class="icon-chemistry"></i> Lab Test</span></legend>
                            <div class="row">
                                <div class="col-sm-12" *ngFor="let item of labtest"> <mat-checkbox [checked]="true"></mat-checkbox> {{item.name}}</div>
  
                              </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <span class="badge badge-success pull-right" style="margin-left:9px;"> Sub Cost :{{labCost}}  </span>
                                  <span class="badge badge-info pull-right">{{labtest.length}}  </span>
                                </div>
                              </div>  
                          </fieldset>
                        </div>
                      </div>
                    <div>
                    
                                <button  style="margin-top: 10px;margin-left: 5px;"  class="btn btn-success btn-sm pull-right"  mat-button matStepperPrevious> <i class="cui-arrow-left"></i> Back </button>
                                
                    </div>
                </mat-step>
            </mat-horizontal-stepper>
            
        </div>
      </div>
    </div>
  </div>