label{
    font-size:10px;
    font-weight: bold;
}

table{
	width: 100%;
	font-family:lato light;
}
// tr.mat-header-row {
//     height:33px;
//     font-weight: bold;

// }

td.mat-cell{
	font-size:14px;
}
tr.mat-row, tr.mat-footer-row {
  height: 40px;
}

th.mat-header-cell {
	text-align: left;

}

th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
  padding: 0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

th.mat-header-cell:first-child, td.mat-cell:first-child, td.mat-footer-cell:first-child {
  padding-left: 24px;
}

th.mat-header-cell:last-child, td.mat-cell:last-child, td.mat-footer-cell:last-child {
  padding-right: 24px;
}
mat-form-field{
  width: 100%;
}
div,mat-card{
  font-family: lato light;
  font-weight: bolder;
}
mat-card-subtitle{
  font-size: 16px;
  font-weight: bolder;
  color: #20a8d8;
}
mat-card{
  border: 2px solid #20a8d8;
}

::ng-deep .mat-tab-label {
  padding: 0px !important; // adjust this to whatever padding you need
  justify-content: left !important;
  font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
  }
  input[type="text"],input[type="select"]{
  font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
  }
  
  ::ng-deep mat-form-field.mat-form-field.mat-form-field-appearance-outline > div.mat-form-field-wrapper > div.mat-form-field-flex > div.mat-form-field-infix  { padding: 0.6em 0px }
  ::ng-deep mat-form-field.mat-form-field.mat-form-field-appearance-outline > div.mat-form-field-wrapper > div.mat-form-field-flex > div.mat-form-field-infix > span.mat-form-field-label-wrapper { top: -1.3em; }
  
  ::ng-deep .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
  transform: translateY(-1.1em) scale(.75);
  width: 133.33333%;
  }