              <div class="card">
              <div class="card-header">
              <h5><b>Create Claim</b></h5>
              </div>
              <div class="card-body">
              <div class="row">
              <div class="col-sm-12">
              <mat-horizontal-stepper labelPosition="end" #stepper>
              <mat-step>
              <ng-template matStepLabel>Patient Information</ng-template>
              <form [formGroup]="claimForm" (ngSubmit)="onSubmit()">
                <fieldset>
                  <legend>Background Information:</legend>
                  <div class="row" >
                    <div class="col-sm-3">
                        <mat-form-field appearance="outline">
                          <mat-label>Visit Number</mat-label>
                        <input placeholder="Visit Number" type="text" [typeahead]="patients" (typeaheadOnSelect)="onVisit($event)" [typeaheadOptionsLimit]="7" typeaheadOptionField="visit_no"  formControlName="visit_number"[ngModelOptions]="{standalone: true}" matInput />
                        <mat-error *ngIf="f.visit_number.errors">visit_number is required</mat-error>
                        </mat-form-field>
                        </div>
                    <div class="col-sm-3">
                    <mat-form-field  appearance="outline">
                      <mat-label>Insurance</mat-label>
                    <input type="text"  placeholder="Search Payer"  matInput   [typeahead]="payers" (typeaheadLoading)="payerSearch(f.insurance_company.value)"
                    (typeaheadOnSelect)="OnPayer($event)" [typeaheadOptionsLimit]="7" typeaheadOptionField="name" formControlName="insurance_company"  [ngModelOptions]="{standalone: true}" />
                    <mat-error *ngIf="f.insurance_company.errors">Insurance is<strong> required</strong></mat-error>
                    </mat-form-field>
                    </div>
      
                    <div class="col-sm-3">
                    <mat-form-field  appearance="outline">
                      <mat-label>Scheme</mat-label>
                    <input   [typeahead]="schemes" (typeaheadLoading)="schemeSearch(f.scheme_name.value)" formControlName="scheme_name" placeholder="Scheme"
                    (typeaheadOnSelect)="OnScheme($event)" [typeaheadOptionsLimit]="6" typeaheadOptionField="name"  matInput/>
                    <mat-error *ngIf="f.scheme_name.errors">Scheme is required</mat-error>
                    </mat-form-field>
      
                    </div>
                    <div class="col-sm-3">
                    <mat-form-field  appearance="outline">
                      <mat-label>Member</mat-label>
                    <input [typeahead]="members" [typeaheadOptionsLimit]="7"
                    typeaheadOptionField="name" (typeaheadOnSelect)="OnMember($event)"   formControlName="patient_name" placeholder="Member" [ngModelOptions]="{standalone: true}" matInput />
                    <mat-error *ngIf="f.patient_name.errors">Member  is required</mat-error>
                    </mat-form-field>
                    </div>
                    <div class="col-sm-3">
                    <mat-form-field  appearance="outline">
                      <mat-label>Patient Number</mat-label>
                    <input type="text" formControlName="provider"  placeholder="Hospital" [ngModelOptions]="{standalone: true}"  matInput/>
                    <mat-error *ngIf="f.provider.errors">Branch is required</mat-error>
                    </mat-form-field>
                    </div>
                    <div class="col-sm-3">
                    <mat-form-field  appearance="outline">
                      <mat-label>Patient Number</mat-label>
                    <input type="text" formControlName="patient_number" placeholder="Patient Number"  [disabled]="true" matInput readonly/>
                    <mat-error *ngIf="f.patient_number.errors">Patient number is required</mat-error>
                    </mat-form-field>
                    </div>
                 
      
                    <div class="col-sm-3">
      
                    <mat-form-field  appearance="outline">
                    <mat-label>Select Visit Type</mat-label>
                    <input type="text" formControlName="visit_type" placeholder="Visit Type"  [disabled]="true" matInput readonly/>

                    <mat-error *ngIf="f.visit_type?.errors">Visit Type<strong>required</strong></mat-error>
                    </mat-form-field>
                    </div>
      
                    <div class="col-sm-3">
                    <mat-form-field  appearance="outline">
                      <mat-label>Check In</mat-label>
                    <input type="text" formControlName="check_in" placeholder="Check In" bsDatepicker 
                    [bsConfig]="{ isAnimated: true }" [ngModelOptions]="{standalone: true}" matInput readonly />
                    <mat-error *ngIf="f.check_in.errors">
                    check in date is required
                    </mat-error>
                    </mat-form-field>  
                    </div>
                    <div class="col-sm-3">
                    <mat-form-field  appearance="outline">
                      <mat-label>Check Out</mat-label>
                    <input type="text" placeholder="Check Out" formControlName="check_out" readonly  bsDatepicker 
                    [bsConfig]="{ isAnimated: true }"  [ngModelOptions]="{standalone: true}"  matInput  readonly/>
                    <mat-error *ngIf="f.check_out.errors">check out is required</mat-error>
                    </mat-form-field>
                    </div>
                    <div class="col-sm-3">
                    <mat-form-field  appearance="outline">
                      <mat-label>Nhif Number</mat-label>

                    <input type="text" placeholder="Nhif Number" formControlName="nhif_number"  [ngModelOptions]="{standalone: true}" matInput/>
      
                    </mat-form-field>
      
                    </div>
      
                    <div class="col-sm-3">
                    <mat-form-field  appearance="outline">
      
                    <input type="text" placeholder="Doctor" formControlName="doctor" [ngModelOptions]="{standalone: true}" matInput />
                    <mat-error *ngIf="f.doctor.errors">Doctor Name is required</mat-error>
                    </mat-form-field>
                    </div>
                    </div>
                </fieldset>
            
              <button  style="margin-top: 10px;"  class="btn btn-success btn-sm pull-right" mat-button matStepperNext>Next Step <i class="cui-arrow-right"></i> </button>

              </form>
              </mat-step>

              <mat-step >

                <ng-template matStepLabel>Diagnoisis</ng-template>
                <mat-card>
                  <mat-card-title>
                  <span style="font-size:15px;">Diagnosis</span>
                  </mat-card-title>
                    <div class="row">
                        <div class="col-sm-3">
                        <mat-form-field>
                          <input type="text"  matInput  
                        [(ngModel)]="selectedDiagnosis.description" typeaheadOptionField="description" [typeahead]="diagnosesList"  placeholder="Diagnoisis"
                        (typeaheadOnSelect)="onDiagnosis($event)" [typeaheadOptionsLimit]="5" [ngModelOptions]="{standalone: true}"
                         (typeaheadLoading)="searchDiagnosis(selectedDiagnosis.description)"   [dropup]="true">
                         <i class="icon-magnifier" matSuffix></i>
                        </mat-form-field>
                        </div>
                      
          
          
                        </div>
                        <br>
                        <div class="row">
                        <div class="col-sm-6">
                            <table class="table table-borderless">
                                <tbody>
                                  <tr *ngFor="let item of diagnosis">
                                    <td style="text-transform: capitalize;">{{item.description}}</td>
                                    <td>{{item.code}}</td>
                                    <td (click)="deleteDiagnosis(item)"><mat-icon color="warn">delete_sweep</mat-icon></td>
                                  </tr>
                                 
                                </tbody>
                            </table>
                        </div>
                        </div>
                </mat-card>s
                <div>
                <button  style="margin-top: 10px;margin-left: 5px;"  class="btn btn-success btn-sm pull-right" mat-button matStepperNext>Next Step <i class="cui-arrow-right"></i> </button>
                <button  style="margin-top: 10px;"  class="btn btn-info btn-sm pull-right" mat-button matStepperPrevious><i class="cui-arrow-left"></i> Back </button>
  
                </div>
  
                </mat-step>
              <mat-step >

              <ng-template matStepLabel>Procedures</ng-template>
              <mat-card>
                <mat-card-subtitle>
                 <div class="row">
                  <div class="col-sm-12" >
                    <span class="badge badge-success pull-right" style="margin-left:9px;font-size: 14px;"> Sub Cost :{{proceduresCost}}  </span>
                    <span class="badge badge-info pull-right" style="font-size: 14px;">{{procedures.length}}  </span>
                    </div>
                 </div>
                </mat-card-subtitle>
                
              <div class="row" >
                  <div class="col-sm-3">
                      <mat-form-field>
                        <input type="text"  (typeaheadOnSelect)="onSelect($event)" name="test"
                        placeholder="Pocedure" typeaheadOptionField="name" [(ngModel)]="selectedOption.name"
                        [typeahead]="services" [typeaheadOptionsLimit]="3"
                        (typeaheadLoading)="searchProcedure(selectedOption.name)" matInput>
                      </mat-form-field>
                    </div>
                <div class="col-sm-12" >
                <table mat-table [dataSource]="dataSource1" matSort class="mat-elevation-z8">
                <ng-container matColumnDef="Name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>
  
                <ng-container matColumnDef="Code">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Code</th>
                <td mat-cell *matCellDef="let element"> {{element.code}} </td>
                </ng-container>
  
                <ng-container matColumnDef="Cost">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Cost</th>
                <td mat-cell *matCellDef="let element"> {{element.cost}} </td>
                </ng-container>
                <ng-container matColumnDef="Delete">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Delete</th>
                <td mat-cell *matCellDef="let element" (click)="deleteProcedure(element)"> <mat-icon color="warn">delete_sweep</mat-icon> </td>
                </ng-container>
  
  
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table> 
                </div>
                </div>  
              </mat-card>
              <div>
              <button  style="margin-top: 10px;margin-left: 5px;"  class="btn btn-success btn-sm pull-right" mat-button matStepperNext>Next Step <i class="cui-arrow-right"></i> </button>
              <button  style="margin-top: 10px;"  class="btn btn-info btn-sm pull-right" mat-button matStepperPrevious><i class="cui-arrow-left"></i> Back </button>

              </div>

              </mat-step>
              

              <mat-step>
              <ng-template matStepLabel>Preview & Submit</ng-template>
              <div class="row">
              <div class="col-sm-12">
              <button  style="margin-top: 10px;"  class="btn btn-info btn-sm pull-right" [disabled]="!claimForm.valid" (click)="submitClaim()"> <i class="icon-check"></i> Claim Submit</button>
              </div>
              </div>
              <br>
              <mat-card>
                <mat-card-subtitle>
                    <i class="icon-people"></i> Patient Details
                </mat-card-subtitle>
                <div class="row">
                    <div class="col-sm-12">
                      <div class="row">
                        <div class="col-sm-6">
                            <h4><b class="text-success">{{f.patient_name.value}}</b> <span *ngIf="f.nhif_number.value">| <span>NHIF NO: {{f.nhif_number.value}} </span></span></h4>
                        </div>
                        <div class="col-sm-6">
                          <h4><span style="font-size:14px;font-weight:bold"> INSURANCE :
                              <span class="text-primary">{{f.insurance_company.value}}</span>
                              </span> 
                              <span style="font-size:14px;font-weight:bold"> SCHEME :
                                  <span class="text-primary">{{f.scheme_name.value}}</span>
                                  </span>
                            </h4>
                        </div>
                      </div>
                    </div>
                    
                    <div class="col-sm-12">
                       <div class="row">
                         <div class="col-sm-3">HOSPITAL</div>
                         <div class="col-sm-9">
                            <span style="font-size:14px;font-weight:bold">
                                 {{f.provider.value}}</span>
                                 
                                
                            
                         </div>
                       </div>
          
                        </div>
                    <div class="col-sm-12">
                    <div class="row">
                      <div class="col-sm-3">
                          PATIENT  NUMBER
                      </div>
                      <div class="col-sm-5">
                          <span style="font-size:14px;font-weight:bold">
                              <span class="text-primary">{{f.patient_number.value}}</span>
                              </span>
                      </div>
                    </div>
                    </div>
                   
                    <div class="col-sm-12">
                      <div class="row">
                        <div class="col-sm-3">
                           VISIT NUMBER
                        </div>
                        <div class="col-sm-5">
                            {{f.patient_number.value}}
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="row">
                          <div class="col-sm-3">
                              VISIT TYPE
                          </div>
                          <div class="col-sm-5">
                              <span style="font-size:14px;font-weight:bold">
                                  <span class="text-primary">{{f.visit_type.value}}</span>
                                  </span>
                          </div>
                        </div>
                        </div>
                    <div class="col-sm-12">
                      <div class="row">
                        <div class="col-sm-3"> CHECKIN</div>
                        <div class="col-sm-5">
                            <span style="font-size:14px;font-weight:bold">
                                <span class="text-primary">{{f.check_in.value | date}}</span>
                                 </span>
                        </div>
                      </div>
                      
                        </div>
                        <div class="col-sm-12">
                          <div class="row">
                            <div class="col-sm-3">CHECKOUT</div>
                            <div class="col-sm-5">
                                <span style="font-size:14px;font-weight:bold">
                                    <span class="text-primary">{{f.check_out.value | date}}</span>
                                    </span>
                            </div>
                          </div>
                        
          
                        </div>
                  
                    
                    </div>
                    <mat-card-actions>
                        <div class="row">
                            <div class="col-sm-12">
                                
                                <span class="badge badge-info pull-right" style="font-size: 14px;"> Claim Amount : {{totalAmount | number}}  </span>
                                </div>
                        </div>
                     </mat-card-actions>
              </mat-card>
              <br>
              <mat-card>
                <mat-card-subtitle>
                   <i class="fa fa-heartbeat"></i> Diagnoses
                </mat-card-subtitle>
                 <div class="row">
                    <div class="col-sm-12">
                     
                        <div class="row">
                        <div class="col-sm-12">
                          <ol>
                            <li *ngFor="let item of diagnosis" style="font-size: 14px;"><b>{{item.description}}</b></li>
                          </ol>
                        </div>
          
                        </div>
                        
                        </div>
                 </div>
              </mat-card>
              <br>
             
                <mat-card>
                  <mat-card-subtitle>
                      <i class="cui-list"></i> Services
                  </mat-card-subtitle>
                  <div class="row">
                      <div class="col-sm-12" *ngFor="let item of procedures"> <i class="fa fa-check text-success"></i> {{item.name}}</div>
                  </div>
                  <mat-card-actions>
                      <div class="row">
                          <div class="col-sm-12">
                              <span class="badge badge-success pull-right" style="margin-left:9px;font-size: 14px;"> Sub Cost :{{proceduresCost}}  </span>
                              <span class="badge badge-info pull-right" style="font-size: 14px;">{{procedures.length}}  </span>
                              </div>
                      </div>
                   </mat-card-actions>
                </mat-card>
              
        
              <div>

              <button  style="margin-top: 10px;margin-left: 5px;"  class="btn btn-info btn-sm pull-right"  mat-button matStepperPrevious> <i class="cui-arrow-left"></i> Back </button>

              </div>
              </mat-step>
              </mat-horizontal-stepper>

              </div>
              </div>
              </div>
              </div>
