form{
  width: 100%; 
}
table{
   width: 100%;
   font-family: "Open Sans", Tahoma, sans-serif;
}
tr.mat-header-row {
 height:38px;
}
td.mat-cell{
 font-size:13px;
 // font-weight: bold;
}
tr.mat-row, tr.mat-footer-row {
 height: 32px;
}

th.mat-header-cell {
 text-align: left;
 text-transform: uppercase;
 font-size: 13px;
 
}
input[type="text"],input[type="select"]{
 font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
}

::ng-deep mat-form-field.mat-form-field.mat-form-field-appearance-outline > div.mat-form-field-wrapper > div.mat-form-field-flex > div.mat-form-field-infix  { padding: 0.6em 0px }
::ng-deep mat-form-field.mat-form-field.mat-form-field-appearance-outline > div.mat-form-field-wrapper > div.mat-form-field-flex > div.mat-form-field-infix > span.mat-form-field-label-wrapper { top: -1.3em; }

::ng-deep .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
   transform: translateY(-1.1em) scale(.75);
   width: 133.33333%;
}