.details {
    margin-left: 12px;
    font-size:10px;
    font-weight: bolder;
    font-family: lato light;

};
.details b{
    color: dodgerblue;
    margin-left: 5px;
    font-family: lato light;
    font-weight: bolder;

}

.card-header{
    font-weight: bold;
    text-transform: capitalize;
}
.card {
        font-family: lato light;
}

table{
	width: 100%;
	font-family:lato light;   
}
// tr.mat-header-row {
// 	height:30px;
// 	background-color: darkblue;
	
// }

td.mat-cell{
  font-size:12px;
  font-weight: bold;
}
tr.mat-row, tr.mat-footer-row {
  height: 30px;
}

th.mat-header-cell {
	text-align: left;
  font-weight: bold;
}

th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
  padding: 0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

th.mat-header-cell:first-child, td.mat-cell:first-child, td.mat-footer-cell:first-child {
  padding-left: 24px;
}

th.mat-header-cell:last-child, td.mat-cell:last-child, td.mat-footer-cell:last-child {
  padding-right: 24px;
}

td{
  font-size:12px;
   margin-left: 24px;
}
