.details {
    margin-left: 1px;
    font-size:13px;
    font-weight: bolder;
    font-family: lato light;

};
.details b{
    color: dodgerblue;
    margin-left: 5px;
    font-family: lato light;
    font-weight: bolder;

}

.card-header{
    font-weight: bold;
    text-transform: capitalize;
}
.card {
        font-family: lato light;
}

table{
  width: 100%;
  font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
}
td.mat-cell{
  font-size:13px;
}
th{
  text-transform: capitalize;
}
tr.mat-row, tr.mat-footer-row {
  height: 37px;
}
tr.mat-header-row {
  height:35px;
}
.one{
  color:green;
  text-transform: capitalize;
  font-weight: 600;
}
.two{
  color:red;
  text-transform: capitalize;
  font-weight: 600;
}
div{
  font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
}