
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header bg-success" >
          <h5>Room Set Up</h5>
        </div>
        <div class="card-body">
          <br>
          <fieldset>
            <legend>Room Set Up</legend>
            <div class="col-sm-12">
             
                <form [formGroup]="AditionalDataForm" >
                    <div class="row">
                        <div class="col-sm-4">
                            <mat-form-field appearance="outline">
                              <mat-label>Room Block</mat-label>
                                <input matInput placeholder="room block" formControlName="room_block">
                                
                              </mat-form-field>
                        </div>
                      <div class="col-sm-4">
                        <mat-form-field appearance="outline">
                          <mat-label>Room Number</mat-label>
                            <input matInput placeholder="Room number" formControlName="room_number">
                          </mat-form-field>
                      </div>
                
                    <div class="col-sm-4">
                      <mat-form-field appearance="outline">
                        <mat-label> Room package</mat-label>
                          <input matInput placeholder=" room package" formControlName="room_package">
                         
                        </mat-form-field>
                  </div>
                   <div class="col-sm-4">
                    <mat-form-field appearance="outline">
                      <mat-label>Room Price</mat-label>
                      <input matInput placeholder="room price" type="number" formControlName="room_price">
                    </mat-form-field>
                   </div>
                  
          
                <div class="col-sm-8">
                <button class="btn btn-success pull-right" (click)="SetUpRoom()">Setup Room</button>
                </div>
                    </div>
                  </form>
          
          
            </div>
          </fieldset>
      
         
        </div>
      </div>
    </div>
  </div>

