<mat-tab-group>
  <mat-tab>
    <ng-template mat-tab-label>
     Feedback Issues
    </ng-template>
    <br>
    <div class="card">
      <h6 class="card-header bg-success"> Feedback Issues
    
      </h6>
      <div class="card-body">
        <div class="row">
        
          
            
          <div class="col-sm-12" style="margin-top: 15px;">
            <div class="mat-elevation-z8 table-responsive">
              <table mat-table [dataSource]="singlepatientdataSource">
                  <ng-container matColumnDef="sn">
                      <th mat-header-cell *matHeaderCellDef>S/N</th>
                      <td mat-cell *matCellDef="let element;let i=index"> {{i+1}} </td>
              </ng-container>
              <ng-container matColumnDef="client">
                <th mat-header-cell *matHeaderCellDef>Patient</th>
                <td mat-cell *matCellDef="let element"> {{element.client_name}} </td>
              </ng-container>
              <ng-container matColumnDef="phone">
                <th mat-header-cell *matHeaderCellDef>Phone</th>
                <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
              </ng-container>
              <ng-container matColumnDef="type">
                <th mat-header-cell *matHeaderCellDef>Visit Type</th>
                <td mat-cell *matCellDef="let element"> 
                   <span *ngIf="element.type=='OUTPATIENT'"><span class="badge bg-success">Outpatient</span>
                </span> 
                <span *ngIf="element.type=='INPATIENT'"><span class="badge bg-info">Inpatient</span>
              </span>
              <span *ngIf="element.type=='MATERNITY'"><span class="badge bg-primary">Maternity</span>
              </span>  
              
              </td>
              </ng-container>
              <ng-container matColumnDef="issues">
                <th mat-header-cell *matHeaderCellDef>Issues</th>
                <td mat-cell *matCellDef="let element, let isLast=last"> 
                    <ng-container *ngFor="let rule of element.issues, let isLast=last">
                        {{rule.issues}}{{isLast ? '' : ','}}
                    </ng-container> </td>

              </ng-container>
              
            <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef>Status</th>
           
              <td mat-cell *matCellDef="let element">
                <span *ngIf="element.is_called=='CALLED' && element.category=='NEGATIVE'"><span class="badge bg-success">called</span>
              </span> 
              <span *ngIf="element.is_called=='NOTCALLED' && element.category=='NEGATIVE'"><span class="badge bg-danger">Not Called</span>
            </span>
            <span *ngIf="element.is_called=='NOTCALLED' && element.category=='POSITIVE'"><span class="badge bg-info">Positive</span>
            </span>
            
            
            </td>
            </ng-container>  
            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef>Action</th>
         
              <td mat-cell *matCellDef="let element">
                <span *ngIf="element.is_called=='CALLED' && element.category=='NEGATIVE'"><img width="20px" src="./assets/img/avatars/tick.png">
              </span> 
              <span *ngIf="element.is_called=='NOTCALLED' && element.category=='NEGATIVE'"><img width="20px" src="./assets/img/avatars/x.png">
            </span>
            
            
            </td>
            </ng-container>
            <ng-container matColumnDef="types">
              <th mat-header-cell *matHeaderCellDef>Call</th>
              <td mat-cell *matCellDef="let element"><span><button type="button" (click)="clickRow(selected=element)"><img width="20px" src="./assets/img/avatars/call.png"></button></span>  </td>
              
            
          </ng-container>  
                    
                   
        
              
        
                
              
                <tr mat-header-row *matHeaderRowDef="AllColumns4"></tr>
                <tr mat-row *matRowDef="let row; columns:AllColumns4;"></tr>
              </table>
        
              <mat-paginator [pageSizeOptions]="[100,200]" showFirstLastButtons></mat-paginator>
            </div>
          </div>
          </div>
    
      </div>
    
    
    </div>
    
    
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
    Not Called Patients
    </ng-template>
    <br>
    <div class="card">
      <h6 class="card-header bg-success">Not Called Patient
    
      </h6>
      <div class="card-body">
        <div class="row">
        
          
            
          <div class="col-sm-12" style="margin-top: 15px;">
            <div class="mat-elevation-z8 table-responsive">
              <table mat-table [dataSource]="notcalledpatientdataSource">
                  <ng-container matColumnDef="sn">
                      <th mat-header-cell *matHeaderCellDef>S/N</th>
                      <td mat-cell *matCellDef="let element;let i=index"> {{i+1}} </td>
              </ng-container>
              <ng-container matColumnDef="client">
                <th mat-header-cell *matHeaderCellDef>Patient</th>
                <td mat-cell *matCellDef="let element"> {{element.client_name}} </td>
              </ng-container>
              <ng-container matColumnDef="phone">
                <th mat-header-cell *matHeaderCellDef>Phone</th>
                <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
              </ng-container>
              <ng-container matColumnDef="type">
                <th mat-header-cell *matHeaderCellDef>Visit Type</th>
                <td mat-cell *matCellDef="let element"> 
                   <span *ngIf="element.type=='OUTPATIENT'"><span class="badge bg-success">Outpatient</span>
                </span> 
                <span *ngIf="element.type=='INPATIENT'"><span class="badge bg-info">Inpatient</span>
              </span>
              <span *ngIf="element.type=='MATERNITY'"><span class="badge bg-primary">Maternity</span>
              </span>  
              
              </td>
              </ng-container>
              <ng-container matColumnDef="issues">
                <th mat-header-cell *matHeaderCellDef>Issues</th>
                <td mat-cell *matCellDef="let element, let isLast=last"> 
                    <ng-container *ngFor="let rule of element.issues, let isLast=last">
                        {{rule.issues}}{{isLast ? '' : ','}}
                    </ng-container> </td>

              </ng-container>
              <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef>Status</th>
               
                <td mat-cell *matCellDef="let element">
                  <span *ngIf="element.is_called=='CALLED'"><img width="20px" src="./assets/img/avatars/tick.png">
                </span> 
                <span *ngIf="element.is_called=='NOTCALLED'"><img width="20px" src="./assets/img/avatars/x.png">
              </span>
              
              
              </td>
              </ng-container>  
              <ng-container matColumnDef="types">
                <th mat-header-cell *matHeaderCellDef>Call</th>
                <td mat-cell *matCellDef="let element"><span ><button type="button" (click)="clickRow(selected=element)"><img width="20px" src="./assets/img/avatars/call.png"></button></span>  </td>
              </ng-container>
                
                
                
                    
                   
        
              
        
                
              
                <tr mat-header-row *matHeaderRowDef="AllColumns4"></tr>
                <tr mat-row *matRowDef="let row; columns:AllColumns4;"></tr>
              </table>
        
              <mat-paginator [pageSizeOptions]="[100,200]" showFirstLastButtons></mat-paginator>
            </div>
          </div>
          </div>
    
      </div>
    
    
    </div>
    
    
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
     Called Patients
    </ng-template>
    <br>
    <div class="card">
      <h6 class="card-header bg-success"> Called Patient
    
      </h6>
      <div class="card-body">
        <div class="row">
        
          
            
          <div class="col-sm-12" style="margin-top: 15px;">
            <div class="mat-elevation-z8 table-responsive">
              <table mat-table [dataSource]="calledpatientdataSource">
                  <ng-container matColumnDef="sn">
                      <th mat-header-cell *matHeaderCellDef>S/N</th>
                      <td mat-cell *matCellDef="let element;let i=index"> {{i+1}} </td>
              </ng-container>
              <ng-container matColumnDef="client">
                <th mat-header-cell *matHeaderCellDef>Patient</th>
                <td mat-cell *matCellDef="let element"> {{element.client_name}} </td>
              </ng-container>
              <ng-container matColumnDef="phone">
                <th mat-header-cell *matHeaderCellDef>Phone</th>
                <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
              </ng-container>
              <ng-container matColumnDef="type">
                <th mat-header-cell *matHeaderCellDef>Visit Type</th>
                <td mat-cell *matCellDef="let element"> 
                   <span *ngIf="element.type=='OUTPATIENT'"><span class="badge bg-success">Outpatient</span>
                </span> 
                <span *ngIf="element.type=='INPATIENT'"><span class="badge bg-info">Inpatient</span>
              </span>
              <span *ngIf="element.type=='MATERNITY'"><span class="badge bg-primary">Maternity</span>
              </span>  
              
              </td>
              </ng-container>
              <ng-container matColumnDef="issues">
                <th mat-header-cell *matHeaderCellDef>Issues</th>
                <td mat-cell *matCellDef="let element, let isLast=last"> 
                    <ng-container *ngFor="let rule of element.issues, let isLast=last">
                        {{rule.issues}}{{isLast ? '' : ','}}
                    </ng-container> </td>

              </ng-container>
              <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef>Status</th>
               
                <td mat-cell *matCellDef="let element">
                  <span *ngIf="element.is_called=='CALLED'"><img width="20px" src="./assets/img/avatars/tick.png">
                </span> 
                <span *ngIf="element.is_called=='NOTCALLED'"><img width="20px" src="./assets/img/avatars/x.png">
              </span>
              
              
              </td>
              </ng-container>  
              <ng-container matColumnDef="types">
                <th mat-header-cell *matHeaderCellDef>Call</th>
                <td mat-cell *matCellDef="let element"><span *ngIf="element.category=='NEGATIVE'"><button type="button" (click)="clickRow(selected=element)"><img width="20px" src="./assets/img/avatars/call.png"></button></span>  </td>
              </ng-container>
                
                
                
                    
                   
        
              
        
                
              
                <tr mat-header-row *matHeaderRowDef="AllColumns4"></tr>
                <tr mat-row *matRowDef="let row; columns:AllColumns4;"></tr>
              </table>
        
              <mat-paginator [pageSizeOptions]="[100,200]" showFirstLastButtons></mat-paginator>
            </div>
          </div>
          </div>
    
      </div>
    
    
    </div>
    
    
  </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
       Number of Issues
      </ng-template>
      <div class="card">
        <h6 class="card-header bg-success">Number of Issues
      
        </h6>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-12">
          
            
            </div>
          
              
            <div class="col-sm-12" style="margin-top: 15px;">
              <div class="mat-elevation-z8 table-responsive">
                <table mat-table [dataSource]="issuesdataSource">
                    <ng-container matColumnDef="sn">
                        <th mat-header-cell *matHeaderCellDef>S/N</th>
                        <td mat-cell *matCellDef="let element;let i=index"> {{i+1}} </td>
                </ng-container>
                <ng-container matColumnDef="issue">
                  <th mat-header-cell *matHeaderCellDef>Issue</th>
                  <td mat-cell *matCellDef="let element"> {{element.issues}} </td>
                </ng-container>
                <ng-container matColumnDef="count">
                  <th mat-header-cell *matHeaderCellDef>Total count</th>
                  <td mat-cell *matCellDef="let element"> {{element.count}}</td>
                </ng-container>
               
                  
                      
                     
          
                
          
                  
                
                  <tr mat-header-row *matHeaderRowDef="AllColumns1"></tr>
                  <tr mat-row *matRowDef="let row; columns:AllColumns1;"></tr>
                </table>
          
                <mat-paginator [pageSizeOptions]="[100,200]" showFirstLastButtons></mat-paginator>
              </div>
            </div>
            </div>
      
        </div>
      
      
      </div>
      
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        Number of Compliment
      </ng-template>
      <br>
      <div class="card">
        <h6 class="card-header bg-success">Number of Compliments
      
        </h6>
        <div class="card-body">
          <div class="row">
          
            
              
            <div class="col-sm-12" style="margin-top: 15px;">
              <div class="mat-elevation-z8 table-responsive">
                <table mat-table [dataSource]="complimentdataSource">
                    <ng-container matColumnDef="sn">
                        <th mat-header-cell *matHeaderCellDef>S/N</th>
                        <td mat-cell *matCellDef="let element;let i=index"> {{i+1}} </td>
                </ng-container>
                <ng-container matColumnDef="compliment">
                  <th mat-header-cell *matHeaderCellDef>Compliment</th>
                  <td mat-cell *matCellDef="let element"> {{element.compliments}} </td>
                </ng-container>
                <ng-container matColumnDef="count">
                  <th mat-header-cell *matHeaderCellDef>Count</th>
                  <td mat-cell *matCellDef="let element"> {{element.count}} </td>
                </ng-container>
                  
                  
                  
                      
                     
          
                
          
                  
                
                  <tr mat-header-row *matHeaderRowDef="AllColumns2"></tr>
                  <tr mat-row *matRowDef="let row; columns:AllColumns2;"></tr>
                </table>
          
                <mat-paginator [pageSizeOptions]="[100,200]" showFirstLastButtons></mat-paginator>
              </div>
            </div>
            </div>
      
        </div>
      
      
      </div>
      
      
    </mat-tab>


 
  
  
  
  </mat-tab-group>
  
  
  
  
  
  
  
  
 
  
  
  
  
  
  
  
 
  
  
  
  
  
  
  
  
  
  