<div class="card">
    <div class="card-body" id="print-section">
        <div class="row">
            <div class="col-sm-12">
                <button class="btn btn-success" style="float: right;" (click)="printPage()">Print Claim Form</button>

                <div class="clearfix"></div>
    
            </div>
            <div class="clearfix"></div>
            <div class="clearfix"></div>
            <div class="col-sm-12">
                <button class="btn btn-success" style="float: right; margin-top: 20px;" (click)="edit()">Edit Form</button>

                
    
            </div>
           
        </div>
        <div class="row">
            <div class="row">
                <div class="col-sm-8" style="margin: 15px;">
                    <img src="../../../../assets/img/avatars/minet.png" alt="" height="100" width="300">
                </div>
               
                
               
                <div class="col-sm-2" style="justify-content: right;">
                    <img src="../../../../assets/img/avatars/minet2.png" alt="" height="100" width="300">

                </div>
                
                
            </div>
           
           
           
            <div class="col-sm-12" style="margin-left: 320px; font-size: 10px;">
                
              <h4 style="color: black;">OUTPATIENT MEDICAL CLAIM FORM</h4>
             
            </div> 
           
           
             
            
            
            <div class="col-sm-12" style="font-size: 12px;" >
               
              <div style="background-color: black;">  
                <p style="color: white;">
                   PATIENT'S INFORMATION
                  </p>
              </div>
              
                <div class="row">
                    <div class="col-sm-2">Name of employer:</div>
                    <div class="col-sm-10">
                    <input type="text"value="{{patient.scheme_name}}" >
                    </div>
                    
                </div>
                <div class="clearfix"></div>

                <div class="row">
                    <div class="col-sm-2">Full Name of Employee</div>
                    <div class="col-sm-10">
                    <input type="text" value="{{patient.employee}}">
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-sm-2">Mobile number</div>
                    <div class="col-sm-2">
                    <input type="text" value="{{patient.patient.phone}}">
                    </div>
                    <div class="col-sm-2">Medical card No</div>
                    <div class="col-sm-2">
                    <input type="text" value="{{patient.card_number}}">
                    </div>
                    <div class="col-sm-2">Date of Birth</div>
                    <div class="col-sm-2" >
                    <input type="text" value="{{patient.patient.dob | date}}">
                    </div>
                    
                </div>
                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-sm-2">Full name of Claimant</div>
                    <div class="col-sm-4">
                    <input type="text" value="{{patient.patient.first_name}} {{patient.patient.last_name}}"  >
                    </div>
                   
                </div>
                <div class="clearfix"></div>
               
                
              
               
                
            </div>
            <div class="col-sm-12" style="font-size: 12px;">
               
                  
                <div style="background-color: black;">  
                    <p style="color: white;">
                       MEDICAL INFORMATION
                      </p>
                  </div>
                <div class="row">
                    <div class="col-sm-12">Exact nature of illness/accident/medical applications e.g Wheelchair:</div>
                    <div class="col-sm-12">
                    <input type="text" value="{{patient.insuranceVisit.diagnoses}} {{patient.insuranceVisit.description}}">
                    </div>
                    
                </div>
                <div class="clearfix"></div>
                <div class="row"style="font-size: 12px;">
                    <div class="col-sm-12">Is condition work related or occupation illness/injury? Please explain:</div>
                    <div class="col-sm-12">
                    <input type="text"  >
                    </div>
                    
                </div>
                <div class="clearfix"></div>
                <div class="row" style="font-size: 12px;">
                    <div class="col-sm-4">Date when the condition was first diagnosed?</div>
                    <div class="col-sm-4">
                    <input type="text"  >
                    </div>
                   
                </div>
                <div class="clearfix"></div>
                <div class="row" style="font-size: 12px;">
                    <div class="col-sm-4">Date of Preveous treatment for this illness/injury</div>
                    <div class="col-sm-4">
                    <input type="text">
                    </div>
                   
                </div>
                <div class="clearfix"></div>
                <div class="row" style="font-size: 12px;">
                    <div class="col-sm-4">Date of current treatment?</div>
                    <div class="col-sm-4">
                    <input type="text" >
                    </div>
                   
                </div>
                <div class="clearfix"></div>
                <div class="row" style="font-size: 12px;">
                    <div class="col-sm-8">Any Underlying conditions which could result to this illness/injury</div>
                    <div class="col-sm-4">
                    <input type="text" >
                    </div>
                   
                </div>
                <div class="clearfix"></div>
                <div class="row" style="font-size: 12px;">
                    <div class="col-sm-4">was patient referred to a specialist? </div>
                    
                          <div class="col-sm-2">
                              (Y) <mat-checkbox class="example-margin" ></mat-checkbox>
                          </div>
                          <div class="col-sm-2">
                            (N) <mat-checkbox class="example-margin" ></mat-checkbox>
                        </div>
                      </div>
                      <div class="clearfix"></div>
                      <div class="row" style="font-size: 12px;">
                          <div class="col-sm-12">Indicate specialist services & specialist name </div>
                          <div class="col-sm-12">
                          <input type="text" value="{{patient.insuranceVisit.doctor}}" >
                          </div>
                          </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <p style="font-size: 12px;">
                                    (Please attach all receipts/invoices and copies of prescriptions relating to this claim including chemist bills-otherwise the <br>
                                    bill will not be settled).
                                </p>
                    

                            </div>

                        </div>
                        <div class="clearfix"></div>
                <div class="row" style="font-size: 12px;">
                    <div class="col-sm-2">Treatment given</div>
                    
                   
                    <div class="col-sm-2">consultation</div>
                    <div class="col-sm-1">
                        <input type="text">
                        </div>
                   
                    <div class="col-sm-1">Laboratory</div>
                    <div class="col-sm-1">
                        <input type="text">
                        </div>
                    <div class="col-sm-2">Dental/Optical</div>
                    <div class="col-sm-1">
                        <input type="text">
                        </div>
                    <div class="col-sm-1">Drugs</div>
                    <div class="col-sm-1">
                        <input type="text">
                        </div>

                   
                    
                </div>
                <div class="clearfix"></div>
                
                    <div class="row" >
                        <div class="col-sm-3">Total cost of treatment </div>
                        <div class="col-sm-9">
                        <input type="text">
                        </div>
                       
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p style="color: red;">
                                (For reimbursement claims,please complete the bank details form available from your HR).
                            </p>
                        </div>
    

                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div style="background-color: black; font-size: 12px;" >  
                                <p style="color: white;">
                                   MEMBER'S DECLARATION & CONSENT
                                  </p>
                              </div>

                        </div>

                    </div>
                    <div class="row"> 
                        <div class="col-sm-12">
                            <p style="font-size: 12px;">
                                I hereby confirm that all particulars stated above are true and complete. No information has been ommitd. I authorise the provider<br>
                                of service(s) to disclose the required medical information to include the nature of my illness and that of my dependants to Aon for its<br>
                                confidential use.
                            </p>

                        </div>

                    </div>
                    <!-- <div class="col-sm-2"  (click)="activateStaffSignature()">
                        PROVIDER'S SIGNATURE:
                     </div> -->
                     <!-- <div class="col-sm-3">
                         <div class="row" style="position: absolute;bottom: 0;margin-bottom: -10px;" *ngIf="signature2_show"><img src="{{signature2_src}}" width="80px" height="50px"/></div>
                     <div class="row">___________________________</div>
                 </div> -->
                    <div class="row" style=" font-size: 12px;">
                        <div class="col-sm-2" (click)="activateMemberSignature()">
                            Signed
                        </div>
                        <div class="col-sm-6"  >
                            <div class="row" style="position: absolute;bottom: 0;margin-bottom: -10px;" *ngIf="signature1_show"><img src="{{signature1_src}}" width="80px" height="50px"/></div>
                            <input type="text">
                            </div>
                      
                        <div class="col-sm-2">
                            Date:
                        </div>
                        <div class="col-sm-2" >
                            <input type="text">
                            </div>
                       
                        
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div style="background-color: black; font-size: 12px;">  
                                <p style="color: white;">
                                  DOCTOR'S CERTIFICATE
                                  </p>
                              </div>

                        </div>

                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p style="font-size: 12px;">
                                I certify that the above amounts are in accordance with my specified treatment and to nthe best of my knowlendge and<br>
                                belief the claim is approved for payment/reimbursement
                              </p>

                        </div>

                    </div>
                    <div class="clearfix"></div>
                    <div class="row" >
                        <div class="col-sm-2">
                            Name
                        </div>
                        <div class="col-sm-2" >
                            <input type="text" value="{{patient.insuranceVisit.doctor}}">
                            </div>
                      
                        <div class="col-sm-2">
                            Qualifications:
                        </div>
                        <div class="col-sm-2" >
                            <input type="text">
                            </div>
                        <div class="col-sm-2" (click)="activateStaffSignature()">
                            Signed:
                        </div>
                        <div class="col-sm-2" >
                            <div class="row" style="position: absolute;bottom: 0;margin-bottom: -10px;" *ngIf="signature2_show"><img src="{{signature2_src}}" width="80px" height="50px"/></div>

                            <input type="text">
                            </div>
                       
                        
                    </div>
                    <div class="clearfix"></div>
                    <div class="row" style=" font-size: 12px;">
                        <div class="col-sm-2">
                            Stamped
                        </div>
                        <div class="col-sm-4">
                            <input type="text">
                            </div>
                        
                      
                        <div class="col-sm-2">
                            Date:
                        </div>
                        <div class="col-sm-4">
                            <input type="text">
                            </div>
                       
                        
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div style="background-color: black; font-size: 12px;">  
                                <p style="color: white;">
                                 FOR OFFICIAL USE ONLY
                                  </p>
                              </div>


                        </div>

                    </div>
                    <div class="row" style="font-size: 12px;">
                        <div class="col-sm-4">Amount payable Ksh</div>
                        <div class="col-sm-8">
                        <input type="text" value="{{patient.insuranceVisit.claimed_amount}}">
                        </div>
                       
                    </div>
               <div class="row">
                   <div class="col-sm-12">
                    <div style="background-color: red;font-size: 12px;">  
                        <p style="color: white;">
                          Minet Kenya insurance Brokers Ltd,    Minet House,   Off Nyerere road |    P.O Box 48279-00100 Nairobi, Kenya<br>
                          (t) +254(0)204974444/0719044444    (f)2721825 |   (e)casemanagement@minet.co.ke www.minet.co.ke
                          </p>
                      </div>

                   </div>

               </div>
               <div class="row">
                   <div class="col-sm-12">
                    <div>  
                        <p style="color: black">
                         <strong>Risk.Reinsurance.People</strong>
                          </p>
                      </div>

                   </div>

               </div>
      
                </div>
               
                   
               
            
                
                
                

                
                 
                  
                
               
                
                 
                 
                  
               
                  
        </div>
    </div>
    <div class="modal fade" bsModal #clientModal="bs-modal" 
        tabindex="-1" role="dialog" aria-labelledby="dialog-static-name">
     <div class="modal-dialog modal-lg">
       <div class="modal-content">
         <div class="modal-header">
           <h4 id="dialog-static-name" class="modal-title pull-left">Edit Form</h4>
           <button type="button" class="close pull-right" aria-label="Close" (click)="clientModal.hide()">
             <span aria-hidden="true">&times;</span>
           </button>
         </div>
         <div class="modal-body">
         <form [formGroup]="clientForm"   >
           
           <div class="row">
             <div class="col-sm-4">
               <mat-form-field appearance="outline">
                 <mat-label>Surname</mat-label>
                   <input matInput placeholder="Surname" [(ngModel)]="patient.patient.last_name"  formControlName="surname" >
                 </mat-form-field>
             </div>
             <div class="col-sm-4">
               <mat-form-field appearance="outline">
                 <mat-label>First Name</mat-label>
                   <input matInput placeholder="First Name" [(ngModel)]="patient.patient.first_name"  formControlName="firstname" >
                   
                 </mat-form-field>
           </div>
           <div class="col-sm-4">
             <mat-form-field appearance="outline">
               <mat-label>Other Name</mat-label>
                 <input matInput placeholder="Other Name" [(ngModel)]="patient.patient.other_names"  formControlName="lastname">
                
               </mat-form-field>
         </div>
          
          <div class="col-sm-4">
           <mat-form-field appearance="outline" >
             <mat-label>Telephone No</mat-label>
               <input matInput placeholder="Phone" [(ngModel)]="patient.patient.phone" formControlName="phone" >
   
             </mat-form-field>
          </div>
          <div class="col-sm-4">
           <mat-form-field appearance="outline">
             <mat-label>D.O.B</mat-label>
               <input matInput placeholder="Date of Birth" [maxDate]="maxDate"  [matDatepicker]="picker" [(ngModel)]="patient.patient.dob"  formControlName="dob" >
               <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
               <mat-datepicker #picker></mat-datepicker>
             </mat-form-field>
         </div>
         <div class="col-sm-4">
           <mat-form-field appearance="outline">
             <mat-label>Membership No</mat-label>
                <input matInput placeholder="National ID" [(ngModel)]="patient.member_number" formControlName="memberno" >
              </mat-form-field>
         </div>
         <div class="col-sm-4">
           <mat-form-field appearance="outline">
             <mat-label>Email</mat-label>
                <input matInput placeholder="Email" [(ngModel)]="patient.patient.email"  formControlName="email">
           </mat-form-field>
         </div>
         <div class="col-sm-4">
            <mat-form-field appearance="outline">
              <mat-label>Date of Onset</mat-label>
                <input matInput placeholder="Date of Birth" [maxDate]="maxDate"  [matDatepicker]="picker1"  formControlName="date">
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
              </mat-form-field>
          </div>
          <div class="col-sm-4">
            <mat-form-field  appearance="outline">
              <mat-label>Doctor's Name</mat-label>
                <input matInput placeholder="Phone" [(ngModel)]="patient.insuranceVisit.doctor" formControlName="doctor" >
    
              </mat-form-field>
           </div>
           <div class="col-sm-4">
            <mat-form-field appearance="outline" >
              <mat-label>Doctor's specialty</mat-label>
                <input matInput placeholder="Phone" [(ngModel)]="patient.insuranceVisit.specialty" formControlName="specialty" >
    
              </mat-form-field>
           </div>
           <div class="col-sm-4">
            <mat-form-field appearance="outline" >
              <mat-label>Employee</mat-label>
                <input matInput placeholder="Employee"  [(ngModel)]="patient.employee" formControlName="employee" >
    
              </mat-form-field>
           </div>
           <div class="col-sm-4">
            <mat-form-field appearance="outline" >
              <mat-label>Medical Card No</mat-label>
                <input matInput placeholder="Medical Card No" [(ngModel)]="patient.card_number" formControlName="cardno" >
    
              </mat-form-field>
           </div>
          
          
          
     <div class="col-sm-8" >
     <button class="btn btn-success pull-right"  (click)="Update()">Update</button>
   </div>
           </div>
         </form>
         </div>
       </div>
     </div>
   </div>
</div>    