<div class="card" class="myDivToPrint" style="background-color: white;">
    <div class="card-body" >
        <div class="row">
            <div class="col-sm-12">
                <button class="btn btn-success" style="float: right;" (click)="printPage()">Print Claim Form</button>

                <div class="clearfix"></div>
    
            </div>
            <div class="clearfix"></div>
            <div class="clearfix"></div>
             <div class="col-sm-12">
                <button class="btn btn-success"  [disabled]="editable=='COMPLETED'"  style="float: right; margin-top: 20px;" (click)="edit()">Edit Form</button>

                
    
            </div> 
           
        </div>
        <div class="row">
            <div class="row">
                <div class="col-sm-8" style="margin: 15px;">
                    <img src="./assets/img/avatars/minet.png" alt="" height="100" width="300">
                </div>
               
                
               
                <div class="col-sm-2" style="justify-content: right;">
                    <img src="./assets/img/avatars/minet2.png" alt="" height="100" width="300">

                </div>
                
                
            </div>
           
           
           
            <div class="col-sm-12" style="margin-left: 320px; font-size: 14px; margin-top: 20px;">
                
              <h4 style="color: black;">OUTPATIENT MEDICAL CLAIM FORM</h4>
             
            </div> 
           
           
             
            
            
            <div class="col-sm-12" style="font-size: 14px; margin-top: 20px;" >
               
              <div style="background-color: black;">  
                <p style="color: white;">
                   PATIENT'S INFORMATION
                  </p>
              </div>
              
                <div class="row">
                    <div class="col-sm-2">Name of employer:</div>
                    <div class="col-sm-10">
                    <input type="text"value="{{form_data.employer}}" >
                    </div>
                    
                </div>
                <div class="clearfix"></div>

                <div class="row">
                    <div class="col-sm-2">Full Name of Employee</div>
                    <div class="col-sm-10">
                    <input type="text" value="{{form_data.member}}">
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-sm-2">Mobile number</div>
                    <div class="col-sm-2">
                    <input type="text" value="{{form_data.phone}}">
                    </div>
                    <div class="col-sm-2">Medical card No</div>
                    <div class="col-sm-2">
                    <input type="text" value="{{form_data.member_number}}">
                    </div>
                    <div class="col-sm-2">Date of Birth</div>
                    <div class="col-sm-2" >
                    <input type="text" value="{{form_data.dob | date}}">
                    </div>
                    
                </div>
                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-sm-2">Full name of Claimant</div>
                    <div class="col-sm-4">
                    <input type="text" value="{{form_data.patient }}"  >
                    </div>
                   
                </div>
                <div class="clearfix"></div>
               
                
              
               
                
            </div>
            <div class="col-sm-12" style="font-size: 14px; margin-top: 20px;">
               
                  
                <div style="background-color: black;">  
                    <p style="color: white;">
                       MEDICAL INFORMATION
                      </p>
                  </div>
                <div class="row" style="margin-top: 20px;">
                    <div class="col-sm-12">Exact nature of illness/accident/medical applications e.g Wheelchair:</div>
                    <div class="col-sm-12">
                    <input type="text" [(ngModel)]="form_data.nature_of_illness" name="nature_of_illness">
                    </div>
                    
                </div>
                <div class="clearfix"></div>
                <div class="row"style="font-size: 14px;">
                    <div class="col-sm-12">Is condition work related or occupation illness/injury? Please explain:</div>
                    <div class="col-sm-12">
                    <input type="text"  [(ngModel)]="form_data.work_occupation_related"  name="work_occupation_related">
                    </div>
                    
                </div>
                <div class="clearfix"></div>
                <div class="row" style="font-size: 14px;">
                    <div class="col-sm-4">Date when the condition was first diagnosed?</div>
                    <div class="col-sm-4">
                    <input type="text"  value="{{form_data.first_diagnosed_date | date: 'dd/MM/yyyy'}}" name="first_diagnosed_date">
                    </div>
                   
                </div>
                <div class="clearfix"></div>
                <div class="row" style="font-size: 14px;">
                    <div class="col-sm-4">Date of Previous treatment for this illness/injury</div>
                    <div class="col-sm-4">
                    <input type="text" value="{{form_data.previous_treatment_date | date: 'dd/MM/yyyy'}}" name="previous_treatment_date">
                    </div>
                   
                </div>
                <div class="clearfix"></div>
                <div class="row" style="font-size: 14px;">
                    <div class="col-sm-4">Date of current treatment?</div>
                    <div class="col-sm-4">
                    <input type="text" value="{{form_data.current_treatment_date  | date: 'dd/MM/yyyy'}}" name="current_treatment_date">
                    </div>
                   
                </div>
                <div class="clearfix"></div>
                <div class="row" style="font-size: 14px;">
                    <div class="col-sm-8">Any Underlying conditions which could result to this illness/injury</div>
                    <div class="col-sm-4">
                    <input type="text" [(ngModel)]="form_data.underlying_condition" name="underlying_condition">
                    </div>
                   
                </div>
                <div class="clearfix"></div>
                <div class="row" style="font-size: 14px;">
                    <div class="col-sm-4">was patient referred to a specialist? </div>
                    
                          <div class="col-sm-2">
                              (Y) <mat-checkbox class="example-margin" (change)="referralCheckboxChange($event,'yes')" [checked]="form_data.specialist_referral" ></mat-checkbox>
                          </div>
                          <div class="col-sm-2">
                            (N) <mat-checkbox class="example-margin"  (change)="referralCheckboxChange($event,'no')"  [checked]="!form_data.specialist_referral"></mat-checkbox>
                        </div>
                      </div>
                      <div class="clearfix"></div>
                      <div class="row" style="font-size: 14px;">
                          <div class="col-sm-12">Indicate specialist services & specialist name </div>
                          <div class="col-sm-12">
                          <input type="text" [(ngModel)]="form_data.specialist_services_name" name="specialist_services_name" >
                          </div>
                          </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <p style="font-size: 14px;">
                                    (Please attach all receipts/invoices and copies of prescriptions relating to this claim including chemist bills-otherwise the <br>
                                    bill will not be settled).
                                </p>
                    

                            </div>

                        </div>
                        <div class="clearfix"></div>
                <div class="row" style="font-size: 14px;">
                    <div class="col-sm-2">Treatment given</div>
                    
                   
                    <div class="col-sm-2">consultation</div>
                    <div class="col-sm-1">
                   
                        <mat-checkbox class="example-margin"  (change)="consultationCheckboxChange($event)"  [checked]="form_data.consultation"></mat-checkbox>   
                    </div>
                   
                    <div class="col-sm-1">Laboratory</div>
                    <div class="col-sm-1">
                        <mat-checkbox class="example-margin"  (change)="labCheckboxChange($event)"  [checked]="form_data.laboratory"></mat-checkbox>  
                       
                    </div>
                    <div class="col-sm-2">Dental/Optical</div>
                    <div class="col-sm-1">
                        <mat-checkbox class="example-margin"  (change)="dentalCheckboxChange($event)"  [checked]="form_data.dental_optical"></mat-checkbox>  
                       
                        </div>
                    <div class="col-sm-1">Drugs</div>
                    <div class="col-sm-1">
                        <mat-checkbox class="example-margin"  (change)="drugsCheckboxChange($event)"  [checked]="form_data.drugs"></mat-checkbox>  
                       
                        </div>                 
                    
                </div>
                <div class="clearfix"></div>
                
                    <div class="row" >
                        <div class="col-sm-3">Total cost of treatment </div>
                        <div class="col-sm-9">
                        <input type="text"  [(ngModel)]="form_data.total_treatment" name="total_treatment">
                        </div>
                       
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p style="color: red;">
                                (For reimbursement claims,please complete the bank details form available from your HR).
                            </p>
                        </div>
    

                    </div>
                    <div class="row" style="margin-top: 20px;">
                        <div class="col-sm-12">
                            <div style="background-color: black; font-size: 14px;" >  
                                <p style="color: white;">
                                   MEMBER'S DECLARATION & CONSENT
                                  </p>
                              </div>

                        </div>

                    </div>
                    <div class="row" style="margin-top: 20px;"> 
                        <div class="col-sm-12">
                            <p style="font-size: 14px;">
                                I hereby confirm that all particulars stated above are true and complete. No information has been ommitd. I authorise the provider<br>
                                of service(s) to disclose the required medical information to include the nature of my illness and that of my dependants to Aon for its<br>
                                confidential use.
                            </p>

                        </div>

                    </div>
                    
                    <div class="row" style=" font-size: 14px;">
                        <div class="col-sm-2" (click)="activateMemberSignature()">
                            Signed
                        </div>
                        <div class="col-sm-6"  >
                            <div class="row" style="position: absolute;bottom: 0;margin-bottom: -10px;" *ngIf="signature1_show"><img src="{{signature1_src}}" width="80px" height="50px"/></div>
                            <input type="text" >
                            </div>
                      
                        <div class="col-sm-2">
                            Date:
                        </div>
                        <div class="col-sm-2" >
                            <input type="text" value="{{form_data.member_signature_date | date}}">
                            </div>
                       
                        
                    </div>
                    <div class="row" style="margin-top: 20px;">
                        <div class="col-sm-12">
                            <div style="background-color: black; font-size: 14px;">  
                                <p style="color: white;">
                                  DOCTOR'S CERTIFICATE
                                  </p>
                              </div>

                        </div>

                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p style="font-size: 14px;">
                                I certify that the above amounts are in accordance with my specified treatment and to nthe best of my knowlendge and<br>
                                belief the claim is approved for payment/reimbursement
                              </p>

                        </div>

                    </div>
                    <div class="clearfix"></div>
                    <div class="row" >
                        <div class="col-sm-2">
                            Name
                        </div>
                        <div class="col-sm-2" >
                            <input type="text"  [(ngModel)]="form_data.practitioner" name="practitioner">
                            </div>
                      
                        <div class="col-sm-2">
                            Qualifications:
                        </div>
                        <div class="col-sm-2" >
                            <input type="text"  [(ngModel)]="form_data.practitioner_qualification" name="practitioner_qualification">
                            </div>
                        <div class="col-sm-2" (click)="activateStaffSignature()">
                            Signed:
                        </div>
                        <div class="col-sm-2" >
                            <div class="row" style="position: absolute;bottom: 0;margin-bottom: -10px;" *ngIf="signature2_show"><img src="{{signature2_src}}" width="80px" height="50px"/></div>

                            <input type="text">
                            </div>
                       
                        
                    </div>
                    <div class="clearfix"></div>
                    <div class="row" style=" font-size: 14px;">
                        <div class="col-sm-2">
                            Stamped
                        </div>
                        <div class="col-sm-4">
                            <input type="text">
                            </div>
                        
                      
                        <div class="col-sm-2">
                            Date:
                        </div>
                        <div class="col-sm-4">
                            <input  value="{{form_data.practitioner_signature_date| date}}" name="practitioner_signature_date">
                            </div>
                       
                        
                    </div>
                    <div class="row" style="margin-top: 20px;">
                        <div class="col-sm-12">
                            <div style="background-color: black; font-size: 14px;">  
                                <p style="color: white;">
                                 FOR OFFICIAL USE ONLY
                                  </p>
                              </div>


                        </div>

                    </div>
                    <div class="row" style="font-size: 14px; margin-top: 20px;"  >
                        <div class="col-sm-4">Amount payable Ksh</div>
                        <div class="col-sm-8">
                        <input type="text" [(ngModel)]="form_data.amount_payable" name="amount_payable">
                        </div>
                       
                    </div>
               <div class="row" style="margin-top: 20px;">
                   <div class="col-sm-12">
                    <div style="background-color: red;font-size: 14px; height: 60px; ">  
                        <p style="color: white;">
                          Minet Kenya insurance Brokers Ltd,    Minet House,   Off Nyerere road |    P.O Box 48279-00100 Nairobi, Kenya<br>
                          (t) +254(0)204974444/0719044444    (f)2721825 |   (e)casemanagement@minet.co.ke www.minet.co.ke
                          </p>
                      </div>

                   </div>

               </div>
               <div class="row" style="margin-top: 20px;">
                   <div class="col-sm-12">
                    <div>  
                        <p style="color: black">
                         <strong>Risk.Reinsurance.People</strong>
                          </p>
                      </div>

                   </div>

               </div>
      
                </div>
               
                   
               
            
                
                
                

                
                 
                  
                
               
                
                 
                 
                  
               
                  
        </div>
    </div>
    <div class="modal fade" bsModal #clientModal="bs-modal" 
        tabindex="-1" role="dialog" aria-labelledby="dialog-static-name">
     <div class="modal-dialog modal-xl">
       <div class="modal-content">
         <div class="modal-header">
           <h4 id="dialog-static-name" class="modal-title pull-left">Edit Form</h4>
           <button type="button" class="close pull-right" aria-label="Close" (click)="clientModal.hide()">
             <span aria-hidden="true">&times;</span>
           </button>
         </div>
         <div class="modal-body">
         <form   >
        <fieldset>

            <legend> PATIENT'S INFORMATION</legend>
           <div class="row">
             <div class="col-sm-12">
               <mat-form-field appearance="outline">
                 <mat-label>Name of Employer:</mat-label>
                   <input matInput placeholder="Name of Employer:" [(ngModel)]="form_data.employer"  name="emp" >
                 </mat-form-field>
             </div>
             <div class="col-sm-12">
               <mat-form-field appearance="outline">
                 <mat-label>Full Name of Employee</mat-label>
                   <input matInput placeholder="Full Name of Employee" [(ngModel)]="form_data.member"  name="mem" >
                   
                 </mat-form-field>
           </div>
           <div class="col-sm-4">
             <mat-form-field appearance="outline">
               <mat-label>Mobile Number</mat-label>
                 <input matInput placeholder="Mobile Number" [(ngModel)]="form_data.phone"  name="pho">
                
               </mat-form-field>
         </div>
          
          <div class="col-sm-4">
           <mat-form-field appearance="outline" >
             <mat-label>Medical Card No</mat-label>
               <input matInput placeholder="Member Card No" [(ngModel)]="form_data.member_number" name="mn" >
   
             </mat-form-field>
          </div>
          <div class="col-sm-4">
           <mat-form-field appearance="outline">
             <mat-label>Date of Birth</mat-label>
               <input matInput placeholder="Date of Birth" [maxDate]="maxDate"  [matDatepicker]="picker1" [(ngModel)]="form_data.dob"  name="dob" >
               <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
               <mat-datepicker #picker1></mat-datepicker>
             </mat-form-field>
         </div>
         <div class="col-sm-12">
           <mat-form-field appearance="outline">
             <mat-label>Full Name Of Claimant</mat-label>
                <input matInput placeholder="Full Name Of Claimant" [(ngModel)]="form_data.patient" name="pat" >
              </mat-form-field>
         </div>
        
        </div>
             
         </fieldset>
         <fieldset>
            <legend> PATIENT'S INFORMATION</legend>
         <div class="row">
         <div class="col-sm-12">
            <mat-form-field appearance="outline">
              <mat-label>Exact nature of illness/accident/medical application e.g wheelchair</mat-label>
                <textarea matInput placeholder="Exact nature of illness/accident/medical application e.g wheelchair" rows="4" [(ngModel)]="form_data.nature_of_illness" name="n_ill"></textarea>
              </mat-form-field>
          </div>
          <div class="col-sm-12">
            <mat-form-field  appearance="outline">
              <mat-label>Is condition work related or occupation illness/injury? Please explain.</mat-label>
              <textarea matInput placeholder="Is condition work related or occupation illness/injury? Please explain." rows="4" [(ngModel)]="form_data.work_occupation_related" name="wo"></textarea>
    
              </mat-form-field>
           </div>
           <div class="col-sm-4">
            <mat-form-field appearance="outline">
              <mat-label>Date when condition was first diagnosed?:</mat-label>
                <input matInput placeholder="Date when condition was first diagnosed?:" [maxDate]="maxDate"  [matDatepicker]="picker2" [(ngModel)]="form_data.first_diagnosed_date"  name="fir_d" >
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
              </mat-form-field>
          </div>
          <div class="col-sm-4">
            <mat-form-field appearance="outline">
              <mat-label>Date of previous treatment for this illness/injury?</mat-label>
                <input matInput placeholder="Date of previous treatment for this illness/injury?" [maxDate]="maxDate"  [matDatepicker]="picker3" [(ngModel)]="form_data.previous_treatment_date"  name="prv" >
                <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                <mat-datepicker #picker3></mat-datepicker>
              </mat-form-field>
          </div>
          <div class="col-sm-4">
            <mat-form-field appearance="outline">
              <mat-label>Date of current treatment?</mat-label>
                <input matInput placeholder="Date of current treatment" [maxDate]="maxDate"  [matDatepicker]="picker4" [(ngModel)]="form_data.current_treatment_date"  name="crr" >
                <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
                <mat-datepicker #picker4></mat-datepicker>
              </mat-form-field>
          </div>
           <div class="col-sm-12">
            <mat-form-field appearance="outline" >
              <mat-label>Any underlying condtions which could result to this illness/injury</mat-label>
                <input matInput placeholder=">Any underlying condtions which could result to this illness/injury" [(ngModel)]="form_data.underlying_condition" name="underlying" >
    
              </mat-form-field>
           </div>
           <div class="col-sm-12">
            <mat-form-field appearance="outline" >
              <mat-label>Indicate specialist services & specialist name</mat-label>
                <textarea matInput placeholder="Indicate specialist services & specialist name"  [(ngModel)]="form_data.specialist_services_name" name="specialist" ></textarea>
    
              </mat-form-field>
           </div>
           <div class="col-sm-12">
            <mat-form-field appearance="outline" >
              <mat-label>Total cost of treatment</mat-label>
                <input matInput placeholder="Total cost of treatment" [(ngModel)]="form_data.total_treatment" name="totla" >
    
              </mat-form-field>
           </div>
           </div>
           </fieldset>
           <fieldset>
            <legend> DOCTOR'S CERTIFICATE</legend>
            <div class="row">
                <div class="col-sm-6">
            <mat-form-field appearance="outline" >
              <mat-label>Doctor Name</mat-label>
                <input matInput placeholder="Doctor Name" [(ngModel)]="form_data.practitioner" name="pra" >
              </mat-form-field>
           </div>
          
           <div class="col-sm-6">
            <mat-form-field appearance="outline" >
              <mat-label>Doctor Qualifications</mat-label>
                <input matInput placeholder="Doctor Name" [(ngModel)]="form_data.practitioner_qualification" name="qualif" >
              </mat-form-field>
           </div>
        </div>
        </fieldset>
          
        <fieldset>
            <legend> FOR OFFICIAL USE ONLY</legend>
            <div class="row">
                <div class="col-sm-6">
            <mat-form-field appearance="outline" >
              <mat-label>Amount payable Ksh</mat-label>
                <input matInput placeholder=">Amount payable Ksh" [(ngModel)]="form_data.amount_payable" name="amo" >
              </mat-form-field>
           </div>      
          
        
        </div>
        </fieldset>
        <div class="row">
     <div class="col-sm-2" >
     <button class="btn btn-secondary pull-right"  (click)="clientModal.hide()">Close</button>
        </div>
        <div class="col-sm-2" >
            <button class="btn btn-success pull-right"  (click)="Update()">Update</button>
               </div>
           </div>
         </form>
         </div>
       </div>
     </div>
   </div>
</div>    

<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '9px' }"></ngx-loading>
     