<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-sm-3">
          
              <mat-form-field appearance="outline">
                      <mat-label>Search  text</mat-label>
                      <input matInput placeholder="search" (keyup)="search($event.target.value)">
                      <i class="icon-magnifier" matSuffix></i>
               </mat-form-field>
            </div>

            <div class="col-sm-12">
              <div class="mat-elevation-z8 table-responsive">
                <table mat-table [dataSource]="dataSource">
                      <ng-container matColumnDef="order_number">
                              <th mat-header-cell *matHeaderCellDef>Order Number </th>
                              <td mat-cell *matCellDef="let element"> {{element.order_number}} </td>
                      </ng-container>
                  <ng-container matColumnDef="test_name">
                    <th mat-header-cell *matHeaderCellDef>Test  </th>
                    <td mat-cell *matCellDef="let element"> {{element.test_name}} </td>
                  </ng-container>
          
                  <ng-container matColumnDef="test_code">
                    <th mat-header-cell *matHeaderCellDef>Test Code</th>
                    <td mat-cell *matCellDef="let element"> {{element.test_code | uppercase}} </td>
                  </ng-container>
          
                  <ng-container matColumnDef="created">
                    <th mat-header-cell *matHeaderCellDef>Visit Date</th>
                    <td mat-cell *matCellDef="let element"> {{element.created | date}} </td>
                  </ng-container>
          
                  <ng-container matColumnDef="doctor">
                    <th mat-header-cell *matHeaderCellDef>Doctor</th>
                    <td mat-cell *matCellDef="let element"> {{element.doctor}} </td>
                  </ng-container>
                  <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef>Status</th>
                    <td mat-cell *matCellDef="let element"> {{element.status}} </td>
                  </ng-container>
                  <ng-container matColumnDef="patient_no">
                    <th mat-header-cell *matHeaderCellDef>Patient Number</th>
                    <td mat-cell *matCellDef="let element"> {{element.patient_no}} </td>
                  </ng-container>
                  <ng-container matColumnDef="patient_type">
                    <th mat-header-cell *matHeaderCellDef>Patient TYpe</th>
                    <td mat-cell *matCellDef="let element"> {{element.patient_type}} </td>
                  </ng-container>
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="view(row);staticModal.show()"></tr>
                </table>
          
                <mat-paginator [pageSizeOptions]="[25,50]" showFirstLastButtons></mat-paginator>
              </div>
            </div>
            <br>
            <div class="modal fade" bsModal #staticModal="bs-modal" [config]="{backdrop: 'static'}"
     tabindex="-1" role="dialog" aria-labelledby="dialog-static-name">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
   
      <div class="modal-body">
      <div class="row">
          <div class="col-sm-12 well">
            <div class="row">
                <div class="col-sm-2"> 
                    <img src="assets/img/avatars/download.png" class="img-fluid" alt="">
                </div>
                <div class="col-sm-10">
                    <h6 class="text-success">{{patient.patient_name | uppercase}}</h6>
        
                        <div class="row">
                            <div class="col-sm-6">
                                <span class="headers"> Phone</span>
                            </div>
                            <div class="col-sm-6">
                                <span class="headers"> Date</span> : <span class="text-primary"> {{patient.date | date}}</span>
                            </div>
                            <div class="col-sm-6">
                                <span class="headers"> Encounter Number</span> : <span class="text-primary"> {{patient.patient_id}}</span>
                            </div>
                            <div class="col-sm-6">
                                <span class="headers"> Order Number</span> : <span class="text-primary"> {{test.order_number}}</span>
                            </div>
                        </div>
                        
                    
                </div>
            </div>
          
          </div>
      </div>
      <br>
      <div class="row">
          <div class="col-sm-4">
                <mat-form-field appearance="outline">
                        <mat-label> Requesting Doctor</mat-label>
                        <input matInput placeholder="Nurse doctors" [value]="test.doctor" readonly>

                 </mat-form-field>
          </div>
          <div class="col-sm-4">
                <mat-form-field appearance="outline">
                        <mat-label>Requested Test</mat-label>
                        <input matInput placeholder="Test" [value]="test.test_name" readonly>
                    
                 </mat-form-field>
          </div>
          <div class="col-sm-4">
                <mat-form-field appearance="outline">
                        <mat-label>Test Code</mat-label>
                        <input matInput placeholder="Test" [value] ="test.test_code" readonly>
                  
                 </mat-form-field>
          </div>
          <div class="col-sm-8">
            <mat-form-field appearance="outline">
                    <mat-label>Test Results</mat-label>
                    <input matInput placeholder="Test">
             </mat-form-field>
      </div>
      <div class="col-sm-12" >
            <mat-form-field appearance="outline">
                    <mat-label>Notes</mat-label>
                    <textarea matInput placeholder="Textarea" cols="5" rows="7"></textarea>
                    <i class="icon-note" matSuffix></i>
             </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
            <button class="pull-right btn btn-danger btn-sm" (click)="staticModal.hide()"> <i class="icon-close"></i> Close</button>
      </div>
    </div>
      </div>
    </div>
  </div>
</div>
          </div>
    </div>
</div>