

    <div class="container-fluid" style="z-index:1;position:fixed">

        <div class="row" >
            <div class="col-sm-12" style="height:60px;background-color:#333333">
              <!-- <h3 style="margin-top:10px;">Kimisitu Sacco</h3>
               -->
              <img src="assets/img/avatars/logo.png" alt="" style="height:60px;">
            </div>
            </div>
        </div>
        
        <div class="app-body" style="background:transparent url('assets/img/avatars/bg.jpg') no-repeat center center /cover">
        
          <main class="main d-flex align-items-center">
            <div class="container">
              <div class="row">
                <div class="col-md-4 mx-auto">
                  <div class="card-group">
                    <div class="card p-4">
                      <div class="card-body">
                        <form>
                          <h1 align="center">Login</h1>
                          <!-- <h3 align="center"> <img src="../../../assets/img/avatars/Logo_2.jpg" alt=""></h3> -->

                          <h1  align ="center"> 
                              <span class="icon-lock-open details-favoriteicon" aria-hidden="true"></span></h1>
                          <style>
                          .details-favoriteicon {
                            color: #A6CF39;
                            /* border: 3px solid dodgerblue; */
                            
                            font-size: 70px;
                          }</style>
                          <div class="input-group mb-3">
                            <div class="input-group-prepend">
                              <span class="input-group-text"><i class="icon-user"></i></span>
                            </div>
                            <input type="text" class="form-control" name="username" placeholder="Username" [(ngModel)] = "data.email" autocomplete="username" required>
                          </div>
                          <div class="input-group mb-4">
                            <div class="input-group-prepend">
                              <span class="input-group-text"><i class="icon-lock"></i></span>
                            </div>
                            <input type="password" name="password" class="form-control" [(ngModel)]="data.password" placeholder="Password" autocomplete="current-password" (keyup.enter)="login()" required>
                          </div>
                          <div class="row">
                            <div class="col-sm-12">
                              <button type="button"  class="btn btn-primary" style="width:100%" (click)="login()" [disabled]="data.password == ''&& data.username == ''">Login</button>
                            </div>

                            <div class="col-sm-12" style="margin-top: 10px;">
                              <h6 align="center">You Dont have account?<br><i><span style="color: #20a8d8;" (click)="RegisterAccount()">Register</span></i></h6>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                 
                  </div>
                </div>
              </div>
            </div>
          </main>
          <div class="modal fade" bsModal #staticModal="bs-modal" [config]="{backdrop: 'static'}"
     tabindex="-1" role="dialog" aria-labelledby="dialog-static-name">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-body">
        <div class="modal-header bg-success">
          <h5>
          <span>Reset Password</span>
          </h5>
          <button type="button" class="close" (click)="staticModal.hide()" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          </button>
          </div>

        <div class="row">
          <!-- <div class="col-sm-12">
            <h6 class="text-success">Please Enter your E</h6>
            <button type="button" class="close" (click)="staticModal.hide()" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
              </button>
          </div> -->
          <style type="text/css">
            mat-form-field{
              width: 100%;
            }
          </style>
          <!-- <p style="margin-left: 10px; margin-top:10px">
            Did You Forgot Your password.
          </p> -->
          
          <p style="margin-left: 10px; margin-top:10px">
            Please Enter the Email Address You registered with.<br>

          </p>
          <p style="margin-left: 10px; margin-top:10px">
            We are sending Your Account Credentials to your Email Address.<br>
            
          </p>
          
          <div class="col-sm-12" >
            <mat-form-field appearance="outline">
              <mat-label>Reset Email</mat-label>
              <input type="text" matInput placeholder="Email" [(ngModel)]="resetData.email">
            </mat-form-field>
          </div>
          <!-- <div class="col-sm-12">
              <mat-form-field>
                  <input type="password" matInput placeholder="Password" [(ngModel)]="resetData.pass1">
                </mat-form-field>
            </div> -->
          <!-- <div class="col-sm-12">
              <mat-form-field>
                  <input type="password" matInput placeholder="Re enter Password" [(ngModel)]="resetData.pass2">
                </mat-form-field>
           </div> -->
        
          <div class="col-sm-12">
            <br>
            <button class="btn btn-success pull-right" (click)="reset()">Reset</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
        </div>
        

      <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '9px' }"></ngx-loading>
      <!-- <lib-ngx-notification></lib-ngx-notification> -->

