<div class="card" class="myDivToPrint" style="background-color: white;">
    <div class="card-body" >
      <div class="row" style="width:100%;justify-content: right;">
        <div class="col-sm-2">
          <button class="btn btn-success" style="float: right;" (click)="edit()">Edit Form</button>     
      </div>
     
          <div class="col-sm-3">
              <button class="btn btn-success" style="float: right;" (click)="printPage()">Print Claim Form</button>        
  
          </div>
                 
                    </div>
        
           
            <div class="col-sm-2">
                <h5 style="margin-left: 0;">
                    <img src="./assets/img/avatars/uaptop.png" alt="" height="300" width="950">
                   
                     
                   
                </h5>
                
             
            </div> 
            
              
            
              <div class="col-sm-12" style="font-size: 14px; margin-top: 20px;">
               
               
                <div class="row" style="font-size: 14px;">
                    <div class="col-sm-2">Practitioners Name</div>
                    <div class="col-sm-6">
                                
                                
                      <div class="row" style="position: absolute;bottom: -1; margin-left: 20px;">
                          <strong>{{form_data.practitioner}} </strong>
                      </div> <hr>
                  </div>
                   
                   
                    <div class="col-sm-4"><strong>Practitioner's Official Stamp</strong></div>
                    
                </div>
                <div class="clearfix"></div>
                <div class="row" style="font-size: 14px;">
                    <div class="col-sm-2">Postal Address</div>
                    <div class="col-sm-6">
                                
                                
                      <div class="row" style="position: absolute;bottom: -1; margin-left: 20px;">
                          <strong>{{form_data.practitioner_postal_address}} </strong>
                      </div> <hr>
                  </div>
                  
                    
                    
                </div>
                <div class="clearfix"></div>
                <div class="row" style="font-size: 14px;">
                    <div class="col-sm-2">Tel No</div>
                    <div class="col-sm-2">
                                
                                
                      <div class="row" style="position: absolute;bottom: -1; margin-left: 20px;">
                          <strong>{{form_data.practitioner_tel_no}}</strong>
                      </div> <hr>
                  </div>
                   
                   
                    <div class="col-sm-2">Mobile</div>
                    <div class="col-sm-2">
                                
                                
                      <div class="row" style="position: absolute;bottom: -1; margin-left: 20px;">
                          <strong>{{form_data.practitioner_phone}}</strong>
                      </div> <hr>
                  </div>
                   
                </div>
                <div class="clearfix"></div>
                <div class="row" style="font-size: 14px;">
                    <div class="col-sm-2">Email</div>
                   
                    <div class="col-sm-6">
                                
                                
                      <div class="row" style="position: absolute;bottom: -1; margin-left: 20px;">
                          <strong>{{form_data.practitioner_email}}</strong>
                      </div> <hr>
                  </div>
                   
                </div>

               
                <div class="clearfix"></div>

                
               
                    <p style="justify-content: center;  color: green; font-size: 20px; margin-left: 2px; margin-top: 20px;">PATIENT'S PARTICULARS</p>
    
                   
                
                <div class="clearfix"></div>
                <div class="row" style="font-size: 14px;">
                    <div class="col-sm-3">Full Name of Patient</div>
                    
                    <div class="col-sm-3">
                                
                                
                      <div class="row" style="position: absolute;bottom: -1; margin-left: 20px;">
                          <strong>{{form_data.patient}}</strong>
                      </div> <hr>
                  </div>
                    
                    <div class="col-sm-3">Date of Birth</div>
                    
                    <div class="col-sm-3">
                                
                                
                      <div class="row" style="position: absolute;bottom: -1; margin-left: 20px;">
                          <strong>{{form_data.dob |date}}</strong>
                      </div> <hr>
                  </div>
                </div>
                
                <div class="clearfix"></div>
                <div class="row" style="font-size: 14px;">
                    <div class="col-sm-4">Full Name of Member(if patient is a dependant)</div>
                    <div class="col-sm-8">
                                
                                
                      <div class="row" style="position: absolute;bottom: -1; margin-left: 20px;">
                          <strong> {{form_data.member}}</strong>
                      </div> <hr>
                  </div>
                    
                    
                </div>
                <div class="clearfix"></div>
                <div class="row" style="font-size: 14px;">
                    <div class="col-sm-3">Members's Tel No</div>
                    <div class="col-sm-3">
                                
                                
                      <div class="row" style="position: absolute;bottom: -1; margin-left: 20px;">
                          <strong> {{form_data.phone}}</strong>
                      </div> <hr>
                  </div>
                    
                    <div class="col-sm-3">Member No</div>
                    <div class="col-sm-3">
                                
                                
                      <div class="row" style="position: absolute;bottom: -1; margin-left: 20px;">
                          <strong>{{form_data.member_number}}</strong>
                      </div> <hr>
                  </div>
                   
                </div>
                <div class="clearfix"></div>
                <div class="row" style="font-size: 14px;">
                    <div class="col-sm-3">Member's Employer Name</div>
                   
                    <div class="col-sm-3">
                                
                                
                      <div class="row" style="position: absolute;bottom: -1; margin-left: 20px;">
                          <strong>{{form_data.employer}}</strong>
                      </div> <hr>
                  </div>
                   
                    <div class="col-sm-3">Dept./Branch</div>
                    
                    <div class="col-sm-3">
                                
                                
                      <div class="row" style="position: absolute;bottom: -1; margin-left: 20px;">
                          <strong>{{form_data.department}}</strong>
                      </div> <hr>
                  </div>
                    
                </div>
                <div class="clearfix"></div>
                <div class="row" style="position: relative;" style="font-size: 14px;">
                    <div class="col-sm-4">Have you suffered from this sickness in the past?</div>
                    
                    <div class="col-sm-2">
                        <mat-checkbox class="example-margin"  (change)="checkBoxsickness_firsttime($event,'yes')" [checked]="form_data.sickness_firsttime" ></mat-checkbox>
                        YES
                    </div>
                    <div class="col-sm-2">
                     <mat-checkbox class="example-margin"  (change)="checkBoxsickness_firsttime($event,'no')" [checked]="!form_data.sickness_firsttime"></mat-checkbox>
                    NO
                  </div>
                    
                </div>
                <div class="row" style="position: relative; font-size: 14px;">
                    <div class="col-sm-4">If YES, when did it start and how frequent is it?</div>
                    <div class="col-sm-8">
                                
                                
                      <div class="row" style="position: absolute;bottom: -1; margin-left: 20px;">
                          <strong>{{form_data.when_frequency }}</strong>
                      </div> <hr>
                  </div>
                    
                   
                    
                </div>
                   
                
            </div>
            <div class="clearfix"></div>
            <div class="clearfix"></div>
           

            <div class="col-sm-12" style="font-size: 14px; margin-top: 20px;">
               
                <h6 style="justify-content: center;  color: green;">CONSULTATION/REFERRALS<br>DIAGNOSIS:</h6>

               
              </div> 
              <div class="clearfix"></div>
              <div class="col-sm-8" style="font-size: 14px;">
               
                <h6 style="justify-content: center;  color: black;">TREATMENT PRESCRIBED</h6>

               
              </div> 
              <div class="clearfix"></div>
              <div class="col-sm-12">
                <div class="row" style="font-size: 14px;">
                    <strong><div class="col-sm-2">MEDICINES</div></strong>
                    <div class="col-sm-3">
                        Prescription
                        <mat-checkbox class="example-margin"  (change)="checkBoxPrescription($event)" [checked]="form_data.prescription" ></mat-checkbox>
                        
                    </div>
                   
                    <div class="col-sm-3">
                        Injection given
                        <mat-checkbox class="example-margin"  (change)="checkBoxInjection($event)" [checked]="form_data.injection" ></mat-checkbox>
                        
                    </div>
                    
                    <div class="col-sm-2">
                        Dispensed
                        <mat-checkbox class="example-margin"   (change)="checkBoxDispensed($event)" [checked]="form_data.dispensed"></mat-checkbox>
                        
                    </div>
                   
                    <div class="col-sm-2">
                        None
                        <mat-checkbox class="example-margin"  (change)="checkBoxNone($event)" [checked]="form_data.none" ></mat-checkbox>
                        
                    </div>
                   
                    
                </div>
                <div class="clearfix"></div>
                <div class="row" style="font-size: 14px;">
                    <strong><div class="col-sm-2">RADIOLOGY</div></strong>
                    
                   
                    <div class="col-sm-3">
                        X-Ray
                        <mat-checkbox class="example-margin"  (change)="checkBoxXray($event)"  [checked]="form_data.xray"></mat-checkbox>
                        
                    </div>
                    <div class="col-sm-3">
                        MRI/Cat scan
                        <mat-checkbox class="example-margin"   (change)="checkBoxMri($event)" [checked]="form_data.mri" ></mat-checkbox>
                        
                    </div>
                   
                   
                    <div class="col-sm-2">
                        Other
                        <mat-checkbox class="example-margin"  (change)="checkBoxOther($event)" [checked]="form_data.other"></mat-checkbox>
                        
                    </div>
                    
                  <div class="col-sm-2">
                    Other
                    <mat-checkbox class="example-margin"   (change)="checkBoxOther($event)" [checked]="form_data.other"></mat-checkbox>
                    
                </div>
                    
                </div>
                <div class="clearfix"></div>
                <div class="row" style=" font-size: 14px;">
                    <strong><div class="col-sm-2">PATHOLOGY</div></strong>
                    
                  
                    <div class="col-sm-3">
                      Haematology
                        <mat-checkbox class="example-margin" (change)="checkBoxHaematology($event)"  [checked]="form_data.haematology"></mat-checkbox>
                        
                    </div>
                    <div class="col-sm-3">
                      Microbiology
                        <mat-checkbox class="example-margin"  (change)="checkBoxMicrobiology($event)"  [checked]="form_data.microbiology" ></mat-checkbox>
                        
                    </div>
                   
                    <div class="col-sm-2">
                       Biochemstry
                        <mat-checkbox class="example-margin" (change)="checkBoxBiochemistry($event)"  [checked]="form_data.biochemistry"></mat-checkbox>
                        
                    </div>
                   
                  <div class="col-sm-2">
                    Histology
                    <mat-checkbox class="example-margin"  (change)="checkBoxHistology($event)" [checked]="form_data.histology"></mat-checkbox>
                    
                </div>
                    
                </div>
                <div class="clearfix"></div>
 
                <div class="row" style="font-size: 14px; margin-top: 20px;">
                    <div class="col-sm-2">
                        Hospital Name:</div>
                        <div class="col-sm-2">
                                
                                
                          <div class="row" style="position: absolute;bottom: -1; margin-left: 15px;">
                              <strong> {{form_data.hospital}}</strong>
                          </div> <hr>
                      </div>
                        
                       
                    <div class="col-sm-2">
                      Consultant Referred To:
                    </div>
                    <div class="col-sm-3">
                                
                                
                      <div class="row" style="position: absolute;bottom: -1; margin-left: 15px;">
                          <strong>{{form_data.consultant}}</strong>
                      </div> <hr>
                  </div>
                    
                    <div class="col-sm-1">
                        Specialty
                     </div>
                     <div class="col-sm-2">
                                
                                
                      <div class="row" style="position: absolute;bottom: -1; margin-left: 20px;">
                          <strong>{{form_data.speciality}}</strong>
                      </div> <hr>
                  </div>
                    
                    
                </div> 
            </div>
              
            <div class="clearfix"></div>
            
           
          

            <div class="col-sm-12" style="margin-top: 20px;" >
               
                <h6 style="justify-content: center;  color: black;">MEDICATION PRESCRIBED:</h6>
               
                
               
              
              </div>
             
              <div class="col-sm-12">
                          
                          
                <div class="row" style="position: absolute;bottom: -1; margin-left: 20px;">
                  <!-- <span *ngFor="let item of patient.insuranceVisit.services.procedure"> <strong> <span>{{item.name}} {{item.amount}} </span> </strong>       </span> -->
                {{form_data.medication}}
                </div> <hr> <hr><hr>
            </div>
              <div class="clearfix"></div>
            <div class="row" style="margin-left: 5px; margin-top: 20px;">
              <div class="col-sm-2" (click)="activateStaffSignature()" style="font-size: 14px;">
                Dr's Signature:
            </div>
            <div class="col-sm-5" >
                <div class="row" style="position: absolute;bottom: 0;margin-bottom: 0px;" *ngIf="signature2_show"><img src="{{signature2_src}}" width="80px" height="50px"/></div>
            <hr>
        </div>
               
                <div class="col-sm-2" style="font-size: 14px;"><strong>
                    Date

                </strong>

                </div>
                <div class="col-sm-2">
                                
                                
                  <div class="row" style="position: absolute;bottom: -1; margin-left: 20px;">
                      <strong>{{form_data.practitioner_signature_date |date:"MMM d, y"}}</strong>
                  </div> <hr>
              </div>

            </div>
                <div class="clearfix"></div>
                
           

            <div class="row" style="  margin-left: 1px; margin-top: 20px;">
                <div class="col-sm-12" style="font-size: 14px;">
                   <strong> Declaration:<br></strong>
                   I warrant the truth of the above statements. I have not withheld or misstated material information relating to this claim and have <br>no objection to yourselves communicating with 
                   my medical doctor with regards to this claim.
                </div>
            </div> 
            <div class="clearfix"></div>

            <div class="clearfix"></div>
          
                
                 <div class="col-sm-12">
                 <div class="row">
                  <div class="col-sm-2" style="font-size: 14px;" (click)="activateMemberSignature()">
                    <strong>   Member's Signature</strong></div>
                   <div class="col-sm-4">
                     <div class="row" style="position: absolute;bottom: 0;margin-bottom: -10px;" *ngIf="signature1_show"><img src="{{signature1_src}}" width="80px" height="50px"/></div>
                 <hr>
             </div>
                   <div class="col-sm-2" style="font-size: 14px;">
                      <strong> Date:</strong>

                </div>
                <div class="col-sm-2">
                                
                                
                  <div class="row" style="position: absolute;bottom: -1; margin-left: 20px;">
                      <strong>{{patient.member_signature_date | date:"MMM d, y"}}</strong>
                  </div> <hr>
              </div>

                 </div>

                 </div>
             
                <div class="clearfix"></div>
                <div class="clearfix"></div>
              
             
                    <div class="col-sm-12"  >
                        <div class="row"  >
                            <div class="col-sm-12" style="justify-content: center; font-size: 14px; margin-top: 50px; align-items: center; ">
    
                            <strong>
                                    UAP Insurance Company Limited
                                </strong><br>  
                                UAP Old Mutual Tower, Upperhill Road. P.O BOX 43013-00100 Nairobi, Tel:+254711065100/+254202850000<br>                           
                                Email:uapoutpatient@uapoldmutual.com Website:uapoldmutual.com
                            
    
                            </div>
                      </div>
                     
                       </div>

                       <div class="clearfix"></div>
                <div class="clearfix"></div>
                <div class="clearfix"></div>
                
                   
                   <div class="col-sm-12" style="text-align: center; font-size: 14px; background-color: rgb(199, 194, 194); margin-top: 70px; height: 100px;" >
                    <div class="row">
                        <div class="col-sm-12" >

                            ISO 9001 Certified | A Member of the Association of Kenya Insurers(AKI)<br>
                            <span style="margin-left:60px;"> Regulated by the Insurance Regulatory Authority </span>
                        

                        </div>
                  </div>
                   </div>

       
    
   
</div>  
   
</div>
<div class="modal fade" bsModal #clientModal="bs-modal" 
tabindex="-1" role="dialog" aria-labelledby="dialog-static-name">
<div class="modal-dialog modal-xl">
<div class="modal-content">
 <div class="modal-header">
   <h4 id="dialog-static-name" class="modal-title pull-left">Edit Form</h4>
   <button type="button" class="close pull-right" aria-label="Close" (click)="clientModal.hide()">
     <span aria-hidden="true">&times;</span>
   </button>
 </div>
 <div class="modal-body">
 <form  >
   <!-- <div class="col-sm-12"  style="background-color: green; color: white; text-align: center; "> -->
     <!-- <div class="row" style="justify-content: center ; height: 30px; align-items: center;"> -->
       <!-- PATIENT INFORMATION -->

     <!-- </div> -->

   <!-- </div> -->
   
   <div class="col-sm-12" style="margin-top: 10px;">
    <fieldset>
      <legend>PATIENT INFORMATION</legend>
   <div class="row">
   
      <div class="col-sm-6">
        <mat-form-field appearance="outline">
          <mat-label>Patient Full Name</mat-label>
            <input matInput placeholder="Full Name" [(ngModel)]="form_data.patient"  name="patient_name" >
          </mat-form-field>
      </div>
      
        <div class="col-sm-6">
          <mat-form-field appearance="outline">
            <mat-label>D.O.B</mat-label>
              <input matInput placeholder="Date of Birth" [maxDate]="maxDate"  [matDatepicker]="picker" [(ngModel)]="form_data.dob"  name="dob" >
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>
        
      <div class="col-sm-6">
        <mat-form-field appearance="outline">
          <mat-label>Member Name</mat-label>
            <input matInput placeholder="Member Name" [(ngModel)]="form_data.member"  name="member" >
            
          </mat-form-field>
    </div>
    <div class="col-sm-6">
      <mat-form-field appearance="outline">
        <mat-label>Membership No</mat-label>
           <input matInput placeholder="Membership No" [(ngModel)]="form_data.member_number" name="memberno" >
         </mat-form-field>
    </div>
  

      <div class="col-sm-6">
      <mat-form-field appearance="outline">
        <mat-label>Employer</mat-label>
          <input matInput placeholder="Employer" [(ngModel)]="form_data.employer"  name="employer">
         
        </mat-form-field>
  </div>

  <div class="col-sm-6">
    <mat-form-field appearance="outline">
      <mat-label>Department/Branch</mat-label>
        <input matInput placeholder="Department/Branch" [(ngModel)]="form_data.department"  name="department">
       
      </mat-form-field>
</div>
  
   
   <div class="col-sm-6">
    <mat-form-field appearance="outline" >
      <mat-label> when  did  sickness  start and how  frequent is it</mat-label>
        <input matInput placeholder="when  did  sickness  start and how  frequent is it" [(ngModel)]="form_data.when_frequency" name="when_frequency" >
 
      </mat-form-field>
   </div>
</div>
    </fieldset>


    <fieldset>
      <legend>CONSULTATION/REFERRALS DIAGNOSIS</legend>
      <div class="row">
          <div class="col-sm-6">
    <mat-form-field appearance="outline" >
      <mat-label>Hospital Name</mat-label>
        <input matInput placeholder="Employee"  [(ngModel)]="form_data.hospital" name="hospital" >

      </mat-form-field>
   </div>
   <div class="col-sm-6">
    <mat-form-field appearance="outline" >
      <mat-label>Consultant Referred To</mat-label>
        <input matInput placeholder="Medical Card No" [(ngModel)]="form_data.consultant" name="consultant" >

      </mat-form-field>
   </div>

 

  <div class="col-sm-6">
    <mat-form-field appearance="outline" >
      <mat-label>Speciality</mat-label>
        <input matInput placeholder="Speciality" [(ngModel)]="form_data.speciality" name="onset" >

      </mat-form-field>
   </div>
   
   
   
   <div class="col-sm-6">
    <mat-form-field appearance="outline">
     
         <mat-label>Medication Prescribed:</mat-label>
         <textarea  [(ngModel)]="form_data.medication"  name="medication" matInput placeholder="Medication Prescribed"></textarea>
     
      </mat-form-field>
  </div>
</div>
   </fieldset>
   
   


  <!-- <div class="col-sm-12"  style="background-color: green; color: white; text-align: center; "> -->
  <!-- <div class="row" style="justify-content: center ; height: 30px; align-items: center;"> -->
    <!-- DOCTOR INFORMATION -->

  <!-- </div> -->

<!-- </div> -->
<fieldset>
  <legend>PRACTITIONER INFORMATION</legend>
 <div class="row" style="margin-top: 10px;">
  <div class="col-sm-6">
    <mat-form-field appearance="outline">
      <mat-label>Practitioner Name</mat-label>
         <input matInput placeholder="Email" [(ngModel)]="form_data.practitioner"  name="practitioner">
    </mat-form-field>
  </div>
  
   <div class="col-sm-6">
     <mat-form-field  appearance="outline">
       <mat-label>Practitioner Postal Address </mat-label>
         <input matInput placeholder="Practitioner Postal Address" [(ngModel)]="form_data.practitioner_postal_address" name="practitioner_postal_address" >
 
       </mat-form-field>
    </div>

 
    <div class="col-sm-6">
      <mat-form-field  appearance="outline">
        <mat-label>Practitioner Tel No </mat-label>
          <input matInput placeholder="Phone" [(ngModel)]="form_data.practitioner_tel_no" name="practitioner_tel_no" >
        </mat-form-field>
     </div>
     <div class="col-sm-6">
      <mat-form-field  appearance="outline">
        <mat-label>Practitioner Mobile </mat-label>
          <input matInput placeholder="Phone" [(ngModel)]="form_data.practitioner_phone" name="practitioner_phone" >
        </mat-form-field>f
     </div>
     <div class="col-sm-6">
      <mat-form-field  appearance="outline">
        <mat-label>Practitioner Email</mat-label>
          <input matInput placeholder="Phone" [(ngModel)]="form_data.practitioner_email" name="practitioner_email" >
        </mat-form-field>
     </div>
</div>
</fieldset> 
  

   
  
  
  
<div class="col-sm-8" >
<button class="btn btn-success pull-right"  (click)="Update()">Update</button>
</div>
   </div>
 </form>
 </div>
</div>
</div>
</div> 
           
              
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '9px' }"></ngx-loading>
     