    // fieldset 
	// {
	// 	border: 1px solid #ddd !important;
	// 	margin: 0;
	// 	// xmin-width: 0;
	// 	padding: 10px;       
	// 	position: relative;
	// 	border-radius:4px;
	// 	padding-left:10px!important;
	// }	

legend
{
font-size:12px;
font-weight:bold;
margin-bottom: 0px; 
width:25%; 
border: 1px solid #ddd;
border-radius: 4px; 
padding: 5px 5px 5px 10px; 
background-color: #ffffff;
}


mat-form-field{
	width: 100%;
	font-size: 12px;
}
.circle {
	display: inline-block;
	border-radius: 60px;
	box-shadow: 0px 0px 2px ;
	padding: 0.5em 0.6em;
	background-color: aquamarine;
	color: green;
  
  }
table{
	width: 100%;
	font-family: lato light;
}
td{
	font-weight: bold;
	font-size: 14px;
}
th{
	font-weight: bolder;
	font-size: 17px;

}
::ng-deep { .cdk-global-overlay-wrapper, .cdk-overlay-container { z-index: 9999!important; } }


  