
mat-form-field{
	width: 100%;
	font-size: 12px;
}
.circle {
	display: inline-block;
	border-radius: 60px;
	box-shadow: 0px 0px 2px ;
	padding: 0.5em 0.6em;
	background-color: aquamarine;
	color: green;
  
  }
  tr.mat-row, tr.mat-footer-row {
	height: 39px;
  }

td{
	font-weight:400px;
	font-size: 12px;
}
th{
	font-weight: bold;
	font-size: 12px;

}
::ng-deep { .cdk-global-overlay-wrapper, .cdk-overlay-container { z-index: 9999!important; } }
mat-card-title{
	font-family: lato light;
	font-size:  14px;
	color: #20a8d8 !important;
	font-weight: bolder;
}
mat-card{
	width: 100%;
}

div{
	font-family: lato light;
}
label{
	font-weight: bold;
}
input[type="text"]{
	color: red;
	font-weight: bolder;
}
table {
	width: 100%;
	font-family: "Open Sans", Tahoma, sans-serif;
}