<mat-horizontal-stepper>
    <mat-step label="Provider Details" state="phone">
     <div class="row">
        <div class="col-sm-6">
            <div class="row">
              <div class="col-sm-4">
                <mat-form-field appearance="outline">
                    <mat-label>Provider Name</mat-label>
                <input type="text" matInput placeholder="Provider Name" [(ngModel)]="hospital.name">
                </mat-form-field>
                </div>
                <div class="col-sm-4">
                    <mat-form-field appearance="outline">
                        <mat-label>Registration No</mat-label>
                    <input type="text" matInput placeholder="Provider Name" [(ngModel)]="hospital.reg_no">
                    </mat-form-field>
                    </div>
                    <div class="col-sm-4">
                        <mat-form-field appearance="outline">
                            <mat-label>Provider Type</mat-label>
                        <input type="text" matInput placeholder="Provider Type" [(ngModel)]="hospital.provider_type">
                        </mat-form-field>
                        </div>   
                <div class="col-sm-4">
                <mat-form-field appearance="outline">
                    <mat-label>Location</mat-label>
                <input type="text" matInput placeholder="Location" [(ngModel)]="hospital.location">
                </mat-form-field>
                </div>
                <div class="col-sm-4">
                    <mat-form-field appearance="outline">
                        <mat-label>Email</mat-label>
                    <input type="text" matInput placeholder="Provider Email" [(ngModel)]="hospital.email">
                    </mat-form-field>
                    </div>
                <div class="col-sm-4">
                <mat-form-field appearance="outline">
                    <mat-label>Postal Address</mat-label>
                  <input type="text" matInput placeholder="Address" [(ngModel)]="hospital.postal_address">
                </mat-form-field>
                </div>
                <div class="col-sm-4">
                    <mat-form-field appearance="outline">
                        <mat-label>Contact Number</mat-label>
                      <input type="text" matInput placeholder="Contact No"  [(ngModel)]="hospital.contact_number">
                    </mat-form-field>
                    </div>
              <div class="col-sm-4">
    
                  <mat-form-field appearance="outline">
                      <mat-label>Country</mat-label>
                    <input type="text" matInput placeholder="country"  [(ngModel)]="hospital.country">
                  </mat-form-field>
                  </div> 
                  <div class="col-sm-4">
                      <mat-form-field appearance="outline">
                        <mat-label>County</mat-label>
                        <input type="text" matInput placeholder="County"  [(ngModel)]="hospital.county">
                      </mat-form-field>
                      </div>       
            
            </div>
          </div>
          <div class="col-sm-6">
            <div class="row">
              
              <div class="col-sm-6">
                  <mat-card>
                      <div class="frame">
                          <img src="../../../../assets/img/avatars/logo.png" alt="">
                      </div>
                  </mat-card>
                  <div class="row">
                    <div class="col-sm-12">
                      <button mat-raised-button style="margin-top: 10px;" color="primary"> <mat-icon>create</mat-icon> change logo</button>
                    </div>
                  </div>
              </div>
              <div class="col-sm-6">
                <div class="row">
                  <div class="col-sm-12">
                    <mat-form-field appearance="outline">
                      <mat-label>Provider Vission</mat-label>
                      <textarea  matInput rows="3" placeholder="Mission"></textarea>
                    </mat-form-field>
                  </div>
                  <div class="col-sm-12">
                      <mat-form-field appearance="outline">
                          <mat-label>Provider Statement</mat-label>
                          <textarea  matInput rows="3" placeholder="Motto" ></textarea>
                        </mat-form-field>
                  </div>
                </div>
              </div>
            </div>
          </div>
     </div>
    </mat-step>
    <mat-step label="Branches" state="user">
      <br>
      <div class="row">
          <div class="col-sm-2">
              <mat-form-field>
              <input type="text" matInput placeholder="Search">
              </mat-form-field>
            </div>
            <div class="col-sm-1">
                <button mat-mini-fab> <i class="fa fa-plus"></i></button>
              </div>
      </div>
            <div class="col-sm-12 mat-elevation-z8">
               <table mat-table [dataSource]="hospitalList" #uSort="matSort"  matSort>
                   <ng-container matColumnDef="name">
                   <th mat-header-cell *matHeaderCellDef mat-sort-header> Name. </th>
                   <td mat-cell *matCellDef="let element"> {{element.name | uppercase}} </td>
                   </ng-container>
                   <ng-container matColumnDef="provider_type">
                   <th mat-header-cell *matHeaderCellDef mat-sort-header>Provider Type</th>
                   <td mat-cell *matCellDef="let element"> {{element.provider_type}} </td>
                   </ng-container>

                   <ng-container matColumnDef="reg_no">
                   <th mat-header-cell *matHeaderCellDef mat-sort-header>Registration No</th>
                   <td mat-cell *matCellDef="let element"> {{element.reg_no}} </td>
                   </ng-container>
                   <ng-container matColumnDef="contact_number">
                   <th mat-header-cell *matHeaderCellDef mat-sort-header>Contact Number</th>
                   <td mat-cell *matCellDef="let element"> {{element.contact_number}} </td>
                   </ng-container>
                   <ng-container matColumnDef="email">
                   <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
                   <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                   </ng-container>
                   <ng-container matColumnDef="country">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>Country</th>
                      <td mat-cell *matCellDef="let element"> {{element.country}} </td>
                      </ng-container>
                      <ng-container matColumnDef="county">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header>County</th>
                          <td mat-cell *matCellDef="let element"> {{element.county}} </td>
                          </ng-container>
                   <ng-container matColumnDef="location">
                   <th mat-header-cell *matHeaderCellDef mat-sort-header>Location</th>
                   <td mat-cell *matCellDef="let element"> {{element.location}} </td>
                   </ng-container>
                   <ng-container matColumnDef="physical_address">
                   <th mat-header-cell *matHeaderCellDef mat-sort-header>Physical Address</th>
                   <td mat-cell *matCellDef="let element"> {{element.postal_address}} </td>
                   </ng-container>  
                   <ng-container matColumnDef="postal_code">
                       <th mat-header-cell *matHeaderCellDef >Postal code</th>
                       <td mat-cell *matCellDef="let element"> 
                          {{element.postal_code}} 
                       </td>
                   </ng-container> 
                   <tr mat-header-row *matHeaderRowDef="hospitalColumns"></tr>
                   <tr mat-row *matRowDef="let row; columns: hospitalColumns;"></tr>
                 </table>
            </div>
            
    </mat-step>
    <mat-step label="Users" state="user">
        <br>
       
            <div class="col-sm-12">
              <div class="row">
                <div class="col-sm-4">
                  <mat-form-field>
                  <input type="text" matInput placeholder="Search">
                  </mat-form-field>
                </div>
                <div class="col-sm-2">
                  <button mat-mini-fab (click)="userModal.show()"> <i class="fa fa-plus"></i></button>
                </div>
              </div>
               <div class="row">
                 <div class="col-sm-12 mat-elevation-z8">
                    <table mat-table [dataSource]="dataSource" #uSort="matSort"  matSort>
                        <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name. </th>
                        <td mat-cell *matCellDef="let element"> {{element.name | uppercase}} </td>
                        </ng-container>
                        <ng-container matColumnDef="username">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>username</th>
                        <td mat-cell *matCellDef="let element"> {{element.username}} </td>
                        </ng-container>

                        <ng-container matColumnDef="phone">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Phone</th>
                        <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
                        </ng-container>
                        <ng-container matColumnDef="email">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
                        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                        </ng-container>
                        <ng-container matColumnDef="role">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Role</th>
                        <td mat-cell *matCellDef="let element"> {{element.role}} </td>
                        </ng-container>
                        <ng-container matColumnDef="department">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Department </th>
                        <td mat-cell *matCellDef="let element"> {{element.department}} </td>
                        </ng-container>
                        <ng-container matColumnDef="speciality">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Speciality</th>
                        <td mat-cell *matCellDef="let element"> {{element.speciality | lowercase}} </td>
                        </ng-container>  
            
                        <ng-container matColumnDef="status">
                            <th mat-header-cell *matHeaderCellDef >Status</th>
                            <td mat-cell *matCellDef="let element"> <button mat-raised-button color="warn" *ngIf="!element.is_active">INACTIVE</button>
                              <button mat-raised-button class="btn btn-success"  *ngIf="element.is_active">ACTIVE</button>
                            </td>
                        </ng-container> 
                        <ng-container matColumnDef="lock">
                            <th mat-header-cell *matHeaderCellDef >Lock</th>
                            <td mat-cell *matCellDef="let element"> {{element.speciality | lowercase}} </td>
                        </ng-container>  
                        <ng-container matColumnDef="delete">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Delete</th>
                            <td mat-cell *matCellDef="let element" ><mat-icon color="warn">delete_sweep</mat-icon> </td>
                            </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                      </table>
                 </div>
               </div>
            </div>
          
    <div class="modal fade" bsModal #userModal="bs-modal" [config]="{backdrop: 'static'}"
     tabindex="-1" role="dialog" aria-labelledby="dialog-static-name">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-12">
               <h6> <i class="icon-user-follow circle"></i> <span >Add/Edit Employee</span> </h6>
          </div>
          <div class="col-sm-4">
            <mat-form-field>
                <input type="text" id="text-input" name="first_name"  placeholder="First name"
                [(ngModel)]="employee.first_name" matInput>
            </mat-form-field>
          </div>
          <div class="col-sm-4">
              <mat-form-field>
                  <input type="text" id="text-input" name="first_name"  placeholder="Middle name"
                  [(ngModel)]="employee.surname" matInput>
              </mat-form-field>
            </div>
            <div class="col-sm-4">
                <mat-form-field>
                    <input type="text" id="text-input" name="first_name"  placeholder="Last name"
                    [(ngModel)]="employee.last_name" matInput>
                </mat-form-field>
              </div>

              <div class="col-sm-4">
                  <mat-form-field>
                      <input [(ngModel)]="branch" placeholder="Provider/Hospital(Branch)" [typeahead]="provider_list"
                  (typeaheadOnSelect)="setHospital($event)" [typeaheadOptionsLimit]="7" typeaheadOptionField="name"
                 type="text" matInput>
                  </mat-form-field>
                </div>
           
           <div class="col-sm-4">
              <mat-form-field>
                  <mat-label>Select an Role</mat-label>
                  <mat-select [(ngModel)]="employee.role">
                    <mat-option value="doctor">Doctor</mat-option>
                    <mat-option value="nurse">Nurse</mat-option>
                    <mat-option value="cashier">Cashier</mat-option>
                  </mat-select>
                </mat-form-field>
           </div>
           <div class="col-sm-4">
              <mat-form-field>
                  <input type="text" placeholder="Phone"
                  [(ngModel)]="employee.phone" matInput>
              </mat-form-field>
            </div>
           <div class="col-sm-4">
              <mat-form-field>
                  <input type="text" id="text-input" name="username" placeholder="username"
                  [(ngModel)]="employee.username" matInput>
              </mat-form-field>
            </div>
            <div class="col-sm-4">
                <mat-form-field>
                    <input type="text" id="text-input"  placeholder="employee number"
                    [(ngModel)]="employee.employee_no" matInput>
                </mat-form-field>
              </div>
              <div class="col-sm-4">
                  <mat-form-field>
                      <input type="text" id="text-input" name="department" placeholder="Department"
                      [(ngModel)]="employee.department" matInput>
                  </mat-form-field>
                </div>
                <div class="col-sm-4">
                    <mat-form-field>
                        <input type="text" id="text-input" name="username" placeholder="Speciality"
                        [(ngModel)]="employee.speciality" matInput>
                    </mat-form-field>
                  </div>
                <div class="col-sm-4">
                    <mat-form-field>
                        <input type="email" id="text-input"   placeholder="email"
                        [(ngModel)]="employee.email" matInput>
                    </mat-form-field>
                  </div>
                  <div class="col-sm-4">
                      <mat-form-field>
                          <mat-label>Title</mat-label>
                          <mat-select [(ngModel)]="employee.title">
                            <mat-option value="Dr">Dr</mat-option>
                            <mat-option value="Mr">Mr</mat-option>
                            <mat-option value="Mrs">Mrs</mat-option>
                            <mat-option value="Miss">Miss</mat-option>
                          </mat-select>
                        </mat-form-field>
                   </div>  
                   <div class="col-sm-4">
                   </div>
                   <div class="col-sm-12">
                      <button mat-raised-button color="warn" class="pull-right" (click)="userModal.hide()">Close</button>
                      <button mat-raised-button color="primary" class="pull-right" (click)="addUser()" style="margin-right: 8px;">Add User</button>
                      

                    </div>
        </div>

       
      </div>
    </div>
  </div>
</div>
      </mat-step>
      <mat-step label="Services" state="services">
        <br>
        <div class="row">
            <div class="col-sm-3">
              <mat-form-field>
              <input type="text" matInput placeholder="Search">
              </mat-form-field>
            </div>
            <div class="col-sm-2">
              <button mat-mini-fab (click)="serviceModal.show()"> <i class="fa fa-plus"></i></button>
            </div>
          </div>
          <div class="col-sm-10 mat-elevation-z8">
              <table mat-table [dataSource]="providerServices" #sSort="matSort"  matSort>
                  <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Name. </th>
                  <td mat-cell *matCellDef="let element"> {{element.name | uppercase}} </td>
                  </ng-container>
                  <ng-container matColumnDef="category">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Category</th>
                  <td mat-cell *matCellDef="let element"> {{element.category}} </td>
                  </ng-container>

                  <ng-container matColumnDef="code">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Code</th>
                  <td mat-cell *matCellDef="let element"> {{element.code}} </td>
                  </ng-container>
                  <ng-container matColumnDef="cost">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Cost </th>
                  <td mat-cell *matCellDef="let element"> {{element.cost}} </td>
                  </ng-container>
                  <ng-container matColumnDef="delete">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Delete</th>
                  <td mat-cell *matCellDef="let element" (click)="dropService(element)"><mat-icon color="warn">delete_sweep</mat-icon> </td>
                  </ng-container>
                
                  <tr mat-header-row *matHeaderRowDef="columns"></tr>
                  <tr mat-row *matRowDef="let row; columns:columns;"></tr>
                </table>
           </div> 

    <div class="modal fade" bsModal #serviceModal="bs-modal" [config]="{backdrop: 'static'}"
     tabindex="-1" role="dialog" aria-labelledby="dialog-static-name">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-12">
            <h4>Add Service
              <i class="fa fa-close pull-right" style="font-size:22px;color:red" (click)="serviceModal.hide()"></i>
            </h4>
          </div>
        </div>
       <div class="row">
         <div class="col-sm-4">
           <mat-form-field>
              <input type="text" [(ngModel)]="selectedService.name" [typeahead]="services"  [typeaheadOptionsInScrollableView]="5"  typeaheadOptionField="name" (typeaheadOnSelect)="onSelect($event)"   (typeaheadLoading)="serviceSearch(name)" matInput placeholder="service name">
           </mat-form-field>
         </div>
         <div class="col-sm-3">
           <mat-form-field>
              <input type="text" id="text-input" name="category" matInput placeholder="Category" [(ngModel)]="selectedService.category" readonly>
           </mat-form-field>
         </div>
         <div class="col-sm-2">
            <mat-form-field>
               <input type="text"  name="code" matInput placeholder="Code" [(ngModel)]="selectedService.code" readonly>
            </mat-form-field>
          </div>
          <div class="col-sm-2">
              <mat-form-field>
                 <input type="text"  name="cost" matInput placeholder="Cost" [(ngModel)]="selectedService.cost">
              </mat-form-field>
            </div>
            <br>
            <br>
            <div class="col-sm-12">
                <table class="table mat-elevation-z8" *ngIf="selectedServices.length">
                    <thead>
                      <tr >
                          <th style="font-size:13px;">S/N</th>
                        <th style="font-size:13px;">Name</th>
                        <th style="font-size:13px;">Category</th>
                        <th style="font-size:13px;">Code</th>
                        <th style="font-size:13px;">Cost</th>
                        <th style="font-size:13px;">Delete</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of selectedServices;let i = index" style="font-size:12px;">
                        <td>{{i+1}}</td>
                        <td>{{item.name}}</td>
                        <td>{{item.category}}</td>
                        <td>{{item.code}}</td>
                        <td>{{item.cost}}</td>
                        <td (click)="deleteService(item)"><i class="fa fa-minus text-center" style="color: red"></i></td>
                      </tr>
                    </tbody>
                  </table>
           
             </div>
             <br>
            <div class="col-sm-12">
              <br>
                <button mat-raised-button class="btn btn-success btn-sm pull-right" (click)="submitServices()">Submit</button>
              <button mat-raised-button class="btn-sm pull-right" style="margin-right:8px;"  color="primary" (click)="addService()"> <i class="fa fa-plus"></i> Add Service</button>
            </div>
       </div>
      
      </div>
    </div>
  </div>
</div>
      </mat-step>
        <mat-step label="Drugs" state="drug">
            <br>
        <div class="row">
            <div class="col-sm-3">
              <mat-form-field>
              <input type="text" matInput placeholder="Search">
              </mat-form-field>
            </div>
            <div class="col-sm-2">
              <button mat-mini-fab (click)="drugModal.show()"> <i class="fa fa-plus"></i></button>
            </div>
          </div>
          <div class="col-sm-10 mat-elevation-z8">
              <table mat-table [dataSource]="drugsSelected" #dSort="matSort"  matSort>
                  <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Name. </th>
                  <td mat-cell *matCellDef="let element"> {{element.name | uppercase}} </td>
                  </ng-container>
                  <ng-container matColumnDef="generic_name">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Generic Name</th>
                  <td mat-cell *matCellDef="let element"> {{element.generic_name}} </td>
                  </ng-container>

                  <ng-container matColumnDef="code">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Code</th>
                  <td mat-cell *matCellDef="let element"> {{element.code}} </td>
                  </ng-container>
                  <ng-container matColumnDef="form">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Form</th>
                  <td mat-cell *matCellDef="let element"> {{element.form}} </td>
                  </ng-container>
                  <ng-container matColumnDef="strength">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>Strength</th>
                      <td mat-cell *matCellDef="let element"> {{element.strength}} </td>
                      </ng-container>
                  
                  <ng-container matColumnDef="quantity">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>Quantity</th>
                      <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
                  </ng-container>
                  <ng-container matColumnDef="cost">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Cost@</th>
                      <td mat-cell *matCellDef="let element"> {{element.cost}} </td>
                  </ng-container>
                  <ng-container matColumnDef="pack_cost">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>Cost Per Pack</th>
                      <td mat-cell *matCellDef="let element"> {{element.cost_per_pack}} </td>
                   </ng-container>
                   <ng-container matColumnDef="edit">
                      <th mat-header-cell *matHeaderCellDef>Edit</th>
                      <td mat-cell *matCellDef="let element" (click)="selectedPrescription=element;drugUpdateModal.show()"><mat-icon>create</mat-icon></td>
                      </ng-container>
                  <ng-container matColumnDef="delete">
                  <th mat-header-cell *matHeaderCellDef>Delete</th>
                  <td mat-cell *matCellDef="let element" (click)="dropDrug(element)"> <mat-icon color="warn">delete_sweep</mat-icon> </td>
                  </ng-container>
                
                  <tr mat-header-row *matHeaderRowDef="drugColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns:drugColumns;"></tr>
                </table>
           </div> 

  <div class="modal fade" bsModal #drugModal="bs-modal" [config]="{backdrop: 'static'}"
     tabindex="-1" role="dialog" aria-labelledby="dialog-static-name">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-12">
            <h4>Add Drugs
              <i class="fa fa-close pull-right" style="font-size:22px;color:red" (click)="drugModal.hide()"></i>
            </h4>
          </div>
        </div>
       <div class="row">
         <div class="col-sm-4">
           <mat-form-field>
              <input type="text" [(ngModel)]="selectedPrescription.name" [typeahead]="prescription" (typeaheadLoading)="searchPrescription(selectedPrescription.name)"  (typeaheadOnSelect)="onSelectPrescription($event)" [typeaheadOptionsInScrollableView]="5"  typeaheadOptionField="name"  typeaheadGroupField="strength" (typeaheadLoading)="serviceSearch(name)" matInput placeholder="Drug name">
           </mat-form-field>
         </div>
         <div class="col-sm-3">
            <mat-form-field>
               <input type="text"  name="code" matInput placeholder="Code" [(ngModel)]="selectedPrescription.code" readonly>
            </mat-form-field>
          </div>
        
          <div class="col-sm-3">
                <mat-form-field>
                   <input type="text"  matInput placeholder="Form" [(ngModel)]="selectedPrescription.form" readonly>
                </mat-form-field>
          </div>
          <div class="col-sm-2">
                <mat-form-field>
                   <input type="text" matInput  placeholder="Strength" [(ngModel)]="selectedPrescription.strength" readonly>
                 </mat-form-field>
            </div>
         <div class="col-sm-3">
           <mat-form-field>
              <input type="number" matInput  placeholder="Cost @" [(ngModel)]="selectedPrescription.cost">
            </mat-form-field>
         </div>
         

          <div class="col-sm-3">
              <mat-form-field>
                 <input type="number"  name="code" matInput placeholder="Cost per Pack" [(ngModel)]="selectedPrescription.cost_per_pack">
              </mat-form-field>
          </div>
          <div class="col-sm-3">
              <mat-form-field>
                 <input type="number"   matInput placeholder="Quantity" [(ngModel)]="selectedPrescription.quantity">
              </mat-form-field>
          </div>
          
            <br>
            <div class="col-sm-12" *ngIf="drugs.length">
                <table class="table mat-elevation-z8">
                    <thead>
                      <tr >
                          <th style="font-size:13px;">S/N</th>
                        <th style="font-size:13px;">Name</th>
                        <th style="font-size:13px;">Generic Name</th>
                        <th style="font-size:13px;">Strength</th>
                        <th style="font-size:13px;">Quantity</th>
                        <th style="font-size:13px;">Cost @</th>
                        <th style="font-size:13px;">Cost Per Pack</th>
                        <th style="font-size:13px;">Delete</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of drugs;let i = index" style="font-size:12px;">
                        <td>{{i+1}}</td>
                        <td>{{item.name}}</td>
                        <td>{{item.generic_name}}</td>
                        <td>{{item.strength}}</td>
                        <td>{{item.quantity}}</td>
                        <td>{{item.cost}}</td>
                        <td>{{item.cost_per_pack}}</td>
                        <td (click)="deleteService(item)"><i class="fa fa-minus text-center" style="color: red"></i></td>
                      </tr>
                    </tbody>
                  </table>
           
             </div>
            
            <div class="col-sm-12">
              <br>
                <button mat-raised-button class="btn btn-success btn-sm pull-right" (click)="saveDrugs()">Submit</button>
              <button mat-raised-button class="btn-sm pull-right" style="margin-right:8px;"  color="primary" (click)="addPrescriptions()"> <i class="fa fa-plus"></i> Add Drug</button>
            </div>
       </div>
      
      </div>
    </div>
  </div>
</div>

<div class="modal fade" bsModal #drugUpdateModal="bs-modal" [config]="{backdrop: 'static'}"
tabindex="-1" role="dialog" aria-labelledby="dialog-static-name">
<div class="modal-dialog modal-lg">
<div class="modal-content">
 <div class="modal-body">
   <div class="row">
     <div class="col-sm-12">
       <h4>Update Drug
         <i class="fa fa-close pull-right" style="font-size:22px;color:red" (click)="drugUpdateModal.hide()"></i>
       </h4>
     </div>
   </div>
  <div class="row">
    <div class="col-sm-4">
      <mat-form-field>
         <input type="text" [(ngModel)]="selectedPrescription.name" [typeahead]="prescription" (typeaheadLoading)="searchPrescription(selectedPrescription.name)"  (typeaheadOnSelect)="onSelectPrescription($event)" [typeaheadOptionsInScrollableView]="5"  typeaheadOptionField="name"  typeaheadGroupField="strength" (typeaheadLoading)="serviceSearch(name)" matInput placeholder="Drug name">
      </mat-form-field>
    </div>
    <div class="col-sm-3">
       <mat-form-field>
          <input type="text"  name="code" matInput placeholder="Code" [(ngModel)]="selectedPrescription.code" readonly>
       </mat-form-field>
     </div>
   
     <div class="col-sm-3">
           <mat-form-field>
              <input type="text"  matInput placeholder="Form" [(ngModel)]="selectedPrescription.form" readonly>
           </mat-form-field>
     </div>
     <div class="col-sm-2">
           <mat-form-field>
              <input type="text" matInput  placeholder="Strength" [(ngModel)]="selectedPrescription.strength" readonly>
            </mat-form-field>
       </div>
    <div class="col-sm-3">
      <mat-form-field>
         <input type="number" matInput  placeholder="Cost @" [(ngModel)]="selectedPrescription.cost">
       </mat-form-field>
    </div>
    

     <div class="col-sm-3">
         <mat-form-field>
            <input type="number"  name="code" matInput placeholder="Cost per Pack" [(ngModel)]="selectedPrescription.cost_per_pack">
         </mat-form-field>
     </div>
     <div class="col-sm-3">
         <mat-form-field>
            <input type="number"   matInput placeholder="Quantity" [(ngModel)]="selectedPrescription.quantity">
         </mat-form-field>
     </div>
     
       <br>
       
       <div class="col-sm-12">
         <br>
           <button mat-raised-button class="btn btn-success btn-sm pull-right" (click)="updateDrug()">Update</button>
       </div>
  </div>
 
 </div>
</div>
</div>
</div>
</mat-step>
    <!-- Icon overrides. -->
    <ng-template matStepperIcon="phone">
      <mat-icon>home</mat-icon>
    </ng-template>
    <ng-template matStepperIcon="chat">
      <mat-icon>forum</mat-icon>
    </ng-template>
    <ng-template matStepperIcon="user">
        <mat-icon>person_add</mat-icon>
      </ng-template>
      <ng-template matStepperIcon="services">
          <mat-icon>perm_data_setting</mat-icon>
      </ng-template>
      <ng-template matStepperIcon="drug">
          <mat-icon>local_hospital</mat-icon>
      </ng-template>
  </mat-horizontal-stepper>