<div class="card">
        <div class="card-header">
          Authletter Requests
        </div>
        <div class="card-body">
          <div class="row">
                <div class="col-sm-12">
                        <ul  *ngFor="let member of requests" class="list-inline list-inline-separate">
                          <li (click)="details(member)">
                            <span class="media-heading text-bold"><b style="font-size:10px;">{{member.member_data.name}}</b>
                            </span>
                            <ul class="list-inline list-inline-separate text-muted">
                              <li><b class="text-primary" style="font-size:10px;">{{member.payer.name}}</b> </li>
                            </ul>
                          </li>
                        </ul>
                      </div>
          </div>
        </div>
</div>