<style>
    .item{
      font-weight: bold;
    }
  </style>
  <div class="animated fadeIn">
    <div class="row">
    
      <div class="col-sm-6 col-md-3">
        <a routerLink="/dashboard/records/">
          <div class="card">
            <div class="card-body">
              <div class="text-center">
                <span class="fa-stack fa-4x">
                  <i class=" fa-stack-2x icon-background4"></i>
                  <i class="fa fa-circle-thin fa-stack-2x icon-background6"></i>
      
                  <i class="icon-people fa-stack-4x" style="color:#A6CF39;"></i>
                </span>
              </div>
              <div class="text-center item"  style="font-size: 17px;" >Clients</div>
      
      
            </div>
          </div>
        </a>
      </div>
      <div class="col-sm-6 col-md-3">
        <a routerLink="/dashboard/billing/">
          <div class="card">
            <div class="card-body">
              <div class="text-center">
                <span class="fa-stack fa-4x">
                  <i class=" fa-stack-2x icon-background4"></i>
                  <i class="fa fa-circle-thin fa-stack-2x icon-background6"></i>
      
                  <i class="fa fa-database fa-stack-4x" style="color:#A6CF39;"></i>
                </span>
              </div>
              <div class="text-center item"  style="font-size: 17px;" >Billing</div>
      
      
            </div>
          </div>
        </a>
      </div>
        <div class="col-sm-6 col-md-3">
          <a routerLink="/dashboard/new-client/">
            <div class="card">
              <div class="card-body">
                <div class="text-center">
                  <span class="fa-stack fa-4x">
                    <i class=" fa-stack-2x icon-background4"></i>
                    <i class="fa fa-circle-thin fa-stack-2x icon-background6"></i>
        
                    <i class="icon-user-follow fa-stack-4x" style="color:#A6CF39;"></i>
                  </span>
                </div>
                <div class="text-center item" >Add Client</div>
        
        
              </div>
            </div>
          </a>
        </div>
    </div>
  </div>
  