<app-header
  [fixed]="true"
  [navbarBrandFull]="{src: 'assets/img/avatars/logo.png', width: 100, height: 38, alt: 'Healthix Logo'}"
  [navbarBrandMinimized]="{src: 'assets/img/avatars/avt.png', width: 30, height: 30, alt: 'CoreUI Logo'}"
  [sidebarToggler]="'lg'">
  <ul class="nav navbar-nav d-md-down-none">
    <li class="nav-item px-3">
      <a class="nav-link" routerLink="dashboard">Dashboard</a>
      

    </li>
  </ul>
 
  <ul class="nav navbar-nav ml-auto">
    <li class="nav-item d-md-down-none" dropdown data-toggle="dropdown" dropdownToggle>
      
    </li>

    <li class="nav-item dropdown" dropdown placement="bottom right">
      <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" dropdownToggle (click)="false">
               <i class="fa fa-cogs" aria-hidden="true"></i> configure
               
      </a>
      <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">
        <!-- <a class="dropdown-item" (click)="qrcodeModal.show()"><i class="fa fa-pencil" *ngIf="(user.role == 'admin' || user.role == 'aaradmin' || user.role == 'customer_service')" aria-hidden="true"></i>Signature Qrcode </a> -->
        <!-- <a class="dropdown-item" (click)="AdminSetups()"><i class="fa fa-users" *ngIf="user.role == 'admin' || user.role == 'aaradmin' || user.role == 'customer_service'" aria-hidden="true"></i>Admin-setups</a> -->

        <!-- <a class="dropdown-item" routerLink="/dashboard/set-up" *ngIf="user.role =='admin'" ><i class="fa fa-cog" aria-hidden="true"></i>Set up</a> -->

            
 
        <!-- <a class="dropdown-item" routerLink="/dashboard/Users" *ngIf="(user.role == 'admin' || user.role == 'hospital_super_admin')" ><i class="icon-wrench"></i>Manage Users</a> -->

        <a class="dropdown-item" (click)="staticModal.show()"><i class="fa fa-key" aria-hidden="true"></i>Change password </a>
        <a class="dropdown-item" (click)="logout()"><i class="fa fa-lock"></i> Logout</a>
     
     
     
     
      
            
      </div>
     
    </li>
  </ul>
</app-header>
<div class="app-body">
  <app-sidebar [fixed]="true" [display]="'lg'">
   
    <app-sidebar-nav *ngIf="user.role == 'admin' || user.role == 'hospital_admin'"   [navItems]="navItems" [perfectScrollbar] [disabled]="sidebarMinimized">

    </app-sidebar-nav>




    <app-sidebar-nav  *ngIf="user.role == 'hospital_cashiers'" [navItems]="navItemscashiers" [perfectScrollbar] [disabled]="sidebarMinimized">

    </app-sidebar-nav>
    <!-- <app-sidebar-nav  *ngIf="user.role == 'hospital_nurses' || user.role == 'hospital_doctors'" [navItems]="navItemsnursesdocs" [perfectScrollbar] [disabled]="sidebarMinimized">

    </app-sidebar-nav> -->

    <!-- <app-sidebar-nav  *ngIf="user.role == 'hospital_finance'" [navItems]="navItemsfinance" [perfectScrollbar] [disabled]="sidebarMinimized">

    </app-sidebar-nav>
    
    
    <app-sidebar-nav  *ngIf="user.role == 'customer_service'" [navItems]="navItemscustomerservice" [perfectScrollbar] [disabled]="sidebarMinimized">

    </app-sidebar-nav>
    
    <app-sidebar-nav  *ngIf="user.role == 'hospital_management'" [navItems]="navItemsmanagement" [perfectScrollbar] [disabled]="sidebarMinimized">

    </app-sidebar-nav> -->
    
    
    
  
    
    
   
    
    
    
    
    
    
    

    <app-sidebar-minimizer>
     
      
    </app-sidebar-minimizer>
   
  </app-sidebar>

  <main class="main">
    <br />
    
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div><!-- /.container-fluid -->
  </main>

</div>
<app-footer>
  <span><a>Pietech Hotel</a> &copy; 2022.</span>
</app-footer>



<div class="modal fade" bsModal #staticModal="bs-modal" [config]="{backdrop: 'static'}"
     tabindex="-1" role="dialog" aria-labelledby="dialog-static-name">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header bg-success">
        <h5>
        <span>Change Password</span>
        </h5>
         <button type="button" class="close" (click)="staticModal.hide()" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
         </button>
       </div>
      <div class="modal-body">
        <div class="row">
         
          <div class="col-sm-12">
            <mat-form-field>
                <input type="password" [(ngModel)]="data.current" placeholder="Current Password" matInput>
            </mat-form-field>
          </div>
          <div class="col-sm-12">
              <mat-form-field>
                  <input type="password" placeholder="New Password" [(ngModel)]="data.password1"  matInput>
              </mat-form-field>
            </div>
            <div class="col-sm-12">
                <mat-form-field>
                    <input type="password" placeholder="Confirm Password" [(ngModel)]="data.password2"  matInput>
                </mat-form-field>
            </div>
            <div class="col-sm-12">
              <button mat-raised-button class="btn btn-success pull-right" (click)="submit()">Submit</button>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
  :host  qrcode ::ng-deep .qrcode {
         display: flex;
         justify-content: center;
 }
</style>
<div class="modal fade" bsModal #qrcodeModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="dialog-static-name">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" (click)="qrcodeModal.hide()">&times;</button>
      </div>
      <div class="modal-body">
        <qrcode [qrdata]="QRCODE_DATA" [width]="256" [errorCorrectionLevel]="'M'"></qrcode>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" bsModal #inpatient="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="dialog-static-name">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" (click)="inpatient.hide()">&times;</button>
      </div>
      <div class="modal-body">
        <qrcode [qrdata]="INPATIENT_QRCODE" [width]="256" [errorCorrectionLevel]="'M'"></qrcode>
      </div>
      <div class="modal-footer">
        <button mat-raised-button class="btn btn-success pull-right"   data-dismiss="modal" >download</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" bsModal #outpatient="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="dialog-static-name">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" (click)="outpatient.hide()">&times;</button>
      </div>
      <div class="modal-body">
        <qrcode [qrdata]="OUTPATIENT_QRCODE" [width]="256" [errorCorrectionLevel]="'M'"></qrcode>
      </div>
      <div class="modal-footer">
        <button mat-raised-button class="btn btn-success pull-right"  data-dismiss="modal">download</button>
      </div>
    </div>
  </div>
</div>