
    <div class="card" class="myDivToPrint" style="background-color: white;">
        <div class="card-body" >
            <div class="row" style="width:100%;justify-content: right;">
                <div class="col-sm-2">
                  <button class="btn btn-success" style="float: right;"  [disabled]="editable=='COMPLETED'" (click)="edit()">Edit Form</button>     
              </div>
             
                  <div class="col-sm-3">
                      <button class="btn btn-success" style="float: right;" (click)="printPage()">Print Claim Form</button>        
          
                  </div>
                         
                            </div>
           
            <div class="row" >
                <div class="row" style="margin-left:35px ;" >
                    <div class="col-sm-12">
                        <p style="white-space:nowrap;">
                            <img src="./../../../assets/img/avatars/apaimage.png" alt="" width="950" height="200" >
                           
                             
                           
                        </p>
        
        
                    </div>
        
                </div>
                <!-- <div class="row" style="font-size: 8px; color: darkblue;">
                    <div class="col-sm-2">
                        <img src="./../../../assets/img/avatars/apa.png" alt="" width="250px" height="100px">
                        </div>
                    <div class="col-sm-2">
                        <strong>HEAD OFFICE</strong><br>
                        APA Insurance(Kenya) Limited,<br> 
                        Apollo centre,Ring Road,<br>
                        Parklands<br>
                        P.O Box 30065-00100 Nairobi,Kenya<br>
                        Tel: +254(0)202862000<br>
                        
                        <span style="margin-left:9px;">+254(0)203641000</span><br>
    
                        Email: info@apainsurance.org<br></div>
                    
                    <div class="col-sm-2">
                        <strong>CITY SQUARE</strong><br>
                        3rf Floor ABSA Plaza,<br> 
                        Loita Street.<br>
    
                        Tel: +254(0)202862000<br>
                        
                        <span style="margin-left:9px;">+254(0)203641000</span><br><br>
                     
                        <strong>MOMBASA</strong><br>
                        Ground Floor,appolo House,Moi Avenue<br>
                        Tel: +254(0)202862400<br>
                        Email: apa.mombasa@apainsurance.org<br>
                    </div>
                    <div class="col-sm-2">
                        <strong>NAKURU</strong><br>
                        Ground Floor,Giddo Plaza<br>
                        George Moraa<br>
                        Tel: +254(0)202862340<br>
                        Email: apa.nakuru@apainsurance.org<br><br>
                        <strong>KISUMU</strong><br>
                        Ground Floor,Tuff Foam Mall<br>
                        Jommo Kenyatta Highway<br>
                        Tel: +254(0)202162908<br>
                        Email: apa.kisumu@apainsurance.org<br>
                    </div>
                        
                       
                    
                    <div class="col-sm-2">
                        <strong>NAIVASHA</strong><br>
                        1st Floor,Eangle Centre<br>
                        Mbaria Kaniu Road<br>
                        Tel: +254(0)202862331<br>
                        Email: apa.naivasha@apainsurance.org<br><br>
                        <strong>ELDORET</strong><br>
                        1st Floor,Zion Mall,Ungada Road<br>
                        Jommo Kenyatta Highway<br>
                        Tel: +254(0)202862334<br>
                        Email: apa.eldoret@apainsurance.org<br>
                    </div>
                    <div class="col-sm-2">
                        <strong>THIKA</strong><br>
                        5st Floor,Zuri Centre<br>
                        Kenyatta Highway<br>
                        Tel: +254(0)202862300<br>
                        Email: apa.thika@apainsurance.org<br><br>
                        <strong>MERU</strong><br>
                        2nd Floor,Hart Towers Off Meru Highway<br>
                        Tel: +254(0)202862313<br>
                        Email: apa.meru@apainsurance.org<br>
                    </div>
                    
                </div> -->
               
                
                
                
               
                <div class="col-sm-12" >
  
                    <!-- <div  >
                        <h3 style="color:darkblue;margin-left: 210px;"><strong>MEDICAL INSURANCE CLAIM FORM</strong></h3>
                    </div> -->
                    <div class="col-sm-12" style="color: darkblue;">
                        <!-- <p style="margin: 30px;">
                            (N.B.
                        </p> -->
                       <!-- <span style="margin-left: 140px;">
                            1.This form shall not be accepted unless fully completed and signed by both the doctor and the insured.<br></span>
                            <span style="margin-left: 140px;">  2.No addmissio of liability is made by insurer by the issue of this form<br></span>
                                <span style="margin-left: 140px;"> 3.To make a false claim is a criminal offence.<br>
                           
    
    
                      
                       
                       </span> -->
                        <div class="clearfix"></div>
                       <div class="col-sm-12">
                        <div class="row"  style="font-size: 14px;">
                            <div class="col-sm-2">Name of Hospital/Provider:</div>
                            <div class="col-sm-4">
                                
                                
                                <div class="row" style="position: absolute;bottom: -1; margin-left: 5px;">
                                    <strong> {{form_data.hospital}} </strong>
                                </div> <hr>
                            </div>
                            
                            
                            <div class="col-sm-2">Tel &Fax No:</div>
                            <div class="col-sm-4">
                                
                                
                                <div class="row" style="position: absolute;bottom: -1; margin-left: 5px;">
                                    <strong> {{form_data.hospital_tel_no}} </strong>
                                </div> <hr>
                            </div>
                           
                            
                        </div>
                        <div class="clearfix"></div>
                    <div class="row"  style=" font-size: 14px;">
                        <div class="col-sm-2">Name of the Employer</div>
                        <div class="col-sm-10">
                                
                                
                            <div class="row" style="position: absolute;bottom: -1; margin-left: 5px;">
                                <strong>   {{form_data.employer}}</strong>
                            </div> <hr>
                        </div>
                        
                        
                        
                    </div>
                    <div class="clearfix"></div>
                    <div class="row"  style=" font-size: 14px;">
                        <div class="col-sm-2">Policy/Membership No</div>
                        <div class="col-sm-10">
                                
                                
                            <div class="row" style="position: absolute;bottom: -1; margin-left: 5px;">
                                <strong>   {{form_data.member_number}}</strong>
                            </div> <hr>
                        </div>
                       
                        
                        
                    </div>
                    <div class="clearfix"></div>
                        <div class="row"  style=" font-size: 14px;">
                            <div class="col-sm-2">Employee's Name</div>
                           
                            <div class="col-sm-4">
                                
                                
                                <div class="row" style="position: absolute;bottom: -1; margin-left: 5px;">
                                    <strong>   {{form_data.member}}</strong>
                                </div> <hr>
                            </div>
                            <div class="col-sm-2">Mobile No</div>
                          
                            <div class="col-sm-4">
                                
                                
                                <div class="row" style="position: absolute;bottom: -1; margin-left: 5px;">
                                    <strong>   {{form_data.phone}}</strong>
                                </div> <hr>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="row"  style=" font-size: 14px;">
                            <div class="col-sm-2">Patient Name</div>
                            <div class="col-sm-4">
                                
                                
                                <div class="row" style="position: absolute;bottom: -1; margin-left: 5px;">
                                    <strong>   {{form_data.patient}}</strong>
                                </div> <hr>
                            </div>
                            
                            <div class="col-sm-2">Date of Birth/Age:</div>
                            
                            <div class="col-sm-4">
                                
                                
                                <div class="row" style="position: absolute;bottom: -1; margin-left: 5px;">
                                    <strong>   {{form_data.dob| date}}</strong>
                                </div> <hr>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="row"  style=" font-size: 14px;">
                            <div class="col-sm-2">Relationship to Employee:</div>
                            <div class="col-sm-4">
                                
                                
                                <div class="row" style="position: absolute;bottom: -1; margin-left: 5px;">
                                    <strong>   {{form_data.relationship}}</strong>

                                </div> <hr>
                            </div>
                            
                          
                            <div class="col-sm-2">ID No:</div>
                            <div class="col-sm-4">
                                
                                
                                <div class="row" style="position: absolute;bottom: -1; margin-left: 5px;">
                                    <strong>   {{form_data.idno}}</strong>

                                </div> <hr>
                            </div>
                           
                        </div>
                        <div class="row">
                            <div class="clearfix"></div>
                            <div class="col-sm-12"  style=" font-size: 14px;">
                             
                                 Are you insured under any other medical expense scheme e.g NHIF, Workmen's Compesation, Personal Accident included?<br>
                                
                     
                            </div>
                            <div class="col-sm-4"  style=" font-size: 14px; ">
                             
                                If so, please give particulars
                    
                           </div>
                            <div class="col-sm-6">
                                
                                
                                <div class="row" style="position: absolute;bottom: -1; margin-left: 5px;">
                                    <strong>   {{patient.particulars}}</strong>

                                </div> <hr>
                            </div>

                        </div>
                        <div class="clearfix"></div>
                        <div class="row"  style=" font-size: 14px; margin-left: 2px;">
                            <div class="col-sm-12" >
                           
                           
                                <div class="row" style="position: absolute;bottom: 1;">
                                    <span style="margin-left: 50px;"> <strong>   {{form_data.patient}}</strong></span>
                                </div>
                                <div class="row">
                                    I   {{space}}      _________________________________________________________
                                    do hereby authorize 
                                    any doctor,hospital,clinic or medical provider,insurance company,institution or person who has any record or information about me  and/or
                                    family members to provide my insurer with complete information including copies of records with reference to my illness or accident, any
                                    treatment, examination,advice, or hospitalization. I have also been advised by APA INSURANCE LTD. and have understood the various 
                                    exclussions.Any photocopy of this authorisation shall be taken as the original copy.
                                    
                                
                            </div>
                            
                           
                            </div>
                            
                        </div>
                        <div class="row" style="margin-top: 12px; font-size: 14px;">
                            <div class="col-sm-8" (click)="activateMemberSignature()">
                                <div class="row">
                                    <div class="col-sm-4">Signature of  Member:</div>
                                    <div class="col-sm-8">
                                        <div class="row" style="position: absolute;bottom: 0;margin-bottom: -10px;" *ngIf="signature1_show"><img src="{{signature1_src}}" width="80px" height="50px"/></div>
                                    <hr>
                                </div>
                                    <!-- <div class="col-sm-8">
                                        <div class="row" style="position: absolute;bottom: 0;margin-bottom: -10px;" *ngIf="signature1_show"><img src="{{signature1_src}}" width="100px" height="50px"/></div>
                                    <div class="row">_______________________________________________________________ </div>
                                    </div> -->
                                 </div>
                            </div>
                            
                            <div class="col-sm-2">
                                Date
                            </div>
                            <div class="col-sm-2">
                                
                                
                                <div class="row" style="position: absolute;bottom: -1; margin-left: 5px;">
                                    <strong>   {{form_data.member_signature_date | date:"MMM d, y"}}</strong>

                                </div> <hr>
                            </div>
                            
                            
                        </div>
                       

                       </div>
                        
                   
                    
                        
                        
                       
                       
                       
    
    
                   
                   
                     <div  class="col-sm-6" style="color: darkblue; font-size: 14px;">
                        <div style="background-color:white;" >
                            <h6 style="color: darkblue; font-size: 16px;"><b>TO BE FILLED BY DOCTOR</b></h6>
                        </div>
                    </div>
                    <div class="col-sm-12"  style="color: darkblue;" >
                   
                   
                        <div class="row"  style=" font-size: 14px;">
                            <div class="col-sm-5">Final Diagnosis of condition treated:</div>
                            <div class="col-sm-7">
                                
                                
                                <div class="row" style="position: absolute;bottom: -1; margin-left: 5px;">
                                    <strong>   {{form_data.final_diagnosis}}</strong>

                                </div> <hr>
                            </div>
                            
                            
                        </div>
                        <div class="clearfix"></div>
                        <div class="row"  style=" font-size: 14px;">
                            <div class="col-sm-5">When was the condition first diagnosed:</div>
                            
                            <div class="col-sm-7">
                                
                                
                                <div class="row" style="position: absolute;bottom: -1; margin-left: 5px;">
                                    <strong>   {{form_data.when_first_diagnosis}}</strong>

                                </div> <hr>
                            </div>
                            
                        </div>
                        <div class="clearfix"></div>
                        <div class="row"  style="font-size: 14px;">
                            <div class="col-sm-5">Details of Preveous treatment for this ill;ness/injury:</div>
                            
                            <div class="col-sm-7">
                                
                                
                                <div class="row" style="position: absolute;bottom: -1; margin-left: 5px;">
                                    <strong>   {{form_data.previous_treatment}}</strong>

                                </div> <hr>
                            </div>
                            
                        </div>
                       
        
        
                       
                       
                        
                    </div>
                    <div  class="col-sm-6" style="font-size: 14px;">
                        <div style="background-color:white; ">
                            <h6 style="color: darkblue; font-size: 16px"><u><b>SICKNESS</b></u></h6>
                        </div>
                    </div>
                    <div class="col-sm-12"  style="color: darkblue;" >
                   
                   
                        <div class="row"  style=" font-size: 14px;">
                            <div class="col-sm-5">Cause of illness/es:</div>
                            <div class="col-sm-7">
                                
                                
                                <div class="row" style="position: absolute;bottom: -1; margin-left: 5px;">
                                    <strong>   {{form_data.cause_of_illness}}</strong>

                                </div> <hr>
                            </div>
                            
                            
                        </div>
                        <div class="clearfix"></div>
                        <div class="row"  style=" font-size: 14px;">
                            <div class="col-sm-5">Is the condition Recurrent, Chronic or Congenital:</div>
                            
                            <div class="col-sm-7">
                                
                                
                                <div class="row" style="position: absolute;bottom: -1; margin-left: 5px;">
                                    <strong>   {{form_data.condition_type}}</strong>

                                </div> <hr>
                            </div>
                            
                        </div>
                        <div class="clearfix"></div>
                        <div class="row"  style=" font-size: 14px;">
                            <div class="col-sm-5">Nature of treatment and given recommendations:</div>
                            
                            <div class="col-sm-7">
                                
                                
                                <div class="row" style="position: absolute;bottom: -1; margin-left: 5px;">
                                    <strong>   {{form_data.nature_treatment}}</strong>

                                </div> <hr>
                            </div>
                            
                        </div>
                        <div class="clearfix"></div>
    
                        <div class="row"  style=" font-size: 14px;">
                            <div class="col-sm-12">Does the patient require referral to a specialist? Yes/No.</div>
                           
                           
                        </div>
                        <div class="row"  style=" font-size: 14px;">
                            <div class="col-sm-2">If Yes,Name of cunsultant</div>
                            <div class="col-sm-4">
                                
                                
                                <div class="row" style="position: absolute;bottom: -1; margin-left: 5px;">
                                    <strong>   {{form_data.consultant}}</strong>

                                </div> <hr>
                            </div>
                           
                            <div class="col-sm-2">Specialty</div>
                            <div class="col-sm-4">
                                
                                
                                <div class="row" style="position: absolute;bottom: -1; margin-left: 5px;">
                                    <strong>   {{form_data.specialist}}</strong>

                                </div> <hr>
                            </div>
                           
                        </div>
                       
        
                       
                       
                        
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-sm-12"  style="color: darkblue;" >
                       
                       
               
    
    
                
    
               
                <div  class="col-sm-6">
                    <div style="background-color:white; " >
                        <h6 style="color: darkblue; font-size: 16px"><u><b>ACCIDENTS</b></u></h6>
                    </div>
                </div>
                <div class="clearfix"></div>
                        <div class="row" style=" font-size: 14px;">
                            <div class="col-sm-2"> i. Date of accident:</div>
                            <div class="col-sm-4">
                                
                                
                                <div class="row" style="position: absolute;bottom: -1; margin-left: 5px;">
                                    <strong>   {{form_data.date_accident | date}}</strong>

                                </div> <hr>
                            </div>
                            
                           
                            <div class="col-sm-2"> Cause of accident:</div>
                            <div class="col-sm-4">
                                
                                
                                <div class="row" style="position: absolute;bottom: -1; margin-left: 5px;">
                                    <strong>   {{form_data.cause_accident}}</strong>

                                </div> <hr>
                            </div>
                           
                        </div>
                        <div class="clearfix"></div>
                        <div class="row" style="font-size: 14px;">
                            <div class="col-sm-2"> ii. Name of Injuries:</div>
                            <div class="col-sm-10">
                                
                                
                                <div class="row" style="position: absolute;bottom: -1; margin-left: 5px;">
                                    <strong>   {{form_data.nature_injuries}}</strong>

                                </div> <hr>
                            </div>
                           
                        </div>
                        <div class="clearfix"></div>
                        <div class="row"  style=" font-size: 14px;">
                            <div class="col-sm-2">Private doctors Fees:</div>
                            <div class="col-sm-4">
                                
                                
                                <div class="row" style="position: absolute;bottom: -1; margin-left: 5px;">
                                    <strong>   {{form_data.doctors_fees}}</strong>

                                </div> <hr>
                            </div>=
                            
                           <span style="margin-left: 30px;"> <div class="col-sm-2">Kshs:</div></span>
                            
                        </div>
                        <div class="clearfix"></div>
                        <div class="row"  style=" font-size: 14px;">
                            <div class="col-sm-2">Prescribed Drugs:</div>
                            <div class="col-sm-4">
                          
                          
                                <div class="row" style="position: absolute;bottom: -1; margin-left: 20px;">
                                  <span *ngFor="let item of patient.insuranceVisit.services.pharmacy"> <strong> <span>{{item.name}} {{item.amount}} </span> </strong>       </span>
                                </div> <hr> 
                            </div>=
                            <!-- <div class="col-sm-4">
                                
                                
                                <div class="row" style="position: absolute;bottom: -1; margin-left: 5px;">
                                    <strong>   {{form_data.drugs_cost}}</strong>

                                </div> <hr>
                            </div>
                             -->
                            <div class="col-sm-2"></div>
                            
                        </div>
                        <div class="clearfix"></div>
                        <div class="row" style=" font-size: 14px;">
                            <div class="col-sm-4">Specialist,Pathologist.X-ray & Physiotheraphy fees:</div>
                           
                            <div class="col-sm-2">
                                
                                
                                <div class="row" style="position: absolute;bottom: -1; margin-left: 5px;">
                                    <strong>   {{form_data.specialist_cost}}</strong>

                                </div> <hr>
                            </div>=
                            <div class="col-sm-2"></div>
                            
                        </div>
                        <div class="clearfix"></div>
                        <div class="row" style=" font-size: 14px;">
                            <div class="col-sm-2">Total claims:</div>
                            <div class="col-sm-4">
                                
                                
                                <div class="row" style="position: absolute;bottom: -1; margin-left: 5px;">
                                    <strong>   {{form_data.total_claims}}</strong>

                                </div> <hr>
                            </div>=
                            
                            <div class="col-sm-2"></div>
                            
                        </div>
                        <div class="row" style=" font-size: 14px;">
                            <div class="col-sm-12">
                            I hereby confirm that the information provided above is correct and true to the best of my knowledge
                            </div>
                            
                        </div>
                        <div class="clearfix"></div>
                        <div class="row"  style=" font-size: 14px;">
                            <div class="col-sm-2">Name of Doctor</div>
                            <div class="col-sm-10">
                                
                                
                                <div class="row" style="position: absolute;bottom: -1; margin-left: 5px;">
                                    <strong>   {{form_data.practitioner}}</strong>

                                </div> <hr>
                            </div>
                            
                            <div class="col-sm-2">Telephone No:</div>
                            <div class="col-sm-10">
                                
                                
                                <div class="row" style="position: absolute;bottom: -1; margin-left: 5px;">
                                    <strong>   {{form_data.practice_phone}}</strong>

                                </div> <hr>
                            </div>
                            
                            
                        </div>
               
                
                <div class="row" style="margin-top: 12px;  font-size: 14px;">
                    <div class="col-sm-4"  (click)="activateStaffSignature()">
                        Doctor's Signature & stamp
                     </div>
                     <div class="col-sm-2">
                        <div class="row" style="position: absolute;bottom: 0;margin-bottom: -10px;" *ngIf="signature2_show"><img src="{{signature2_src}}" width="80px" height="50px"/></div>
                    <hr>
                </div>
                
                   
                    <div class="col-sm-2">
                        Date
                    </div>
                    <div class="col-sm-2">
                                
                                
                        <div class="row" style="position: absolute;bottom: -1; margin-left: 5px;">
                            <strong>   {{form_data.practitioner_signature_date| date}}</strong>

                        </div> <hr>
                    </div>
                </div>
                    
                </div>
               
               
                
                
                
            </div>
        </div>
    </div>
          
        </div>
      </div>

  <div class="modal fade" bsModal #clientModal="bs-modal" 
  tabindex="-1" role="dialog" aria-labelledby="dialog-static-name">
<div class="modal-dialog modal-xl">
<div class="modal-content">
  <div class="modal-header">
  <h4 id="dialog-static-name" class="modal-title pull-left">Edit Form</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="clientModal.hide()">
      <span aria-hidden="true">&times;</span>
  </button>
  </div>
  <div class="modal-body">
  <form>
    <div class="col-sm-12"  style="background-color:green; color: white; text-align: center; ">
        <div class="row" style="justify-content: center ; height: 30px; align-items: center;">
          HOSPITAL INFORMATION
      
        </div>
      
      </div>
   <div class="row" style="margin-top: 10px;">
      <div class="col-sm-4">
      <mat-form-field appearance="outline">
          <mat-label>Name of Hospital/Provider</mat-label>
          <input matInput placeholder="Name of Hospital/Provider" [(ngModel)]="form_data.hospital"  name="hospital" >
          </mat-form-field>
      </div>
      <div class="col-sm-4">
      <mat-form-field appearance="outline">
          <mat-label>Tel & Fax No</mat-label>
          <input matInput placeholder="Tel & Fax No" [(ngModel)]="form_data.hospital_tel_no"  name="hospital_tel_no" >
          
          </mat-form-field>
        </div>
    </div>
    
    <div class="col-sm-12"  style="background-color:green; color: white; text-align: center; ">
        <div class="row" style="justify-content: center ; height: 30px; align-items: center;">
          PATIENT INFORMATION
   
        </div>
   
      </div>
  
  <div class="row" style="margin-top: 10px;">
      <div class="col-sm-12">
      <mat-form-field appearance="outline">
          <mat-label>Name of Employer</mat-label>
          <input matInput placeholder="Name of Employer" [(ngModel)]="form_data.employer"  name="employer" >
          </mat-form-field>
      </div>
      <div class="col-sm-12">
      <mat-form-field appearance="outline">
          <mat-label>Policy /Membership No</mat-label>
          <input matInput placeholder="Policy /Membership No" [(ngModel)]="form_data.member_number"  name="member_number" >
          
          </mat-form-field>
  </div>
  <div class="col-sm-6">
    <mat-form-field appearance="outline">
        <mat-label>Employee's Name</mat-label>
        <input matInput placeholder="Employee's Name" [(ngModel)]="form_data.member"  name="member" >
        </mat-form-field>
    </div>
    <div class="col-sm-6">
    <mat-form-field appearance="outline">
        <mat-label>Mobile No</mat-label>
        <input matInput placeholder="Mobile No" [(ngModel)]="form_data.phone"  name="phone" >
        
        </mat-form-field>
    </div>

    <div class="col-sm-6">
        <mat-form-field appearance="outline">
            <mat-label>Patient's Name</mat-label>
            <input matInput placeholder="Patient's Name" [(ngModel)]="form_data.patient"  name="patient" >
            
            </mat-form-field>
        </div>
  <div class="col-sm-6">
      <mat-form-field appearance="outline">
      <mat-label>Date of Birth</mat-label>
          <input matInput placeholder="Date of Birth" [maxDate]="maxDate"  [matDatepicker]="picker" [(ngModel)]="form_data.dob"  name="dob" >
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
  </div>
  
  <div class="col-sm-4">
  <mat-form-field appearance="outline" >
      <mat-label>Relationship to Employee</mat-label>
      <input matInput placeholder="Relationship to Employee" [(ngModel)]="form_data.relationship" name="relationship" >

      </mat-form-field>
  </div>
  <div class="col-sm-12">
  <mat-form-field appearance="outline">
      <mat-label>Are you insured  under any other medical expense scheme</mat-label>
          <input matInput placeholder="Are you insured  under any other medical expense schem" [(ngModel)]="form_data.insured_scheme" name="insured_scheme" >
      </mat-form-field>
  </div>
  <div class="col-sm-12">
  <mat-form-field appearance="outline">
      <mat-label>Final Diagnosis of condition treated</mat-label>
          <textarea matInput placeholder="Final Diagnosis of condition treated" [(ngModel)]="form_data.final_diagnosis"   rows= "3" name="final_diagnosis"></textarea>
  </mat-form-field>
  </div>
 
  <div class="col-sm-12">
    <mat-form-field appearance="outline">
        <mat-label>When was the condition first diagnosed</mat-label>
            <textarea matInput placeholder="When was the condition first diagnosed" [(ngModel)]="form_data.when_first_diagnosis"   rows= "3" name="when_first_diagnosis"></textarea>
     
    </mat-form-field>
    </div>          
    <div class="col-sm-12">
    <mat-form-field appearance="outline">
        <mat-label>Cause of illness/es </mat-label>
        <textarea matInput placeholder="Cause of illness/es" [(ngModel)]="form_data.cause_of_illness"   rows= "3" name="cause_of_illness">
    </textarea>
    </mat-form-field>
    </div>
    <div class="col-sm-12">
        <mat-form-field appearance="outline">
            <mat-label>Nature of treatment and given recommendations</mat-label>
                <textarea matInput placeholder="Nature of treatment and given recommendations" [(ngModel)]="form_data.nature_treatment"   rows= "3" name="nature_treatment"></textarea>
            </mat-form-field>
            </div>
    <div class="col-sm-4">
      <mat-form-field appearance="outline" >
      <mat-label>Name of consultant</mat-label>
          <input matInput placeholder="Name of consultant" [(ngModel)]="form_data.consultant" name="consultant" >

      </mat-form-field>
    </div>
  <div class="col-sm-4">
      <mat-form-field appearance="outline" >
      <mat-label>Specialty</mat-label>
          <input matInput placeholder="specialist" [(ngModel)]="form_data.specialist" name="specialist" >

      </mat-form-field>
  </div>
  <div class="col-sm-6">
    <mat-form-field appearance="outline">
    <mat-label>Date of Accident</mat-label>
        <input matInput placeholder="Date of Accident" [maxDate]="maxDate"  [matDatepicker]="picker2" [(ngModel)]="form_data.date_accident"  name="date_accident" >
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field>
</div>
  <div class="col-sm-12">
    <mat-form-field appearance="outline">
        <mat-label>Cause of Accident</mat-label>
            <textarea matInput placeholder="Cause of Accident" [(ngModel)]="form_data.cause_accident"   rows= "3" name="cause_accident"></textarea>
        </mat-form-field>
        </div>

        <div class="col-sm-12">
            <mat-form-field appearance="outline">
                <mat-label>Nature of injuries</mat-label>
                    <textarea matInput placeholder="Nature of injuries" [(ngModel)]="form_data.nature_injuries"   rows= "3" name="nature_injuries"></textarea>
                </mat-form-field>
                </div>
  <div class="col-sm-12">
    <mat-form-field appearance="outline" >
    <mat-label>Private Doctors Fees</mat-label>
        <input matInput placeholder="Private Doctors Fees" [(ngModel)]="form_data.doctors_fees" name="doctors_fees" >

    </mat-form-field>
</div>
<div class="col-sm-12">
    <mat-form-field  appearance="outline">
    <mat-label>Prescribed Drugs</mat-label>
        <input matInput placeholder="Prescribed Drugs" [(ngModel)]="form_data.drugs_cost" name="drugs_cost" >

    </mat-form-field>
</div>
<div class="col-sm-12">
    <mat-form-field appearance="outline" >
    <mat-label>Specialist, Pathologists, X-ray & Physiotherapy fees</mat-label>
        <input matInput placeholder="Specialist,Pathologists, X-ray & Physiotherapy fees" [(ngModel)]="form_data.specialist_cost" name="specialist_cost" >

    </mat-form-field>
</div>
  
<div class="col-sm-12">
    <mat-form-field appearance="outline" >
    <mat-label>Total Claims</mat-label>
        <input matInput placeholder="Total Claims" [(ngModel)]="form_data.total_claims" name="total_claims" >

    </mat-form-field>
</div>
  
<div class="col-sm-12">
    <mat-form-field appearance="outline" >
    <mat-label>Name of Doctor</mat-label>
        <input matInput placeholder="Name of Doctor" [(ngModel)]="form_data.practitioner" name="practitioner" >

    </mat-form-field>
</div> 
<div class="col-sm-12">
    <mat-form-field appearance="outline" >
    <mat-label>Telephone Number</mat-label>
        <input matInput placeholder="Telephone Number" [(ngModel)]="form_data.practice_phone" name="practice_phone" >

    </mat-form-field>
</div> 
<div class="col-sm-8" >
<button class="btn btn-success pull-right"  (click)="Update()">Update</button>
</div>
  </div>
  </form>
  </div>
</div>
</div>

</div>