<div class="card">
    <div class="card-body" >
        <div class="row">
            <div class="col-sm-12" >
                <button class="btn btn-success" style="float: right;" (click)="printPage()">Print Claim Form</button>
                <div class="clearfix"></div>


    
            </div>
           
           
            
            
        </div>
        <div class="row" style="font-size: 8px;">
           
              <div class="row">
                <div class="col-sm-12">
                    <p style="white-space:nowrap; margin-top: 0px;">
                        <img src="../../../../assets/img/avatars/cigna001.png" alt="" width="900" height="200" >
                       
                         
                       
                    </p>
    
    
                </div>
    
            </div>
            <div class="box">
                <div class="col-sm-12">
                    <div class="col-sm-8" >
               
                        <h6 style="  color: rgb(10, 124, 230);"><strong>Patient information</strong>(on patient's Cigna memebrship card)</h6>
        
                       
                      </div>

                </div>
                <div class="row">
                    <div class="col-sm-2">CIGNA PERSONAL REFERENCE NO.</div>
                    <div class="col-sm-10">
                        <input type="text"value="{{patient.member_number}}" >
                        </div>
                   
                </div>
              
               
                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-sm-2">NAME-FIRST NAME</div>
                    <div class="col-sm-10">
                        <input type="text"value="{{patient.patient.first_name}} {{patient.patient.last_name}}" >
                        </div>
                   
                    
                </div>
                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-sm-3">DATE OF BIRTH( D-M-Y)</div>
                    <div class="col-sm-9">
                        <input type="text" value="{{patient.patient.dob}}">
                        </div>
                   
                    
                </div>
            </div>
             
              
            
              
                
               
                
                <div class="clearfix"></div>
               
                <div class="row">
                    <div class="col-sm-12">
                        <p style="white-space:nowrap; margin-top: 0px;">
                            <img src="../../../../assets/img/avatars/cigna002.png" alt="" width="700" height="150" >
                           
                             
                           
                        </p>
        
        
                    </div>
        
                </div>
                
               
                      <div class="boxx">
                        <div class="col-sm-12">
                           
                              <div class="col-sm-8" >
               
                                <h6 style="  color: rgb(10, 124, 230);"><strong>Services rendered</strong>(Please also attach the invoice(s)) </h6>
                
                               
                              </div>
                              <!-- <div class="row"> -->
                                <div class="col-sm-12" >
                           
                                    <p style=" color: black; font-size: 10px;">DIAGNOSIS OR NATURE OF ILLNESS </p><br>
                                    
                                    
                                  </div>
                                  <div class="row" style="font-size: 10px;">
                                    <div class="col-sm-4"></div>
                                    <div class="col-sm-4"><strong>Currency</strong></div>
                                    <div class="col-sm-4"><strong>Total</strong></div>
                                    
                                    
                                </div>
                                  
                              <div class="row">
                                <div class="col-sm-3">AMOUNT OF EXPENCES</div>
                                <div class="col-sm-9">
                                    <input type="text" >
                                    </div>
                                
                            </div>
                            <div class="clearfix"></div>
                            <div class="row">
                                <div class="col-sm-3">AMOUNT PAID BY PATIENT</div>
                               
                                <div class="col-sm-9">
                                    <input type="text">
                                    </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="row">
                                <div class="col-sm-3">BALANCE DUE BY CIGNA</div>
                                <div class="col-sm-9">
                                    <input type="text" >
                                    </div>
                                
                            </div>
                           <div class="row" style="font-size: 10px;">
                               <div class="col-sm-12">
                                <p>
                                    I hereby certify that 1 or (a) Members(s) of my staff have/has rendered the services as described in attached invoices. i also<br>
                                    confirm that, to the best of my knowledge, and as i have verified the patient's membership card, the patient treated is <br>
                                    indeed the person named on this form.
                                </p>

                               </div>

                           </div>
                            <div class="clearfix"></div>
                            <div class="row" style="margin: 40px; font-size: 10px;">
                                <div class="col-sm-3">
                                    <div class="row"> 
                                        <div class="col-sm-4">Date:</div>
                                        <div class="col-sm-8">
                                            <input type="text" value="{{ today1}}">
                                           
                                        </div>
                                    </div>
                                  
                                </div>
                                
                                    <div class="col-sm-2"  (click)="activateStaffSignature()">
                                        PROVIDER'S SIGNATURE:
                                     </div>
                                     <div class="col-sm-3">
                                         <div class="row" style="position: absolute;bottom: 0;margin-bottom: -10px;" *ngIf="signature2_show"><img src="{{signature2_src}}" width="80px" height="50px"/></div>
                                    
                                     <input type="text">
                                 </div>
                                    
                                   
                                <div class="col-sm-2">
                                    PROVIDER'S STAMP AND NAME:
                                
                            </div> 
                            <div class="col-sm-2">
                          
                            <input type="text">
                        </div>
        
                       
                       
                      
                       
                        
                        
                    </div>
                     


                  </div>
                
                  
                
                   
                   
                   

                  
                    
                    <div class="clearfix"></div>
                    <div class="boxx">
                        <div class="col-sm-8" >
               
                            <h6 style="  color: rgb(10, 124, 230);"><strong>Patient's authorisation</strong> </h6>
            
                           
                          </div>
                          <div class="row" style="font-size: 10px;">
                              <div class="col-sm-12">
                                <p>
                                    1. I hereby certify that i understand that this claim form will allow Cigna to settle (part of) the claim(s) related to my treatment directly with the health care provider.I hereby also<br>
                                    authorise the above mentioned health care provider to provide Cigna's Medical consultamt with all information that may be relevant  or neccesary for the correct assessment of this<br>
                                    claim. I hereby certify that i will not lay any claim to cigna againest monies receivable by the provider of medical services.<br>
                                    2.I hereby agree to return the ptient portion to Cigna in case there is a diffrence between the amount paid by cigna to the provider and the covered expences according to my plan<br>
                                    benefits.<br>
                                    3.I hereby certify that i received the services as bdescribed in the attached invoices(s)
                                    4. I accept the terms and conditions. i certify that the above information is to the best of my knowledge and belief correct and true. The issuance of false claims, the provission of<br>
                                     misleading information or the withholding of information related thereto is an offence punishable by law. I hereby confirm i have read and fully understood Cigna's Data<br>
                                     protection Notice (https://www.cignahealthbenefits.com/en/privacy).If i provide Cigna with personal information relating to others, i will make them aware of Cigna's Data<br>
                                      protection  Notice
                                </p>
    
                              </div>
    
                          </div>
                          <div class="clearfix"></div>
                          <div class="row" style="margin: 40px; font-size: 12px;">
                            <div class="col-sm-5">
                                <div class="row"> 
                                    <div class="col-sm-4">Date:</div>
                                    <div class="col-sm-8">
                                        <input type="text" value="{{ today1}}">
                                      
                                    </div>
                                </div>
                              
                            </div>
                             
                               
                                 
                                   
                                        <div class="col-sm-2"  (click)=" activateMemberSignature()">
                                            PATIENT'S SIGNATURE:
                                         </div>
                                         <div class="col-sm-3">
                                             <div class="row" style="position: absolute;bottom: 0;margin-bottom: -10px;" *ngIf="signature1_show"><img src="{{signature1_src}}" width="80px" height="50px"/></div>
                                        
                                         <input type="text">
                                     </div>
                                        
                                        
                                   
                                      
                                   
                                
                               
                              
                          </div> 

                    </div>
        
              

                
                
              
               
                
                   
                
            </div>
        </div>
    </div>

</div>
            
              
            
            
           
            

        
           

           
          
             