
table{
	width: 100%;
	font-family:lato light;
}
tr.mat-header-row {
	height:38px;
}
td.mat-cell{
  font-size:13px;
  font-weight: bold;
}
tr.mat-row, tr.mat-footer-row {
  height: 32px;
}

th.mat-header-cell {
  text-align: left;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
}

th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
  padding: 0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

th.mat-header-cell:first-child, td.mat-cell:first-child, td.mat-footer-cell:first-child {
  padding-left: 24px;
}

th.mat-header-cell:last-child, td.mat-cell:last-child, td.mat-footer-cell:last-child {
  padding-right: 24px;
}
::ng-deep .mat-checkbox-checked.mat-primary .mat-checkbox-background .mat-checkbox-background , .mat-checkbox-indeterminate.mat-primary .mat-checkbox-background {
  background: pink!important;
}
mat-form-field{
	width: 100%;
	font-size:12px;
}