<div class="card">
    <div class="card-body" id="print-section">
        <div class="row">
            <div class="col-sm-12" >
                <button class="btn btn-success" style="float: right;" (click)="printPage()">Print Claim Form</button>
                <div class="clearfix"></div>
                <!-- <button class="btn btn-success" style="float: right; margin-top: 20px;" (click)="sedgrick()">SEDGWICK Claimform</button> -->


    
            </div>
           
           
            
            
        </div>
        <div class="row">
           
            <div class="col-sm-4">
                <h1 style="white-space:nowrap; font-size: 15px; margin-top: 35px;">
                   
                 <strong>  CIC GENERAL INSURANCE LMT.</strong>  
                   
                </h1>
             
            </div> 
           
          
            <div class="col-sm-8">
                <div class="row" style="justify-content: right; margin-top: 35px;">
                    <h1 ><img  src="../../../../assets/img/avatars/cic.png" alt=""  height="200" width="200">
                   </h1>
                </div>
            </div>
            <div class="col-sm-4">
                <h1 style=" font-size: 30px; background-color: yellow;">
                   
                 <strong style="color: white;"> OUT PATIENT CLAIM<br>FORM</strong>  
                   
                </h1>
             
            </div> 
          
            
        
            <div class="clearfix"></div>
            
            <div class="col-sm-12" style="color: red;  margin-left: 20px;" >
               
                <h6 style=" color: red">PATIENT INFORMATION</h6>

               
              </div>
              <div class="clearfix"></div>
              <div class="row"  style="margin-left: 30px;">
                  <div class="col-sm-2">Scheme Name</div>
                  <div class="col-sm-4">
                  <input type="text"value="{{patient[0].scheme_name}}">
                  </div>
                  <div class="col-sm-2">Employee's Name</div>
                  <div class="col-sm-4">
                  <input type="text"value="{{employee}}">
                  </div>
              </div>
              <div class="clearfix"></div>
              <div class="row"  style="margin-left: 30px;">
                  <div class="col-sm-2">Membership No</div>
                  <div class="col-sm-4">
                  <input type="text" value="{{patient[0].member_number}}">
                  </div>
                  <div class="col-sm-2">National ID(must provide):</div>
                  <div class="col-sm-4">
                  <input type="text" value="{{patient[0].national_id}}">
                  </div>
              </div>
              <div class="clearfix"></div>
              <div class="row"  style="margin-left: 30px;">
                  <div class="col-sm-2">Patient mobile number</div>
                  <div class="col-sm-4">
                  <input type="text" value="{{patient[0].phone}}">
                  </div>
                  <div class="col-sm-2">Email</div>
                  <div class="col-sm-4">
                  <input type="text" value="{{patient[0].email}}">
                  </div>
              </div>
              <div class="clearfix"></div>
              <div class="row"  style="margin-left: 30px;">
                  <div class="col-sm-2">Date of Birth</div>
                  <div class="col-sm-4">
                  <input type="text" value="{{patient[0].dob}}">
                  </div>
                  <div class="col-sm-2">Patient's Name</div>
                  <div class="col-sm-4">
                  <input type="text" value="{{patient[0].member}}">
                  </div>
              </div>
              <div class="clearfix"></div>
              <div class="row"  style="margin-left: 30px;">
                  <div class="col-sm-6">Relationship of patient to Employee:(Tick againest the box)</div>
                  <div class="col-sm-6">
                  <input type="text" value="{{relationship}}">
                  </div>
                 
                 
              </div>
            </div>
               

              
               
                
                
               
               
                     
                       
                <div class="col-sm-12" style=" margin-left: 20px;" >
               
                    <h6 style=" color: red">MEDICAL INFORMATION</h6>
    
                   
                  </div>
                <div class="clearfix"></div>
              
                <div class="row" style="position: relative;  margin-left: 20px;">
                    <div class="col-sm-6">Type of condition(Tick againest the box)</div>
                   
                    
                    <div class="col-sm-3">
                        <mat-checkbox class="example-margin" ></mat-checkbox>
                        ACCIDENTS
                    </div>
                    <div class="col-sm-3">
                     <mat-checkbox class="example-margin" ></mat-checkbox>
                    SICKNESS
                  </div>
                </div>
               
                <div class="clearfix"></div>
                <div class="col-sm-12" style=" margin-left: 20px;" >
               
                    <h6 style=" color: red">SERVICE PROVIDER DETAILS</h6>
    
                   
                  </div>
                  <div class="clearfix"></div>
              <div class="row"  style="margin-left: 30px;">
                  <div class="col-sm-2">Name of Clinic </div>
                  <div class="col-sm-4">
                  <input type="text" value="{{hospital}}">
                  </div>
                  <div class="col-sm-2">Consulting Physician</div>
                  <div class="col-sm-4">
                  <input type="text" value="{{patient[0].doctor_name}}">
                  </div>
              </div>
                <div class="clearfix"></div>
                <div class="row"  style="margin-left: 30px;">
                    <div class="col-sm-4">Treatment Date </div>
                    <div class="col-sm-8">
                    <input type="text" value="{{patient[0].check_in| date: 'dd/MM/yyyy'}}">
                    </div>
                   
                </div>
              
              
                
                <div class="clearfix"></div>
                
                <div class="col-sm-12" style=" margin-left: 20px;" >
               
                    <h6 style=" color: red">DIAGNOSIS CODING</h6>
    
                   
                  </div>
             
               <div class="row" style="font-size: 8px; color: black;">
                
                <div class="col-sm-2">
                    <strong >DIAGNOSIS</strong><br>
                   ALLERGIC RHINITIS,<br> 
                    ANAEMIA<br>
                    ANTENATAL SCREENING<br>
                    BRONCHITIS<br>
                    CANDIDIASIS<br>
                    CONJUNCTIVITIS<br>
                    VACCINATION<br>
                </div>
                    
                
                <div class="col-sm-1">
                    <strong >CODE (TICK)</strong><br>
                    J30<br> 
                    D64<br>

                    Z36<br>
                    J40<br>
                    J37<br>
                    H10<br>
                    Z23<br>
                    
                   
                </div>
                <div class="col-sm-2">
                    <strong >DIAGNOSIS</strong><br>
                    C-SECTION<br>
                    DENTAL CARRIES<br>
                    DERMATITIS<br>
                    DIARRHOEA/GASTRO<br>
                    GASTRITIS<br>
                    INFLUENZA<br>
                    POSTNATAL<br>
                   
                </div>
                <div class="col-sm-1">
                    <strong >CODE (TICK)</strong><br>
                    082<br> 
                    K02<br>

                    L30<br>
                    A09<br>
                    K29<br>
                    J10<br>
                    Z39.0<br>
                    
                   
                </div>
                <div class="col-sm-2">
                    <strong >DIAGNOSIS</strong><br>
                    MALARIA<br>
                    MYOPIA<br>
                    OPTICAL EXAMINATION OF<br>
                   EYES AND VISION<br>
                   OTITUS MEDIA<br>
                    PEPTIC ULCER<br>
                    HPT<br>
                   
                </div>
           
            <div class="col-sm-1">
                <strong> CODE (TICK)</strong><br>
                B54<br> 
                H52<br>

                Z01<br>
                Z01<br>
                H66<br>
                K27<br>
                I18.9<br>
                
               
            </div>
            <div class="col-sm-2">
                <strong >DIAGNOSIS</strong><br>
                PHARYNGITIS<br>
                PNEUMONIA<br>
               SPONTANEOUS BIRTH<br>
               TONSILLITIS<br>
               URTI<br>
                UTI<br>
                DM<br>
               
            </div>
            <div class="col-sm-1">
                <strong>CODE (TICK)</strong><br>
                J02<br> 
                J18<br>

                080<br>
                J03<br>
                J06<br>
                N39<br>
                E08.9<br>
               
            </div>
                    
                   
                
                
                
                
        
           
            
            
            <div class="col-sm-12" >
          
          <h6>
              <strong>
                  Diagnosis(Specify)
              </strong>
            </h6>
            <div class="row" style="font-size: 8px; color: black;">
                
                <div class="col-sm-2">
                    <strong>consultation</strong><br>
                   
                </div>
                <div class="col-sm-2">
                 
                   0190-GP<br> 
                    
                </div>
                <div class="col-sm-2">
                 
                    0191-SPECIALIST<br> 
                     
                 </div>
                 <div class="col-sm-2">
                 
                    110001- OPTICAL<br> 
                   
                     
                 </div>
                 <div class="col-sm-2">
                 
                    8101- DENTAL<br> 
                  
                     
                 </div>
                 <div class="col-sm-1">
                 
                    Other<br> 
                   
                     
                 </div>
                 <div class="col-sm-1">
                 
                    cost<br> 
                   
                     
                 </div>
    
                 <div class="clearfix"></div>
                 <div class="row" style="position: relative;  margin-left: 20px;">
                    <div class="col-sm-6">Is this a Maternity Related claim?</div>
                   
                        <div class="col-sm-3">
                            <mat-checkbox class="example-margin" ></mat-checkbox>
                            Yes
                        </div>
                        <div class="col-sm-3">
                         <mat-checkbox class="example-margin" ></mat-checkbox>
                        No
                      </div>
                </div>

                

        </div>
        <div class="clearfix"></div>
        <div class="row" style="font-size: 12px; color: black;">
                
            <div class="col-sm-4">
                <strong style="color: black;">SERVICE PROVIDED </strong><br>
               
            </div>
            <!-- <div class="col-sm-3">
                <strong style="background-color: darkblue;">CODE </strong><br>
               
            </div> -->
            <div class="col-sm-4">
                <strong style="color:  black;">DESCRIPTION</strong><br>
               
            </div>
            <div class="col-sm-4">
                <strong style="color: black;">COST</strong><br>
               
            </div>
            
       
            
             
               
                <div class="row" style="position: relative; ">
                    <div class="col-sm-4">LABORATORY TESTS:</div>
                    <div class="col-sm-4">
                    <input type="text" >
                    </div>
                    <div class="col-sm-4">
                        <input type="text" >
                        </div>
                        <!-- <div class="col-sm-3">
                            <input type="text" [(ngModel)]="patient.patient.last_name">
                            </div> -->
                    
                   
                  
                </div>
                <div class="clearfix"></div>
                <div class="row" style="position: relative;">
                    <div class="col-sm-4">OTHER DIAGNOSTIC PROCEDURES/TESTS:</div>
                    <div class="col-sm-4">
                    <input type="text" >
                    </div>
                    <div class="col-sm-4">
                        <input type="text">
                        </div>
                        <!-- <div class="col-sm-3">
                            <input type="text" [(ngModel)]="patient.patient.last_name">
                            </div> -->
                    
                   
                  
                </div>
                <div class="clearfix"></div>
                <div class="row" style="position: relative;">
                    <div class="col-sm-4">OPTICAL:</div>
                    <div class="col-sm-4">
                    <input type="text" >
                    </div>
                    <div class="col-sm-4">
                        <input type="text" >
                        </div>
                       
                </div>
                <div class="row" style="position: relative;">
                    <div class="col-sm-4">DENTAL</div>
                    <div class="col-sm-4">
                    <input type="text">
                    </div>
                    <div class="col-sm-4">
                        <input type="text">
                        </div>
                        
                   
                  
                </div>

                <div class="clearfix"></div>

                <div class="row" style="font-size: 12px; color: black;">
                
                   
                    
                    <div class="col-sm-3">
                        <strong style="color: black;">QUANTITY</strong><br>
                       
                    </div>
                    <div class="col-sm-3">
                        <strong style="color: black;">DOSAGE</strong><br>
                       
                    </div>
                    <div class="col-sm-3">
                        <strong style="color: black;">DESCRIPTION</strong><br>
                       
                    </div>
                    <div class="clearfix"></div>
                    <div class="clearfix"></div>
                <div class="row" style="position: relative; margin-left: 20px;">
                    <div class="col-sm-4">PPRESCRIPTION DRUGS ATTACH COPY OF PRESCRIPTION</div>
                    <div class="col-sm-8">
                    <input type="text" >
                    </div>
                    
                    
                </div>
                <div class="clearfix"></div>
                <div class="row" style="position: relative; margin-left: 20px">
                    <div class="col-sm-6">TOTAL MEDICAL COSTS(INDICATE CURRENCY)</div>
                    <div class="col-sm-6">
                    <input type="text" >
                    </div>
                    
                    
                </div>
                <div class="col-sm-12" style="color: red;  margin-left: 20px;" >
               
                    <h4 style=" color: white">PROVIDER'S DECLARATION</h4>
    
                   
                  </div>
                  <P style="margin-left: 20px;">
                      I CERTIFY THAT THE ABOVE PATIENTS HAS RECEIVED THE SERVICES  & TREATMENT NOTED ON THIS FORM, DIAGNOSIS AND<br>
                      ADMINISTRATION BY MYSELF AND THAT THIS CLAIM IS IN ACCORDANCE WITH MY SPOECIFIED TREATMENT.
                  </P>
                  <div class="row" style="margin: 40px;">
                    <div class="clearfix"></div>
              <div class="row"  style="margin-left: 30px;">
                  <div class="col-sm-2">Scheme Name</div>
                  <div class="col-sm-4">
                  <input type="text"value="{{patient[0].doctor_name}}">
                  </div>
                 
              </div>
                    <!-- <div class="col-sm-4">
                        Doctor's Name___________________________________________
                    </div> -->
                    <div class="col-sm-3">
                    signature___________________________
                    </div>
                    <div class="col-sm-3">
                        Date____________________________
                        </div>
                    
                </div>
                
                <div class="col-sm-12" style="color: red; margin-left: 20px;" >
               
                    <h4 style=" color: white">PATIENT'S  DECLARATION</h4>

    
                   
                  </div>
                 
                  <div class="clearfix"></div>
                  <P style="margin-left: 20px;">
                    I____________________________ __________________________________________________________do hereby authorize any doctor,hospital clinic or medical provider any other company, institution or<br>
                    person who has record or information about me and/or my family members to provide my insurer with complete information including copies of theeir records<br>
                    with reference to my sickness or accident any treatment,examination,advise, or hospitalization . In the event that i access service which is not covered by my <br>
                    scheme or in event that my scheme fails to pay the bill, I undertake to settle the bill in full within the providers credit terms.<br>
                    <strong>I have also been advised by CIC Insurance and have understood the vaious exclusions.</strong> Any photocopy of this authorization shall be taken as the original <br>
                    copy.
                    
                </P>
                <div class="clearfix"></div>
                <div class="row" style="margin: 40px;">
                    <div class="col-sm-8">
                        PATIENT/PARENT/GURDIAN'S SIGNATURE___________________________________________
                    </div>
                    <div class="clearfix"></div>
                   
                    <div class="col-sm-6">
                        DATE____________________________
                        </div>
                    
                </div>
               
               
              <div class="col-sm-12" >
                <p  style="color: red;text-align: center;font-weight:600;font-size: 20px;">
                    <strong>CIC GENERAL INSURANCE LTD</strong></p>
              </div>
               
               
                <div class="col-sm-12">
                    <div class="text" style="font-size: 12px; background-color: yellow;">
                       

                        <p style="color: red;text-align: center;font-weight:600;">
                            <i class='fa fa-map-marker'></i> CIC PLAZA MARA ROAD, UPPERHILL<i class='fa fa-address-card-o'></i> P.O BOX 59485-00200 NAIROBI,KENYA<br>
                            <i class='fa fa-whatsapp'></i> 0202823999, 0703099999,0732179999 <i class='fa fa-internet-explorer'></i>care.managers@cic.co.ke  <i class='fa fa-internet-explorer'></i> www.cic.co.ke<br>
                           <i class='fa fa-facebook-official'></i>CICGroupPLC <i class='fa fa-twitter'style="color: red;"></i> CICGroupPLC<i class='fa fa-linkedin-square'></i>CICGroupPLC<br>
                           KENYA .SOUTH SUDAN .UGANDA .MALAWI<br>
                           GENERAL .LIFE .HEALTH.ASSET<br>
                        </p>
                    </div>
                </div>