
<div class="row">
  <div class="col-sm-12">
    <div class="card">
  <div class="card-header">
<i class="icon-plus text-primary"></i>Stock
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-sm-2">
        <mat-form-field>
          <input matInput (keyup)="search($event.target.value)" placeholder="Drug Name">
        </mat-form-field>
      </div>
      <div class="col-sm-2">
        <mat-form-field>
          <input matInput (keyup)="search($event.target.value)" placeholder="Generic Name">
        </mat-form-field>
      </div>
      <div class="col-sm-2">
        <mat-form-field>
          <input matInput (keyup)="search($event.target.value)" placeholder="Drug Form">
        </mat-form-field>
      </div>
    </div>
  <div class="row">
    <div class="col-sm-12">
      <div  class="mat-elevation-z8 table-responsive">
      <table mat-table [dataSource]="dataSource" matSort >
          <ng-container matColumnDef="sn">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>S/no</th>
              <td mat-cell *matCellDef="let element;let i=index">{{i+1}}</td>
            </ng-container>
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Drug Name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="generic_name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Generic Name</th>
          <td mat-cell *matCellDef="let element"> {{element.generic_name}} </td>
        </ng-container>
    
        <ng-container matColumnDef="therapeutic_class">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Therapeutic class</th>
          <td mat-cell *matCellDef="let element"> {{element.therapeutic_class}} </td>
        </ng-container>
      
     
        <ng-container matColumnDef="strength">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Strength</th>
          <td mat-cell *matCellDef="let element"> {{element.strength}} </td>
        </ng-container>
        <ng-container matColumnDef="form">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Form</th>
          <td mat-cell *matCellDef="let element"> {{element.form}} </td>
        </ng-container>
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
          <td mat-cell *matCellDef="let element"><span class="badge badge-danger" style="border-radius:2px;font-size: 12px;" *ngIf="element.quantity < 30"> <i class="cui-bell"></i>Re-Order</span>
            
            <span class="badge badge-success" style="border-radius:2px;font-size: 12px;" *ngIf="element.quantity > 30"> <i class="fa fa-wpexplorer"></i> In  Stock</span>
           </td>
        </ng-container>
        <ng-container matColumnDef="quantity">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Quantity</th>
          <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
        </ng-container>
        <ng-container matColumnDef="cost">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Price</th>
          <td mat-cell *matCellDef="let element"> {{element.cost}} </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="loadMedicines(row)"></tr>
      </table>
        <mat-paginator [pageSizeOptions]="[12]" showFirstLastButtons></mat-paginator>
    </div>
    </div>
  </div>
  </div>
</div>
  </div>
  <div class="modal fade" bsModal #staticModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog"
    aria-labelledby="dialog-static-name">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-body">
         
          <div class="row">
            <div class="col-sm-12">
              <h6>Load Drug</h6>
              <hr>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <mat-form-field>
                <input type="text" placeholder="Drug Name" [(ngModel)]="drug.name" readonly matInput>
              </mat-form-field>
            </div>
            <div class="col-sm-12">
                <mat-form-field>
                  <input type="text" placeholder="Generic Name" [(ngModel)]="drug.generic_name" readonly  matInput>
                </mat-form-field>
              </div>
              <div class="col-sm-12">
                  <mat-form-field>
                    <input type="text" placeholder="Therapeutic class"  [(ngModel)]="drug.therapeutic_class" readonly  matInput>
                  </mat-form-field>
                </div>
                <div class="col-sm-12">
                    <mat-form-field>
                      <input type="text" placeholder="Strength" [(ngModel)]="drug.strength" readonly matInput>
                    </mat-form-field>
                  </div>
                <div class="col-sm-12">
                      <mat-form-field>
                        <input type="text" placeholder="Form" [(ngModel)]="drug.form" readonly matInput>
                      </mat-form-field>
               </div>
               <div class="col-sm-12">
                  <mat-form-field>
                    <input type="number" placeholder="Price" [(ngModel)]="drug.cost" matInput>
                  </mat-form-field>
           </div>
               <div class="col-sm-12">
                  <mat-form-field>
                    <input type="number" placeholder="Quantity" [(ngModel)]="drug.load" matInput>
                  </mat-form-field>
           </div>
           <div class="col-sm-12">

              <button class="btn btn-info btn-sm pull-right" (click)="onSubmit()" [disabled]="!drug.load">Load Drug</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '9px' }"></ngx-loading>
  </div>
</div>
