<div class="container" style="margin-top: 30px;">
    <div class="row">
        <div class="col-sm-12">
            <mat-horizontal-stepper linear="true" #stepper>
              <mat-step   label="Patient Phone" *ngIf="show_phone">
                <form >
                  <div class="col-sm-12">
                    <div class="row" style="justify-content: center;"> <h2><span  style="font-weight: bold;font-size: x-large;">Enter the phone number</span></h2></div>
 
              <br>
                      <div class="row" style="justify-content: center;">
                        <div class="col-sm-5">
                        <mat-form-field class="example-full-width"  appearance="outline">
                          <mat-label>phone number</mat-label>
                          <input type="text"  matInput [(ngModel)]="phone" name="phone" >
                       
                        </mat-form-field>
                      </div>
                    </div>
                    

                    
            
                   <!-- <mat-error *ngIf="fs.first_time.errors?.required">select yes or no</mat-error> -->
                </div> 

                <div class="col-sm-12" style="margin-top: 20px;justify-content: center;display:flex">
                
                      <button mat-raised-button   style="padding-top: 5px;padding-bottom: 5px; padding-left: 40px; padding-right: 40px; font-size: x-large;background-color: #EF2D2D;color: white;"  (click)= "submitPhone()">next</button>
                
              </div>
                  </form>

              
                </mat-step>
 
                <mat-step *ngFor="let item of  questions; let i = index">
                    <div class="row">
                   
                              <form style="width: 100%;">
                              <div class="col-sm-12">
                            </div>
                              <br>
                              <div class="col-sm-12">
                                <div class="row" style="justify-content: center;"> <h4><span style="font-weight: bold;font-size: x-large;">{{item.question}}</span></h4></div>  
                         
                                <div class="row" style="justify-content: center;margin-top: 20px;">
                                  <ngx-stars [readonly]="false" [size]="4" [maxStars]="5" (ratingOutput)="rateClicked($event,item)" ></ngx-stars>
                                </div>
                                <div >
                                <div class="row" style="justify-content: center;"  *ngIf="item.show_issues"> 
                                    <button class="btn2"  *ngFor="let issue of item.issues" (click)="addItemInList(issue,item.selected_issues)"   [style.border]=" isItemInList(issue,item.selected_issues) ? '1px solid white' : '1px solid black'"  [style.background-color]=" isItemInList(issue,item.selected_issues)  ? 'red' : 'white'" [style.color]=" isItemInList(issue,item.selected_issues)  ? 'white' : 'black'"  style="margin: 10px; font-size: large;font-weight: 400;display:block;border-radius:30px;height:50px;color: black;padding-left: 10px;padding-right: 10px;">{{issue}}</button>
                                
                                </div>

                                <div class="row" style="justify-content: center;"  *ngIf="item.show_compliments"> 
                                  <button class="btn2"  *ngFor="let compliment of item.compliments" (click)="addItemInList(compliment,item.selected_compliments)"  [style.border]=" isItemInList(compliment,item.selected_compliments) ? '1px solid white' : '1px solid black'"  [style.background-color]=" isItemInList(compliment,item.selected_compliments) ? 'red' : 'white'" [style.color]="isItemInList(compliment,item.selected_compliments) ? 'white' : 'black'"  style="margin: 10px; font-size: large;font-weight: 400;display:block;border-radius:30px;height:50px;color: black;padding-left: 10px;padding-right: 10px;">{{compliment}}</button>
                                </div>
                               
                                </div>
                                <div class="row" style="justify-content: center;" > 
                                  <mat-form-field class="fill-width" appearance="outline" style="max-width: 400px;">
                                      <mat-label>Comment </mat-label>
                                      <input matInput placeholder="Write here" name="comment" [(ngModel)] ="item.comment">    
                                    </mat-form-field>
                              
                              </div>
                            </div>
                            <!-- <div class="row" style="justify-content: center;margin-top: 20px;">
                              <ngx-stars [readonly]="false" [size]="5" [maxStars]="10" (ratingOutput)="rateClicked($event,item)" ></ngx-stars>
                            </div> -->
                            
                          <div class="row" style="justify-content: center;">
                      
                            <button class="btn" type="submit" style="padding-top: 5px;padding-bottom: 5px; padding-left: 40px; padding-right: 40px; font-size: small; background-color: #abb8c3;color: white;margin-top: 20px; border-radius: 30px;" matStepperPrevious>Back</button>
                              <button class="btn" type="submit" style="padding-top: 5px;padding-bottom: 5px; padding-left: 40px; padding-right: 40px; font-size: small; background-color: #00FFFF;color: white;margin-top: 20px; border-radius: 30px;"  (click)="Skip(i)" matStepperNext>Skip</button>

                              <button class="btn" type="submit" style="padding-top: 5px;padding-bottom: 5px; padding-left: 40px; padding-right: 40px; font-size: small; background-color: #abb8c3;color: white;margin-top: 20px; border-radius: 30px;" *ngIf="i<l || i==l"  (click)="submitRating(i,item,false)">Next</button>

                            <!-- <button class="btn" type="submit" style="padding-top: 5px;padding-bottom: 5px; padding-left: 40px; padding-right: 40px; font-size: small; background-color: #139e7e;color: white;margin-top: 20px; border-radius: 30px;" *ngIf="i==l" (click)="submitRating(i,item,true)">submit</button> -->
                          </div>
                          <div class="col-sm-12" style="margin-top: 20px;justify-content: center;display:flex">
                
                            <button class="btn" type="submit" style="padding-top: 5px;padding-bottom: 5px; padding-left: 40px; padding-right: 40px; font-size: small; background-color: #EF2D2D;color: white;margin-top: 20px; border-radius: 30px;"  *ngIf="i<l || i==l " (click)="submitRating(i,item,true)">Exit</button>
                      
                    </div>
                              
                              </form>
                             
                    </div>
                </mat-step>
                <mat-step >
                  <form >
                    <div class="col-sm-12">
                      <div class="row" style="justify-content: center;"> <h2><span  style="font-weight: bold;font-size: x-large;">How Would you recommend our service to others[1-10 stars]?</span></h2></div>
              
                <br>
                <div class="row" style="justify-content: center;margin-top: 20px;">
                  <ngx-stars [readonly]="false" [size]="2" [maxStars]="10" [color]="recommendation_color"  *ngIf="show_rating_type=='initial'" (ratingOutput)="recommendation($event)" ></ngx-stars>
                  <ngx-stars [readonly]="false" [size]="2" [maxStars]="10" [color]="'#dc3545'"   *ngIf="show_rating_type=='low'" [initialStars]="recommendation_rating" (ratingOutput)="recommendation($event)" ></ngx-stars>
                  <ngx-stars [readonly]="false" [size]="2" [maxStars]="10" [color]="'#ffc107'"   *ngIf="show_rating_type=='middle'"   [initialStars]="recommendation_rating" (ratingOutput)="recommendation($event)" ></ngx-stars>
                  <ngx-stars [readonly]="false" [size]="2" [maxStars]="10" [color]="'#28a745'"  *ngIf="show_rating_type=='high'"   [initialStars]="recommendation_rating" (ratingOutput)="recommendation($event)" ></ngx-stars>
                </div>
                      
              
                  </div> 
              
                  <div class="col-sm-12" style="margin-top: 20px;justify-content: center;display:flex">
                  
                        <button mat-raised-button   style="padding-top: 5px;padding-bottom: 5px; padding-left: 40px; padding-right: 40px; font-size: x-large;background-color: #EF2D2D;color: white;"  (click)= "finish()">Finish</button>
                  
                </div>
                    </form>
              
                
                  </mat-step>
             
            </mat-horizontal-stepper>
    </div>
</div>
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" ></ngx-loading>


