<style>
    .item{
      font-weight: bold;
    }
  </style>
  <div class="animated fadeIn">
    <div class="row">
    
      
      <div class="col-sm-6 col-md-3"  >
        <a routerLink="/dashboard/mpesa-payments">
          <div class="card">
            <div class="card-body">
              <div class="text-center">
                <span class="fa-stack fa-4x">
                  <i class=" fa-stack-2x icon-background4"></i>
                  <i class="fa fa-circle-thin fa-stack-2x icon-background6"></i>
                  <i class="fa fa-credit-card fa-stack-4x" aria-hidden="true" style="color:#A6CF39;"></i>
                 
                </span>
              </div>
              <div class="text-center item" > Mpesa Payments</div>
      
      
            </div>
          </div>
        </a>
      </div>

        <div class="col-sm-6 col-md-3">
          <a routerLink="/dashboard/mpesa-payments-reports">
            <div class="card">
              <div class="card-body">
                <div class="text-center">
                    <span class="fa-stack fa-4x">
                        <i class=" fa-stack-2x icon-background4"></i>
                        <i class="fa fa-circle-thin fa-stack-2x icon-background6"></i>
                        <i class="icon-chart" aria-hidden="true" style="color:#A6CF39;"></i>
                       
                      </span>
                </div>
                <div class="text-center item" >Mpesa Payments Reports</div>
        
        
              </div>
            </div>
          </a>
        </div>
        
     
    </div>
  </div>
  