<div class="row"  >
    <div class="col-sm-12">
        <mat-card>
            <div class="row">
                <div class="col-sm-12">
                    <span style="font-size:17px;font-weight: bold" class="pull-right">PATIENT NO:<span  style="font-size:19px;font-weight: bold" class="text-primary" >{{patient.patient_no}}</span></span>
                    <span style="font-size:17px;font-weight: bold" class="pull-right">VISIT  NO:<span  style="font-size:19px;font-weight: bold;margin-right:10px;" class="text-primary" >{{patient.visit_no}}</span></span>
                </div>
              </div>
          <div class="row" >
            <div class="col-sm-2">
              <mat-card>
                  <h6 class="text-center">
                      <img title="profile image" class="img-circle img-responsive center" src="assets/img/avatars/download.png"
                        style="height: 95px;" *ngIf="patient.gender =='Male' || patient.gender =='male'">
                        <img title="profile image" class="img-circle img-responsive center" src="assets/img/avatars/female.png" style="height:105px;" *ngIf="patient.gender =='Female' || patient.gender =='female'">
                        <br>
                        
                      <span1 style="font-size:12px;border-radius:2px;font-weight:200px;" class="badge badge-info text-center">
                        {{patient.name | uppercase}}</span1>
                    </h6>
              </mat-card>
            </div>
            <div class="col-sm-10">
                <div class="row">
                    <div class="col-sm-12">
                      <mat-card> 
                        <mat-card-title>
                         <span style="font-size: 20px;">
                            <span class="text-primary" style="font-weight:600;">{{patient.name | uppercase}}</span> | <span style="font-weight: 600">
                                  <span *ngIf="patient?.age?.years > 0">{{patient?.age?.years}} <span class="text-success">Years</span></span>
                                  <span *ngIf="patient?.age?.months > 0">{{patient?.age?.months}} <span class="text-success"> Months</span></span>
                                  <span *ngIf="patient?.age?.days > 0">{{patient?.age?.days}} <span class="text-success">Days</span></span>
                                </span>| <span class="text-primary" style="font-weight: 600">{{patient?.gender}}</span> 
                         </span>
                        </mat-card-title>
                          <div class="row">
                              <div class="col-sm-5">
                                <div class="row">
                                  <div class="col-sm-4 hx">
                                  VISIT TYPE
                                  </div>
                                  <div class="col-sm-8"><span class="text-primary" style="font-weight:bold;">{{patient.visit_type}}</span></div>
                              </div>
                                <div class="row">
                                    <div class="col-sm-4 hx">
                                    CHECK IN
                                    </div>
                                    <div class="col-sm-8"><span class="text-primary" style="font-weight:bold;">{{patient.check_in | date}}</span></div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4 hx">
                                    PRIORITY
                                    </div>
                                    <div class="col-sm-8"><span class="text-primary" style="font-weight:bold;">
                                        <span *ngIf="patient.priority=='3'">Normal</span>
                                        <span *ngIf="patient.priority=='1'">Urgent</span>
                                        <span *ngIf="patient.priority=='2'">Vip</span>
                                    </span></div>
                                  </div>
                                <div class="row"> 
                                  <div class="col-sm-4 hx">
                                    NATIONAL ID
                                  </div>
                                  <div class="col-sm-8"><span class="text-primary" style="font-weight:bold;">{{patient.national_id}}</span></div>
                                </div>
                                <!-- <div class="row">
                                    <div class="col-sm-12">
                                        <button class="btn btn-success" *ngIf="patient?.insure_check.length">COVERED</button>
                                        <button class="btn btn-danger" *ngIf="!patient?.insure_check.length"> NOT COVERED</button>
                                    </div>
                                  </div> -->
                              </div>
                            
                            </div>
                      </mat-card>
                    </div>
                   </div>
            </div>
          </div>
        
            <hr>
            <div class="row">
                <div class="col-sm-12">
                        <span> <strong>PRESCRIPTIONS</strong></span>
                        <button class="pull-right btn btn-info btn-sm"  printTitle="{{patient.name | uppercase}} PRESCRIPTIONS"   [useExistingCss]="true" printSectionId="print-section" ngxPrint> <i class="cui-print"></i> print prescription</button>
                </div>
            </div>
            <br>
            <div class="row">
                <br>
            <div class="col-sm-12">
                    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                            <ng-container matColumnDef="service">
                              <th mat-header-cell *matHeaderCellDef> Name </th>
                              <td mat-cell *matCellDef="let element"> {{element.service}} </td>
                            </ng-container>
                    
                            <ng-container matColumnDef="generic_name">
                              <th mat-header-cell *matHeaderCellDef> Generic Name </th>
                              <td mat-cell *matCellDef="let element"> {{element.generic_name}} </td>
                            </ng-container>
                        
                            <ng-container matColumnDef="dosage">
                              <th mat-header-cell *matHeaderCellDef> Dosage</th>
                              <td mat-cell *matCellDef="let element"> {{element.dosage}} </td>
                            </ng-container>
                            <ng-container matColumnDef="strength">
                                    <th mat-header-cell *matHeaderCellDef> Strength</th>
                                    <td mat-cell *matCellDef="let element"> {{element.strength}} </td>
                            </ng-container>
                            <ng-container matColumnDef="form">
                                    <th mat-header-cell *matHeaderCellDef>Form </th>
                                    <td mat-cell *matCellDef="let element"> {{element.form }} </td>
                            </ng-container>
                            
                            <ng-container matColumnDef="cost">
                                    <th mat-header-cell *matHeaderCellDef>Cost</th>
                                    <td mat-cell *matCellDef="let element"> {{element.rate | number:'1.2-2'}} </td>
                            </ng-container>
                            <ng-container matColumnDef="quantity">
                                    <th mat-header-cell *matHeaderCellDef>Quantity</th>
                                    <td mat-cell *matCellDef="let element"> {{element.quantity }} </td>
                            </ng-container>
                            <ng-container matColumnDef="status">
                                    <th mat-header-cell *matHeaderCellDef>Payment Status</th>
                                    <td mat-cell *matCellDef="let element"> 
                                            <span class="badge badge-danger" style="font-size: 13px;" *ngIf="element.status == '0'">Not Paid</span> 
                                        <span class="badge badge-success" *ngIf="element.status == '1'" style="font-size: 13px;">Paid</span> 
                                    </td>
                            </ng-container>
                            <ng-container matColumnDef="label">
                              <th mat-header-cell *matHeaderCellDef>Label</th>
                              <td mat-cell *matCellDef="let element" (click)="setLabel(element)"> 
                                <button class="btn-sm" mat-raised-button color="primary" (click)="label=element"  printTitle="{{patient.name | uppercase}} PRESCRIPTIONS"   [useExistingCss]="true" printSectionId="label" ngxPrint> <i class="cui-print"></i> Print</button>
                              </td>
                      </ng-container>
                            <ng-container matColumnDef="edit">
                                    <th mat-header-cell *matHeaderCellDef>Tick To Pay</th>
                                    <td mat-cell *matCellDef="let element"> 
                                      <mat-checkbox [disabled]="element.status =='1'"  (change)="makePayments(element)"></mat-checkbox>
                                       </td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                          </table>
                          
            </div>
            </div>
            <br>
            <!-- <div class="row">
              <div class="col-sm-12">
                <mat-card>
                  <mat-card-subtitle> Other Services</mat-card-subtitle>
                  <div class="row">
                    <div class="col-sm-12 table-responsive mat-elevation-z8" *ngIf="patient.bills">
                      <table mat-table [dataSource]="patient.bills" matSort>
                          
                        <ng-container matColumnDef="service">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header> Service </th>
                          <td mat-cell *matCellDef="let element"> {{element.service}} </td>
                        </ng-container>
                
                        <ng-container matColumnDef="category">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header>Category</th>
                          <td mat-cell *matCellDef="let element"> {{element.category}} </td>
                        </ng-container>
                
                        <ng-container matColumnDef="bill_number">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header> Bill Number </th>
                          <td mat-cell *matCellDef="let element"> {{element.bill_number}} </td>
                        </ng-container>
                
                        <ng-container matColumnDef="invoice__no">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header> Invoice Number </th>
                          <td mat-cell *matCellDef="let element"> {{element.invoice__no}} </td>
                        </ng-container>
                
                        <ng-container matColumnDef="rate">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header>Cost</th>
                          <td mat-cell *matCellDef="let element"> {{element.rate | number:'1.2-2'}}</td>
                        </ng-container>
                
                        
                
                        <ng-container matColumnDef="status">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header>Payment Status</th>
                          <td mat-cell *matCellDef="let element"><span class="badge badge-danger" style="font-size: 13px;"  *ngIf="element.status =='0'">Not Paid</span>
                            <span  class="badge badge-success" style="font-size: 13px;" *ngIf="element.status =='1'">Paid</span>
                          </td>
                        </ng-container>

                        <ng-container matColumnDef="edit">
                            <th mat-header-cell *matHeaderCellDef>Tick To Pay</th>
                            <td mat-cell *matCellDef="let element"> 
                              <mat-checkbox [disabled]="element.status =='1'" (change)="makePayments(element)"></mat-checkbox>
                               </td>
                          </ng-container>
                
                
                        <tr mat-header-row *matHeaderRowDef="serviceColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns:serviceColumns;" [hidden]="row.category =='PRESCRIPTION'"></tr>
                      </table>
                
                      <br>
                    </div>
                  </div>
                </mat-card>
              </div>
            </div> -->
            <br>
            <div class="row">
                <br>
                <div class="col-sm-12">
                    <button class=" btn btn-success  btn-sm pull-right" (click)="staticModal.show()"> <i class="fa fa-plus"></i> Add Prescription</button>
                    <button class="btn btn-info btn-sm  pull-right" style="margin-right:10px;" (click)="pay()"> <i class="cui-dollar"></i> Pay</button>
                    <button class="btn btn-info btn-sm  pull-right" style="margin-right:10px;" (click)="back()"> <i class="cui-arrow-left"></i> Back</button>

                </div>
            </div>
        </mat-card>

        <div class="modal fade" bsModal #paymentModal="bs-modal" [config]="{backdrop: 'static'}"
        tabindex="-1" role="dialog" aria-labelledby="dialog-static-name">
     <div class="modal-dialog modal-sm">
       <div class="modal-content">
         <div class="modal-body">
           <div class="row">
             <div class="col-sm-12">
               <h5>Confirm Payments</h5>
             </div>
             <div class="col-sm-12">
                <mat-form-field>
                    <input matInput type="text" placeholder="Cash Payments" [(ngModel)]="paymentAmount" readonly> 
                  </mat-form-field>
             </div>
             <div class="col-sm-12">
               <button (click)="submit()">Submit</button>
             </div>
           </div>
         </div>
       </div>
     </div>
   </div>

<div class="modal fade" bsModal #staticModal="bs-modal" [config]="{backdrop: 'static'}"
tabindex="-1" role="dialog" aria-labelledby="dialog-static-name">
<div class="modal-dialog modal-lg">
<div class="modal-content">
 <div class="modal-body">
 
    <div class="row">
        <div class="col-sm-12">
                <h5><b>Add Prescription</b></h5>
        </div>
        <div class="col-sm-12">
            <div class="row">
                    <div class="col-sm-6">
                            <mat-form-field>
                              <input type="text" matInput placeholder="Prescription" [(ngModel)]="selectedDrug.name" [typeahead]="drugs"
                              [typeaheadOptionsInScrollableView]="5" typeaheadOptionField="name"
                              (typeaheadLoading)="searchDrug(selectedDrug.name)"
                              (typeaheadOnSelect)="onDrug($event)" placeholder="Prescription Name"
                              typeaheadGroupField="strength">
                            </mat-form-field>
                    </div>
                    <div class="col-sm-6">
                            <mat-form-field>
                              <input type="text" matInput [(ngModel)]="selectedDrug.generic_name" placeholder="Generic Name" readonly>
                            </mat-form-field>
                    </div>
                    <div class="col-sm-6">
                            <mat-form-field>
                              <input type="text" matInput [(ngModel)]="selectedDrug.strength" placeholder="Strength" readonly>
                            </mat-form-field>
                    </div>
                    <div class="col-sm-6">
                            <mat-form-field>
                              <input type="text" matInput [(ngModel)]="selectedDrug.form" placeholder="Drug Form" readonly>
                            </mat-form-field>
                     </div>
                     <div class="col-sm-6">
                            <mat-form-field>
                              <input type="text" matInput [(ngModel)]="selectedDrug.cost" placeholder="Cost">
                            </mat-form-field>
                     </div>
                     <div class="col-sm-6">
                            <mat-form-field>
                              <input type="text" matInput [(ngModel)]="selectedDrug.quantity" placeholder="Quantity">
                            </mat-form-field>
                     </div>
                     <!-- <div class="col-sm-3">
                            <mat-form-field>
                                    <input type="text" matInput [(ngModel)]="selectedDrug.dosage" placeholder="Dosage" [typeahead]="dosage"
                                    [typeaheadOptionsInScrollableView]="5" typeaheadOptionField="meaning">
                                  </mat-form-field>
                        </div> -->
            </div>
        </div>
        <div class="col-sm-12">
            <button class="btn btn-danger btn-sm pull-right" (click)="staticModal.hide()"> <b>Close</b> </button>
            <button class="btn btn-success btn-sm pull-right" (click)="savePrescription()" style="margin-right: 8px"> <i class="fa fa-plus"></i><b> Add</b></button>

        </div>
    </div>
 </div>
</div>
</div>
</div>
    </div>
</div>

<div class="card" id="label" hidden>
        <div class="card-body">
          <div class="row container-fluid">
              <div class="col-sm-12">
                <div class="row">
                       
                  <!-- <div class="col-sm-5">
                      <address>
                          <h2 style="font-family:lato light;font-weight: bolder">Kaatun Urology Center and Male Executive Clinics Pharmacy</h2>
                          <span class="address" style="font-size: 18px;">
                                <i> Parklands 3rd Avenue opposite Aga Khan Hospital</i> <br>
                                <i > Park Medical Center,6th floor room 609</i> <br>
                              <i> info@kaatun.com</i> 
                          </span>
                          </address>
                  </div> -->
                  <div class="col-sm-12">
                    <div class="row">
                      <div class="col-sm-4">
                        <img src="assets/img/avatars/inv_logo.jpg" style="float:left;width: 100%;"  alt="">
                      </div>
                      <div class="col-sm-8">
                        <h2 style="font-family:lato light;font-weight: bolder">Kaatun Urology Center and Male Executive Clinics Pharmacy</h2>
                            <span class="address" style="font-size: 18px;">
                                  <i> Parklands 3rd Avenue opposite Aga Khan Hospital</i> <br>
                                  <i > Park Medical Center,6th floor room 609</i> <br>
                                <i> info@kaatun.com</i> 
                            </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row"  *ngFor="let item of dataSource">
                <div class="col-sm-12">
                  <h3 style="font-weight: bolder" class="text-center">PRESCRIPTION LABEL</h3>
                </div>
                <div class="col-sm-12" style="font-size: 20px;">
                  <div class="row">
                    <div class="col-sm-6">
                      NO : {{patient.patient_no}}
                    </div>
                    <div class="col-sm-6" style="font-size: 20px;font-weight: 600;">
                      DATE : {{ patient?.invoice?.created | date}}
                    </div>
                  </div>
                </div>
                <div class="col-sm-12" style="font-size: 20px;">
                  {{patient.name | uppercase}}
                </div>
                <div class="col-sm-12" style="font-size: 20px;font-weight: 600;">
                  Dosage : {{label.dosage | uppercase}}
                </div>
                <div class="col-sm-12" style="font-size: 20px;font-weight: 600;">
                  Drug: {{label.service }}
                </div>
                <div class="col-sm-12" style="font-size: 20px;font-weight: 600;">
                  Strength: {{label.strength | uppercase}}
                </div>
              </div>
              
          <div class="col-sm-12 footer">
                          <div class="row">
                            <div class="col-sm-6">
                                powered by healthix uilabs
                            </div>
                            <div class="col-sm-6"><p class="pull-right"> <img src="../../../../assets/img/avatars/logo.png" style="height: 40px" alt=""> </p></div>
                          </div>
                        </div>
                      
          </div>
        </div>
      </div>
      


      <div class="card" id="print-section" hidden>
        <div class="card-body">
          <div class="row container-fluid">
              <div class="col-sm-12">
                <div class="row">
                       
                  <div class="col-sm-8">
                      <address>
                          <h2 style="font-family:lato light;font-weight: bolder">Kaatun Urology Center and Male Executive Clinics</h2>
                          <span class="address" style="font-size: 18px;">
                                <i> Parklands 3rd Avenue opposite Aga Khan Hospital</i> <br>
                                <i > Park Medical Center,6th floor room 609</i> <br>
                               <i> Postal address Box 15301-00100, Nairobi, Kenya</i><br>
                              <!-- <i class="icon-call-in"></i> contact +254 7 789-1234,<br> -->
                              <i> info@kaatun.com</i> 
                          </span>
                          </address>
                  </div>
                  <div class="col-sm-4">
                      <img src="assets/img/avatars/inv_logo.jpg" style="float: right" style="width: 100%;" alt="">
                  </div>
                </div>
              </div>
              <div class="col-sm-12">
                <h3 style="font-weight: bolder" class="text-center">PRESCRIPTION REPORT</h3>
              
              </div>
              <div class="col-sm-12 text-center" style="font-size: 16px;">Prescription Date {{ patient?.invoice?.created | date}}</div>

               
               
                  
                  <div class="col-sm-12">
                      <br>
                      <table class="table table-condensed" style="font-size: 16px;">  <tr> 
                          <th>Item / Desc.</th>
                          <th>Class</th>
                          <th>Strength.</th>
                          <th>Form</th>
                          <th>Dosage</th>
                          </tr> 
                          <tr *ngFor="let item of patient.prescriptions" style="font-weight: bolder"> 
                          <td>{{item.service}}</td>
                          <td>{{item.generic_name}}</td>
                          <td>{{item.strength}}</td>
                          <td>{{item.form}}</td>
                          <td>{{item.dosage}}</td> 
                          </tr>
      
                          <tr>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          </tr> 
                           </table>
      
                        </div>
                        <div class="col-sm-12 footer">
                          <div class="row">
                            <div class="col-sm-6">
                                powered by healthix uilabs
                            </div>
                            <div class="col-sm-6"><p class="pull-right"> <img src="../../../../assets/img/avatars/logo.png" style="height: 40px" alt=""> </p></div>
                          </div>
                        </div>
                      
          </div>
        </div>
      </div>