img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  }
  div{
      font-family: lato light;
  }
  .sidename{
      text-align: center;
      font-weight: bold;
  }
  .headers{
      font-weight: bold;
  }
  hr{
    border: 1px solid #20a8d8;
  }
  table{
      width: 100%;
      font-family: lato light;
  }
// td.mat-cell{
// 	font-size:16px;
// }
// tr.mat-row, tr.mat-footer-row {
//     height: 30px;
//     font-weight: bold;
//   }
//  tr.mat-header-row {
//     height:32px;
    
// }
th{
    color: #20a8d8;
    font-weight: bold;
    font-size:15px;
}



@media print{
    #div{
        background-color:  #20a8d8;
    }
    .total{
    background-color: greenyellow;
    }
    .footer{
        position: fixed;
        bottom: 0;
    }
       
    table{
        width: 100%;
        font-family : lato light;
    }
    tr{
     font-weight: bold;
    }
    hr{
        margin-top: -2px;
    
    }
    .col-sm-5{
        font-size: 15px;
        font-weight:bold;
        // text-transform: uppercase;
        font-family: lato light;
    }
    .address{
        font-weight: bold;
        font-family: lato light;
        margin-top: -5px;
    }
    .header{
        font-family: lato light;
        font-family: 22px;
        font-weight: bold;
    }
    .total {
        font-family: lato light
    }
}
mat-form-field{
    width: 100%;
    font-family: lato light;
}