<div class="card myDivToPrint" id="print-section">
    <div class="card-body" id="print-section">
        <div class="row">
                                        
            <div class="row" style="width:100%;justify-content: right;">
                <div class="col-sm-2">
                  <button class="btn btn-success" style="float: right;" (click)="edit()">Edit Form</button>     
              </div>
                  <div class="col-sm-3">
                      <button class="btn btn-success" style="float: right;" (click)="printPage()">Print Claim Form</button>        
                  </div>
                         
             </div>
    
                                          
            
        </div>
        <div class="row">
           
            <div class="col-sm-8">
                <h5 style="white-space:nowrap; margin-top: 35px;">
                    <img src="../../../../assets/img/avatars/heritage.png" alt="" height="100" width="200">
                   
                     
                   
                </h5>
             
            </div> 
            <!-- <div class="col-sm-4" >
               
              <h1 style="justify-content: center; margin-top: 60px; color: tomato;">FIRST MED</h1>
             
            </div>  -->
            <div class="col-sm-4">
                <div class="row" style="justify-content: right; margin-top: 35px;">
                    <h1 ><img  src="../../../../assets/img/avatars/blue.png" alt=""  height="100" width="300">
                   </h1>
                </div>
            </div>
            <div  class="col-sm-12">
                <div class="row">
                    <div class="col-sm-3">CLAIM FORM</div>
                    
                    <div class="col-sm-3">BLUE  INVOICE NUMBER</div>
                    <div class="col-sm-6">
                    <input type="text" value="{{patient[0].invoice_number}}">
                    </div>
                    
                    
                </div>
            </div>
            <div class="clearfix"></div>
           
            
           <div style="font-size: 8px;">
            <p style="margin-left: 20px;">
                THIS FORM MUST BE COMPLETED FOR EVERY PATIENT RECEIVING TREATMENT. PLEASE COMPLETE A SEPARATE CLAIM FORM FOR EACH VISIT AND ATTACH YOUR INVOICE<br>
                FOR PROCEESSING. THE PATIENT SHOULD BE GIVEN A DUPLICATE
                 COPY FOR THHEIR RECORDS. PLESE ATTACH DETAILED INVOICE WHERE POSSIBLE TO EXPEDITE PAYMENT.<br>
                <strong>PLEASE COMPLETE FORM IN BLOCK LETTERS.</strong><br>
                <span style="margin-left: 30px;"><strong>
                    IMPORTANT:THE HERITAGE INSURANCE COMPANY KENYA LTD WILL DECLINE ILLEGIBLE OR IONC0OMPLETE CLAIMS.
                </strong></span>
            </p>
           </div>

            <div class="clearfix"></div>
            
            <div class="col-sm-12" style="  margin-left: 20px; font-size: 10px;" >
               
                <p style=" color: black">PATIENT DETAILS</p>

               
              </div>
              <div class="clearfix"></div>
              <div class="col-sm-12">
                <div class="row"  style="margin-left: 30px; font-size: 8px;">
                    <div class="col-sm-2">FIRST NAME</div>
                    <div class="col-sm-4">
                        <div class="grid-layout"><div class="grid-cell">f</div></div>
                    </div>
                    <div class="col-sm-2">SURNAME</div>
                    <div class="col-sm-4">
                    <input type="text"  value="{{patient[0].member}}">
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="row"  style="margin-left: 30px; font-size: 8px;">
                    <div class="col-sm-2">MEMBER NO.</div>
                    <div class="col-sm-4">
                    <input type="text" value="{{patient[0].member_number}}">
                    </div>
                    <div class="col-sm-2">DEP CODE.</div>
                    <div class="col-sm-4">
                    <input type="text"  value="{{patient[0].scheme_code}}">
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="row"  style="margin-left: 30px; font-size: 8px;">
                    <div class="col-sm-2">GENDER.</div>
                    <div class="col-sm-4">
                    <input type="text" value="{{patient[0].gender}}">
                    </div>
                    <div class="col-sm-2">DOB</div>
                    <div class="col-sm-4">
                    <input type="text"  value="{{patient[0].dob}}">
                    </div>
                </div>
              </div>

             
                  
                <div class="clearfix"></div>
              
                <div class="col-sm-12" style=" margin-left: 20px; font-size: 8px;" >
               
                    <p style=" color: black">MAIN MEMBER DETAILS</p>
    
                   
                  </div>
                <div class="clearfix"></div>
                
                <div class="row"  style="margin-left: 30px; font-size: 8px;">
                    <div class="col-sm-2">FIRST NAME</div>
                    <div class="col-sm-4">
                    <input type="text" >
                    </div>
                    <div class="col-sm-2">SURNAME</div>
                    <div class="col-sm-4">
                    <input type="text" >
                    </div>
                </div>
              
                
                <div class="clearfix"></div>
                <div class="row"  style="margin-left: 30px; font-size: 8px;">
                    <div class="col-sm-4">EMPLOYER</div>
                    <div class="col-sm-8">
                    <input type="text" value="{{employer}}">
                    </div>
                   
                    
                </div>
                <div class="clearfix"></div>
                <div class="col-sm-12" style=" margin-left: 20px; font-size: 10px;" >
               
                    <P style=" color: black">SERVICE PROVIDER DETAILS</P>
    
                   
                  </div>
                <div class="clearfix"></div>
                <div class="row"  style="margin-left: 30px; font-size: 8px;">
                    <div class="col-sm-2">NAME OF PROVIDER</div>
                    <div class="col-sm-4">
                    <input type="text" value="{{hospital}}">
                    </div>
                    <div class="col-sm-2">CONSULTING PHYSICIAN</div>
                    <div class="col-sm-4">
                    <input type="text"  value="{{patient[0].doctor_name}}">
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="row"  style="margin-left: 30px; font-size: 8px;">
                    <div class="col-sm-2">HERITAGE PROVIDER NO</div>
                    <div class="col-sm-4">
                    <input type="text" value="{{patient[0].member_number}}">
                    </div>
                    <div class="col-sm-2">TREATEMENT DATE</div>
                    <div class="col-sm-4">
                    <input type="text"  value="{{patient[0].check_in| date: 'dd/MM/yyyy'}}">
                    </div>
                </div>
              
              
                <div class="clearfix"></div>
        
                
               <P style="font-size: 10px; margin-left: 30px;">
                   SHOULD HOSPITALISATION BE REQUIRED PLEASE COMPLETE A HOSPITALISATION PRE-AUTHORISATION FORM
               </P>
               <div class="row" style="font-size: 5px; color: black;">
                
                <div class="col-sm-2">
                    <strong >DIAGNOSIS</strong><br>
                   ALLERGIC RHINITIS,<br> 
                    ANAEMIA<br>
                    ANTENATAL SCREENING<br>
                    BRONCHITIS<br>
                    CANDIDIASIS<br>
                    CONJUNCTIVITIS<br>
                </div>
                    
                
                <div class="col-sm-1">
                    <strong >CODE (TICK)</strong><br>
                    J30<br> 
                    D64<br>

                    Z36<br>
                    J40<br>
                    J37<br>
                    H10<br>
                    
                   
                </div>
                <div class="col-sm-2">
                    <strong >DIAGNOSIS</strong><br>
                    C-SECTION<br>
                    DENTAL CARRIES<br>
                    DERMATITIS<br>
                    DIARRHOEA/GASTRO<br>
                    GASTRITIS<br>
                    INFLUENZA<br>
                   
                </div>
                <div class="col-sm-1">
                    <strong >CODE (TICK)</strong><br>
                    082<br> 
                    K02<br>

                    L30<br>
                    A09<br>
                    K29<br>
                    J10<br>
                    
                   
                </div>
                <div class="col-sm-2">
                    <strong >DIAGNOSIS</strong><br>
                    MALARIA<br>
                    MYOPIA<br>
                    OPTICAL EXAMINATION OF<br>
                   EYES AND VISION<br>
                   OTITUS MEDIA<br>
                    PEPTIC ULCER<br>
                   
                </div>
           
            <div class="col-sm-1">
                <strong> CODE (TICK)</strong><br>
                B54<br> 
                H52<br>

                Z01<br>
                Z01<br>
                H66<br>
                K27<br>
                
               
            </div>
            <div class="col-sm-2">
                <strong>DIAGNOSIS</strong><br>
                PHARYNGITIS<br>
                PNEUMONIA<br>
               SPONTANEOUS BIRTH<br>
               TONSILLITIS<br>
               URTI<br>
                UTI<br>
               
            </div>
            <div class="col-sm-1">
                <strong >CODE (TICK)</strong><br>
                J02<br> 
                J18<br>

                080<br>
                J03<br>
                J06<br>
                N39<br>
                
               
            </div>
                    
                   
                
                
                
                
        
           
            
            
            <div class="col-sm-12" >
          
          <p style="font-size: 8px; ">
              <strong>
                  OTHER (SPECIFY DIAGNOSIS)
              </strong>
            </p>
            <div class="row" style="font-size: 8px; color: black;">
                
                <div class="col-sm-2">
                    <strong style="font-size: 8px;">CONSULTATION</strong><br>
                   
                </div>
                <div class="col-sm-1">
                 
                   0190<br> 
                    GPA<br>
                    
                </div>
                <div class="col-sm-2">
                 
                    0191<br> 
                     SPECIALIST<br>
                     
                 </div>
                 <div class="col-sm-2">
                 
                    110001<br> 
                    OPTICAL<br>
                     
                 </div>
                 <div class="col-sm-2">
                 
                    8101<br> 
                     DENTAL<br>
                     
                 </div>
                 <div class="col-sm-1">
                 
                    OTHER<br> 
                   
                     
                 </div>
                 <div class="col-sm-2">
                    <strong style="font-size: 8px;">COST</strong><br>
                 
                   
                     
                 </div>
                 <div class="clearfix"></div>
                 <div class="row" style="position: relative;  margin-left: 20px;">
                    <div class="col-sm-6">IS THIS A MATERNITY RELATED CLAIM?</div>
                   
                        <div class="col-sm-3">
                            <mat-checkbox class="example-margin" ></mat-checkbox>
                            Yes
                        </div>
                        <div class="col-sm-3">
                         <mat-checkbox class="example-margin" ></mat-checkbox>
                        No
                      </div>
                </div>

                

        </div>
        <div class="clearfix"></div>
        
           <div class="row" style="font-size: 12px; color: black;">
                
                   
            <div class="col-sm-3">
                <strong style="font-size: 8px;">SERVICE PROVIDED </strong><br>
               
            </div>
            <div class="col-sm-3">
                <strong style="font-size: 8px">CODE</strong><br>
               
            </div>
            <div class="col-sm-3">
                <strong style="font-size: 8px">DESCRIPTION</strong><br>
               
            </div>
            <div class="col-sm-3">
                <strong style="font-size: 8px">COST</strong><br>
               
            </div>
        </div>
       
            
             
               
                <div class="col-sm-12">
                    <div class="row" style="position: relative; font-size: 8PX;">
                        <div class="col-sm-3">LABORATORY TESTS:</div>
                        <div class="col-sm-3">
                        <input type="text" >
                        </div>
                        <div class="col-sm-3">
                            <input type="text" >
                            </div>
                            <div class="col-sm-3">
                                <input type="text">
                                </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="clearfix"></div>
                <div class="clearfix"></div>
               <div class="col-sm-12">
                <div class="row" style="position: relative; font-size: 8PX;">
                    <div class="col-sm-3">OTHER DIAGNOSTIC PROCEDURES/TESTS:</div>
                    <div class="col-sm-3">
                    <input type="text" >
                    </div>
                    <div class="col-sm-3">
                        <input type="text" >
                        </div>
                        <div class="col-sm-3">
                            <input type="text" >
                            </div>
                    
                   
                  
                </div>
              
               </div>
               <div class="clearfix"></div>
               <!-- <div class="clearfix"></div> -->
                <div class="col-sm-12">
                    <div class="row" style="position: relative; font-size: 8PX;">
                        <div class="col-sm-3">OPTICAL:</div>
                        <div class="col-sm-3">
                        <input type="text">
                        </div>
                        <div class="col-sm-3">
                            <input type="text" >
                            </div>
                            <div class="col-sm-3">
                                <input type="text" >
                                </div>
                        
                       
                      
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-sm-12">
                    <div class="row" style="position: relative; font-size: 8PX;">
                        <div class="col-sm-3">DENTAL</div>
                        <div class="col-sm-3">
                        <input type="text" >
                        </div>
                        <div class="col-sm-3">
                            <input type="text" >
                            </div>
                            <div class="col-sm-3">
                                <input type="text">
                                </div>
                        
                       
                      
                    </div>
                </div>

                <div class="clearfix"></div>

                <div class="row" style="font-size: 12px; color: black;">
                
                   
                    <div class="col-sm-3">
                        <strong style="font-size: 10px; margin-left: 7px;">CODE </strong><br>
                       
                    </div>
                    <div class="col-sm-3">
                        <strong style="font-size: 10px">QUANTITY</strong><br>
                       
                    </div>
                    <div class="col-sm-3">
                        <strong style="font-size: 10px">DOSAGE</strong><br>
                       
                    </div>
                    <div class="col-sm-3">
                        <strong style="font-size: 10px">DESCRIPTION</strong><br>
                       
                    </div>
                </div>
                    <div class="clearfix"></div>
                    <div class="clearfix"></div>
                <div class="row" style="position: relative; margin-left: 20px; font-size: 10px;">
                    <div class="col-sm-4">PPRESCRIPTION DRUGS ATTACH COPY OF PRESCRIPTION</div>
                    <div class="col-sm-8">
                    <input type="text"value="{{patient[0].diagnoses}} {{patient[0].description}}">
                    </div>
                    
                    
                </div>
                <div class="clearfix"></div>
                <div class="row" style="position: relative; margin-left: 20px;font-size: 10px;">
                    <div class="col-sm-6">TOTAL MEDICAL COSTS(INDICATE CURRENCY)</div>
                    <div class="col-sm-6">
                    <input type="text" [(ngModel)]="patient.relative">
                    </div>
                    
                    
                </div>
                <div class="col-sm-12" style="margin-left: 20px;" >
               
                    <p style=" color: white">PROVIDER'S DECLARATION</p><br>
                    <P style="margin-left: 20px;">
                        I CERTIFY THAT THE ABOVE PATIENTS HAS RECEIVED THE SERVICES  & TREATMENT NOTED ON THIS FORM, DIAGNOSIS AND
                        ADMINISTRATION BY MYSELF AND THAT THIS CLAIM IS IN ACCORDANCE WITH MY SPOECIFIED TREATMENT.
                    </P>
                   
                  </div>
                  
                  <div class="row" style="margin: 40px;">
                    <div class="col-sm-4">
                        SIGNED___________________________________________
                    </div>
                    <div class="col-sm-4">
                    DATE____________________________
                    </div>
                    <div class="col-sm-4">
                        PROVIDER STAMP____________________________
                        </div>
                    
                </div>
                
                <div class="col-sm-12" style="font-size: 8px;  margin-left: 20px;" >
               
                    <p style=" color: black">PATIENT'S/ PATIENT'S GURDIAN DECLARATION</p><br>

                    <P style="margin-left: 20px; font-size: 5px;">
                        I____________________________ __________________________________________________________HEREBY DECLARE THE ABOVE STATED TO BE TRU AND IN ACCORDANCE WITH THE 
                        MEDICAL SCHEME RULES. I CONFIRM THAT THE DETAILS GIVEN ABOVE ARE CORRECT, THAT THE AMOUNTCLAIMED HEREIN IS NOT CLAIMABLE FROM ANOTHER SOURCE AND THAT
                        THE PATIENT IS A MEMBER POR DEPEDANT ON BLUE HEALTH INSURANCE. I AUTHORISE THE PROVIDER OF SERVICES TO DISCLOSE THE NATURE OF ILLNESS TO BLUE FOR ITS
                      CONFIDENTIAL USE AND I AGREE THAT NO AWARDS WILL BE MADE FOR THIS TREATMENT UNLESS CONTRIBUTIONS ARE RECEIVED IN RESPECTOF THE PERIOD OF TREATMENT. THE
                      HERITAGE INSUARANCE COMPANY LMT RESERVES THE RIGHT TO RECOVERY ANY AMOUNTS PAID TO PROVIDERS IN EXCESS OF BENEFITS DIRECTLY.
                    </P>
                   
                  </div>
                 
                  <!-- <div class="clearfix"></div>
                  <P style="margin-left: 20px; font-size: 8px;">
                    I____________________________ __________________________________________________________HEREBY DECLARE THE ABOVE STATED TO BE TRU AND IN ACCORDANCE WITH THE 
                    MEDICAL SCHEME RULES. I CONFIRM THAT THE DETAILS GIVEN ABOVE ARE CORRECT, THAT THE AMOUNTCLAIMED HEREIN IS NOT CLAIMABLE FROM ANOTHER SOURCE AND THAT
                    THE PATIENT IS A MEMBER POR DEPEDANT ON BLUE HEALTH INSURANCE. I AUTHORISE THE PROVIDER OF SERVICES TO DISCLOSE THE NATURE OF ILLNESS TO BLUE FOR ITS
                  CONFIDENTIAL USE AND I AGREE THAT NO AWARDS WILL BE MADE FOR THIS TREATMENT UNLESS CONTRIBUTIONS ARE RECEIVED IN RESPECTOF THE PERIOD OF TREATMENT. THE
                  HERITAGE INSUARANCE COMPANY LMT RESERVES THE RIGHT TO RECOVERY ANY AMOUNTS PAID TO PROVIDERS IN EXCESS OF BENEFITS DIRECTLY.
                </P> -->
                <div class="clearfix"></div>
                <div class="row" style="margin: 40px; font-size: 8px;">
                    <div class="col-sm-8">
                        SIGNED(PATIENT/GURDIAN)___________________________________________
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-sm-6">
                    CELL PHONE NO.____________________________
                    </div>
                    <div class="col-sm-6">
                        DATE____________________________
                        </div>
                    
                </div>
                <div class="col-sm-12" style="background-color: darkblue;  margin-left: 20px;" >
               
                    <h4 style=" color: white"></h4> 

    
                   
                  </div>
               
              
               
               
                <div class="col-sm-12" style="font-size: 8px;">
                    <div class="text" >
                        <p style="color: black;text-align: right;font-weight:600;">
                           <strong>The Heritage Insurance Company Kenya Limited</strong><br>
                            Liberty House, Processional Way, PO Box 30390-00100,Nairobi, Kenya<br>
                            25420278300 m 0711039000, 0734101000<br>
                            <strong>contact centre: mobile 0711076333 f</strong> 254202727800<br>
                            e info@heritage.co.ke, healthcareundertakings@heritage.co.ke w www.heritageinsurance.co.ke<br>
                            A member of the Association of Kenya insurers<br>
                            Reulatred by the insurance Regulatory Authority<br>
                        </p>
                    </div>
                </div>
                <div class="modal fade" bsModal #clientModal="bs-modal" tabindex="-1" role="dialog" aria-labelledby="dialog-static-name">
                    <div class="modal-dialog  modal-xl">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h4 id="dialog-static-name" class="modal-title pull-left">Edit Form</h4>
                          <button type="button" class="close pull-right" aria-label="Close" (click)="clientModal.hide()">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                       
                       
                        <form   >
                         <fieldset>
                           <legend>PATIENT INFORMATION</legend>
                          <div class="row">
                            <div class="col-sm-4">
                              <mat-form-field appearance="outline">
                                <mat-label>Name</mat-label>
                                  <input matInput placeholder="Name" [(ngModel)]="patient_data.member"  name="member"  >
                                  
                                </mat-form-field>
                          </div>          
                         <div class="col-sm-4">
                          <mat-form-field appearance="outline" >
                            <mat-label>Telephone No</mat-label>
                              <input matInput placeholder="Telephone No" [(ngModel)]="patient_data.phone"  name="phone">
                  
                            </mat-form-field>
                         </div>
                         <div class="col-sm-4">
                          <mat-form-field appearance="outline">
                            <mat-label>D.O.B</mat-label>
                              <input matInput placeholder="Date of Birth" [maxDate]="maxDate"  [matDatepicker]="picker" [(ngModel)]="patient_data.dob" name="dob" >
                              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                              <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <div class="col-sm-4">
                          <mat-form-field appearance="outline">
                            <mat-label>Membership No</mat-label>
                               <input matInput placeholder="Membership No" [(ngModel)]="patient_data.member_number" name="member_number">
                             </mat-form-field>
                        </div>
                        <div class="col-sm-4">
                         <mat-form-field appearance="outline">
                           <mat-label>Employer/Company</mat-label>
                              <input matInput placeholder="Employer/Company" [(ngModel)]="patient_data.employer" name="emloyer">
                            </mat-form-field>
                       </div>
                        <div class="col-sm-4">
                          <mat-form-field appearance="outline">
                            <mat-label>Email</mat-label>
                               <input matInput placeholder="Email" [(ngModel)]="patient_data.email" name="email">
                          </mat-form-field>
                        </div>
                          </div>
                       </fieldset>
                       <fieldset>
                         <legend>CLINICAL INFORMATION</legend>
                        <div class="row">
                        <div class="col-sm-6">
                           <mat-form-field appearance="outline">
                            
                                <mat-label>Complaints including date of onset:</mat-label>
                                <textarea  [(ngModel)]="clinics_data.complaints"  matInput placeholder="Complaints including date of onset" name="complaints"></textarea>
                            
                             </mat-form-field>
                         </div>
                         <div class="col-sm-6">
                           <mat-form-field appearance="outline">
                            
                                <mat-label>Physical findings:</mat-label>
                                <textarea  [(ngModel)]="clinics_data.physical_finding"  name="physical_finding" matInput placeholder="Physical findings"></textarea>
                            
                             </mat-form-field>
                         </div>
                         <div class="col-sm-6">
                           <mat-form-field appearance="outline">
                            
                                <mat-label>Laboratory & Radiology findings:</mat-label>
                                <textarea  [(ngModel)]="clinics_data.laboratory_radiology_findings" name="laboratory_radiology" matInput placeholder="Laboratory & Radiology findings"></textarea>
                            
                             </mat-form-field>
                         </div>
                         <div class="col-sm-6">
                           <mat-form-field appearance="outline">
                            
                                <mat-label>Diagnosis:</mat-label>
                                <textarea  [(ngModel)]="clinics_data.diagnosis"  name="diagnosis" matInput placeholder="Diagnosis"></textarea>
                            
                             </mat-form-field>
                         </div>
                         <div class="col-sm-6">
                           <mat-form-field appearance="outline">
                            
                                <mat-label>Management Plan:(Including estimated costs for procedures)</mat-label>
                                <textarea  [(ngModel)]="clinics_data.management_plan"  name="management_plan" matInput placeholder="Management Plan:(Including estimated costs for procedures)"></textarea>
                            
                             </mat-form-field>
                         </div>
                         <div class="col-sm-6">
                           <mat-form-field  appearance="outline">
                             <mat-label>Attending Practitioner</mat-label>
                               <input matInput placeholder="Attending Practitioner" [(ngModel)]="speciality_data.practitioner" name="practitioner"  >
                   
                             </mat-form-field>
                          </div>
                          <div class="col-sm-6">
                           <mat-form-field appearance="outline" >
                             <mat-label>Speciality</mat-label>
                               <input matInput placeholder="Speciality" [(ngModel)]="speciality_data.speciality" name="speciality">
                   
                             </mat-form-field>
                          </div>                  
                          </div>
                          </fieldset>
                          <div class="row"  style="justify-content: end;">
                         
                         
                         
                                 <div class="col-sm-8" >
                                 <button class="btn btn-success pull-right"  style="width: 220px; font-size: x-large;" (click)="Update()">Update</button>
                               </div>
                          </div>
                        </form>
                   
                        </div>
                      </div>
                    </div>
                  </div>
                     
                </div>
                <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '9px' }"></ngx-loading>
                    