mat-form-field{
	width: 100%;
}
input[type="text"]{
	font-family: lato light;
  }
 fieldset 
	{
		border: 1px solid #ddd !important;
		margin: 0;
		padding: 10px;       
		position: relative;
		border-radius:4px;
		padding-left:10px!important;
	}	
	
		legend
		{
			font-size:14px;
			// font-weight:bold;
			margin-bottom: 0px; 
			width: 40%; 
			border: 1px solid #ddd;
			border-radius: 4px; 
			padding: 5px 5px 5px 10px; 
			background-color: #ffffff;
			font-family:lato;
			text-transform: capitalize;

		}
label{
	font-family: lato light;

}		
.list-group ul li{
height: 2px;
font-size: 9px;
}
.list-group-item{
	height: 33px;
}			


table{
	width: 100%;
	font-family:lato light;   
}


td.mat-cell{
	font-size:11px;
}


th.mat-header-cell {
	text-align: left;
	font-weight: bolder;
}
