mat-form-field{
	width: 100%;
}
 ::placeholder{
	font-family: lato light;
 } 
	  
 .prefix{
	font-family: lato light;
	font-size:22px;
 }
 .cls{
	 font-family: lato;
 }
 table{
	 width: 100%;
 }
 .txt{
	 text-align: left;
	 font-size: 13px;
	 font-weight: bolder;
 }
.row{
	font-family: lato light;
}
::ng-deep .mat-card .principal{
    border: solid dodgerblue;

   }

   ::ng-deep .mat-card .payment{
    border: solid  #A6CF39;

   }   