<div class="card">
    <div class="card-body" id="print-section">
        <div class="row">
            <div class="col-sm-12">
                <button class="btn btn-success" style="float: right;" (click)="printPage()">Print Claim Form</button>
                <div class="clearfix"></div>
    
            </div>
        </div>
        <div class="row" >
           
            <div class="col-sm-8">
                <h1 style="color: tomato;">
                    MEDICAL CLAIM FORM
                    <!-- <img src="../../../../assets/img/avatars/sanlam-logo.png" alt=""> -->
                </h1>
                <p>
                    Please fill all sections (Use Separate form per member per visit)
                </p>
                <div>
                    <p>
                        All Claims Should be submitted to:
                    </p>
                </div>
                <div>
                    <p>
                      <strong>
                        Claims Department Mananger
                      </strong>
                    </p>
                </div>
                <div>
                    <p><strong>
                        AAR Insurance Kenys Ltd<br>
                        Real Towers, Hospital Road, Upper-Hill,Ground Floor<br>
                        P.O Box 41766-00100 GPO Nairobi,Kenya
                    </strong>
                      
                    </p>
                   <div class="row">
                    <div >
                        <p>
                            For Querries contanct our 24 Hour medical services helpline at +254202895000/+254730633000/+254703063000<br> or email
                         <strong style="color: tomato;">medicalservices@aar.co.ke</strong>/www.aar-insurance.com
                          </p>
                    </div>

                   </div>
                   
                </div>
            
            </div>

            <div class="col-sm-12" >
                <!-- <i class="fa fa-chevron-right" style="color: white;font-size: 14px;float: left;" aria-hidden="true"></i> -->
                <div style="display: flex !important;" class="text">
                    <h3 >A. PATIENT INFORMATION (to be completed by patient/parent/gurdian) </h3>
                </div>
                <div class="row">
                    <div class="col-sm-2">Name:</div>
                    <div class="col-sm-10">
                    <input type="text" readonly value="{{patient.patient.first_name}} {{patient.patient.last_name}}" > 
                    
                    </div>
                    
                </div>
                <div class="clearfix"></div>

                <div class="row" style="position: relative;">
                    <div class="col-sm-2">Date of Birth:</div>
                    <div class="col-sm-2">
                    <input type="text" [(ngModel)]="patient.patient.dob">
                    </div>
                    <div class="col-sm-2">Membership No:</div>
                    <div class="col-sm-2">
                    <input type="text" readonly [(ngModel)]="patient.relation">
                    </div>
                    <div class="col-sm-2">Company/Employer:</div>
                    <div class="col-sm-2">
                    <input type="text" readonly [(ngModel)]="patient.scheme_name">
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="row" style="position: relative;">
                    <div class="col-sm-2">Telephone No:</div>
                    <div class="col-sm-4">
                    <input type="text" readonly [(ngModel)]="patient.patient.phone">
                    </div>
                    <div class="col-sm-2">Email:</div>
                    <div class="col-sm-4">
                    <input type="text" readonly [(ngModel)]="patient.patient.email">
                    </div>
                   
                </div>
                <div class="clearfix"></div>
                <div class="col-sm-12" >
                   
                    <div class="row">
                        <div class="col-sm-12">
                            Declaration:I declare that,to the best of my knowledge,all the information provided on this form is correct.
                             I understand that AAR insurance will rely on the information provided as such.I agree and accept that this declaration 
                             gives AAR Insurance and its appointed representatives the right to request past,present and future medical information in relation to this claim
                             or any other related claim, from any third party, including providers and medical practitioners.I understand that any deliberate misrepresentation 
                             or the ommision of anyb material facts may result in denial of the claim and/cancellation of cover,and possible legal action.
                        

                        </div>
                        
                    </div>
                   
    
                    <div class="row" style="margin-top: 12px;">
                        <div class="col-sm-8">
                            Member/Gurdian Signature:______________________________________________________________
                        </div>
                        <div class="col-sm-4">
                            Date:_______________________________________
                        </div>
                        
                    </div>
    
                </div>
                <div class="clearfix"></div>

            </div>
            <div style="display: flex !important;" class="text">
                <h3 >B. CLINICAL INFORMATION (to be completed by attending medical Practitioner or consultant) </h3>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <mat-checkbox class="example-margin" ></mat-checkbox>
                    First Visit
                </div>
                <div class="col-sm-9">
                 <mat-checkbox class="example-margin" ></mat-checkbox>
                 Review (Review visit will be assumed if first visit is not checked)
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="row" style=" margin: 30px;">
                <div class="col-sm-12">Complaints including date of onset:  _______________________________________________________________________________________________________________________<br>
                     _______________________________________________________________________________________________________________________________________________________________<br>
                      _______________________________________________________________________________________________________________________________________________________________
                     <br>


                </div><br>
                <!-- <div class="col-sm-4">
                <input type="text" [(ngModel)]="patient.employee">
                </div> -->
                <div class="col-sm-12">physical findings:  _______________________________________________________________________________________________________________________<br>
                    _______________________________________________________________________________________________________________________________________________________________<br>
                     _______________________________________________________________________________________________________________________________________________________________
                    <br>




                </div><br>
                <div class="col-sm-12">Laboratory & Radiology findings:

                    _______________________________________________________________________________________________________________________<br>
                    _______________________________________________________________________________________________________________________________________________________________<br>
                     _______________________________________________________________________________________________________________________________________________________________
                    <br>




                </div><br>
                <div class="col-sm-12">Diadnosis:
                    _______________________________________________________________________________________________________________________<br>
                    _______________________________________________________________________________________________________________________________________________________________<br>
                     _______________________________________________________________________________________________________________________________________________________________
                    <br>




                </div><br>
                <div class="col-sm-12">Management plan:(Including estimated costs for procedures): _______________________________________________________________________________________________________________________<br>
                    _______________________________________________________________________________________________________________________________________________________________<br>
                     _______________________________________________________________________________________________________________________________________________________________
                    <br>




                </div><br>
                <div class="row" style="margin-top: 12px;">
                    <div class="col-sm-6">
                        Attending  Practitioner:_______________________________________________
                    </div>
                    <div class="col-sm-6">
                        Specialty:_____________________________
                    </div>
                    <div class="clearfix"></div> 
                </div>
                <div class="row" style="margin-top: 12px;">
                    <div class="col-sm-6">
                       Sign:_________________
                    </div>
                    <div class="col-sm-6">
                        Official Stamp:____________________________________
                    </div>
                    
                </div>

        </div>



            

        </div>
        <p>
            Please attach a detail invoice and a copy of referral form<br>
            (If patient was referred to your center) and send to AAR insurance Kenya<br>
            within 30 days of visit for payment purposes.<br><br>
            In case of any admission, Send/Email this completed form to <br>
            AAR Insurance Kenya Within 24 hours of admission.

        </p>
       
      


        

        <div class="col-sm-12">
            <div class="row" style="float: right; margin-top: 50px;">
                <!-- <h5 style="color: white;"> <i class="fa fa-chevron-right" style="color: white;font-size: 14px;" aria-hidden="true"></i> Sanlam General Insurance Ltd</h5> -->
                <h1 ><img  src="../../../../assets/img/avatars/aar.png" alt="">
               </h1>
            </div>
        </div>
    </div>
  </div>