
    <div class="card">
        <div class="card-body" id="print-section">
            <div class="row">
                <div class="col-sm-12">
                    <button class="btn btn-success" style="float: right;" (click)="printPage()">Print Claim Form</button>

                    <div class="clearfix"></div>
        
                </div>
                <div class="clearfix"></div>
                <div class="clearfix"></div>
                <div class="col-sm-12">
                    <button class="btn btn-success" style="float: right; margin-top: 20px;" (click)="edit()">Edit Form</button>

                    
        
                </div>
               
            </div>
            <div class="row" >
               
            
    
                <div class="col-sm-12" style="font-size: 10px;">
                    
                    <div class="row">
                        <div class="col-sm-12">
                            <p style="white-space:nowrap; margin-top: 0px;">
                                <img src="../../../../assets/img/avatars/aarthur.png" alt="" width="1000" height="300" >
                               
                                 
                               
                            </p>
            
            
                        </div>
            
                    </div>
                    <div class="row" style="margin: 12px;">
                        <div class="col-sm-2">Name:</div>
                        <div class="col-sm-10">
                            <div class="row" style="position: absolute;bottom: 0;" ng-click="editing = true">
                                   <strong>{{patient.patient.first_name}} {{patient.patient.last_name}} {{patient.patient.other_names}}</strong>
                            </div>
                            <div class="row">
                   ___________________________________________________________________________________________________________________________________
                            </div>
                        </div>
                       
                    </div>
                    <div class="clearfix"></div>
    
                    <div class="row" style="position: relative;" style="margin: 12px;">
                        <div class="col-sm-2">Date of Birth:</div>
                        <div class="col-sm-2">
                            <div class="row" style="position: absolute;bottom: 1;">
                                <strong>{{patient.patient.dob | date }} </strong>
                            </div>
                            <div class="row">
                _____________
                            </div>
                        </div>
                       
                        <div class="col-sm-2">Membership No:</div>
                        <div class="col-sm-2">
                            <div class="row" style="position: absolute;bottom: 1;">
                                  <strong>  {{patient.member_number}}</strong>
                            </div>
                            <div class="row">
                ____________
                            </div>
                        </div>
                        <div class="col-sm-2">Company/Employer:</div>
                        <div class="col-sm-2">
                            <div class="row" style="position: absolute;bottom: 1;">
                                  <strong>  {{patient.scheme_name}}</strong>
                            </div>
                            <div class="row">
                _________________
                            </div>
                        </div>
                        
                    </div>
                    <div class="clearfix"></div>
                    <div class="row" style="position: relative;" style="margin: 12px;">
                        <div class="col-sm-2">Telephone No:</div>
                        <div class="col-sm-2">
                            <div class="row" style="position: absolute;bottom: 1;">
                                  <strong>  {{patient.patient.phone}}</strong>
                            </div>
                            <div class="row">
                __________________
                            </div>
                        </div>
                        
                       
                        <div class="col-sm-2">Email:</div>
                        <div class="col-sm-2">
                            <div class="row" style="position: absolute;bottom: 1;">
                                   <strong> {{patient.patient.email}}</strong>
                            </div>
                            <div class="row">
                ________________
                            </div>
                        </div>
                       
                       
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-sm-12" style="margin: 12px;">
                       
                        <div class="row">
                            <div class="col-sm-12" style="font-size: 12px;">
                                Declaration:I declare that,to the best of my knowledge,all the information provided on this form is correct.
                                 I understand that AAR insurance will rely on the information<br> provided as such.I agree and accept that this declaration 
                                 gives AAR Insurance and its appointed representatives the right to request past,present and future medical<br>  information in relation to this claim
                                 or any other related claim, from any third party, including providers and medical practitioners.I understand that any deliberate <br> misrepresentation 
                                 or the ommision of anyb material facts may result in denial of the claim and/cancellation of cover,and possible legal action.
                            
    
                            </div>
                            
                        </div>
                        <div class="clearfix"></div>
                       
        
                        <div class="row" style="margin-top: 12px;" style="margin: 12px;">
                            <div class="col-sm-8" (click)="activateMemberSignature()">
                                <div class="row">
                                    <div class="col-sm-4">Member/Gurdian Signature:</div>
                                    <div class="col-sm-8">
                                        <div class="row" style="position: absolute;bottom: 0;margin-bottom: -10px;" *ngIf="signature1_show"><img src="{{signature1_src}}" width="100px" height="50px"/></div>
                                    <div class="row">_______________________________________________________________ </div>
                                    </div>
                                 </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="row"> 
                                    <div class="col-sm-4">Date:</div>
                                    <div class="col-sm-8">
                                        <div class="row" style="position: absolute;bottom: 0;">
                                              <strong>  {{ today1 | date:"MMM d, y"}}</strong>
                                        </div>
                                        <div class="row">
                                        _______________________________________
                                        </div>
                                    </div>
                                </div>
                              
                            </div>
                            
                        </div>
        
                    </div>
                    <div class="clearfix"></div>
    
                </div>
                <div class="row" style="font-size: 10px; margin: 30px;">
                    <div style="display: flex !important; " class="col-sm-12">
                        <h6 ><u>B. CLINICAL INFORMATION (to be completed by attending medical Practitioner or consultant)</u> </h6>
                    </div>
    
                </div>
                <div class="col-sm-12" style="margin: 12px;">
                    <div class="row" style="margin-left: 12px; font-size: 11px;">
                        <div class="col-sm-4">
                            <mat-checkbox class="example-margin" ></mat-checkbox>
                            First Visit
                        </div>
                        <div class="col-sm-8">
                         <mat-checkbox class="example-margin" ></mat-checkbox>
                         Review (Review visit will be assumed if first visit is not checked)
                      </div>
                    </div>
    
                </div>
                <div class="clearfix"></div>
                <div class="row" style=" margin: 30px;font-size: 8px;">
                   
                    <div class="row" style="margin: 12px;">
                        <div class="col-sm-8">Complaints including date of onset:
                            <div class="col-sm-8">
                                <div class="row" style="margin-left: 12px;">
                                    _______________________________________________________________________________________________________________________________________________________<br>
                                     _______________________________________________________________________________________________________________________________________________________<br>
                                   ______________________________________________________________________________________________________________________________________________________<br>                        
                                         
                                           
                                       </div>
        
                            </div>
                    </div>
                       
                    </div>
                    <div class="clearfix"></div>
                    <div class="row" style="margin: 12px;">
                        <div class="col-sm-8">Physical findings:
                            <div class="col-sm-8">
                                <div class="row" style="margin-left: 12px;">
                                    _______________________________________________________________________________________________________________________________________________________<br>
                                     _______________________________________________________________________________________________________________________________________________________<br>
                                   ______________________________________________________________________________________________________________________________________________________<br>                        
                                            
                                           
                                       </div>
        
                            </div>
                    </div>
                       
                    </div>
                    <div class="clearfix"></div>
                    <div class="row" style="margin: 12px;">
                        <div class="col-sm-8">Laboratory &Radiology findings:<br>
                        <div class="col-sm-8">
                            <div class="row" style="margin-left: 12px;">
                                _______________________________________________________________________________________________________________________________________________________<br>
                                 _______________________________________________________________________________________________________________________________________________________<br>
                               ______________________________________________________________________________________________________________________________________________________<br>                        
                                      
                                       
                                   </div>
    
                        </div>
                            
                    </div>
                    </div>
     
                    <div class="clearfix"></div>
                    <div class="row" style="margin: 12px;">
                        <div class="col-sm-12">Diagnoses:
                            <div class="col-sm-8">
                                <div class="row" style="position: absolute;bottom: 1;">
                                      <strong>  {{patient.insuranceVisit.diagnoses}}  {{patient.insuranceVisit.description}}</strong>
                                </div>
                                <div class="row" style="margin-left: 12px;">
                             _______________________________________________________________________________________________________________________________________________________<br>
                              _______________________________________________________________________________________________________________________________________________________<br>
                            ______________________________________________________________________________________________________________________________________________________<br>                        
                                     <div class="clearfix"></div>
                                    
                                </div>
                            </div>
                           
                    </div>
                       
                    </div>
                 
                    
                    
                   
                  
                    
    
    
    
                    
                    <div class="clearfix"></div>
                    
                    <div class="col-sm-12" style="margin: 12px;">
                        <div class="row" style="margin-top: 12px;">
                            <div class="col-sm-3">
                                Attending  Practitioner:
        
                            </div>
                            <div class="col-sm-3">
                                <div class="row" style="position: absolute;bottom: 1;">
                                     <strong>{{patient.insuranceVisit.doctor}}</strong>
                                </div>
                                <div class="row">
                                _______________________________
                                </div>
                            </div>
                            <div class="col-sm-6">
                                Specialty:_____________________________
                            </div>
                            <div class="clearfix"></div> 
                        </div>
                        <div class="clearfix"></div> 
                       
                        <div class="row" style="margin-top: 12px;" >
                            <div class="col-sm-6" (click)="activateStaffSignature()">
                                <div class="row">
                                <div class="col-sm-4">Sign:</div>
                                <div class="col-sm-8">
                                    <div class="row" style="position: absolute;bottom: 0;margin-bottom: -10px;" *ngIf="signature2_show"><img src="{{signature2_src}}" width="80px" height="50px"/></div>
                                <div class="row">___________________________</div>
                            </div>
                            </div>
                            </div>
                            <div class="col-sm-6">
        
                                Official Stamp:____________________________________
                            </div>
                            
                        </div>
                    </div>
                    
    
            </div>
    
    
    
                
    
            </div>
            <div class="row" style="font-size: 12px;" style="margin: 8px;">
                <div class="col-sm-6">
                Please attach a detail invoice and a copy of referral form<br>
                (If patient was referred to your center) and send to AAR insurance Kenya<br>
                within 30 days of visit for payment purposes.<br><br>
                In case of any admission, Send/Email this completed form to <br>
                AAR Insurance Kenya Within 24 hours of admission.
    
                </div>
                <div class="col-sm-6" style="font-size: 6pxpx;">
                    <div class="row" style="float: right;">
                        <h1 ><img  src="../../../../assets/img/avatars/aar.png" alt="">
                       </h1>
                    </div>
                </div>
    
            </div>
           
        </div>
        <div class="modal fade" bsModal #clientModal="bs-modal" 
        tabindex="-1" role="dialog" aria-labelledby="dialog-static-name">
     <div class="modal-dialog modal-lg">
       <div class="modal-content">
         <div class="modal-header">
           <h4 id="dialog-static-name" class="modal-title pull-left">Edit Form</h4>
           <button type="button" class="close pull-right" aria-label="Close" (click)="clientModal.hide()">
             <span aria-hidden="true">&times;</span>
           </button>
         </div>
         <div class="modal-body">
         <form [formGroup]="clientForm"   >
           
           <div class="row">
             <div class="col-sm-4">
               <mat-form-field appearance="outline">
                 <mat-label>Surname</mat-label>
                   <input matInput placeholder="Surname" [(ngModel)]="patient.patient.last_name"  formControlName="surname" >
                 </mat-form-field>
             </div>
             <div class="col-sm-4">
               <mat-form-field appearance="outline">
                 <mat-label>First Name</mat-label>
                   <input matInput placeholder="First Name" [(ngModel)]="patient.patient.first_name"  formControlName="firstname" >
                   
                 </mat-form-field>
           </div>
           <div class="col-sm-4">
             <mat-form-field appearance="outline">
               <mat-label>Other Name</mat-label>
                 <input matInput placeholder="Other Name" [(ngModel)]="patient.patient.other_names"  formControlName="lastname">
                
               </mat-form-field>
         </div>
          
          <div class="col-sm-4">
           <mat-form-field appearance="outline" >
             <mat-label>Telephone No</mat-label>
               <input matInput placeholder="Phone" [(ngModel)]="patient.patient.phone" formControlName="phone" >
   
             </mat-form-field>
          </div>
          <div class="col-sm-4">
           <mat-form-field appearance="outline">
             <mat-label>D.O.B</mat-label>
               <input matInput placeholder="Date of Birth" [maxDate]="maxDate"  [matDatepicker]="picker" [(ngModel)]="patient.patient.dob"  formControlName="dob" >
               <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
               <mat-datepicker #picker></mat-datepicker>
             </mat-form-field>
         </div>
         <div class="col-sm-4">
           <mat-form-field appearance="outline">
             <mat-label>Membership No</mat-label>
                <input matInput placeholder="National ID" [(ngModel)]="patient.member_number" formControlName="memberno" >
              </mat-form-field>
         </div>
         <div class="col-sm-4">
           <mat-form-field appearance="outline">
             <mat-label>Email</mat-label>
                <input matInput placeholder="Email" [(ngModel)]="patient.patient.email"  formControlName="email">
           </mat-form-field>
         </div>
         <div class="col-sm-4">
            <mat-form-field appearance="outline">
              <mat-label>Date of Onset</mat-label>
                <input matInput placeholder="Date of Birth" [maxDate]="maxDate"  [matDatepicker]="picker1"  formControlName="date">
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
              </mat-form-field>
          </div>
          <div class="col-sm-4">
            <mat-form-field  appearance="outline">
              <mat-label>Doctor's Name</mat-label>
                <input matInput placeholder="Phone" [(ngModel)]="patient.insuranceVisit.doctor" formControlName="doctor" >
    
              </mat-form-field>
           </div>
           <div class="col-sm-4">
            <mat-form-field appearance="outline" >
              <mat-label>Doctor's specialty</mat-label>
                <input matInput placeholder="Phone" [(ngModel)]="patient.insuranceVisit.specialty" formControlName="specialty" >
    
              </mat-form-field>
           </div>
           <div class="col-sm-4">
            <mat-form-field appearance="outline" >
              <mat-label>Diagnoses</mat-label>
                <input matInput placeholder="Phone" [(ngModel)]="patient.insuranceVisit.specialty" formControlName="specialty" >
    
              </mat-form-field>
           </div>
          
          
          
     <div class="col-sm-8" >
     <button class="btn btn-success pull-right"  (click)="Update()">Update</button>
   </div>
           </div>
         </form>
         </div>
       </div>
     </div>
   </div>
      
      </div>
     


