

<div class="row">
    <div class="col-sm-12">
      <div class="card">
        <h5 class="card-header">Clinics Setup</h5>
        <div class="card-body">
          <mat-tab-group>
            <mat-tab label="Clinics"> 
          <div class="row">
            <div class="col-sm-12">
              <div class="row">
                <div class="col-sm-4">
                    <mat-form-field>
                        <input matInput [(ngModel)]="search"  placeholder="clinics type" type="search">
                      </mat-form-field>
        
              </div>
              <div class="col-sm-2">
                <button  (click)="filterClinics()"  class="btn btn-success pull-left" style="margin-top: 5px;padding-left: 10px;padding-right: 10px;">search</button> 
              </div>
              <div class="col-sm-6">
                <button  (click)="addClinic.show()"  class="btn btn-success pull-right" style="padding-left: 10px;padding-right: 10px;">Add Clinic</button> 
            </div>
            </div>
              <div class="col-sm-12">
  
                  <div class="mat-elevation-z8 table-responsive">
                    <table mat-table [dataSource]="clinics" matSort style="width: 100%;"> 
                        <ng-container matColumnDef="sn">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>S/N</th>
                            <td mat-cell *matCellDef="let element;let i = index"> {{i+1}} </td>
                    </ng-container>
                    <ng-container matColumnDef="type">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>Type</th>
                      <td mat-cell *matCellDef="let element"> {{element.type_name}} </td>
              </ng-container>
                        
                      <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Clinic</th>
                        <td mat-cell *matCellDef="let element"> {{element.name}}</td>
                      </ng-container>
                      <ng-container matColumnDef="description">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
                        <td mat-cell *matCellDef="let element"> {{element.description}}</td>
                      </ng-container>
                
                      <ng-container matColumnDef="createdby">
                        <th mat-header-cell *matHeaderCellDef  mat-sort-header>Created by</th>
                        <td mat-cell *matCellDef="let element" style="text-transform: capitalize;"> {{element.created_by}}</td>
                      </ng-container>                      
                      <ng-container matColumnDef="update">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Update</th>
                        <td mat-cell *matCellDef="let element" > 
                          <button class="btn btn-success btn-sm" (click)="update(element)" >edit</button>
                          </td>
                      </ng-container>
                      <ng-container matColumnDef="calendar">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Calendar</th>
                        <td mat-cell *matCellDef="let element" >                          
                          <button class="btn btn-success btn-sm" (click)="showCalendar(element)">Calender</button>
                          </td>                          
                      </ng-container>
                      <ng-container matColumnDef="delete">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Delete</th>
                        <td mat-cell *matCellDef="let element" >                          
                          <button class="btn btn-danger btn-sm" (click)="deleteClinic(element)">remove</button>
                          </td>
                      </ng-container>
                 
                      <tr mat-header-row *matHeaderRowDef="Columns"></tr>
                      <tr mat-row *matRowDef="let row; columns:Columns;" ></tr>
                    </table>
                
                    <mat-paginator [pageSizeOptions]="[100,200,500]" showFirstLastButtons></mat-paginator>
                  </div>
                </div>
          </div>

          </div>
          
        </mat-tab>
        <mat-tab  label="Calendar">
            
  <div class="card">
    <div class="card-header">
    <h5><b>My Working Days</b></h5>
    </div>
    <div class="card-body">





  <div class="col-sm-12">
  <div class="row">
      <div class="col-sm-3">
        <div class="col-sm-12"><h5> Select Clinic</h5></div>
        
  
     
        <mat-radio-group  name="d">
          <div class="row" style="margin-left: 10px;" *ngFor="let clinic of clinics_list" >
               <mat-radio-button [value]="clinic.id"  [checked]="clinic.id==selected_clinic_id" (click)="onCounsellorSelect(counselor.id)"  style="font-family: lato light;margin-right: 20px;"><h5>{{clinic.name}}</h5></mat-radio-button>
            </div>
                        
     
       </mat-radio-group>
      </div>
      <div class="col-sm-6">
    
        <div class="control-section">
          <div class="col-lg-12 conent-wrapper">
            <ejs-schedule #schedule2 [(selectedDate)]="selectedDate"   (popupOpen)='onPopupOpen($event)'    (cellClick)="onCellClick($event)" [currentView]='currentView' >
              <ng-template #cellTemplate2 let-data>
                <div class="templatewrap">
                  <img src="./assets/img/avatars/accept.png" width="32px" height="32px" *ngIf="isWorkDay(data.date)"/>
                  <img src="./assets/img/avatars/close.png" width="32px" height="32px"  *ngIf="!isWorkDay(data.date)"/>
                
                </div>
              </ng-template>
              <e-views>          
                <e-view option="Month"  ></e-view> 
              </e-views>
      
            </ejs-schedule>
          </div>
          
        </div>
      
      </div>
      <div class="col-sm-3">
        <div class="col-sm-12"><h5> Select Week Days</h5></div>
        
  
     
        <div class="col-sm-12"><mat-checkbox color="primary"  [checked]="checkWeekdaysInList(0)" (change)="weekdayChange(0)"> Sunday</mat-checkbox></div>
        <div class="col-sm-12"><mat-checkbox color="primary"  [checked]="checkWeekdaysInList(1)" (change)="weekdayChange(1)"> Monday</mat-checkbox></div>
        <div class="col-sm-12"><mat-checkbox color="primary"  [checked]="checkWeekdaysInList(2)" (change)="weekdayChange(2)"> Tuesday</mat-checkbox></div>
        <div class="col-sm-12"><mat-checkbox color="primary"  [checked]="checkWeekdaysInList(3)" (change)="weekdayChange(3)"> Wednesday</mat-checkbox></div>
        <div class="col-sm-12"><mat-checkbox color="primary"  [checked]="checkWeekdaysInList(4)" (change)="weekdayChange(4)"> Thursday</mat-checkbox></div>
        <div class="col-sm-12"><mat-checkbox color="primary"  [checked]="checkWeekdaysInList(5)" (change)="weekdayChange(5)"> Friday</mat-checkbox></div>
        <div class="col-sm-12"><mat-checkbox color="primary"  [checked]="checkWeekdaysInList(6)" (change)="weekdayChange(6)"> Saturday</mat-checkbox></div>
        
      </div>
    </div>
     
    <button class="btn btn-success btn-sm" (click)="submitWorkdays()" > Submit</button>
  </div>
  </div>
  </div>
        </mat-tab>
        </mat-tab-group>
      </div>
      </div>
    </div>
  </div>



<div class="modal fade" bsModal #addClinic="bs-modal" [config]="{backdrop: 'static'}"
tabindex="-1" role="dialog" aria-labelledby="dialog-static-name">
<div class="modal-dialog modal-lg">
<div class="modal-content">
 <div class="modal-header">
   <h6 id="dialog-static-name" class="modal-title pull-left">Add Clinic</h6>
   <button type="button" class="close pull-right" aria-label="Close" (click)="addClinic.hide()">
     <span aria-hidden="true">&times;</span>
   </button>
 </div>
 <div class="modal-body">
   
  <form [formGroup]="clinicForm" >
   <div class="row">
     <div class="col-sm-12">
        <mat-form-field appearance="outline">
            <mat-label>Type e.g  Speciality clinics</mat-label>
            <mat-select formControlName="type" >
              <mat-option  (click)="typeModal.show()" value="">Add Type</mat-option>
              <mat-option  *ngFor="let item of clinics_type"[value]="item.id">{{item.name}}</mat-option>
            </mat-select>
            <mat-error *ngIf="f.type && submitted">Type  <strong>required</strong></mat-error>
          </mat-form-field>
     </div>



     <div class="col-sm-12">
        <mat-form-field appearance="outline">
            <mat-label>Clinic Name</mat-label>
              <input matInput placeholder="name" formControlName="name">
            </mat-form-field>
     </div>
     <div class="col-sm-12">
      <mat-form-field appearance="outline">
          <mat-label>Session Duration per Client (mins)</mat-label>
            <input matInput placeholder="Session Duration per Client (mins)" type="number" formControlName="session_duration">
          </mat-form-field>
   </div>
     <div class="col-sm-12">
      <mat-form-field appearance="outline">
          <mat-label>Description</mat-label>
            <input matInput placeholder="Description" formControlName="description">
          </mat-form-field>
   </div>
    

    <div class="col-sm-12">
      <br>
      <button  class="btn btn-success pull-right" style="padding-left: 10px;padding-right: 10px;" (click)="submitClinic()" > <span style="text-transform: capitalize;">Save Clinic</span> </button>
    </div>
   </div>
   </form>
 </div>
</div>
</div>
</div>


<div class="modal fade" bsModal #editClinic="bs-modal" [config]="{backdrop: 'static'}"
tabindex="-1" role="dialog" aria-labelledby="dialog-static-name">
<div class="modal-dialog modal-lg">
<div class="modal-content">
 <div class="modal-header">
   <h6 id="dialog-static-name" class="modal-title pull-left">Edit Clinic</h6>
   <button type="button" class="close pull-right" aria-label="Close" (click)="editClinic.hide()">
     <span aria-hidden="true">&times;</span>
   </button>
 </div>
 <div class="modal-body">
  <form [formGroup]="editClinicForm" >
   <div class="row">
    <div class="col-sm-12">
    <mat-form-field appearance="outline">
      <mat-label>Type e.g  Speciality clinics</mat-label>
      <mat-select formControlName="type" >
        <mat-option  (click)="typeModal.show()" value="">Add Type</mat-option>
        <mat-option  *ngFor="let item of clinics_type"[value]="item.id">{{item.name}}</mat-option>
      </mat-select>
      <mat-error *ngIf="f.type && submitted">Type  <strong>required</strong></mat-error>
    </mat-form-field>
</div>



<div class="col-sm-12">
  <mat-form-field appearance="outline">
      <mat-label>Clinic Name</mat-label>
        <input matInput placeholder="name" formControlName="name">
      </mat-form-field>
</div>
<div class="col-sm-12">
  <mat-form-field appearance="outline">
      <mat-label>Session Duration per Client (mins)</mat-label>
        <input matInput placeholder="Session Duration per Client (mins)" type="number" formControlName="session_duration">
      </mat-form-field>
</div>
<div class="col-sm-12">
<mat-form-field appearance="outline">
    <mat-label>Description</mat-label>
      <input matInput placeholder="Description" formControlName="description">
    </mat-form-field>
</div>
    <div class="col-sm-12">
      <br>
      <button  class="btn btn-success pull-right" style="padding-left: 10px;padding-right: 10px;" (click)="updateClinic()" > <span style="text-transform: capitalize;">Update Clinic</span> </button>
    </div>
   </div>
   </form>
 </div>
</div>
</div>
</div>

<div class="modal fade" bsModal #typeModal="bs-modal" [config]="{backdrop: 'static'}"
tabindex="-1" role="dialog" aria-labelledby="dialog-static-name">
<div class="modal-dialog modal-md">
<div class="modal-content">
 <div class="modal-header">
   <h5 id="dialog-static-name" class="modal-title pull-left">Add Type</h5>
   <button type="button" class="close pull-right" aria-label="Close" (click)="typeModal.hide()">
     <span aria-hidden="true">&times;</span>
   </button>
 </div>
 <div class="modal-body">
  <form [formGroup]="typeForm" >
   <div class="row">
     <div class="col-sm-12">
    
      <mat-form-field appearance="outline">
        <mat-label>Type Name</mat-label>
          <input matInput formControlName="name" placeholder="Type">
          <mat-error *ngIf="t.name && submitted">Type  <strong>required</strong></mat-error>
        </mat-form-field>

     </div>
   
     <div class="col-sm-12">
      <button  class="btn btn-success pull-right" style="padding-left: 10px;padding-right: 10px;" (click)="submitType()"> <span style="text-transform: capitalize;">Save</span> </button>
     </div>
   </div>
   </form>
 </div>
</div>
</div>
</div>




<div class="modal fade" bsModal #calendarModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="dialog-static-name">
<div class="modal-dialog modal-lg">
<div class="modal-content">
 <div class="modal-header">
   <h5 id="dialog-static-name" class="modal-title pull-left">Calendar</h5>
   <button type="button" class="close pull-right" aria-label="Close" (click)="calendarModal.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
 </div>
 <div class="modal-body">
  






  <div class="col-sm-12">
  <div class="row">

      <div class="col-sm-8">
    
        <div class="control-section">
          <div class="col-lg-12 conent-wrapper">
            <ejs-schedule #schedule [(selectedDate)]="selectedDate"   (popupOpen)='onPopupOpen($event)'    (cellClick)="onCellClick($event)" [currentView]='currentView' >
              <ng-template #cellTemplate let-data>
                <div class="templatewrap">
                  <img src="./assets/img/avatars/accept.png" width="32px" height="32px" *ngIf="isWorkDay(data.date)"/>
                  <img src="./assets/img/avatars/close.png" width="32px" height="32px"  *ngIf="!isWorkDay(data.date)"/>
                
                </div>
              </ng-template>
              <e-views>          
                <e-view option="Month"  ></e-view> 
              </e-views>
      
            </ejs-schedule>
          </div>
          
        </div>
      
      </div>
      <div class="col-sm-4">
        <div class="col-sm-12"><h5> Select Week Days</h5></div>
        
  
     
        <div class="col-sm-12"><mat-checkbox color="primary"  [checked]="checkWeekdaysInList(0)" (change)="weekdayChange(0)"> Sunday</mat-checkbox></div>
        <div class="col-sm-12"><mat-checkbox color="primary"  [checked]="checkWeekdaysInList(1)" (change)="weekdayChange(1)"> Monday</mat-checkbox></div>
        <div class="col-sm-12"><mat-checkbox color="primary"  [checked]="checkWeekdaysInList(2)" (change)="weekdayChange(2)"> Tuesday</mat-checkbox></div>
        <div class="col-sm-12"><mat-checkbox color="primary"  [checked]="checkWeekdaysInList(3)" (change)="weekdayChange(3)"> Wednesday</mat-checkbox></div>
        <div class="col-sm-12"><mat-checkbox color="primary"  [checked]="checkWeekdaysInList(4)" (change)="weekdayChange(4)"> Thursday</mat-checkbox></div>
        <div class="col-sm-12"><mat-checkbox color="primary"  [checked]="checkWeekdaysInList(5)" (change)="weekdayChange(5)"> Friday</mat-checkbox></div>
        <div class="col-sm-12"><mat-checkbox color="primary"  [checked]="checkWeekdaysInList(6)" (change)="weekdayChange(6)"> Saturday</mat-checkbox></div>
        
      </div>
    </div>
     
    <button class="btn btn-success btn-sm" (click)="submitWorkdays()" > Submit</button>
  </div>
  
 </div>
</div>
</div>
</div>

