<br>
<fieldset>
  <legend>Book Room</legend>
  <div class="col-sm-12">
   
      <form [formGroup]="BookRoomForm" >
          <div class="row">
              <div class="col-sm-4">
                  <mat-form-field appearance="outline">
                    <mat-label>Your Names</mat-label>
                      <input matInput placeholder="your name" formControlName="Patient_names">
                      
                    </mat-form-field>
              </div>
            <div class="col-sm-4">
              <mat-form-field appearance="outline">
                <mat-label>Your Email</mat-label>
                  <input matInput placeholder="your email" type="email" formControlName="Patient_email">
                </mat-form-field>
            </div>
      
          <div class="col-sm-4">
            <mat-form-field appearance="outline">
              <mat-label>Age</mat-label>
                <input matInput placeholder="age" type="number" formControlName="Patient_age">
               
              </mat-form-field>
        </div>
         <div class="col-sm-4">
          <mat-form-field appearance="outline">
            <mat-label>Telephone Number</mat-label>
            <input matInput placeholder="telephone number" type="number" formControlName="Patient_phone">
          </mat-form-field>
         </div>
         <div class="col-sm-4">
          <mat-form-field appearance="outline">
            <mat-label>Gender</mat-label>
              <input matInput placeholder="Gender" formControlName="Patient_gender">
            </mat-form-field>
        </div>
         
         <!-- <div class="col-sm-4">
          <mat-form-field appearance="outline">
            <mat-label>Last Prenatal Clinic Date</mat-label>
              <input matInput placeholder="Last Prenatal Clinic Date (DD/MM/YYYY)"  formControlName="last_prenatal_clinic" >
           
            </mat-form-field>
        </div> -->
        <!-- <div class="col-sm-4">

          <mat-form-field appearance="outline">
            <mat-label>Date </mat-label>
              <input matInput placeholder="Last Prenatal Clinic Date"   [matDatepicker]="picker4"  formControlName="last_prenatal_clinic" autocomplete="off">
              <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
              <mat-datepicker #picker4></mat-datepicker>
            </mat-form-field> -->
      <!-- </div>
        <div class="col-sm-4">
          <mat-form-field appearance="outline">
            <mat-label>Last Form of Contraception</mat-label>
               <input matInput placeholder="Last Form of Contraception" formControlName="contraception_form">
             </mat-form-field>
        </div>
        <div class="col-sm-4">
          <mat-form-field appearance="outline">
            <mat-label>Are your Periods Regular?</mat-label>
               <input matInput placeholder="Are your Periods Regular" formControlName="period_regular">
          </mat-form-field>
        </div>
        <div class="col-sm-4">
          <mat-form-field appearance="outline">
            <mat-label>Any medical Conditions</mat-label>
              <input matInput placeholder="Any medical Conditions" formControlName="medical_conditions">
            </mat-form-field>
        </div>
        <div class="col-sm-4">
          <mat-form-field appearance="outline">
              <mat-label>Family Medical History</mat-label>
          
                <input matInput placeholder="Family Medical History" formControlName="family_medical_history">
            </mat-form-field>
        </div>
        <div class="col-sm-4">
          <mat-form-field appearance="outline">
            <mat-label>Other Non-Medical Concerns</mat-label>
              <input matInput placeholder="Other Non-Medical Concerns" formControlName="non_medical_concerns">
            </mat-form-field>
        </div> -->
        <!-- <div class="col-sm-4">
          <mat-form-field appearance="outline">
            <mat-label>First date of last period</mat-label>
              <input matInput placeholder="First date of last period (DD/MM/YYYY)"  formControlName="last_period_date" >
           
            </mat-form-field>
        </div> -->
        <!-- <div class="col-sm-4">

          <mat-form-field appearance="outline">
            <mat-label>First date of last period</mat-label>
              <input matInput placeholder="First date of last period"   [matDatepicker]="picker44"  formControlName="last_period_date" autocomplete="off">
              <mat-datepicker-toggle matSuffix [for]="picker44"></mat-datepicker-toggle>
              <mat-datepicker #picker44></mat-datepicker>
            </mat-form-field>
      </div> -->

      <div class="col-sm-8">
      <button class="btn btn-success pull-right" (click)="BookpRoom()">Book Room</button>
      </div>
          </div>
        </form>


  </div>
</fieldset>