<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <h6 class="card-header bg-success">Feedback Details

            </h6>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-12">
                      <div class="row">
                        <div class="col-sm-12 col-md-1 col-lg-1 col-3">
                          <img src="assets/img/avatars/female.png" class="rounded-circle" alt="" style="width: 90px;"*ngIf="dataSourceCall.patient.gender=='Female'">
                          <img src="assets/img/avatars/male.png" class="rounded-circle" alt="" style="width: 90px;"*ngIf="dataSourceCall.patient.gender=='Male'">
                          <img src="assets/img/avatars/account.png" class="rounded-circle" alt="" style="width: 90px;"*ngIf="dataSourceCall.patient.gender!='Male' && dataSourceCall.patient.gender!='Female'">
                        </div>
                        <!-- <div class="col-sm-12 col-md-1 col-lg-1 col-3">
                          <img src="assets/img/avatars/female.png" class="rounded-circle" alt="" style="width: 90px;">
                        </div> -->
                        <div class="col-sm-12 col-md-11 col-lg-11 col-9">
                          <div class="row">
                            <mat-icon color="primary"  (click)="edit()">create</mat-icon>
                        <div class="col-sm-5">

                            <div class="row">  <div class="col-sm-12 text-primary" style="text-transform: capitalize;font-weight: 600;">{{client_name}}
                                    </div>
                               
                                <div class="col-sm-12" > {{client_phone}} </div>
                                <div class="col-sm-12" > {{client_email}} </div>
                                <div class="col-sm-12" > {{client_dob}} </div>

                            </div> 
                            

                        </div>
                        <div class="col-sm-5" style="text-align:right">
     
                          <button  (click)="paymentModal.show()"  class="btn btn-success pull-right">Take Notes</button> 

                        <!-- </div>
                        <div class="col-sm-5" style="text-align:right">
     
                          <button  (click)="paymentModal.show()"  class="btn btn-success pull-right">Confirm</button> 

                        </div> -->
                       
                       
                           
                          </div>
              
                        </div>
                      </div>
                     
                    </div>
                    <div class="col-sm-12">
                        <mat-tab-group>
                          <mat-tab>
                            <ng-template mat-tab-label>
                              Feedback Details
                            </ng-template>
                            <br>
                                    <fieldset>
                                        <legend>Feedback Info</legend>
                                        <div class="col-sm-12">
                                         
                                            <form>
                                                <div class="row">
                                                    <div class="col-sm-4">
                                                        <mat-form-field appearance="outline">
                                                          <mat-label>Department</mat-label>
                                                            <input matInput placeholder="department" name="name" value="{{client_department}}">
                                                          </mat-form-field>
                                                    </div>
                                             
                                            
                                          
                                               <div class="col-sm-4">
                                                <mat-form-field  appearance="outline">
                                                  <mat-label>Service</mat-label>
                                                    <input matInput placeholder="service" name="phone" value="{{dataSourceCall.service}}">
                                            
                                                  </mat-form-field>
                                               </div>
                                          
                                               <div class="col-sm-4">
                                                <mat-form-field appearance="outline">
                                                  <mat-label>Type</mat-label>
                                                    <input matInput placeholder="Type" name="type"  value="{{dataSourceCall.type}}">
                                                  </mat-form-field>
                                            </div>
                                             
                                              <div class="col-sm-4">
                                                <mat-form-field appearance="outline">
                                                  <mat-label>Visit Type</mat-label>
                                                    <input matInput placeholder="visit type"   name="residence" value="{{dataSourceCall.visit_type}}">
                                                  </mat-form-field>
                                            </div>
                                            <div class="col-sm-4">
                                              <mat-form-field appearance="outline">
                                                <mat-label>Rating</mat-label>
                                                  <input matInput placeholder="Rating"   name="residence" value="{{dataSourceCall.rating}}">
                                                </mat-form-field>
                                          </div>
                                          <div class="col-sm-4">
                                            <mat-form-field appearance="outline">
                                              <mat-label>Comment</mat-label>
                                                <input matInput placeholder="Comments"   name="residence" value="{{dataSourceCall.comment}}">
                                              </mat-form-field>
                                        </div>
                                        <div class="col-sm-4">
                                          <mat-form-field appearance="outline">
                                            <mat-label>Compliments</mat-label>
                                              <input matInput placeholder="commpliments"   name="residence" value="{{dataSourceCall.compliments}}">
                                            </mat-form-field>
                                      </div>
                                      <div class="col-sm-4">
                                        <mat-form-field appearance="outline">
                                          <mat-label>Feedback date</mat-label>
                                            <input matInput placeholder="feedbackdate"   name="residence" value="{{dataSourceCall.date}}">
                                          </mat-form-field>
                                    </div>
                                      <div class="col-sm-4">
                                        <mat-form-field appearance="outline">
                                          <mat-label>Patient Phone</mat-label>
                                            <input matInput placeholder="phone"   name="residence" value="{{dataSourceCall.phone}}">
                                          </mat-form-field>
                                    </div>
                                            <div class="col-sm-8">
                                              <button class="btn btn-success pull-right" (click)="CallPatient()">Confirm Called</button>
                                              </div>
                                                </div>
                                              </form>
            
            
                                        </div>
                                      </fieldset>
                             
                              
                        

                           </mat-tab> 
                           <mat-tab  >
                            <ng-template mat-tab-label>
                            
                            <span (click)="SinglePatient()">Feedbacks</span>
                            </ng-template>
                            <br>
                            <div class="row">
                              <div class="col-sm-12">
                            
                                    
                                    <div class="row">
                                      <div class="col-sm-12">
                                 
                                      
                                      </div>
                                        
                                      <div class="col-sm-12">
                                        <div class="mat-elevation-z8 table-responsive">
                                          <table mat-table [dataSource]="dataSource">
                                              <ng-container matColumnDef="sn">
                                                  <th mat-header-cell *matHeaderCellDef>S/N</th>
                                                  <td mat-cell *matCellDef="let element;let i=index"> {{i+1}} </td>
                                          </ng-container>
                                          <ng-container matColumnDef="date">
                                            <th mat-header-cell *matHeaderCellDef>Date </th>
                                            <td mat-cell *matCellDef="let element"> {{element.created | date:'mediumDate'}} </td>
                                          </ng-container>
                                          <ng-container matColumnDef="patient">
                                            <th mat-header-cell *matHeaderCellDef>Patient</th>
                                            <td mat-cell *matCellDef="let element"> {{element.client_name}}</td>
                                          </ng-container>
                                            <ng-container matColumnDef="service">
                                              <th mat-header-cell *matHeaderCellDef>Service</th>
                                              <td mat-cell *matCellDef="let element"> {{element.service}} </td>
                                            </ng-container>
                                            <ng-container matColumnDef="phone">
                                              <th mat-header-cell *matHeaderCellDef>phone</th>
                                              <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
                                            </ng-container>
                                              <ng-container matColumnDef="rating">
                                                <th mat-header-cell *matHeaderCellDef>Rating</th>
                                                <td mat-cell *matCellDef="let element"> {{element.rating}} </td>
                                              </ng-container>                                            
                                                <ng-container matColumnDef="comments">
                                                  <th mat-header-cell *matHeaderCellDef>Type</th>
                                                  <td mat-cell *matCellDef="let element"> {{element.type| titlecase}} </td>
                                                </ng-container>     
                                                <ng-container matColumnDef="visit_type">
                                                  <th mat-header-cell *matHeaderCellDef>Category </th>
                                                  <td mat-cell *matCellDef="let element">
                                                    <span *ngIf="element.category=='NEGATIVE'"><span class="badge bg-danger">Negative</span>
                                                  </span> 
                                                  <span *ngIf="element.category=='POSITIVE'"><span class="badge bg-success">Positive</span>
                                                </span>
                                                <span *ngIf="element.category=='AVERAGE'"><span class="badge bg-info">Average</span>
                                                  </span>
                                                
                                                </td>
                                                </ng-container> 
                                                <ng-container matColumnDef="status">
                                                  <th mat-header-cell *matHeaderCellDef>Status</th>
                                                  <td mat-cell *matCellDef="let element">
                                                    <span *ngIf="element.is_called=='CALLED' && element.category=='NEGATIVE'"><span class="badge badge-success">Called</span>
                                                  </span> 
                                                  <span *ngIf="element.is_called=='NOTCALLED' && element.category=='NEGATIVE'"><span class="badge bg-danger">Call Patient</span>
                                                </span>
                                                
                                                
                                                </td>
                                                </ng-container>  
                                                <ng-container matColumnDef="type">
                                                  <th mat-header-cell *matHeaderCellDef>Action</th>
                                                  <td mat-cell *matCellDef="let element"><span *ngIf="element.category=='NEGATIVE'"><button type="button" (click)="clickRow(selected=element)" class="btn btn-success">Call Patient</button></span>  </td>
                                                </ng-container>
                                    
                                          
                                    
                                            
                                          
                                            <tr mat-header-row *matHeaderRowDef="AllColumns"></tr>
                                            <tr mat-row *matRowDef="let row; columns:AllColumns;"></tr>
                                          </table>
                                    
                                          <mat-paginator [pageSizeOptions]="[19,50]" showFirstLastButtons></mat-paginator>
                                        </div>
                                      </div>
                                      </div>
                                    </div>
                                    </div>
                           </mat-tab>
                           <mat-tab>
                            <ng-template mat-tab-label>
                              Call Status
                            </ng-template>
                            <br>
                                    <fieldset>
                                        <legend>Call Status</legend>
                                        <div class="col-sm-12">
                                         
                                            <form>
                                                <div class="row">
                                                   
                                          
                                               <div class="col-sm-4">
                                                <mat-form-field appearance="outline">
                                                  <mat-label>Customer service Personnel</mat-label>
                                                    <input matInput placeholder="Type" [readonly]="true" name="type"  value="{{dataSourceCall.called_by}}">
                                                  </mat-form-field>
                                            </div>
                                             
                                              <div class="col-sm-4">
                                                <mat-form-field appearance="outline">
                                                  <mat-label>Date Called</mat-label>
                                                    <input matInput placeholder="visit type" [readonly]="true"  name="residence" value="{{dataSourceCall.call_date  | date:'mediumDate'}}">
                                                  </mat-form-field>
                                            </div>
                                           
                                          <div class="col-sm-4">
                                            <mat-form-field appearance="outline">
                                              <mat-label>Call Status</mat-label>
                                                <input matInput placeholder="whether called" [readonly]="true"  name="residence" value="{{dataSourceCall.is_called}}">
                                              </mat-form-field>
                                        </div>
                                       
                                      <div class="col-sm-4">
                                        <mat-form-field appearance="outline">
                                          <mat-label>Write Notes </mat-label>
                                            <input matInput placeholder="notes"   name="notes" [(ngModel)]="dataSourceCall.feedback_notes">
                                          </mat-form-field>
                                    </div>
                                      
                                      
                                     
                                            <div class="col-sm-8">
                                              <button class="btn btn-success pull-right" (click)="Update()">Update Notes</button>
                                              </div>
                                                </div>
                                              </form>
            
            
                                        </div>
                                      </fieldset>
                                     
                             
                              
                        

                           </mat-tab> 
                           <mat-tab>
                            <ng-template mat-tab-label>
                              <span (click)="feedbacksnotes()">See Notes</span>
                            </ng-template>
                            
                            <br>
                                   
                                       
                            <div class="row">
                              <div class="col-sm-12">
                         
                              
                              </div>
                                
                              <div class="col-sm-12">
                                <div class="mat-elevation-z8 table-responsive">
                                  <table mat-table [dataSource]="notesdatasource">
                                      <ng-container matColumnDef="sn">
                                          <th mat-header-cell *matHeaderCellDef>S/N</th>
                                          <td mat-cell *matCellDef="let element;let i=index"> {{i+1}} </td>
                                  </ng-container>
                                  <ng-container matColumnDef="date">
                                    <th mat-header-cell *matHeaderCellDef>Called on</th>
                                    <td mat-cell *matCellDef="let element"> {{element.call_date | date:'mediumDate'}} </td>
                                  </ng-container>
                                  <ng-container matColumnDef="note">
                                    <th mat-header-cell *matHeaderCellDef>Feedback Note</th>
                                    <td mat-cell *matCellDef="let element"> {{element.feedback_notes}}</td>
                                  </ng-container>
                                    <ng-container matColumnDef="user">
                                      <th mat-header-cell *matHeaderCellDef>User</th>
                                      <td mat-cell *matCellDef="let element"> {{element.called_by}} </td>
                                    </ng-container>
                                    
                                        
                                       
                            
                                  
                            
                                    
                                  
                                    <tr mat-header-row *matHeaderRowDef="AllColumns1"></tr>
                                    <tr mat-row *matRowDef="let row; columns:AllColumns1;"></tr>
                                  </table>
                            
                                  <mat-paginator [pageSizeOptions]="[100,200]" showFirstLastButtons></mat-paginator>
                                </div>
                              </div>
                              </div>
                           </mat-tab>
                           
                          
                         
                         

                          
  
                          </mat-tab-group>
                    </div>
                    
                  </div>
                  
            </div>
          </div>
    </div> 

</div>





<div class="modal fade" bsModal #paymentModal="bs-modal" [config]="{backdrop: 'static'}"
     tabindex="-1" role="dialog" aria-labelledby="dialog-static-name">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <div class="row" style="width:100%;justify-content: center;">
        <div class="col-sm-3"> <img width="70px" src="./assets/img/avatars/notes.jpeg"/></div>
      </div>
        <button type="button" class="close pull-right" aria-label="Close" (click)="paymentModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      
          <form >
            <div class="form-group">        
            <label for="message-text" class="col-form-label">Note: {{take_notes.notes}}</label>          
            </div>
        
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
             
              <input type="text" class="form-control" (keyup.enter)="TakeNotes()" required placeholder="Notes" name="notes"  [(ngModel)]="take_notes.notes">
            </div> 
          </div>
         
        </div>
      
         
          </form>
     
        <div mat-dialog-actions>
          <button mat-button  style=" background-color: #e33434; color: white;" (click)="paymentModal.hide()" >Close</button>
          <button mat-button  style="  background-color: #222222;color: white;"(click)="TakeNotes()">Save Notes</button>
        
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" bsModal #staticModal="bs-modal" [config]="{backdrop: 'static'}"
     tabindex="-1" role="dialog" aria-labelledby="dialog-static-name">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-static-name" class="modal-title pull-left">Edit Client</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="staticModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      <form [formGroup]="clientFormedit"  (ngSubmit)="onSave()">
        <div class="row">
          <div class="col-sm-4">
            <mat-form-field appearance="outline">
              <mat-label>Surname</mat-label>
                <input matInput placeholder="Surname" formControlName="last_name">
                <mat-error *ngIf="f.last_name.errors && submitted">Surname <strong>required</strong></mat-error>
              </mat-form-field>
          </div>
          <div class="col-sm-4">
            <mat-form-field appearance="outline">
              <mat-label>First Name</mat-label>
                <input matInput placeholder="First Name" formControlName="first_name">
                
                <mat-error *ngIf="f.first_name.errors && submitted">First Name <strong>required</strong></mat-error>
              </mat-form-field>
        </div>
        <div class="col-sm-4">
          <mat-form-field appearance="outline">
            <mat-label>Middle</mat-label>
              <input matInput placeholder="Middle Name" formControlName="other_names">
             
              <mat-error *ngIf="f.other_names.errors && submitted">Middle Name <strong>required</strong></mat-error>
            </mat-form-field>
      </div>
       <div class="col-sm-4">
        <mat-radio-group  formControlName="gender">
          <label>Gender</label>
          <div class="row" >
             <div class="col-sm-4">
                 <mat-radio-button  value="Male"  style="font-family: lato light" ><b>Male</b></mat-radio-button>
               </div>
               <div class="col-sm-4">
                   <mat-radio-button value="Female"  style="font-family: lato light" checked><b>Female</b></mat-radio-button>
                 </div>
          </div>
         </mat-radio-group>
       </div>
       <div class="col-sm-4">
        <mat-form-field  appearance="outline">
          <mat-label>Phone</mat-label>
            <input matInput placeholder="Phone" formControlName="phone">
            <mat-error *ngIf="f.phone.errors && submitted">Phone <strong>required</strong></mat-error>

          </mat-form-field>
       </div>
       <div class="col-sm-4">
        <mat-form-field appearance="outline">
          <mat-label>D.O.B</mat-label>
            <input matInput placeholder="Date of Birth" [maxDate]="maxDate" formControlName="dob" [matDatepicker]="picker">
            <mat-error *ngIf="f.dob.errors && submitted">Date of birth <strong>required</strong></mat-error>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
      </div>
      <div class="col-sm-4">
        <mat-form-field appearance="outline">
          <mat-label>National ID</mat-label>
             <input matInput placeholder="National ID" formControlName="national_id">
             <mat-error *ngIf="f.national_id.errors && submitted">National ID <strong>required</strong></mat-error>
           </mat-form-field>
      </div>
      <div class="col-sm-4">
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
             <input matInput placeholder="Email" formControlName="email">
             <mat-error *ngIf="f.email.errors && submitted">Valid email <strong>required</strong></mat-error>
        </mat-form-field>
      </div>
      <div class="col-sm-4">
        <mat-form-field appearance="outline">
          <mat-label>Occupation</mat-label>
            <input matInput placeholder="Occupation" formControlName="occupation">
          </mat-form-field>
      </div>
      <div class="col-sm-4">
        <mat-form-field appearance="outline">
          <mat-label>Residence</mat-label>
            <input matInput placeholder="Residence" formControlName="residence">
          </mat-form-field>
    </div>
  <div class="col-sm-8" *ngIf="clientFormedit.dirty">
  <button class="btn btn-success pull-right">Update</button>
</div>
        </div>
      </form>
      </div>
    </div>
  </div>
</div>