<div class="card" class="myDivToPrint" style="background-color: white">
    <div class="card-body"  >
       







        <div class="row">
            <div class="col-sm-12">
                <button class="btn btn-success" style="float: right;" (click)="printPage()">Print Claim Form</button>

                <div class="clearfix"></div>
    
            </div>
            <div class="clearfix"></div>
            <div class="clearfix"></div>
            <div class="col-sm-12">
                <button class="btn btn-success" style="float: right; margin-top: 20px;"  [disabled]="editable=='COMPLETED'"  (click)="edit()">Edit Form</button>

                
    
            </div>
           
        </div>
        <div class="row">
            <div class="col-sm-12">
                <p style="white-space:nowrap;">
                    <img src="./assets/img/avatars/med004.png" alt="" width="900" height="180" >
                   
                     
                   
                </p>


            </div>

        </div>
       <div class="col-sm-12">
       
            
         
            
            
            
            <div class="row" style="position: relative; margin: 0px; font-size: 14px;">
               
               
                
                
                <div class="col-sm-12" style="margin-left: -2px;">
                    <div class="row">
                        <div class="col-sm-12">
                            <p style="white-space:nowrap;">
                                <img src="./assets/img/avatars/medoo2.png" alt="" width="900">
                               
                                 
                               
                            </p>
            
            
                        </div>
            
                    </div>
                   
                   
                </div>
                <div class="col-sm-12" style="  font-size: 14px; ">
                    <div class="row" >
                       
                        <div class="col-sm-1">Surname</div>
                        
                        
                            <div class="col-sm-2">
                                
                                
                                <div class="row" style="position: absolute;bottom: -1; margin-left: 15px;">
                                   <span style="margin-left: 30px;"> <strong>{{form_data.surname}} </strong></span>
                                </div> <hr>
                            </div>
                            
                        
                        <div class="col-sm-1">First Names</div>
                        
                        <div class="col-sm-2">
                                
                                
                            <div class="row" style="position: absolute;bottom: -1; margin-left: 15px;">
                                <strong>{{form_data.first_names}} </strong>
                            </div> <hr>
                        </div>
                      
                        <div class="col-sm-1">Age:</div>
                        
                        <div class="col-sm-2">
                                
                                
                            <div class="row" style="position: absolute;bottom: -1; margin-left: 15px;">
                                <strong>{{form_data.age}} </strong>
                            </div> <hr>
                        </div>
                        
                        <div class="col-sm-1">Membership No:</div>
                        <div class="col-sm-2">
                                
                                
                            <div class="row" style="position: absolute;bottom: -1; margin-left: 15px;">
                                <strong>{{form_data.member_number}} </strong>
                            </div> <hr>
                        </div>
                    
                    
                 </div>
                 <div class="clearfix"></div>

                    <div class="row">
                        <div class="col-sm-2">Employer:</div>
                        <div class="col-sm-2">
                                
                                
                            <div class="row" style="position: absolute;bottom: -1; margin-left: 15px;">
                                <strong>{{patient.employer}} </strong>
                            </div> <hr>
                        </div>
                        <div class="col-sm-3">Patient/Member number/Phone Number:</div>
                        <div class="col-sm-2">
                                
                                
                            <div class="row" style="position: absolute;bottom: -1; margin-left: 15px;">
                                <strong>{{form_data.phone}} </strong>
                            </div> <hr>
                        </div>
                        
                    </div>
                <div class="clearfix"></div>

                <div class="row" style="position: relative;">
                    <div class="col-sm-3">Name of Member(if the patient is a Dependant):</div>
                     <div class="col-sm-2">
                                
                                
                        <div class="row" style="position: absolute;bottom: -1; margin-left: 15px;">
                            <strong>{{form_data.member}} </strong>
                        </div> <hr>
                    </div>
                    <div class="col-sm-2">Id/Passport:</div>
                    <div class="col-sm-2">
                                
                                
                        <div class="row" style="position: absolute;bottom: -1; margin-left: 15px;">
                            <strong>{{form_data.idno}} </strong>
                        </div> <hr>
                    </div>
                    
                </div>
                <div class="clearfix"></div>
                <div class="row" style="position: relative;">
                    <div class="col-sm-4">Patients Relationship with Member/Employee:</div>
                    <div class="col-sm-2">
                                
                                
                        <div class="row" style="position: absolute;bottom: -1; margin-left: 15px;">
                            <strong>{{form_data.relationship}} </strong>
                        </div> <hr>
                    </div>
                    
                    
                </div>
                <div class="clearfix"></div>

                <div class="row" style="position: relation; font-size: 14px;">
                    <div class="col-sm-8">Are you insured under any medical expense scheme/Work compesation/personal Accident:</div>
                    
                    <div class="col-sm-2">
                        <mat-checkbox class="example-margin"  [checked]="form_data.if_insured_scheme" (change)="insuredCheckboxChange($event)"></mat-checkbox>
                        Yes
                    </div>
                    <div class="col-sm-2">
                     <mat-checkbox class="example-margin" [checked]="!form_data.if_insured_scheme" (change)="insuredCheckboxChange2($event)"></mat-checkbox>
                    No
                  </div>
                    
                </div>
                <div class="clearfix"></div>
                <div class="row" style="position: relative;">
                    <div class="col-sm-4">(If so give Details):</div>
                    <!-- <div class="col-sm-8"> <hr>
                      
                    </div> -->
                    <div class="col-sm-8">
                                
                                
                        <div class="row" style="position: absolute;bottom: -1; margin-left: 15px;">
                            <strong>{{form_data.insured_scheme}} </strong>
                        </div> <hr>
                    </div>
                    
                    
                </div>
                
            </div>
               
                <div class="clearfix"></div>
                <div class="col-sm-12" style="font-size: 14px;">
                    <div class="row" style="position: relative;">
                        <div class="col-sm-6">Are you a member of National  Hospital Insurace fund?:</div>
                        
                        <div class="col-sm-3">
                            <mat-checkbox class="example-margin" [checked]="form_data.nhif" (change)="nhifCheckboxChange($event)"></mat-checkbox>
                            Yes
                        </div>
                        <div class="col-sm-3">
                         <mat-checkbox class="example-margin" [checked]="!form_data.nhif" (change)="nhifCheckboxChange2($event)" ></mat-checkbox>
                        No
                      </div>
                        
                    </div>
                   

                </div>
 
               

               
                

                </div> 
               
               

       
       
    
                
            </div> 
            <div class="col-sm-12" style="font-size: 14px;">
                <div class="row">
                    <div class="col-sm-12">
                        <p style="white-space:nowrap;">
                            <img src="./assets/img/avatars/med003.png" alt="" width="900" >
                           
                             
                           
                        </p>
        
        
                    </div>
        
                </div>
             
              <div class="col-sm-12">
               <strong>(SICKNESS TO BE COMPLETED BY ATTENDING DOCTOR)</strong> 

              </div>
                 
                  
                
                    <div class="clearfix"></div>
                <div class="row" style="position: relative; margin-left: 2px;">
                    <div class="col-sm-4">NATURE OF SICKNESS/AILMENT:</div>
                    <div class="col-sm-8">
                                
                                
                        <div class="row" style="position: absolute;bottom: -1; margin-left: 15px;">
                            <strong>{{patient.sickness}} </strong>
                        </div> <hr>
                    </div>
                   
                    
                    
                </div>
                <div class="clearfix"></div>
                <div class="row" style="margin-left: 2px;">
                    <div class="col-sm-4">WHEN DID IT FIRST OCCUR:</div>
                    <div class="col-sm-8">
                                
                                
                        <div class="row" style="position: absolute;bottom: -1; margin-left: 15px;">
                            <strong>{{patient.dateofsickness}} </strong>
                        </div> <hr>
                    </div>
                    <!-- 
                        
                     -->
                    
                    
                </div>
                <div class="clearfix"></div>
                <div class="row" style="margin-left: 2px;">
                    <div class="col-sm-4">NATURE OF TREATMENT:</div>
                    <!-- <div class="col-sm-8"> <hr>
                      
                    </div> -->
                    <div class="col-sm-8">
                                
                                
                        <div class="row" style="position: absolute;bottom: -1; margin-left: 15px;">
                            <strong>{{patient.treatment}} </strong>
                        </div> <hr>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="row" style="margin-left: 2px;">
                    <div class="col-sm-8">IN YOUR OPINION, WHAT IS THE CAUSE OF AILMENT:</div>
                    <!-- <div class="col-sm-4"> <hr>
                      
                    </div> -->
                    <div class="col-sm-4">
                                
                                
                        <div class="row" style="position: absolute;bottom: -1; margin-left: 15px;">
                            <strong>{{patient.causeofsickness}} </strong>
                        </div> <hr>
                    </div>
                    
                    
                </div>
                <div class="clearfix"></div>
                <div class="row" style="margin-left: 2px;">
                    <div class="col-sm-6">IN YOUR OPINION, IS THIS AILMENT CHRONIC/RECURRING:</div>
                    <!-- <div class="col-sm-6"> <hr>
                      
                    </div> -->
                    <div class="col-sm-6">
                                
                                
                        <div class="row" style="position: absolute;bottom: -1; margin-left: 15px;">
                            <strong>{{patient.natureofailment}} </strong>
                        </div> <hr>
                    </div>
                    
                    
                </div>
                <div class="clearfix"></div>
                <div class="row" style="margin-left: 2px;">
                    <div class="col-sm-6">SPECIALIST REFFERED TO:</div>
                    <div class="col-sm-2">
                                
                                
                        <div class="row" style="position: absolute;bottom: -1;">
                            <strong>{{patient.insuranceVisit.doctor}} </strong>
                        </div> <hr>
                    </div>
                    
                    
                </div>
                <div class="clearfix"></div>


                <div class="row">
                    <div class="col-sm-12">
                        <p style="white-space:nowrap;">
                            <img src="./assets/img/avatars/payment.png" alt="" width="900" height="350" >
                           
                             
                           
                        </p>
        
        
                    </div>
        
                </div>
                <div class="clearfix"></div>
               <div class="col-sm-12" >
                <div class="row" style="position: relative; font-size: 14px;">
                    <div class="col-sm-4">Name of Attending Doctor:</div>
                    <div class="col-sm-2">
                                
                                
                        <div class="row" style="position: absolute;bottom: -1;">
                            <strong>{{patient.insuranceVisit.doctor}} </strong>
                        </div> <hr>
                    </div>
                  
                </div>
                <div class="row" style="position: relative; font-size: 14px;">
                    <div class="col-sm-2">
                        ADDRESS OF PRACTICE
                    </div>
                    <div class="col-sm-2">
                                
                                
                        <div class="row" style="position: absolute;bottom: -1;">
                            <strong>{{patient.doctoraddress}} </strong>
                        </div> <hr>
                    </div>
                    <div class="col-sm-2"  (click)="activateStaffSignature()">
                       DR SIGNATURE
                    </div>
                    <div class="col-sm-4">
                        <div class="row" style="position: absolute;bottom: 0;margin-bottom: -10px;" *ngIf="signature2_show"><img src="{{signature2_src}}" width="80px" height="50px"/></div>
                    <hr>
                </div>
                
                    
                </div>
                <div class="row" style="position: relative; font-size: 14px; margin-top: 15px;">
                    <div class="col-sm-2">
                       Date
                    </div>
                    <div class="col-sm-2">
                                
                                
                        <div class="row" style="position: absolute;bottom: -1;  margin-left: 15px;">
                            <strong>{{patient.doctor_sigdate | date:"MMM d, y"}} </strong>
                        </div> <hr>
                    </div>
                    <div class="col-sm-2">
                       Stamp
                    </div>
                    <div class="col-sm-4"> <hr>
                      
                    </div>
                    
                </div>
                <div class="row" style="background-color: rgb(241, 159, 81); margin-top: 20px;">
                   <div class="col-sm-12">
                    <div class="col-sm-12">
                        <p>
                            <strong>Declaration:</strong>I warrant the truth of the above statement. I have not withheld/misstated any material information relating to this claim and have no objection
                        to First Assurance and/or their representatives communicating with my medical Doctor/Physician or Hospital I have consulted or visted. I guarantee to pay
                        any expenses not covered by my insurance plan or in excess of Limit provided under my plan or any deductable or co-pay determined by this plan.
                        </p>
                    </div>

                   </div>
                   <div class="col-sm-12" style="margin-top: 20px;">
                    <div class="row" style="margin-left: 30px;">
                        <div class="col-sm-2" (click)="activateMemberSignature()">
                            Member Signature:
                        </div>
                        <div class="col-sm-4">
                            <div class="row" style="position: absolute;bottom: 0;margin-bottom: -10px;" *ngIf="signature1_show"><img src="{{signature1_src}}" width="80px" height="50px"/></div>
                        <hr>
                    </div>
                        
                        <div class="col-sm-2">
                           Date
                        </div>
                        
                        <div class="col-sm-4">
                                
                                
                            <div class="row" style="position: absolute;bottom: -1;  margin-left: 15px;">
                                <strong>{{patient.member_sigdate | date:"MMM d, y"}} </strong>
                            </div> <hr>
                        </div>
        
                       </div>

                   </div>

                </div>

               </div>
               
                
               
               
                    
                   
               
              
                
           
             
            </div>  
       
    </div>
  <div class="modal fade" bsModal #clientModal="bs-modal" 
        tabindex="-1" role="dialog" aria-labelledby="dialog-static-name">
    <div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
        <h4 id="dialog-static-name" class="modal-title pull-left">Edit Form</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="clientModal.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">
        <form [formGroup]="clientForm"   >
            <div class="col-sm-12"  style="background-color:green; color: white; text-align: center; ">
                <div class="row" style="justify-content: center ; height: 30px; align-items: center;">
                  PATIENT INFORMATION
           
                </div>
           
              </div>
        
        <div class="row" style="margin-top: 10px;">
            <div class="col-sm-4">
            <mat-form-field appearance="outline">
                <mat-label>Surname</mat-label>
                <input matInput placeholder="Surname" [(ngModel)]="patient.patient.last_name"  formControlName="surname" >
                </mat-form-field>
            </div>
            <div class="col-sm-4">
            <mat-form-field appearance="outline">
                <mat-label>First Name</mat-label>
                <input matInput placeholder="First Name" [(ngModel)]="patient.patient.first_name"  formControlName="firstname" >
                
                </mat-form-field>
        </div>
        <div class="col-sm-4">
            <mat-form-field appearance="outline">
            <mat-label>age</mat-label>
                <input matInput placeholder="age" [(ngModel)]="patient.patient.age"  formControlName="age">
                
            </mat-form-field>
        </div>
        
        <div class="col-sm-4">
        <mat-form-field appearance="outline" >
            <mat-label>Telephone No</mat-label>
            <input matInput placeholder="Telephone No" [(ngModel)]="patient.patient.phone" formControlName="phone" >

            </mat-form-field>
        </div>
        <div class="col-sm-4">
        <mat-form-field appearance="outline">
            <mat-label>D.O.B</mat-label>
            <input matInput placeholder="Date of Birth" [maxDate]="maxDate"  [matDatepicker]="picker" [(ngModel)]="patient.date"  formControlName="date" >
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>
        <div class="col-sm-4">
        <mat-form-field appearance="outline">
            <mat-label>Membership No</mat-label>
                <input matInput placeholder="Membership No" [(ngModel)]="patient.member_number" formControlName="memberno" >
            </mat-form-field>
        </div>
        <div class="col-sm-4">
        <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
                <input matInput placeholder="Email" [(ngModel)]="patient.patient.email"  formControlName="email">
        </mat-form-field>
        </div>
        <div class="col-sm-4">
            <mat-form-field appearance="outline">
            <mat-label>Date of Onset</mat-label>
                <input matInput placeholder="Date of Birth" [maxDate]="maxDate"  [matDatepicker]="picker1" [(ngModel)]="patient.date"  formControlName="date">
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
        </div>
       
        <div class="col-sm-4">
            <mat-form-field appearance="outline" >
            <mat-label>Member Name</mat-label>
                <input matInput placeholder="member_name" [(ngModel)]="patient.member_name" formControlName="diagnosis" >

            </mat-form-field>
        </div>
        <div class="col-sm-4">
            <mat-form-field appearance="outline" >
            <mat-label>Relationship</mat-label>
                <input matInput placeholder="Relation" [(ngModel)]="patient.relation" formControlName="description" >

            </mat-form-field>
        </div>
        <div class="col-sm-4">
            <mat-form-field appearance="outline" >
            <mat-label>Employer</mat-label>
                <input matInput placeholder="Employer" [(ngModel)]="patient.employer" formControlName="employer" >

            </mat-form-field>
        </div>
        <div class="col-sm-4">
            <mat-form-field appearance="outline" >
            <mat-label>ID/Passport</mat-label>
                <input matInput placeholder="Passport" [(ngModel)]="patient.idnumber" formControlName="id" >

            </mat-form-field>
        </div>
        <div class="col-sm-4">
            <mat-form-field appearance="outline" >
            <mat-label>Nature of sickness</mat-label>
                <input matInput placeholder="Nature of sickness" [(ngModel)]="patient.sickness" formControlName="sickness" >

            </mat-form-field>
        </div>
        <div class="col-sm-4">
            <mat-form-field appearance="outline" >
            <mat-label>When did it Occur</mat-label>
                <input matInput placeholder="When did it Occur" [(ngModel)]="patient.dateofsickness" formControlName="dateofsickness" >

            </mat-form-field>
        </div>
        <div class="col-sm-4">
            <mat-form-field appearance="outline" >
            <mat-label>Nature of Treatment</mat-label>
                <input matInput placeholder="Nature of Treatment" [(ngModel)]="patient.treatment" formControlName="treatment" >

            </mat-form-field>
        </div>
        <div class="col-sm-4">
            <mat-form-field appearance="outline" >
            <mat-label>Cause of Ailment</mat-label>
                <input matInput placeholder="Cause of Ailment" [(ngModel)]="patient.causeofsickness" formControlName="causeofsickness" >

            </mat-form-field>
        </div>
        <div class="col-sm-4">
            <mat-form-field appearance="outline" >
            <mat-label>Nature of Ailment</mat-label>
                <input matInput placeholder="Nature of Ailment" [(ngModel)]="patient.natureofailment" formControlName="natureofailment" >

            </mat-form-field>
        </div>
        <div class="col-sm-4">
            <mat-form-field appearance="outline">
            <mat-label>Member Signature Date</mat-label>
                <input matInput placeholder="Member Signature Date" [maxDate]="maxDate"  [matDatepicker]="picker002" [(ngModel)]="patient.member_sigdate" formControlName="member_sigdate">
                <mat-datepicker-toggle matSuffix [for]="picker002"></mat-datepicker-toggle>
                <mat-datepicker #picker002></mat-datepicker>
            </mat-form-field>
        </div>
        
        
       
        <div class="col-sm-12"  style="background-color: green; color: white; text-align: center; margin-top: 10px; ">
            <div class="row" style="justify-content: center ; height: 30px; align-items: center;">
              DOCTOR INFORMATION
       
            </div>
       
          </div>
          <div class="col-sm-4" style="margin-top: 10px;">
            <mat-form-field  appearance="outline">
            <mat-label>Doctor's Name</mat-label>
                <input matInput placeholder="Doctor's Name" [(ngModel)]="patient.insuranceVisit.doctor" formControlName="doctor" >

            </mat-form-field>
        </div>
          <div class="col-sm-4">
            <mat-form-field appearance="outline" >
            <mat-label>Doctor's specialty</mat-label>
                <input matInput placeholder="Doctor's specialty" [(ngModel)]="patient.doctor_specialty" formControlName="specialty" >

            </mat-form-field>
        </div>
         
          <div class="col-sm-4">
            <mat-form-field appearance="outline" >
            <mat-label>Adress of Doctor</mat-label>
                <input matInput placeholder="doctor address" [(ngModel)]="patient.doctoraddress" formControlName="address" >

            </mat-form-field>
        </div>
        <div class="col-sm-4">
            <mat-form-field appearance="outline">
            <mat-label>Doctor Signature Date</mat-label>
                <input matInput placeholder="Doctor Signature Date" [maxDate]="maxDate"  [matDatepicker]="picker001" [(ngModel)]="patient.doctor_sigdate" formControlName="doctor_sigdate">
                <mat-datepicker-toggle matSuffix [for]="picker001"></mat-datepicker-toggle>
                <mat-datepicker #picker001></mat-datepicker>
            </mat-form-field>
        </div>
        <div class="col-sm-4">
            <mat-form-field appearance="outline" >
            <mat-label>Details</mat-label>
                <input matInput placeholder="Details " [(ngModel)]="patient.details" formControlName="details" >

            </mat-form-field>
        </div>
        
        
    <div class="col-sm-8" >
    <button class="btn btn-success pull-right"  (click)="Update()">Update</button>
    </div>
        </div>
        </form>
        </div>
    </div>
    </div>
   
</div>
