<div class="card">
    <div class="card-body" id="print-section">
       







        <div class="row">
            <div class="col-sm-12" >
                <button class="btn btn-success" style="float: right;" (click)="printPage()">Print Claim Form</button>
                <div class="clearfix"></div>
                <!-- <button class="btn btn-success" style="float: right; margin-top: 20px;" (click)="sedgrick()">SEDGWICK Claimform</button> -->


    
            </div>
           
           
            
            
        </div>
        <div class="row">
            <div class="col-sm-12">
                <p style="white-space:nowrap; margin-top: 0px;">
                    <img src="../../../../assets/img/avatars/med004.png" alt="" width="900" >
                   
                     
                   
                </p>


            </div>

        </div>
       <div class="col-sm-12">
       
            
         
            
            
            
            <div class="row" style="position: relative; margin: 0px; font-size: 12px;">
               
               
                
                
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-12">
                            <p style="white-space:nowrap;">
                                <img src="../../../../assets/img/avatars/medoo2.png" alt="" width="900" >
                               
                                 
                               
                            </p>
            
            
                        </div>
            
                    </div>
                   
                    <!-- <div style="display: flex !important; font-size: 10px;  background-color: #FFF2ED;" class="row">
                        <p >PATIENT PARTICULARS </p>
                    
                    </div> -->
                  <!-- <strong>  <hr></strong> -->
                </div>
                <div class="col-sm-12" style="position: relative;  font-size: 10px; margin: 8px;">
                    <div class="row" >
                       
                        <div class="col-sm-1">Surname</div>
                        
                        
                            <div class="col-sm-2">
                                
                                
                                <div class="row" style="position: absolute;bottom: -1;">
                                    <strong>{{patient.patient.first_name}} </strong>
                                </div> <hr>
                            </div>
                            
                        
                        <div class="col-sm-1">Firstname</div>
                        
                        <div class="col-sm-2">
                                
                                
                            <div class="row" style="position: absolute;bottom: -1;">
                                <strong>{{patient.patient.last_name}} </strong>
                            </div> <hr>
                        </div>
                      
                        <div class="col-sm-1">Age:</div>
                        
                        <div class="col-sm-2">
                                
                                
                            <div class="row" style="position: absolute;bottom: -1;">
                                <strong>{{patient.patient.age}} </strong>
                            </div> <hr>
                        </div>
                        
                        <div class="col-sm-1">Membership No:</div>
                        <div class="col-sm-2">
                                
                                
                            <div class="row" style="position: absolute;bottom: -1;">
                                <strong>{{patient.member_number}} </strong>
                            </div> <hr>
                        </div>
                    
                    
                 </div>
                 <div class="clearfix"></div>

                    <div class="row">
                        <div class="col-sm-2">Employer:</div>
                        <div class="col-sm-4"> <hr>
                            <div class="row" style="position: absolute;bottom: 1;">
                            </div>
                        
                        </div>
                        <div class="col-sm-3">Patient/Member number/Phone Number:</div>
                        <div class="col-sm-2">
                                
                                
                            <div class="row" style="position: absolute;bottom: -1;">
                                <strong>{{patient.patient.phone}} </strong>
                            </div> <hr>
                        </div>
                        
                    </div>
                <div class="clearfix"></div>

                <div class="row" style="position: relative;">
                    <div class="col-sm-3">Name of Member(if the patient is a Dependant):</div>
                     <div class="col-sm-2">
                                
                                
                        <div class="row" style="position: absolute;bottom: -1;">
                            <strong>{{patient.member_name}} </strong>
                        </div> <hr>
                    </div>
                    <div class="col-sm-2">Id/Passport:</div>
                    <div class="col-sm-4"> <hr>
                      
                    </div>
                    
                </div>
                <div class="clearfix"></div>
                <div class="row" style="position: relative;">
                    <div class="col-sm-4">Patients Relationship with Member/Employee:</div>
                    <div class="col-sm-2">
                                
                                
                        <div class="row" style="position: absolute;bottom: -1;">
                            <strong>{{patient.relation}} </strong>
                        </div> <hr>
                    </div>
                    
                    
                </div>
                <div class="clearfix"></div>

                <div class="row" style="position: relation;">
                    <div class="col-sm-6">Are you insured under any medical expense scheme/Work compesation/personal Accident:</div>
                    
                    <div class="col-sm-3">
                        <mat-checkbox class="example-margin" ></mat-checkbox>
                        Yes
                    </div>
                    <div class="col-sm-3">
                     <mat-checkbox class="example-margin" ></mat-checkbox>
                    No
                  </div>
                    
                </div>
                <div class="clearfix"></div>
                <div class="row" style="position: relative;">
                    <div class="col-sm-4">(If so give Details):</div>
                    <div class="col-sm-8"> <hr>
                      
                    </div>
                    
                    
                </div>
                
            </div>
               
                <div class="clearfix"></div>
                <div class="row" style="position: relative;  margin: 8px;">
                    <div class="col-sm-6">Are you a member of Natinal  Hospital Insurace fund?:</div>
                    
                    <div class="col-sm-3">
                        <mat-checkbox class="example-margin" ></mat-checkbox>
                        Yes
                    </div>
                    <div class="col-sm-3">
                     <mat-checkbox class="example-margin" ></mat-checkbox>
                    No
                  </div>
                    
                </div>

               
                

                </div> 
               
               

        </div>
       
    
                
            </div> 
            <div class="col-sm-12" style="font-size: 12px;">
                <div class="row">
                    <div class="col-sm-12">
                        <p style="white-space:nowrap;">
                            <img src="../../../../assets/img/avatars/med003.png" alt="" width="900" >
                           
                             
                           
                        </p>
        
        
                    </div>
        
                </div>
             
              
                    <strong><P style="margin: 8px;">(SICKNESS TO BE COMPLETED BY ATTENDING DOCTOR)</P></strong>
                    <div class="clearfix"></div>
                <div class="row" style="position: relative; margin: 8px;">
                    <div class="col-sm-4">NATURE OF SICKNESS/AILMENT:</div>
                    <div class="col-sm-8"> <hr>
                      
                    </div>
                    
                    
                </div>
                <div class="clearfix"></div>
                <div class="row" style="margin: 8px;">
                    <div class="col-sm-4">WHEN DID IT FIRST OCCUR:</div>
                    <div class="col-sm-8"> <hr>
                      
                    </div>
                    
                    
                </div>
                <div class="clearfix"></div>
                <div class="row"  style="margin: 8px;">
                    <div class="col-sm-4">NATURE OF TREATMENT:</div>
                    <div class="col-sm-8"> <hr>
                      
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="row"  style="margin: 8px;">
                    <div class="col-sm-8">IN YOUR OPINION, WHAT IS THE CAUSE OF AILMENT:</div>
                    <div class="col-sm-4"> <hr>
                      
                    </div>
                    
                    
                </div>
                <div class="clearfix"></div>
                <div class="row"  style="margin: 8px;">
                    <div class="col-sm-6">IN YOUR OPINION, IS THIS AILMENT CHRONIC/RECURRING:</div>
                    <div class="col-sm-6"> <hr>
                      
                    </div>
                    
                    
                </div>
                <div class="clearfix"></div>
                <div class="row"  style="margin: 8px;">
                    <div class="col-sm-6">SPECIALIST REFFERED TO:</div>
                    <div class="col-sm-2">
                                
                                
                        <div class="row" style="position: absolute;bottom: -1;">
                            <strong>{{patient.insuranceVisit.doctor}} </strong>
                        </div> <hr>
                    </div>
                    
                    
                </div>
                <div class="clearfix"></div>


                <div class="row">
                    <div class="col-sm-12">
                        <p style="white-space:nowrap;">
                            <img src="../../../../assets/img/avatars/payment.png" alt="" width="900" >
                           
                             
                           
                        </p>
        
        
                    </div>
        
                </div>
                <div class="clearfix"></div>
               <div class="col-sm-12">
                <div class="row" style="position: relative; margin: 8px;">
                    <div class="col-sm-4">Name of Attending Doctor:</div>
                    <div class="col-sm-2">
                                
                                
                        <div class="row" style="position: absolute;bottom: -1;">
                            <strong>{{patient.insuranceVisit.doctor}} </strong>
                        </div> <hr>
                    </div>
                  
                </div>
                <div class="row" style="position: relative; margin: 8px; font-size: 12px;">
                    <div class="col-sm-2">
                        ADDRESS OF PRACTICE
                    </div>
                    <div class="col-sm-4"> <hr>
                      
                    </div>
                    <div class="col-sm-2">
                       DR SIGNATURE
                    </div>
                    <div class="col-sm-4"> <hr>
                      
                    </div>
                    
                </div>
                <div class="row" style="position: relative; margin: 40px; font-size: 12px;">
                    <div class="col-sm-2">
                       Date
                    </div>
                    <div class="col-sm-4"> <hr>
                      
                    </div>
                    <div class="col-sm-2">
                       Stamp
                    </div>
                    <div class="col-sm-4"> <hr>
                      
                    </div>
                    
                </div>
                <div class="col-sm-12">
                    <p>
                        Declaration:I warrant the truth of the above statement. I have not withheld/misstated any material information relating to this claim and have no objection
                    to First Assurance and/or their representatives communicating with my medical Doctor/Physician or Hospital i have consulted or visted. I guarantee to pay
                    any expenses no9t covered by my insurance plan or in excess of Limit provided under my plan or any deductable or co-pay determined by this plan.
                    </p>
                </div>
                <div class="row">
                    <div class="col-sm-2" >
                        Member Signature:
                    </div>
                    <div class="col-sm-4"> <hr>
                      
                    </div>
                    <div class="col-sm-2">
                       Date
                    </div>
                    <div class="col-sm-4"> <hr>
                      
                    </div>
    
                   </div>

               </div>
               
                
               
               
                    
                   
               
              
                
           
             
            </div>  
        </div> 