<style>
    .item{
      font-weight: bold;
    }
  </style>
  <div class="animated fadeIn">
    <div class="row">
      <div class="col-sm-6 col-md-3" >
        <a routerLink="/dashboard/reservations">
          <div class="card">
            <div class="card-body">
              <div class="text-center">
                <span class="fa-stack fa-4x">
                  <i class=" fa-stack-2x icon-background4"></i>
                  <i class="fa fa-circle-thin fa-stack-2x icon-background6"></i>
      
                  <i class="fa fa-calendar-plus-o fa-stack-4x" style="color:#A6CF39;"></i>
                </span>
              </div>
              <div class="text-center item" >Bookings</div>
      
      
            </div>
          </div>
        </a>
      </div>
      <div class="col-sm-6 col-md-3" >
        <a routerLink="/dashboard/rooms/list">
          <div class="card">
            <div class="card-body">
              <div class="text-center">
                <span class="fa-stack fa-4x">
                  <i class=" fa-stack-2x icon-background4"></i>
                  <i class="fa fa-circle-thin fa-stack-2x icon-background6"></i>
      
                  <i class="fa fa-home fa-stack-4x" style="color:#A6CF39;"></i>
                </span>
              </div>
              <div class="text-center item">Rooms</div>
      
      
            </div>
          </div>
        </a>
      </div>
        