<div class="card">
    <div class="card-header">
    <h5>Payments</h5>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-3">
                <mat-form-field>
                    <input matInput (keyup)="applyFilter($event.target.value)" autocomplete="new-mobile"   placeholder="Search by mobile,reference" >
                  </mat-form-field>
            </div>
        </div>
        <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource">
              <ng-container matColumnDef="sn">
                <th mat-header-cell *matHeaderCellDef> No. </th>
                <td mat-cell *matCellDef="let element;let i=index"> {{i+1}} </td>
              </ng-container>
              <ng-container matColumnDef="TransactionDate">
                <th mat-header-cell *matHeaderCellDef>Date </th>
                <td mat-cell *matCellDef="let element"> {{element.TransactionDate}} </td>
              </ng-container>

              <ng-container matColumnDef="PhoneNumber">
                <th mat-header-cell *matHeaderCellDef>Phone Number </th>
                <td mat-cell *matCellDef="let element"> {{element.PhoneNumber}} </td>
              </ng-container>
          
              <ng-container matColumnDef="MpesaReceiptNumber">
                <th mat-header-cell *matHeaderCellDef>MpesaReceiptNumber</th>
                <td mat-cell *matCellDef="let element"> {{element.MpesaReceiptNumber}} </td>
              </ng-container>
          
              <ng-container matColumnDef="Amount">
                <th mat-header-cell *matHeaderCellDef>Amount</th>
                <td mat-cell *matCellDef="let element"> {{element.Amount | number:'1.2-2'}} </td>
              </ng-container>
              <ng-container matColumnDef="Status">
                <th mat-header-cell *matHeaderCellDef>Status</th>
                <td mat-cell *matCellDef="let element">
                    <button class="btn btn-success btn-sm" *ngIf="element.status">Utilized</button>
                    <button class="btn btn-danger btn-sm" *ngIf="!element.status">Not Utilized</button>

                </td>
              </ng-container>
          
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          
            <mat-paginator [pageSizeOptions]="[15,50]"
                           showFirstLastButtons 
                           aria-label="Select page of periodic elements">
            </mat-paginator>
          </div>
  </div>
  </div>



