table{
    width: 100%;
}
td.mat-cell{
	font-size:13px;
}
tr.mat-row, tr.mat-footer-row {
    height: 32px;
  }
 tr.mat-header-row {
	height:38px;	
}
mat-form-field{
    width: 100%;
}
mat-card-subtitle{
    margin-left: -12px;
}
.filter{
    font-size: 19px;
    color: dodgerblue;
}