

<div class="card">
  <div class="card-header">
    <h5>All Payments</h5>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-sm-12">
        <mat-tab-group>
          <mat-tab>
            <ng-template mat-tab-label>
              Cash Payments
            </ng-template>
            <br>
            <div class="row container-fluid">
              <div class="col-sm-3">
                <mat-form-field class="example-full-width">
                  <mat-label>Phone Number</mat-label>
                    <input matInput placeholder="Phone Number" (keyup)="searchCashPhone($event.target.value)" >
                </mat-form-field>
            </div>
            <div class="col-sm-3">
              <mat-form-field class="example-full-width">
                <mat-label>Choose a date</mat-label>
                <input matInput [matDatepicker]="picker1" [(ngModel)]="date" (dateChange)="searchCash(date)">
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
              </mat-form-field>
          </div>
          <div class="col-sm-12">
            <div class="mat-elevation-z8 table-responsive">
              <table mat-table [dataSource]="cashSource" matSort>
                <ng-container matColumnDef="sn">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
                  <td mat-cell *matCellDef="let element;let i=index"> {{i+1}} </td>
                </ng-container>
                <ng-container matColumnDef="date">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Date </th>
                  <td mat-cell *matCellDef="let element"> {{element.created | date}} </td>
              </ng-container>
              <ng-container matColumnDef="amount">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Amount </th>
                <td mat-cell *matCellDef="let element"> {{element.amount | number}} </td>
              </ng-container>
        
              <ng-container matColumnDef="trx">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Reciept No</th>
                <td mat-cell *matCellDef="let element"> {{element.no}} </td>
              </ng-container>
              <ng-container matColumnDef="client">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Client</th>
                <td mat-cell *matCellDef="let element" style="text-transform: capitalize;"> {{element.patient?.first_name }} {{element.patient?.last_name }} {{element.patient?.other_names }} </td>
            </ng-container>
            <ng-container matColumnDef="mobile">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Client Mobile</th>
              <td mat-cell *matCellDef="let element" style="text-transform: capitalize;"> {{element.patient?.phone }}</td>
          </ng-container>
                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Cashier</th>
                  <td mat-cell *matCellDef="let element" style="text-transform: capitalize;"> {{element.cashier}} </td>
                </ng-container>
            
               
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns:displayedColumns;"></tr>
              </table>
              <mat-paginator #paginator [pageSizeOptions]="[20,40]" showFirstLastButtons></mat-paginator>
            </div>
          </div>
            </div>
            
            <br>
          </mat-tab>
        
          <mat-tab>
            <ng-template mat-tab-label>
              Ncba Payments
            </ng-template>
            <br>
           <div class="row container-fluid">
            <div class="col-sm-3">
              <mat-form-field class="example-full-width">
                <mat-label>Phone Number</mat-label>
                  <input matInput placeholder="Phone Number" (keyup)="searchNbaPhone($event.target.value)" >
              </mat-form-field>
          </div>
          <div class="col-sm-3">
            <mat-form-field class="example-full-width">
              <mat-label>Choose a date</mat-label>
              <input matInput [matDatepicker]="picker" [(ngModel)]="date" (dateChange)="onDate(date)">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>
          <div class="col-sm-12">
            <div class="mat-elevation-z8 table-responsive">
              <table mat-table [dataSource]="dataSource" matSort>
                  <ng-container matColumnDef="sn">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>S/N</th>
                      <td mat-cell *matCellDef="let element;let i = index"> {{i+1}} </td>
              </ng-container>
                    <ng-container matColumnDef="date">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
                            <td mat-cell *matCellDef="let element"> {{element.date | date:'medium'}} </td>
                    </ng-container>
                <ng-container matColumnDef="trans_id">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Transaction</th>
                  <td mat-cell *matCellDef="let element"> {{element.trans_id}} </td>
                </ng-container>
          
                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef  mat-sort-header>Name</th>
                  <td mat-cell *matCellDef="let element" style="text-transform: capitalize;"> {{element.name}} </td>
                </ng-container>
                <ng-container matColumnDef="msisdn">
                  <th mat-header-cell *matHeaderCellDef  mat-sort-header>Phone Number</th>
                  <td mat-cell *matCellDef="let element"> {{element.msisdn}} </td>
                </ng-container>
              
                <ng-container matColumnDef="trans_type">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Transaction Type</th>
                  <td mat-cell *matCellDef="let element"> {{element.trans_type}} </td>
                </ng-container>
                <ng-container matColumnDef="amount">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Amount</th>
                  <td mat-cell *matCellDef="let element">
                     {{element.amount | number:'1.2-2'}}
                  </td>
                </ng-container>
                <ng-container matColumnDef="status">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
                  <td mat-cell *matCellDef="let element"> 
                    <span class="text-danger" *ngIf="element.status=='0'">Open</span>
                    <span class="text-success" *ngIf="element.status=='1'">Used</span>
                     </td>
                </ng-container>
               
                
                <tr mat-header-row *matHeaderRowDef="Columns"></tr>
                <tr mat-row *matRowDef="let row; columns:Columns;" ></tr>
              </table>
          
              <mat-paginator   #paginator1 [pageSizeOptions]="[10,20,50,100]" showFirstLastButtons></mat-paginator>
            </div>
          </div>
           </div>
            
            <br>
          </mat-tab>
        
          <mat-tab>
            <ng-template mat-tab-label>
            Insurane Payments
            </ng-template>
         <br>
         <div class="row container-fluid">
          <div class="col-sm-3">
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Name" (keyup)="applyFilter($event.target.value)" >
                <i class="icon-magnifier" matSuffix></i>
              </mat-form-field>
        </div>
        <div class="col-sm-3">
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Bill number" ((keyup)="applyFilter($event.target.value)" >
                <i class="icon-magnifier" matSuffix></i>
              </mat-form-field>
        </div>
        <div class="col-sm-2">
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Invoice" (keyup)="applyFilter($event.target.value)" >
                <i class="icon-magnifier" matSuffix></i>
              </mat-form-field>
        </div>
        <div class="col-sm-2">
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Date" [maxDate]="maxDate" [(ngModel)]="date"  (ngModelChange)="searchByDate(date)" [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }" bsDatepicker>
                <i class="icon-magnifier" matSuffix></i>
              </mat-form-field>
        </div>
        <div class="col-sm-12">
          <div class="mat-elevation-z8 table-responsive">
            <table mat-table [dataSource]="dataSource1" matSort>
              <ng-container matColumnDef="sn">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
                <td mat-cell *matCellDef="let element;let i=index"> {{i+1}} </td>
              </ng-container>
          
              <ng-container matColumnDef="member">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>PATIENT</th>
                <td mat-cell *matCellDef="let element"> {{element.member | uppercase}} </td>
              </ng-container>
          
              <ng-container matColumnDef="patient_number">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> PATIENT NUMBER </th>
                <td mat-cell *matCellDef="let element"> {{element.patient_number}} </td>
              </ng-container>
          
              <ng-container matColumnDef="visit_number">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> VISIT NUMBER </th>
                <td mat-cell *matCellDef="let element"> {{element.visit_number}} </td>
              </ng-container>
          
              <ng-container matColumnDef="insurance_company">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> INSURANCE COMPANY</th>
                <td mat-cell *matCellDef="let element"> {{element.insurance_company}} </td>
              </ng-container>
          
              <ng-container matColumnDef="member_number">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>MEMBER NUMBER</th>
                <td mat-cell *matCellDef="let element"> {{element.member_number}} </td>
              </ng-container>
          
              <ng-container matColumnDef="visit_type">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> VISIT TYPE </th>
                <td mat-cell *matCellDef="let element"> {{element.visit_type | uppercase}} </td>
              </ng-container>
          
              <ng-container matColumnDef="amount">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> AMOUNT </th>
                <td mat-cell *matCellDef="let element"> {{element.amount | number:'1.2-2' }} </td>
              </ng-container>
              <ng-container matColumnDef="created">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>CREATED </th>
                  <td mat-cell *matCellDef="let element"> {{element.created | date:'yyyy-MM-dd'}} </td>
                </ng-container>
          
              <tr mat-header-row *matHeaderRowDef="claimsColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: claimsColumns;"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[20,40]" showFirstLastButtons></mat-paginator>
          </div>
         </div>
         </div>
         
         <br>
          </mat-tab>
        </mat-tab-group>
        
      </div>
    </div>
  </div>
</div>