
<tabset>
  <tab heading="CASH PAYMENTS">
      <div class="row">
          <div class="col-sm-12">
            <div class="row">
             
                <div class="col-sm-3">
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Date" [(ngModel)]="cash_date"  (ngModelChange)="searchCash(cash_date)"  [maxDate]="maxDate" [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }" bsDatepicker>
                        <i class="icon-magnifier" matSuffix></i>
                      </mat-form-field>
                </div>
                <div class="col-sm-2">
                    <!-- <button (click)="exportAsXLSX()" class="btn btn-info"><i class="icon-cloud-download"></i>  Export to Excel</button> -->
                    <button mat-raised-button class="btn btn-info btn-sm"  printTitle="payments"
              printSectionId="print-section" [useExistingCss]="true" ngxPrint><i class="cui-print" style="font-size: 34px"></i></button>
                </div>
             
            </div>
          </div>
      </div>
        <div class="mat-elevation-z8 table-responsive" style="margin-top:20px;">
            <table mat-table [dataSource]="dataSource" matSort >
                <ng-container matColumnDef="sn">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>S/N</th>
                    <td mat-cell *matCellDef="let element;let i = index"> {{i+1}} </td>
                    </ng-container>
              <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>PATIENT NAME</th>
              <td mat-cell *matCellDef="let element"> {{element.name | uppercase}} </td>
              </ng-container>
              <ng-container matColumnDef="patient_no">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>PATIENT NUMBER</th>
                <td mat-cell *matCellDef="let element"> {{element.patient_no}} </td>
                </ng-container>
              <ng-container matColumnDef="visit_no">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>VISIT NUMBER</th>
              <td mat-cell *matCellDef="let element"> {{element.visit_no}} </td>
              </ng-container>
      
              <ng-container matColumnDef="no">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> INVOICE</th>
              <td mat-cell *matCellDef="let element"> {{element.no}} </td>
              </ng-container>
              <ng-container matColumnDef="amount">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>AMOUNT</th>
              <td mat-cell *matCellDef="let element"> {{element.amount | number:'1.2-2'}} </td>
              </ng-container>
              <ng-container matColumnDef="created">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>BILLING DATE</th>
                  <td mat-cell *matCellDef="let element"> {{element.created | date :'yyyy-MM-dd'}} </td>
              </ng-container>
              
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
              <mat-paginator [pageSizeOptions]="[18 ,25]" showFirstLastButtons></mat-paginator>
        </div>

        <div class="card" id="print-section"  hidden> 
          <div class="card-body">
            <div class="row container-fluid">
                <div class="col-sm-12">
                    <div class="row">
                     
                      <div class="col-sm-8">
                          <address>
                              <h2 style="font-family:lato light;font-weight: bolder">Kaatun Urology Center and Male Executive Clinics</h2>
                              <span class="address" style="font-size: 18px;">
                                    <i> Parklands 3rd Avenue opposite Aga Khan Hospital</i> <br>
                                    <i > Park Medical Center,6th floor room 609</i> <br>
                                   <i> Postal address Box 15301-00100, Nairobi, Kenya</i><br>
                                  <!-- <i class="icon-call-in"></i> contact +254 7 789-1234,<br> -->
                                  <i> info@kaatun.com</i> 
                              </span>
                              </address>
                      </div>
                      <div class="col-sm-4">
                          <img src="../../../../assets/img/avatars/inv_logo.jpg" style="float: right" alt="">
                      </div>
                    </div>
                </div>
                <div class="col-sm-12">
                  <h3 style="font-weight: bolder"> <span>PAYMENTS REPORT</span> </h3>
                
                </div>
             
        
                    
                    <div class="col-sm-12">
                        <br>
                        <table class="table table-condensed" style="font-size: 16px;">  <tr> 
                            <th>S/No</th>
                            <th>Patient Name.</th>
                            <th>Visit Number</th>
                            <th>Invoice.</th>
                            <th>Amount</th>
                    
                            </tr> 
                             <tr *ngFor="let item of payments;let i=index" style="font-weight: bolder"> 
                              <td>{{i+1}}</td>
                            <td >{{item.name}}</td>
                            <td >{{item.visit_no}}</td> 
                            <td >{{item.no}}</td>
                            <td >{{item.amount | number:'1.2-2'}}</td>
                            
                            </tr> 
        
                            <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            </tr> 
                             </table>
        
                          </div>
                          
                          <div class="col-sm-12 footer">
                            <div class="row">
                              <div class="col-sm-6">
                                  powered by healthix uilabs
                              </div>
                            </div>
                          </div>
                        
            </div>
          </div>
        </div>
  </tab>


  <tab heading="MPESA PAYMENTS">
    <div class="row">
        <div class="col-sm-12">
          <div class="row">
              <div class="col-sm-3">
                  <mat-form-field class="example-full-width">
                      <input matInput placeholder="Mobile Number" (keyup)="applyFilter($event.target.value)" >
                      <i class="icon-magnifier" matSuffix></i>
                    </mat-form-field>
              </div>
              <div class="col-sm-3">
                  <mat-form-field class="example-full-width">
                      <input matInput placeholder="Transaction No" ((keyup)="applyFilter($event.target.value)" >
                    </mat-form-field>
              </div>
             
           
          </div>
        </div>
    </div>
    <div class="mat-elevation-z8 table-responsive">
        <table mat-table [dataSource]="mpesaSource" matSort>
          <ng-container matColumnDef="sn">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
            <td mat-cell *matCellDef="let element;let i=index"> {{i+1}} </td>
          </ng-container>
      
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>NAME</th>
            <td mat-cell *matCellDef="let element"> {{element.name | uppercase}} </td>
          </ng-container>
      
          <ng-container matColumnDef="msisdn">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> PHONE </th>
            <td mat-cell *matCellDef="let element"> {{element.msisdn}} </td>
          </ng-container>
      
          <ng-container matColumnDef="amount">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>AMOUNT</th>
            <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
          </ng-container>
      
          <ng-container matColumnDef="channel">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>CHANNEL</th>
            <td mat-cell *matCellDef="let element"> {{element.channel}} </td>
          </ng-container>
      
          <ng-container matColumnDef="trxref">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>TRANSACTION</th>
            <td mat-cell *matCellDef="let element"> {{element.trxref}} </td>
          </ng-container>
          <ng-container matColumnDef="accountref">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>ACCOUNT REF </th>
              <td mat-cell *matCellDef="let element"> {{element.accountref }} </td>
          </ng-container>

          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>STATUS </th>
            <td mat-cell *matCellDef="let element"> {{element.status}} </td>
        </ng-container>
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>DATE </th>
          <td mat-cell *matCellDef="let element"> {{element.date | date}} </td>
      </ng-container>
          
          
          <tr mat-header-row *matHeaderRowDef="mpesaColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: mpesaColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[20,40]" showFirstLastButtons></mat-paginator>
      </div>
</tab>
  <tab heading="INSURANCE PAYMENTS">
      <div class="row">
          <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-3">
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Name" (keyup)="applyFilter($event.target.value)" >
                        <i class="icon-magnifier" matSuffix></i>
                      </mat-form-field>
                </div>
                <div class="col-sm-3">
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Bill number" ((keyup)="applyFilter($event.target.value)" >
                        <i class="icon-magnifier" matSuffix></i>
                      </mat-form-field>
                </div>
                <div class="col-sm-2">
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Invoice" (keyup)="applyFilter($event.target.value)" >
                        <i class="icon-magnifier" matSuffix></i>
                      </mat-form-field>
                </div>
                <div class="col-sm-2">
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Date" [maxDate]="maxDate" [(ngModel)]="date"  (ngModelChange)="searchByDate(date)" [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }" bsDatepicker>
                        <i class="icon-magnifier" matSuffix></i>
                      </mat-form-field>
                </div>
                <div class="col-sm-2">
                    <!-- <button (click)="exportAsXLSX()" class="btn btn-info"><i class="fa fa-file-excel-o"></i>  Export to Excel</button> -->
                </div>
             
            </div>
          </div>
      </div>
  
      <div class="mat-elevation-z8 table-responsive">
          <table mat-table [dataSource]="dataSource1" matSort>
            <ng-container matColumnDef="sn">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
              <td mat-cell *matCellDef="let element;let i=index"> {{i+1}} </td>
            </ng-container>
        
            <ng-container matColumnDef="member">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>PATIENT</th>
              <td mat-cell *matCellDef="let element"> {{element.member | uppercase}} </td>
            </ng-container>
        
            <ng-container matColumnDef="patient_number">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> PATIENT NUMBER </th>
              <td mat-cell *matCellDef="let element"> {{element.patient_number}} </td>
            </ng-container>
        
            <ng-container matColumnDef="visit_number">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> VISIT NUMBER </th>
              <td mat-cell *matCellDef="let element"> {{element.visit_number}} </td>
            </ng-container>
        
            <ng-container matColumnDef="insurance_company">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> INSURANCE COMPANY</th>
              <td mat-cell *matCellDef="let element"> {{element.insurance_company}} </td>
            </ng-container>
        
            <ng-container matColumnDef="member_number">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>MEMBER NUMBER</th>
              <td mat-cell *matCellDef="let element"> {{element.member_number}} </td>
            </ng-container>
        
            <ng-container matColumnDef="visit_type">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> VISIT TYPE </th>
              <td mat-cell *matCellDef="let element"> {{element.visit_type | uppercase}} </td>
            </ng-container>
        
            <ng-container matColumnDef="amount">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> AMOUNT </th>
              <td mat-cell *matCellDef="let element"> {{element.amount | number:'1.2-2' }} </td>
            </ng-container>
            <ng-container matColumnDef="created">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>CREATED </th>
                <td mat-cell *matCellDef="let element"> {{element.created | date:'yyyy-MM-dd'}} </td>
              </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="claimsColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: claimsColumns;"></tr>
          </table>
          <mat-paginator [pageSizeOptions]="[20,40]" showFirstLastButtons></mat-paginator>
        </div>
  </tab>
  
</tabset>