table{
    width: 100%;
    font-family: lato light;
}
td.mat-cell{
    font-size:13px;
    font-weight: 600;
}
tr.mat-row, tr.mat-footer-row {
    height: 32px;
  }
 tr.mat-header-row {
    height:38px;
   
}
th{
    color: #20a8d8;
    font-weight: bold;	
}
mat-form-field{
    width: 100%;
}
mat-card-subtitle{
    margin-left: -12px;
}
