table{
    width: 100%;
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
  }
  td.mat-cell{
    font-size:13px;
  }
  tr.mat-row, tr.mat-footer-row {
    height: 37px;
  }
  tr.mat-header-row {
    height:39px;
  }
  div{
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
  
  }
  input[type="text"],input[type="select"]{
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
  }
  ::ng-deep .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
  }
  .background {
    width: 100%;
    background: url('assets/img/avatars/bg.jpg') no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
}