<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group row">
          <div class="col-sm-2">
            <label >Insurance</label>
            <input type="text" class="form-control" [(ngModel)]="name" placeholder="Insurance"
              (input)="SearchName()">
          </div>
   
          <div class="col-sm-2">
            <label>visit number</label>
            <input type="text" class="form-control" placeholder="Visit number" (input)="SearchVisit()"
              [(ngModel)]="visitNumber">
          </div>
          <div class="col-sm-2">
            <label>patient number</label>
            <input type="text" class="form-control" placeholder="Patient number" (input)="SearchByPatient()"
              [(ngModel)]="patientNumber">
          </div>
          <div class="col-sm-3">
          </div>
          <div class="col-sm-3" >
            <button class="btn btn-info btn-sm" (click)="staticModal.show()" style="float:right;margin-top:28px;" [disabled]="!batchClaims.length" > <i class="icon-plus"></i> Create  Batch</button>
        </div>

        </div>
      </div>
      <!-- <div class="col-sm-4"> <button class="btn btn-default pull-right" style="background-color:#5e64ff" (click)="childModal.show()"><b style="color:white"> <i class="icon-plus"></i> Add Patient</b></button> </div> -->
    </div>
    <div class="row">
      <div class="col-sm-12 table-responsive">
        <table class="table table-condensed table-hover table-sm"
          style="font-family:Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif;">
          <thead style="background-color:#d1d8dd;">
            <tr style="font-size:10px;font-weight:bold;background-color: darkblue;color: white">
              <th>SELECT</th>
              <th> MEMBER NUMBER</th>
              <th> PATIENT NO</th>
              <th>VISIT NUMBER</th>
              <th> INSURANCE COMPANY</th>
              <th> MEMBER NUMBER</th>
              <th> VISIT TYPE</th>
              <th> AMOUNT</th>
              <!-- <th><i class="icon-wallet"></i> Amount</th>
      <th><i class="cui-calendar"></i>Check in</th>
      <th><i class="icon-clock"></i> Time</th> -->

            </tr>
          </thead>
          <tbody id="displ">
            <tr *ngFor="let visit of claims;let i = index" style="font-size:10px;font-family:Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif">
              <td> <mat-checkbox (change)="addClaims(visit,$event)" [checked]="exist(visit)"></mat-checkbox> </td>
              <td> {{visit.member|uppercase}}</td>
              <td> {{visit.patient_number}}</td>
              <td> {{visit.visit_number}}</td>
              <td> {{visit.insurance_company}}</td>
              <td> {{visit.member_number}}</td>
              <td> {{visit.visit_type}}</td>
              <th>{{visit.amount|number}}</th>
            
    </tr> 

          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" bsModal #staticModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog"
  aria-labelledby="dialog-static-name">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-6">
            <h6 id="dialog-static-name" class="modal-title pull-left" style="font-size:11px;font-weight:bold">SELECTED CLAIMS</h6>
          </div>
          <div class="col-sm-6">
            <h6>
              <span class="text-success" style="font-size:11px;font-weight:bold;float: right"> <i class="cui-dollar"></i> {{total | number}} </span>
            </h6>
          </div>
        </div>
       <div class="row" style="margin-top:5px;">
        <div class="col-sm-12 table-responsive ">
          <table class="table table-condensed table-hover table-sm"
            style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">
            <thead>
              <tr style="font-size:10px;font-weight:bold;" class="text-primary">
                <th>S.NO</th>
                <th> MEMBER NUMBER</th>
                <th>VISIT NUMBER</th>
                <th> INSURANCE COMPANY</th>
                <th> MEMBER NUMBER</th>
                <th> AMOUNT</th>
                <th>DELETE</th>
                <!-- <th><i class="icon-wallet"></i> Amount</th>
                <th><i class="cui-calendar"></i>Check in</th>
                <th><i class="icon-clock"></i> Time</th> -->
          
              </tr>
            </thead>
            <tbody id="displ">
              <tr *ngFor="let visit of batchClaims;let i = index" style="font-weight:bold;font-size:9px;">
                <td> {{i+1}} </td>
                <td> {{visit.member|uppercase}}</td>
                <td> {{visit.visit_number}}</td>
                <td> {{visit.insurance_company}}</td>
                <td> {{visit.member_number}}</td>
                <th>{{visit.amount|number}}</th>
                <td (click)="addClaims(visit,$event);claimsCheck()"><i class="icon-trash" style="font-weight:bolder;font-size:12px;color:red"></i></td>
          
              </tr>
          
            </tbody>
          </table>
        </div>
       </div>
        <button class="btn btn-danger btn-sm" (click)="staticModal.hide()">Cancel</button>
        <button class="btn btn-success btn-sm" (click)="saveBatch()" style="margin-left:12px;">Submit</button>
      </div>
    </div>
  </div>