<div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-3">
                <mat-form-field>
                    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                  </mat-form-field>
            </div>
            <div class="col-sm-9">
                          <button class="btn btn-info btn-sm" (click)="staticModal.show()" [disabled]="!batchClaims.length" style="margin-top: 10px;" > <i class="icon-plus"></i> Create  Batch</button>

            </div>
          </div>
        </div>
      </div>
      
      <div class="row">
          <div class="col-sm-12">
              <div class="mat-elevation-z8 table-responsive">
                  <table mat-table [dataSource]="dataSource">
                
                    <ng-container matColumnDef="select">
                      <th mat-header-cell *matHeaderCellDef>Select</th>
                      <td mat-cell *matCellDef="let element">
                          <mat-checkbox (change)="addClaims(element,$event)" [checked]="exist(element)"></mat-checkbox>
                      </td>
                    </ng-container>
                
                  
                    <ng-container matColumnDef="member">
                      <th mat-header-cell *matHeaderCellDef>Member</th>
                      <td mat-cell *matCellDef="let element"> {{element.member}} </td>
                    </ng-container>
          
                    <ng-container matColumnDef="patient_number">
                      <th mat-header-cell *matHeaderCellDef> Patient Number </th>
                      <td mat-cell *matCellDef="let element"> {{element.patient_number}} </td>
                    </ng-container>
                    <ng-container matColumnDef="visit_number">
                      <th mat-header-cell *matHeaderCellDef> Visit Number</th>
                      <td mat-cell *matCellDef="let element"> {{element.visit_number}} </td>
                    </ng-container>
                    <ng-container matColumnDef="insurance_company">
                        <th mat-header-cell *matHeaderCellDef>Insurance</th>
                        <td mat-cell *matCellDef="let element"> {{element.insurance_company}} </td>
                      </ng-container>
                      <ng-container matColumnDef="member_number">
                          <th mat-header-cell *matHeaderCellDef> Member Number </th>
                          <td mat-cell *matCellDef="let element"> {{element.member_number}} </td>
                        </ng-container>
                        <ng-container matColumnDef="visit_type">
                            <th mat-header-cell *matHeaderCellDef> Visit Type</th>
                            <td mat-cell *matCellDef="let element"> {{element.visit_type}} </td>
                          </ng-container>  
                          <ng-container matColumnDef="amount">
                              <th mat-header-cell *matHeaderCellDef>Amount</th>
                              <td mat-cell *matCellDef="let element"> {{element.amount | number:'1.2-2'}} </td>
                            </ng-container>  
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  </table>
                
                  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                </div>
          </div>
      </div>
    </div>
  </div>
  <div class="modal fade" bsModal #staticModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog"
    aria-labelledby="dialog-static-name">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-body">
          <div class="row">
            <div class="col-sm-6">
              <h6 id="dialog-static-name" class="modal-title pull-left" style="font-size:11px;font-weight:bold">SELECTED CLAIMS</h6>
            </div>
            <div class="col-sm-6">
              <h6>
                <span class="text-success" style="font-size:11px;font-weight:bold;float: right"> <i class="cui-dollar"></i> {{total | number}} </span>
              </h6>
            </div>
          </div>
         <div class="row" style="margin-top:5px;">
          <div class="col-sm-12 table-responsive ">
            <table class="table table-condensed table-hover table-sm"
              style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">
              <thead>
                <tr style="font-size:10px;font-weight:bold;" class="text-primary">
                  <th>S.NO</th>
                  <th> MEMBER NUMBER</th>
                  <th>VISIT NUMBER</th>
                  <th> INSURANCE COMPANY</th>
                  <th> MEMBER NUMBER</th>
                  <th> AMOUNT</th>
                  <th>DELETE</th>
                  <!-- <th><i class="icon-wallet"></i> Amount</th>
                  <th><i class="cui-calendar"></i>Check in</th>
                  <th><i class="icon-clock"></i> Time</th> -->
            
                </tr>
              </thead>
              <tbody id="displ">
                <tr *ngFor="let visit of batchClaims;let i = index" style="font-weight:bold;font-size:9px;">
                  <td> {{i+1}} </td>
                  <td> {{visit.member|uppercase}}</td>
                  <td> {{visit.visit_number}}</td>
                  <td> {{visit.insurance_company}}</td>
                  <td> {{visit.member_number}}</td>
                  <th>{{visit.amount|number}}</th>
                  <td (click)="addClaims(visit,$event);claimsCheck()"><i class="icon-trash" style="font-weight:bolder;font-size:12px;color:red"></i></td>
            
                </tr>
            
              </tbody>
            </table>
          </div>
         </div>
          <button class="btn btn-danger btn-sm" (click)="staticModal.hide()">Cancel</button>
          <button class="btn btn-success btn-sm" (click)="saveBatch()" style="margin-left:12px;">Submit</button>
        </div>
      </div>
    </div>