div{
  font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
  }
  ::ng-deep .mat-tab-label {
  padding: 0px !important; // adjust this to whatever padding you need
  justify-content: left !important;
  font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
  }
  input[type="text"],input[type="select"]{
  font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
  }
  
  ::ng-deep mat-form-field.mat-form-field.mat-form-field-appearance-outline > div.mat-form-field-wrapper > div.mat-form-field-flex > div.mat-form-field-infix  { padding: 0.6em 0px }
  ::ng-deep mat-form-field.mat-form-field.mat-form-field-appearance-outline > div.mat-form-field-wrapper > div.mat-form-field-flex > div.mat-form-field-infix > span.mat-form-field-label-wrapper { top: -1.3em; }
  
  ::ng-deep .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
  transform: translateY(-1.1em) scale(.75);
  width: 133.33333%;
  }
  
  table{
      width: 100%;
      font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
  }
  td.mat-cell{
      font-size:12px;
  }
  th{
      text-transform: capitalize;
  }
  tr.mat-row, tr.mat-footer-row {
      height: 35px;
    }
   tr.mat-header-row {
      height:35px;
  }
  div{
      font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
  }
  form{
      width: 100%;
  }