
		
table td {
  position: relative;
  height: 30px;;
}

table td input {
  position: absolute;
  display: block;
  top:0;
  left:0;
  margin: 0;
  height: 100%;
  width: 100%;
  border: none;
  padding: 10px;
  box-sizing: border-box;
}		

// table td select {
//   position: absolute;
//   display: block;
//   top:0;
//   left:0;
//   margin: 0;
//   height: 100%;
//   width: 100%;
//   border: none;
//   padding: 10px;
//   box-sizing: border-box;
// }		
//  table tr {
// 	 height:10px;
//  }

//  tr {
//   height: 20px;
//  }