table{
  width: 100%;
  font-family: "Open Sans", Tahoma, sans-serif;
}
td.mat-cell{
  font-size:13px;

}
tr.mat-row, tr.mat-footer-row {
  height: 32px;
}
th {
 font-size: 14px;

}
mat-card, mat-form-field{
  width: 100%;
}
