<div class="card">
    <div class="card-body" id="print-section">
        <div class="row">
            <div class="col-sm-12" >
                <button class="btn btn-success" style="float: right;" (click)="printPage()">Print Claim Form</button>
                <div class="clearfix"></div>
                <!-- <button class="btn btn-success" style="float: right; margin-top: 20px;" (click)="Aarform()">AAR Claimform</button> -->


    
            </div>
           
            
            
        </div>
        <div class="row" >
            <div class="col-sm-8" style="background-color: rgb(18, 18, 185); font-size: 15px;">
                <h6 style="color: white; font-size: 20px;">BUPA GLOBAL<br> CLAIM FORM</h6>
                
             
            </div> 
           
            <div class="col-sm-4">
              
                <h3>
                    <img src="../../../../assets/img/avatars/bupa.png" alt="" height="100" width="100">
                   
                     
                   
                </h3>
            
             
            </div> 
            <div class="box">
                <h6 style="color: blue; text-align: center; font-size: 10px;">IMPORTANT INFORMATION</h6>
                <p style="font-size: 10px;">
                    Return this form with original,or copy invoices via email,fax or post to; info@bupa-intl.com,fax:+44(0)1273820517, or post;<br>
                    Bupa Global, Victory House, Trafalgar place,brighton,BN1 4FY,UK,Claims can can also be submitted as eclaims via MEMBERSWorld.<br>
                    please ensure that all sections of the claim form are fully completed. Note that claims payment may be delayed if all section of the claim form are not<br>
                    completed in full. the form should be returned to us within six months of the initial treatment date.<strong>please write clearly in black ink and BLOCK CAPITALS.<br><br> </strong>


                  Please comlete a new/separate claim form for;<br>
                  1. each patient 2.each in-patient /day-case stay 3. each medical condition 4.each currency<br>
                  If you have more invoices, you do not need to send a further claim form. Just send the invoices with a covering letter starting the condition and payment.<br>
                  instructions. If the conditions continues for more than six months, we may request a new claim form to be completed.<br><br>
                  we are unable to return original docum,ents, but we will be happy to provide certified copies on request.<br>


                   

                </p>

            </div>
           
             
            
            <div style=" margin-left: 5px;">
                <p style="color: black;">
                   1. PATIENT'S DETAILS  (To be completed by the person undergoing treatment)
                  </p>
              </div>
            <div class="col-sm-12" >
              
              
               
                <div class="row">
                    <div class="col-sm-3" style="background-color: grey;">Patient membership number</div><br>
                    <div class="col-sm-3">
                    <input type="text" value="{{patient[0].member_number}}">
                    </div>
                    <div class="col-sm-3"style="background-color: grey;" >Group Name(if applicable):</div>
                    <div class="col-sm-3">
                    <input type="text" [(ngModel)]="patient.relation">
                    </div>
                    
                </div>
                <div class="clearfix"></div>

                <div class="row">
                    <div class="col-sm-2" style="background-color: grey;">Title</div>
                    <div class="col-sm-10">
                    <input type="text" [(ngModel)]="patient.title">
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-sm-2" style="background-color: grey;">First Name</div>
                    <div class="col-sm-10">
                    <input type="text" value="{{patient[0].member}}">
                    </div>
                    
                </div>
                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-sm-2" style="background-color: grey;">Family Name</div>
                    <div class="col-sm-10">
                    <input type="text" >
                    </div>
                    
                </div>
                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-sm-2" style="background-color: grey;">Other Names</div>
                    <div class="col-sm-10">
                    <input type="text" value="{{patient[0].member}}">
                    </div>
                    
                </div>
                
                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-sm-2" style="background-color: grey;">Date of Birth</div>
                    <div class="col-sm-4">
                    <input type="text" value="{{patient[0].dob}}">
                    </div>
                    <div class="col-sm-2" style="background-color: grey;">Age last birthday</div>
                    <div class="col-sm-4">
                    <input type="text" value="{{patient[0].age}}">
                    </div>
                </div>
                <div class="clearfix"></div>
                <div >
                    <p style="color: black;">
                      <strong>Correspondence address:</strong>
                      </p>
                  </div>
                  <div class="clearfix"></div>
                <div class="row">
                    <div class="col-sm-2" style="background-color: grey;" >Building</div>
                    <div class="col-sm-10">
                    <input type="text" >
                    </div>
                    
                </div>
                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-sm-2" style="background-color: grey;">Street</div>
                    <div class="col-sm-10">
                    <input type="text" >
                    </div>
                    
                </div>
                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-sm-2" style="background-color: grey;"> Town /City</div>
                    <div class="col-sm-10">
                    <input type="text" >
                    </div>
                    
                </div>
                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-sm-2" style="background-color: grey;">Area code</div>
                    <div class="col-sm-4">
                    <input type="text" >
                    </div>
                    <div class="col-sm-2" style="background-color: grey;">PO Box</div>
                    <div class="col-sm-4">
                    <input type="text" >
                    </div>
                    
                </div>
                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-sm-2"  style="background-color: grey;">Region</div>
                    <div class="col-sm-10">
                    <input type="text" >
                    </div>
                    
                </div>
                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-sm-2" style="background-color: grey;">Country</div>
                    <div class="col-sm-10">
                    <input type="text">
                    </div>
                    
                </div>
                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-sm-2" style="background-color: grey;">Email</div>
                    <div class="col-sm-10">
                    <input type="text">
                    </div>
                    
                </div>
                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-sm-2" style="background-color: grey;">Telephone</div>
                    <div class="col-sm-10">
                    <input type="text" >
                    </div>
                    
                </div>

                <div class="clearfix"></div>
                <div class="col-sm-6">Is this permanent residency address?</div>
                <div class="col-sm-2">
                    <mat-checkbox class="example-margin" ></mat-checkbox>
                    Yes
                </div>
                <div class="col-sm-2">
                 <mat-checkbox class="example-margin" ></mat-checkbox>
                No
              </div>
              <div class="clearfix"></div>
                <div class="col-sm-6">Do you want all future correspondence sent to this address?</div>
                <div class="col-sm-3">
                    <mat-checkbox class="example-margin" ></mat-checkbox>
                    Yes
                </div>
                <div class="col-sm-3">
                 <mat-checkbox class="example-margin" ></mat-checkbox>
                No
              </div>
              <div class="clearfix"></div>
                <div class="col-sm-6">Do you have a residence in the USA?</div>
                <div class="col-sm-3">
                    <mat-checkbox class="example-margin" ></mat-checkbox>
                    Yes
                </div>
                <div class="col-sm-3">
                 <mat-checkbox class="example-margin" ></mat-checkbox>
                No
              </div>
              <div class="clearfix"></div>
              <div class="row">
                  <div class="col-sm-6">In which country did the treatment take place?</div>
                  <div class="col-sm-6">
                  <input type="text" >
                  </div>
                  
              </div>
              <div class="clearfix"></div>
              <div class="row">
                  <div class="col-sm-6">What is th currency of the invoice ?</div>
                  <div class="col-sm-6">
                  <input type="text" >
                  </div>
                  
              </div>
              <div class="clearfix"></div>
              <div class="row">
                  <div class="col-sm-6">What is the total amount of the claim?</div>
                  <div class="col-sm-6">
                  <input type="text">
                  </div>
                  
              </div>
               
               
              
            </div>
            <div class="clearfix"></div>
            <div>
                <p style="color: black;">
                   2. MEDICAL DETAILS  (all sections must be completed by the doctor in overall charge of the patient's treatment)
                  </p>
              </div>
              <div class="clearfix"></div>
            <div class="col-sm-12" >
               
                  
                <div class="clearfix"></div>

                <div class="row">
                    <div class="col-sm-2" style="background-color: grey;">Name</div>
                    <div class="col-sm-10">
                    <input type="text" value="{{patient[0].doctor_name}}">
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-sm-2" style="background-color: grey;">Address</div>
                    <div class="col-sm-10">
                    <input type="text">
                    </div>
                    
                </div>
                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-sm-2" style="background-color: grey;">Qualifications</div>
                    <div class="col-sm-10">
                    <input type="text">
                    </div>
                    
                </div>
                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-sm-2" style="background-color: grey;">Diagnosis</div>
                    <div class="col-sm-10">
                    <input type="text" value="{{patient[0].diagnoses}} {{patient[0].description}}">
                    </div>
                    
                </div>
                <div class="clearfix"></div>
              <div class="row">
                  <div class="col-sm-6">Onset date when symptoms first noticed by patient ?</div>
                  <div class="col-sm-6">
                  <input type="text" >
                  </div>
                  
              </div>
              <div class="clearfix"></div>
              <div class="row">
                  <div class="col-sm-6">When did the patient first see a doctor?</div>
                  <div class="col-sm-6">
                  <input type="text" value="{{patient[0].check_in| date: 'dd/MM/yyyy'}}" >
                  </div>
                  
              </div>
              <div class="row">
                <div class="col-sm-4" style="background-color: grey;">Details of treatment:</div><br>
                <div class="col-sm-12">
                    <textarea rows="2" style="width:100%;"></textarea>                        
                </div>
                
            </div><br>
           
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-sm-4" style="background-color: grey;">Details of operation</div>
                <div class="col-sm-12">
                    <textarea rows="2" style="width:100%;"></textarea>

                </div>
                
            </div>
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-sm-4" style="background-color: grey;">Details of medication</div>
                <div class="col-sm-12">
                    <textarea rows="2" style="width: 100%;"></textarea>

                </div>
                
            </div>
                  
                </div>
                <div class="clearfix"></div>
                <div >
                    <p style="color: black;">
                      <strong>Medical Practitioner's details</strong>
                      </p>
                  </div>
                
               
                  
                
                <div class="clearfix"></div>
                 
                <div class="col-sm-12" >
                  
                    
                    <div >
                        <p style="color: black;">
                          <strong>Medical Practitioner's details</strong>
                          </p>
                      </div>
                   
                      <div class="clearfix"></div>
                      <div class="colsm-12">
                          <div class="row">
                            <div class="col-sm-6">
                                <mat-checkbox class="example-margin" ></mat-checkbox>
                                Annual Check</div>
                            <div class="col-sm-6">
                                <mat-checkbox class="example-margin" ></mat-checkbox>
                               
                                Preventive
                            </div>
                          </div>
                            <div class="clearfix"></div>
                            <div class="row">
                            <div class="col-sm-6">
                                <mat-checkbox class="example-margin" ></mat-checkbox>

                                major restorative</div>
                                <div class="col-sm-6">
                                    <mat-checkbox class="example-margin" ></mat-checkbox>
                                    Orthodontics
                                </div>
                    

                            </div>
                            <div class="clearfix"></div>
                            <div class="row">

                            <div class="col-sm-12">
                                <mat-checkbox class="example-margin" ></mat-checkbox>
                                Accident /emergency treatment</div>
                 

                            </div>
                          </div>

                      </div>
                    
                    
                 
                  
                  <!-- <div class="col-sm-3">
                   <mat-checkbox class="example-margin" ></mat-checkbox>
                 
                </div> -->
                <div class="clearfix"></div>
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-4" style="background-color: grey;">Details of Treatment</div>
                        <div class="col-sm-12">
                            <textarea rows="2" style="width:100%;"></textarea>
        
                        </div>
                        
                    </div>
                    <div class="clearfix"></div>
                <div class="row">
                    <div class="col-sm-2">Hospital Dates</div>
                    <div class="col-sm-2">Admission date</div>
                    <div class="col-sm-3">
                        <input type="text" >
                        </div>
                        <div class="col-sm-2">Discharge date</div>
                    <div class="col-sm-3">
                        <input type="text">
                        </div>
                   
                    
                </div>
                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-sm-4"><strong>
                        Name and address of admitting hospital
                    </strong></div>
                   
                        <div class="col-sm-3">reference number</div>
                    <div class="col-sm-5">
                        <input type="text">
                        </div>
                   
                    
                </div>
                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-sm-2" style="background-color: grey;" >Name</div>
                    <div class="col-sm-10">
                    <input type="text">
                    </div>
                    
                </div>
                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-sm-2" style="background-color: grey;" >Address</div>
                    <div class="col-sm-10">
                    <input type="text">
                    </div>
                    
                </div>
                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-sm-2" style="background-color: grey;" >Telephone</div>
                    <div class="col-sm-10">
                    <input type="text">
                    </div>
                    
                </div>
                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-sm-2" style="background-color: grey;" >Fax</div>
                    <div class="col-sm-10">
                    <input type="text">
                    </div>
                    
                </div>
                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-sm-2" style="background-color: grey;" >Email</div>
                    <div class="col-sm-10">
                    <input type="text">
                    </div>
                    
                </div>
                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-sm-3">Medical Practitioner/dental surgeon's signature</div>
                    <div class="col-sm-3">
                        <textarea rows="2" style="width:100%;"></textarea>
    
                    </div>
                    
                    <div class="col-sm-2">Date</div>
                    <div class="col-sm-4">
                        <textarea rows="2" style="width:100%;"> {{today| date:'mediumDate'}}</textarea>
    
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-sm-12" style="color: black;">CASH BENEFITS</div>
                    <div class="clearfix"></div>
                    <div class="col-sm-12">
                        <textarea rows="2" style="width:100%;"></textarea>
    
                    </div>
                    
                </div>
                </div>
               
                </div>
                
                
                
                
               
               
                
                
                
               
               
               


                <div class="box">
                    <!-- <h6 style="color: blue; text-align: center;">IMPORTANT INFORMATION</h6> -->
                    <strong>The hospital should complete this section if you have stayed in hospital overnight withpout charge and your plan includes a cash Benefit.</strong><br>

                    <p>
                       
                        I confirm that _______________________________________was in hospital from _____________________________________to_____________________________<br>
                       and this hospital did not charge for Accomondation.
                      
                    
    
                       
    
                    </p>
                    
                    <div class="col-sm-4">
                        <strong>
                            The hospital needs to stamp this claim from here.
                        </strong>    
                    </div>
                    <div class="col-sm-4">
                     <textarea rows="4" style="width:100%;"></textarea>
 
                 </div>
    
                </div>
                <div class="clearfix"></div>
                <div class="row" style="font-size: 10px;">
                    <div class="col-sm-12" style=" color:  black;">PAYMENT DETAILS</div>
                  
                    
                </div>
                <div class="box1">
                    <div> 
                        <h6 style="color: black; text-align: center;">IMPORTANT INFORMATION</h6>

                    
                   
                    </div>
                    <p  style="color: black; text-align: center;">
                       
                        We can settle claims in over 80 currencies. In a few cases where we cannot settle in the currency request,<br>
                        We will reimburse you in the currency of your subscription.
        
                           
        
                        </p>
                    
    
                </div>
                <div class="box1">
                    <div > 
                        <!-- <h6 style="color: white; text-align: center;">IMPORTANT INFORMATION</h6> -->

                    <p >
                       
                    <strong>
                        Who would you like us to pay?<i>(please tick one only)</i><br>
                    </strong>
                       
    
                    </p>
                    <div class="clearfix"></div>
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-4">
                            <mat-checkbox class="example-margin" ></mat-checkbox>
                            Doctor /hospital
                            
                        </div>
                <div class="col-sm-3">
                    <mat-checkbox class="example-margin" ></mat-checkbox>
                    Principal member
                </div>
               

                    </div>
                    <div class="clearfix"></div>
                    <div class="row">
                       
                    <div class="col-sm-6">
                        <mat-checkbox class="example-margin" ></mat-checkbox>
                        Patient</div>
                    <div class="col-sm-3">
                        <mat-checkbox class="example-margin" ></mat-checkbox>
                       Group
                    </div>
                    <div class="col-sm-3">
             
                  </div>

                    </div>

                    

                </div>
                   
                    </div>
                    
                       
                        </div>
                        
    
                </div>
               
                

                   
                    

                    <div class="clearfix"></div>
                  
                    <p>
                        <strong>
                            Please complete either section A or Section B
                        </strong><br>
                        <strong>
                            Section A-Payment by cheque<br>
                        </strong>
                    </p>
                 
                   
                   
                    <div class="clearfix"></div>
                    <div class="box1">
                        <div > 
                            <!-- <h6 style="color: white; text-align: center;">IMPORTANT INFORMATION</h6> -->
    
                        <p >
                           
                        <strong>
                           In which currency would you like us to pay the cheque?(please tick one only)<br>
                        </strong>
                           
        
                        </p>
                        <div class="clearfix"></div>
                    <div class="col-sm-12">
                        <div class="row">
                        <div class="col-sm-6">Currency of your invoices</div>
                    <div class="col-sm-3">
                        <mat-checkbox class="example-margin" ></mat-checkbox>
                        Currency of your subscriptions
                    </div>

                        </div>
                        <div class="clearfix"></div>
                        <div class="row">
                            <div class="col-sm-6">Currency of your bank account</div>
                        <div class="col-sm-3">
                            <mat-checkbox class="example-margin" ></mat-checkbox>
                           Group
                        </div>


                        </div>
                    </div>
                  
                       
                        </div>
                        
                        
                     
                     
                           
                            </div>
                            <div class="col-sm-12" >
              
                                <div>
                                  <p style="color: black;">
                                    Sction B-Payment by electronic Funds Transfer to bank account
                                    </p>
                                </div>
                                 
                                 
                  
                                  
                                 
                                  
                                 
                                  
                                 
                                  <div class="clearfix"></div>
                                  <div class="row">
                                      <div class="col-sm-2" style="background-color: grey;"> Bank name</div>
                                      <div class="col-sm-10">
                                      <input type="text">
                                      </div>
                                      
                                  </div>
                                  <div class="clearfix"></div>
                                  <div class="row">
                                      <div class="col-sm-2" style="background-color: grey;"> SWIFT/BIC code</div>
                                      <div class="col-sm-10">
                                      <input type="text" >
                                      </div>
                                      
                                  </div>
                                  <div class="clearfix"></div>
                                  <div class="row">
                                      <div class="col-sm-2" style="background-color: grey;"> Sort code(UK only)</div>
                                      <div class="col-sm-10">
                                      <input type="text">
                                      </div>
                                      
                                  </div>
                                  <div class="clearfix"></div>
                                  <div class="row">
                                      <div class="col-sm-2" style="background-color: grey;"> Account number </div>
                                      <div class="col-sm-10">
                                      <input type="text" >
                                      </div>
                                      
                                  </div>
                                  <div class="clearfix"></div>
                                 
                                  <div class="row">
                                      <div class="col-sm-2" style="background-color: grey;"> IBAN:</div>
                                      <div class="col-sm-10">
                                      <input type="text" >
                                      </div>
                                      
                                  </div>
                                  <div class="clearfix"></div>
                                 
                                  <div class="row">
                                      <div class="col-sm-2" style="background-color: grey;"> Account Name/Payee</div>
                                      <div class="col-sm-10">
                                      <input type="text" >
                                      </div>
                                      
                                  </div>
                                  <div class="clearfix"></div>
                                 
                                  <div class="row">
                                      <div class="col-sm-2" style="background-color: grey;">Currency for the transfer</div>
                                      <div class="col-sm-10">
                                      <input type="text" >
                                      </div>
                                      
                                  </div>
                                  <div class="clearfix"></div>
                                 
                                  <div class="row">
                                      <div class="col-sm-2" style="background-color: grey;">Bank address</div>
                                      <div class="col-sm-10">
                                      <input type="text" >
                                      </div>
                                      
                                  </div>
                                  <div class="clearfix"></div>
                                 
                                  <div class="row">
                                      <div class="col-sm-2" style="background-color: grey;">Post/Zip code</div>
                                      <div class="col-sm-10">
                                      <input type="text">
                                      </div>
                                      
                                  </div>
                                  <div class="clearfix"></div>
                                 
                                  <div class="row">
                                      <div class="col-sm-2" style="background-color: grey;">Country</div>
                                      <div class="col-sm-10">
                                      <input type="text">
                                      </div>
                                      
                                  </div>
                                  
                                 
                                  <div class="clearfix"></div>
                                 
                                 
                                 
                  
                               <p style="font-size: 8px;">
                                   <strong>
                                       *In order to process your payment as quickly and securely as possible, we strongly recommend that you provide both your IBAN and the <br>
                                       SWIFT code of your bank branch. Your bank will be able to provide you with this information if necessary.<br>
                                   </strong>
                                   We recommend that bank transfer are made in the currency of your bank account. If you have asked us to pay the provider, and an annual deductable aplies<br>
                                   to your cover, the deductable will be collected using your direct debit card. We will instruct our bank to recharge the adminstartion fee relating to the <br>
                                   cost of making the electronic transfer to us, but we cannot guarantee that these charges will always be passed back for us to pay. in the event that your local<br>
                                   bank makes a charge for an electronic transfer , we will aim to refund this charge. If we are unable to pay direct to bank account, or no account details are <br>
                                   provided, we will pay by cheque.we reserve the right to send any benefit due to an appropriate person-for example the excecutors of the will of someone who<br>
                                   has died or the dependant on your membership who has paid the bill. 
                               </p>
                                 
                                
                              
                               
                                 
                                 
                                
                              </div>
                              <div class="clearfix"></div>
                <div class="row" style="margin-left:5px ;">
                    <div class="col-sm-12" style="color: black;">5 YOUR CONSET TO OBTAIN A MEDICAL REPORT</div>
                  
                    
                </div>
                <div class="box1">
                    <div > 
                        <h6 style="color: black; text-align: center;">IMPORTANT INFORMATION</h6>

                    
                   
                    </div>
                    <p  style="color: black; text-align: center;">
                       
                 
                          please read this section carefully, as  it sets out your rights under the Access to medical Reports Act 1988 and<br>
                          Access to personal Files and Medical Reports(NI) order 1991.
                      </p>
        
                           
        
                     
                    
    
                </div>
                <div class="row">
                    <div class="col-sm-6" style="color: black; font-size: 6px;">
                        <strong>
                            in order to process your claim, we may need to apply for a medical report from any doctor who<br>
                            has attended you.To apply, we need you to give your consent by signing the Declaration below
                        </strong>
                        You can choose from three courses of action:<br>
                        1.yo can give your consent without asking to see the doctor's report before it is sent to us. the report<br>
                        will then be sent directly ro use by the doctor<br>
                        2.You can give your consent,but ask to see any report before it is sent to us. In which case you will<br>
                        21 days, after we notify you that we have requested a report from the doctor, to contact your <br>
                        doctor to make arrangements to see the report. If you fail to contact the doctor within 21 days, he will<br>
                        he will be entitled to send the result direct to us. If however you contact your doctor within the view to seeing<br>
                        the report, you must give the doctor written consent before he can release it to us.You may ask your<br>
                        doctor to change the report if you think it is misleading. If your doctor refuses you can insist on adding<br>
                        your own comments before it is sent to us or withhold your consent for its release.<br>
                        3.you can withhold your consent but, if you do, please bear in mind that we may be unable to accept<br>
                        your claim.<br>
                        Whether or not you indicate that you wish to see the report before it is sent, you have the right to ask<br>
                        your doctor to let you see a copy, provided that you ask him within six month of report having <br>
                        been supplied to us<br>
                        Your doctor is entitled to withhold some information contained in the report if (a) he feels<br>
                        that it may be harmful to you or (b) it would indicate his intentions in respect of you or (c) would<br>
                        reveal the identity of another person  without their consent.(other than that provided by a health<br>
                         professional in their professional capacity in relation to your care).Your doctor may also make a<br>
                         reasonable charge for his services.<br>
                         The undesigned authorises requests any hospital, specialist, physician or other health provider<br>
                         to furnish Bupa or its duly authorised agent acting on Bupa's with such information as Bupa or<br>
                         the agent may seek from them in connection with any treatment or other services provided to me or<br>
                         may depend for the purpose of Bupa considering this claim<br>
                         I have been advised of my rights under the Access to medical Reports Act 1998 and the Access to<br>
                         Personal Files and Medical Report(NI) Order 1991<br>



                    </div>
                    <div class="col-sm-6" style="color: black; font-size: 6px;">
                       <strong>
                           Bupa Global Data protection Notice
                       </strong><br>
                       <strong>
                           purpose
                       </strong> Personal data collected on you and when appropriate, your family your family will be used by Bupa<br>
                       Global to process your claims, administer your policy amd may be used to detect and prevent fraud or ,<br>
                       improver claims<br>
                       <strong>
                           confidentiality
                       </strong>The confidentiality of the patient and the member information is of paramount  concerns to the <br>
                       companies in the Bupa Group.To this end, Bupa fully complies with data protection  legislation and<br>
                       Medical confidentiality guidelines. Bupa sometimes uses third parties to process data on its behalf.<br>
                       Such processesing which may be urdertaken outside the EEA, is subject to contractual restrictions with<br>
                       regards to confidentiality and security in addition to the obligations imposed by the Data Protection Act<br>
                       <strong>
                           Medical information
                       </strong>Medical information will be kept confidential. It will only be disclosed to those<br>
                        involved with your treatment or care including your general Practitioner/primary health physician or<br>
                        your treatment expences, or your agents. Claims information may be discussed with Bupa Global<br>
                        Agent/Adviser  where you have requested for Adviser to assit you<br>
                        <strong>
                            member details
                        </strong>all the membership documents and confirmation of how we have dealt with any claim<br>
                         you may make will be sentto the Principal member<br>
                         <strong>
                             Telephone
                         </strong> in the interest of continously improving our services to member, your call will be<br>
                         recorded and may be monitored<br>
                         <strong>
                             Research
                         </strong>Anonymised or  aggregated data may be used by Bupa Global, or disclosed to others, for<br>
                         research or statistical purposes<br>
                         <strong>
                             Fraud
                         </strong>Information may be disclosed to pothers with a view to preventing fraudlet or improper<br>
                         Claims<br>
                         <strong>
                             Names and Address
                         </strong>Bupa Global does not make the names and address of members or patients<br>
                         available to other organisations<br>
                         <strong>
                             Keeping you informed
                         </strong>Bupa global would, on occasion, like to keep you informed of Bupa products<br>
                          and services which it considers may be of intrest to you<br>
                          <strong>
                              Contact address:
                          </strong>If you do not wish to receive information about Bupa's products and services or <br>
                          have any other Data Protection Querries, please write to the head of information governance, at Bupa<br>
                          House, 15-19 Bloomsbury way, London WC1A 2BA or at DataProtection@Bupa.com<br>


                    </div>
                    
                    
                </div>
                              <div class="col-sm-12" >
              
                                <div>
                                  <p style="color: black;">
                                    6.THIRD PARTY INSURERS
                                    </p>
                                </div>
                                <P>
                                    Are some of the costs recoverable from someone else(for example, state insurer or a person /organisation involved in an accident?)
                                </P>
                                 
                                 
                  
                                  
                                 
                                  
                                 
                                  
                                 
                                  <div class="clearfix"></div>
                                  <div class="row">
                                      <div class="col-sm-2" style="background-color: grey;"> Name</div>
                                      <div class="col-sm-10">
                                      <input type="text">
                                      </div>
                                      
                                  </div>
                                  <div class="clearfix"></div>
                                  <div class="row">
                                      <div class="col-sm-2" style="background-color: grey;"> Address</div>
                                      <div class="col-sm-10">
                                      <input type="text">
                                      </div>
                                      
                                  </div>
                                  <div class="clearfix"></div>
                                  <div class="row">
                                      <div class="col-sm-2" style="background-color: grey;"> Email</div>
                                      <div class="col-sm-10">
                                      <input type="text">
                                      </div>
                                      
                                  </div>
                                  <div class="clearfix"></div>
                                  <div class="row">
                                      <div class="col-sm-2" style="background-color: grey;">Telephone</div>
                                      <div class="col-sm-10">
                                      <input type="text" >
                                      </div>
                                      
                                  </div>
                                 
                                 
                                 
                                 
                                  <div class="clearfix"></div>
                                 
                                
                            
                                  
                  
                                  
              
                                 
                                      <p style="color: black;">
                                        7.DECLARATION
                                        </p>
                                   
                              <div >
                                <p style="color: white;">
                                    IMPORTANT INFORMATION -TO BE COMPLETED BY THE PATIENT<br>
                                    I Confirm that the information i have given on thios form is accurate and correct, to the best of my knowledge
                                </p>
                                <div class="clearfix"></div>
                                <div class="row">
                                    <div class="col-sm-6">Patients signature (Parent or gurdian if Patient is under 16</div>
                                    <div class="col-sm-8">
                                    <input type="text" [(ngModel)]="patient.id_number">
                                    </div>
                                    
                                </div>
                                <p style="color: black;">
                                    I Confirm that i give explicit conset, within the provissions of the Data protection Act 1998, to process my personal information with respect to this claim
                                </p>
                                <div class="clearfix"></div>
                                <div class="row">
                                    <div class="col-sm-6" >Date</div>
                                    <div class="col-sm-6">
                                    <input type="text" [(ngModel)]="patient.id_number">
                                    </div>
                                    
                                </div>
                              </div>
                                   
                                
                              
                               
                                 
                                 
                                
                              </div>
                              <div class="box11">
                                <div > 
                                    <!-- <h6 style="color: white; text-align: center;">IMPORTANT INFORMATION</h6> -->
            
                                <p style="text-align: center;" >
                                    If you have any queries regarding your claim, log onto our website www.bupa-intl.com/membersword or contanct our customers services team on:<br>
                                    Telephone:   +44(0)1273323563 Fax:   +44(0)1273820517   Email:info@bupa-intl.com<br>
                                    Emailis used for your convenience and speed,but we cannot always guarantee the security of this method of communication. You need to be aware that<br>
                                    some companies and countries do monitor email traffic. You need to take this into acount when choosing to use this method of communication.
                                   
                                
                                   
                
                                </p>
                         </div>
                            
                           
                               
                                </div>
                               
                               
                               
                             
                             
                                   
                                    </div>