<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-6 col-md-3">
      <a routerLink="claims">
        <div class="card">
          <div class="card-body">
            <div class="text-center">
              <span class="fa-stack fa-4x">
                <i class=" fa-stack-2x icon-background4"></i>
                <i class="fa fa-circle-thin fa-stack-2x icon-background6"></i>

                <i class="icon-layers fa-stack-4x" style="color:#A6CF39;"></i>
              </span>
            </div>
            <div class="text-center item" >CLAIMS</div>


          </div>
        </div>
      </a>
    </div>
    <div class="col-sm-6 col-md-3">
      <a routerLink="batch-list">
        <div class="card">
          <div class="card-body">
            <div class="text-center">
              <span class="fa-stack fa-4x">
                <i class=" fa-stack-2x icon-background4"></i>
                <i class="fa fa-circle-thin fa-stack-2x icon-background6"></i>

                <i class="cui-list fa-stack-4x" style="color:#A6CF39;"></i>
              </span>
            </div>
            <div class="text-center item" >BATCH LIST</div>


          </div>
        </div>
      </a>
    </div>
    <div class="col-sm-6 col-md-3">
      <a routerLink="batching">
        <div class="card">
          <div class="card-body">
            <div class="text-center">
              <span class="fa-stack fa-4x">
                <i class=" fa-stack-2x icon-background4"></i>
                <i class="fa fa-circle-thin fa-stack-2x icon-background6"></i>

                <i class="fa fa-gift fa-stack-4x" style="color:#A6CF39;"></i>
              </span>
            </div>
            <div class="text-center item" >BATCH CLAIMS</div>


          </div>
        </div>
      </a>
    </div>
    <div class="col-sm-6 col-md-3">
      <a routerLink="create-claim">
        <div class="card">
          <div class="card-body">
            <div class="text-center">
              <span class="fa-stack fa-4x">
                <i class=" fa-stack-2x icon-background4"></i>
                <i class="fa fa-circle-thin fa-stack-2x icon-background6"></i>

                <i class="fa fa-plus fa-stack-4x" style="color:#A6CF39;"></i>
              </span>
            </div>
            <div class="text-center item" >CREATE CLAIM</div>


          </div>
        </div>
      </a>
    </div>
  </div>
  <!--/.row-->
</div>