
<style>
    .item{
      font-weight: bold;
    }
  </style>
  <div class="animated fadeIn">
    <div class="row">
        <div class="col-sm-6 col-md-3">
          <a routerLink="/dashboard/queueline">
            <div class="card">
              <div class="card-body">
                <div class="text-center">
                  <span class="fa-stack fa-4x">
                    <i class=" fa-stack-2x icon-background4"></i>
                    <i class="fa fa-circle-thin fa-stack-2x icon-background6"></i>
        
                    <i class="cui-calendar fa-stack-4x" style="color:#A6CF39;"></i>
                  </span>
                </div>
                <div class="text-center item" >Queue List</div>
        
        
              </div>
            </div>
          </a>
        </div>
        <div class="col-sm-6 col-md-3">
          <a routerLink="/dashboard/allbooking">
            <div class="card">
              <div class="card-body">
                <div class="text-center">
                  <span class="fa-stack fa-4x">
                    <i class=" fa-stack-2x icon-background4"></i>
                    <i class="fa fa-circle-thin fa-stack-2x icon-background6"></i>
                    <i class="fa fa-th-large" aria-hidden="true" style="color:#A6CF39;"></i>
                   
                  </span>
                </div>
                <div class="text-center item" >All Booking</div>
        
        
              </div>
            </div>
          </a>
        </div>
        <div class="col-sm-6 col-md-3">
          <a routerLink="/dashboard/pexperience">
            <div class="card">
              <div class="card-body">
                <div class="text-center">
                  <span class="fa-stack fa-4x">
                    <i class=" fa-stack-2x icon-background4"></i>
                    <i class="fa fa-circle-thin fa-stack-2x icon-background6"></i>
                    <i class="fa fa-train" aria-hidden="true" style="color:#A6CF39;"></i>
                  </span>
                </div>
                <div class="text-center item" >All Patients</div>
        
        
              </div>
            </div>
          </a>
        </div>
        <div class="col-sm-6 col-md-3"  >
          <a routerLink="/dashboard/feedback">
            <div class="card">
              <div class="card-body">
                <div class="text-center">
                  <span class="fa-stack fa-4x">
                    <i class=" fa-stack-2x icon-background4"></i>
                    <i class="fa fa-circle-thin fa-stack-2x icon-background6"></i>
                    <i class="fa fa-exchange" aria-hidden="true" style="color:#A6CF39;"></i>
                   
                  </span>
                </div>
                <div class="text-center item"> Bookings Feedbacks</div>
        
        
              </div>
            </div>
          </a>
        </div>
        
        
    </div>
  </div>
  <!-- <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '9px' }"></ngx-loading> -->