
<style>
  ::ng-deep .mat-step-header .mat-step-icon-selected {
     background-color: black;
     color: #fff; 
  }
   ::ng-deep .mat-step-header .mat-step-icon-state-edit {
     background-color: black;
     color: #fff;
   
  }
  ::ng-deep  .mat-radio-button.mat-accent .mat-radio-inner-circle, .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple), .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple, .mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
     background-color: black;
 }
 
 ::ng-deep .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
     border-color: black;
 }
 </style>
 <div class="card">
  <div class="card-header bg-default">
    <h2 >Create Covid 19 Testing</h2>
  
  </div>
  <div class="card-body">
        <div class="col-sm-12">
       
            <mat-horizontal-stepper linear="true" #stepper>
                <!-- [stepControl]="registerForm" -->
                <mat-step   label="Personal Details">
                    <form [formGroup]="registerForm" >
                        <div class="row">
                            <div class="col-sm-4">
                                <mat-form-field appearance="outline">
                                    <mat-label>First Name</mat-label>
                                    <input matInput placeholder="First Name" formControlName="first_name">
                                    <mat-error *ngIf="f.first_name.errors?.required">First Name is required</mat-error>
                    
                                  </mat-form-field>
                            </div>
                            <div class="col-sm-4">
                                <mat-form-field appearance="outline">
                                    <mat-label>Surname</mat-label>
                                    <input matInput placeholder="Surname" formControlName="last_name">
                                    <mat-error *ngIf="f.last_name.errors?.required">Surname is required</mat-error>
                    
                                  </mat-form-field>
                            </div>
                            <div class="col-sm-4">
                                <mat-form-field appearance="outline">
                                    <mat-label>Gender</mat-label>
                    
                                    <mat-select formControlName="gender">
                                        <mat-option *ngFor="let item of ['Female','Male']" [value]="item">
                                          {{item}}
                                        </mat-option>
                                      </mat-select>
                                    <mat-error *ngIf="f.gender.errors?.required">Gender is required</mat-error>
                                  </mat-form-field>
                            </div>
                            <div class="col-sm-4">
                                <mat-form-field appearance="outline">
                                    <mat-label>Date Of Birth</mat-label>
                                    <input matInput placeholder="D.O.B"  formControlName="dob" [matDatepicker]="picker" [max]="minDate">
                                    <mat-error *ngIf="f.dob.errors?.required">Date of birth is required</mat-error>
                                    <mat-datepicker-toggle matSuffix [for]="picker" ></mat-datepicker-toggle>
                                      <mat-datepicker #picker></mat-datepicker>
                                  </mat-form-field>
                                  
                            </div>
                            <div class="col-sm-4">
                                <mat-form-field appearance="outline">
                                    <mat-label>Residence</mat-label>
                                    <input matInput placeholder="Your Location" formControlName="residence">
                                    <mat-error *ngIf="f.residence.errors?.required">Residence is required</mat-error>
                    
                                  </mat-form-field>
                            </div>
                            <div class="col-sm-4">
                                <mat-form-field appearance="outline">
                                    <mat-label>National ID/Passport</mat-label>
                                    <input matInput placeholder="Identity Document No" formControlName="national_id">
                                    <mat-error *ngIf="f.national_id.errors?.required">National ID/Passport is required</mat-error>
                                  </mat-form-field>
                            </div>
                            <div class="col-sm-4">
                                <mat-form-field appearance="outline">
                                    <mat-label>Mobile Number</mat-label>
                                    <input matInput placeholder="Enter mobile" formControlName="phone">
                                    <mat-error *ngIf="f.phone.errors?.required">Phone is required</mat-error>
                    
                                  </mat-form-field>
                            </div>
                            <div class="col-sm-4">
                                <mat-form-field appearance="outline">
                                    <mat-label>Email</mat-label>
                                    <input matInput placeholder="Enter email" formControlName="email">
                                    <mat-error *ngIf="f.email.errors?.required">Email is required</mat-error>
                                    <mat-error *ngIf="f.email.errors?.email">Email must be a valid email address</mat-error>
                                  </mat-form-field>
                            </div>
                           
                           
                            <div class="col-sm-12">
                                <h6 align="center">
                                    <button mat-raised-button  class="btn-success" style="color: white;" (click)="proceedPayment()" >proceed</button>
                                    <!--  data-toggle="modal" data-target="#exampleModal2" -->
                                </h6>
                            </div>
                        </div>
                    </form>
                </mat-step>
                <mat-step [stepControl]="placesandForm"  label="Travel and Case">
                  <form [formGroup]="placesandForm" >
                    <div class="col-sm-12">
                      <div class="row" style="justify-content: left;"> <h2><span style="font-weight: 100;color: black;font-family: Roboto,'Helvetica Neue',sans-serif;">Has patient  travelled in the past 14 days?</span></h2></div>

                     <br>
                     <mat-radio-group  formControlName="is_travel">
                      <div class="row"  style="justify-content: left; display: grid;">
                        <div class="col-sm-2">
                             <mat-radio-button value="yes" (change)="istravelled('yes')"  style="font-family: lato light;margin-right: 20px;"><h3>yes</h3></mat-radio-button>
                            </div>
                             <div class="col-sm-2">
                               <mat-radio-button value="no" (change)="istravelled('no')" style="font-family: lato light" ><h3>No</h3></mat-radio-button>
                            </div>
                                                  
                      </div>
      
                     </mat-radio-group>
                     <div  *ngIf="show_travel" class="row" style="justify-content: left;"> <h2><span style="font-weight: 100;color: black;font-family: Roboto,'Helvetica Neue',sans-serif;">kindly indicate from where?</span></h2></div>
                        <div  *ngIf="show_travel" class="row box-input-row"  style="justify-content: left;">
                          <mat-form-field class="example-full-width box-input-mat-field"  appearance="outline">
                            <mat-label>Where</mat-label>
                            <textarea matInput [matTextareaAutosize]="false"  placeholder="Where from?" formControlName="travel_places" >   </textarea>                          
                        </mat-form-field>          
                        </div>
        
                       <!-- <mat-error *ngIf="fs.first_time.errors?.required">select yes or no</mat-error> -->
                  
                  
                  <div class="row" style="justify-content: left;"> <h2><span style="font-weight: 100;color: black;font-family: Roboto,'Helvetica Neue',sans-serif;">Has patient been in contact with a person who has tested positive for covid-19?</span></h2></div>
                        <br>
                        <mat-radio-group  formControlName="is_contact">
                          <div class="row"  style="justify-content: left; display: grid;">
                            <div class="col-sm-2">
                                 <mat-radio-button value="yes" (change)="isContacted('yes')"  style="font-family: lato light;margin-right: 20px;"><h3>yes</h3></mat-radio-button>
                                </div>
                                 <div class="col-sm-2">
                                   <mat-radio-button value="no" (change)="isContacted('no')" style="font-family: lato light" ><h3>No</h3></mat-radio-button>
                                </div>
                                                      
                          </div>
          

                         </mat-radio-group>
                        <div *ngIf="show_contact" class="row box-input-row"  style="justify-content: left;">
                          <mat-form-field class="example-full-width box-input-mat-field"  appearance="outline">
                            <mat-label>Persons name</mat-label>
                            <textarea matInput [matTextareaAutosize]="false"  placeholder="Case name?" formControlName="contact_case_name" >  </textarea>                          
                        </mat-form-field>          
                        </div>
        
                       <!-- <mat-error *ngIf="fs.first_time.errors?.required">select yes or no</mat-error> -->
                  
                      </div>

                      <div class="col-sm-12" style="margin-top: 20px;justify-content: center;display:flex">
                        <button mat-raised-button   class="btn-success"   style="padding-top: 5px;padding-bottom: 5px;padding-left: 40px; padding-right: 40px; font-size: x-large;color: white;"  (click)= "submitPlace()">proceed</button>
                </div>
                  </form>




              </mat-step>
                <mat-step  [stepControl]="sysptomForm" label="Symptoms">
                  <form   [formGroup]="sysptomForm"   #payment="ngForm">
                    <div class="col-sm-12">


                      <div class="row" > <h2><span style="font-weight: 100;color: black;font-family: Roboto,'Helvetica Neue',sans-serif;">Please the date patient started to experience symptoms if any.</span></h2></div>
                      <br>
                      <div class="row"  style="display: grid;">
                     
                      <mat-form-field appearance="outline" class="example-full-width" style="max-width: 400px;">
                        <mat-label>Date</mat-label>
                        <input matInput placeholder="Date" formControlName="symptoms_date" [max]="maxDate" [matDatepicker]="picker3"   >
                        <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                          <mat-datepicker #picker3></mat-datepicker>
                      </mat-form-field>         
                      </div>
                      <div class="row" > <h2><span style="font-weight: 100;color: black;font-family: Roboto,'Helvetica Neue',sans-serif;">Select the symptoms you are experience if any.</span></h2></div>
                       
               
  
                      
                      <div class="row"  style="justify-content: center;">

                        <section class="example-section" style="display: contents;">
                          
                          
                      <div class="col-sm-3">                         
                            <mat-checkbox  value="Abdominal pain"  (change)="addSysptom('Abdominal pain',$event)"  style="font-family: lato light;"><h3>Abdominal pain</h3></mat-checkbox>
                     </div>                             
                     <div class="col-sm-3">                         
                      <mat-checkbox  value="Blood in stool"  (change)="addSysptom('Blood in stool:',$event)"  style="font-family: lato light;"><h3>Blood in stool</h3></mat-checkbox>
                      </div>
                      <div class="col-sm-3">                         
                             <mat-checkbox  value="Fever"  (change)="addSysptom('Fever',$event)"  style="font-family: lato light;"><h3>Fever</h3></mat-checkbox>
                      </div>
                      <div class="col-sm-3">                         
                        <mat-checkbox  value="Chest pain"  (change)="addSysptom('Chest pain',$event)"  style="font-family: lato light;"><h3>Chest pain</h3></mat-checkbox>
                      </div>
                      <div class="col-sm-3">                         
                        <mat-checkbox  value="Dizzy"  (change)="addSysptom('Dizzy',$event)"  style="font-family: lato light;"><h3>Dizzy</h3></mat-checkbox>
                      </div>
                      <div class="col-sm-3">                         
                        <mat-checkbox  value="Fatigue"  (change)="addSysptom('Fatigue',$event)"  style="font-family: lato light;"><h3>Fatigue</h3></mat-checkbox>
                      </div>
                      <div class="col-sm-3">                         
                        <mat-checkbox  value="Headache"  (change)="addSysptom('Headache',$event)"  style="font-family: lato light;"><h3>Headache</h3></mat-checkbox>
                      </div>
                      <div class="col-sm-3">                         
                        <mat-checkbox  value="Nausea"  (change)="addSysptom('Nausea',$event)"  style="font-family: lato light;"><h3>Nausea</h3></mat-checkbox>
                      </div>
                      <div class="col-sm-3">                         
                        <mat-checkbox  value="Sweaty"  (change)="addSysptom('Sweaty',$event)"  style="font-family: lato light;"><h3>Sweaty</h3></mat-checkbox>
                      </div>
                      <div class="col-sm-3">                         
                        <mat-checkbox  value="Thirsty"  (change)="addSysptom('Thirsty',$event)"  style="font-family: lato light;"><h3>Thirsty</h3></mat-checkbox>
                      </div> 
                      <div class="col-sm-3">                         
                        <mat-checkbox  value="Tired"  (change)="addSysptom('Tired',$event)"  style="font-family: lato light;"><h3>Tired</h3></mat-checkbox>
                      </div>                       
                      <div class="col-sm-3">                         
                        <mat-checkbox  value="Weak"  (change)="addSysptom('Weak',$event)"  style="font-family: lato light;"><h3>Weak</h3></mat-checkbox>
                      </div>
                      <div class="col-sm-3">                         
                        <mat-checkbox  value="Vomiting"  (change)="addSysptom('Vomiting',$event)"  style="font-family: lato light;"><h3>Vomiting</h3></mat-checkbox>
                      </div>
                      
                      
                      <div class="col-sm-3">
                               <mat-checkbox   value="headache"  (change)="addSysptom('headache',$event)" style="font-family: lato light;" ><h3>Head ache</h3></mat-checkbox>
                      </div>
                      <div class="col-sm-3" >
                               <mat-checkbox value="diarrhoea"  (change)="addSysptom('diarrhoea',$event)" style="font-family: lato light;" ><h3>Diarrhoea</h3></mat-checkbox>
                    </div>
                    <div class="col-sm-3" >
                      <mat-checkbox value="cough"  (change)="addSysptom('cough',$event)" style="font-family: lato light;" ><h3>Cough</h3></mat-checkbox>
                    </div>
                    <div class="col-sm-3" >
                          <mat-checkbox value="others"  (change)="otherSysptom()" style="font-family: lato light;" ><h3>Others</h3></mat-checkbox>
                                                  
                      </div>
                      <div class="col-sm-3" *ngFor="let cb  of checkboxs">
                        <mat-checkbox [value]="cb"  (change)="addSysptom(cb,$event)" style="font-family: lato light;" checked="true" ><h3>{{cb}}</h3></mat-checkbox>
                                      
                        </div>
                    </section>
                       <div class="col-sm-3"  *ngIf="other_sysptoms" style="display: flex;">
                        <mat-form-field appearance="outline" >
                          <mat-label>Others</mat-label>
                          <input matInput placeholder="Other sysptoms" formControlName="other_sysptoms">            
                        </mat-form-field> 
                        <mat-icon (click)="addChechbox()" style="align-self: center;" >add_box</mat-icon>        
                         </div>
                    

                      </div>
   
                  </div> 
                     
  
                  <div class="col-sm-12" style="margin-top: 20px;justify-content: center;display:flex">
                        <button mat-raised-button   class="btn-success"   style="padding-top: 5px;padding-bottom: 5px;padding-left: 40px; padding-right: 40px; font-size: x-large;color: white;"  (click)= "submitSysptom()">proceed</button>
                </div>
              </form>
                
                  </mat-step>

                  <mat-step  [stepControl]="vaccinatedForm" label="Vacination">
                    <form [formGroup]="vaccinatedForm"   #firsttime="ngForm">
                      <div class="col-sm-12">
                        <div class="row" style="justify-content: center;"> <h2><span style="font-weight: 100;color: black;font-family: Roboto,'Helvetica Neue',sans-serif;">Is the Patient fully vaccinated for Covid-19?</span></h2></div>
     
                      <mat-radio-group  formControlName="vaccinated">
                        <div class="row"  style="justify-content: center; display: grid;">
                          <div class="col-sm-2">
                               <mat-radio-button value="yes"  style="font-family: lato light;margin-right: 20px;"><h3>yes</h3></mat-radio-button>
                              </div>
                               <div class="col-sm-2">
                                 <mat-radio-button value="no" style="font-family: lato light" ><h3>No</h3></mat-radio-button>
                              </div>
                                                    
                        </div>
        
                       </mat-radio-group>
                       <!-- <mat-error *ngIf="fs.first_time.errors?.required">select yes or no</mat-error> -->
                    </div> 
    
                    <div class="col-sm-12" style="margin-top: 20px;justify-content: center;display:flex">
                    
                          <button mat-raised-button   class="btn-success"  style="padding-top: 5px;padding-bottom: 5px; padding-left: 40px; padding-right: 40px; font-size: x-large;color: white;"  (click)= "submitVaccination()">proceed</button>
                    
                  </div>
                      </form>
    
                    </mat-step>
                <!-- [stepControl]="appointmentForm" -->
                <mat-step  [stepControl]="appointmentForm"   label="Appointment Details">
                    <form [formGroup]="appointmentForm">
                        <div class="row">
                            <div class="col-sm-6">
                                <mat-form-field appearance="outline">
                                    <mat-label>Appointment Date</mat-label>
                                    <input matInput placeholder="Appointment Date"  formControlName="date" [min]="maxDate" [matDatepicker]="picker1"   >
                                    <mat-error *ngIf="g.date.errors?.required">Date  is required</mat-error>
                                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                      <mat-datepicker #picker1></mat-datepicker>
                                  </mat-form-field>
                                  
                            </div>
                            <div class="col-sm-6">
                                <mat-form-field appearance="outline">
                                    <mat-label>Time</mat-label>
                                    <mat-select formControlName="time">
                                      <mat-option *ngFor="let slot of SLOTS_DATA" [value]="slot.time">
                                        {{slot.span}}
                                      </mat-option>
                                    </mat-select>  
                                  </mat-form-field>
                            </div>
                            <div class="col-sm-6">
                              <mat-form-field appearance="outline">
                                  <mat-label>Mpesa Transaction code</mat-label>
                                  <input matInput placeholder="Mpesa Transaction Code" formControlName="transaction_code" readonly>
                                  <mat-error *ngIf="f.phone.errors?.required">Phone is required</mat-error>                    
                                </mat-form-field>
                          
                          </div>
                     
                          <div class="col-sm-6">
                              <mat-form-field class="example-full-width">
                                <mat-label>Select Location</mat-label>
                                <mat-select  formControlName="location_type" (selectionChange)="locationClicked($event.value)" >
                                  <mat-option value="AAR Hospital">AAR Hospital</mat-option>
                                  <mat-option value="Home/Office">Home/Office</mat-option>
                                </mat-select>
                              </mat-form-field>
                        </div>
                  
                      <div class="col-sm-6" *ngIf="home_office">
                        <mat-form-field class="example-full-width "  appearance="outline">
                          <mat-label>Where</mat-label>
                          <textarea matInput [matTextareaAutosize]="false"  placeholder="Where" formControlName="location" >  </textarea>                          
                      </mat-form-field>  
                    
                    </div>
                            <div class="col-sm-12">
                                <mat-form-field class="example-full-width">
                                    <mat-label>Appointment Reason</mat-label>
                                    <textarea matInput placeholder="Appointment Reason" formControlName="reason" ></textarea>
                                    <mat-error *ngIf="g.reason.errors?.required">Appointment Reason Is required</mat-error>

                                  </mat-form-field>
                            </div>

                    <div class="row">
                      <div class="col-sm-12" style="padding: 10px;">
                      <mat-checkbox   value="terms"  (change)="termsClicked($event.checked)" style="font-family: lato light;" ><h3>I have read and understood the <u>terms and conditions</u> should be a link the client
                        can go to</h3></mat-checkbox>
                      </div>
                      </div>
                            <div class="col-sm-12">
                              <h6 align="center">
                                  <button mat-raised-button    class="btn-success" style="color: white;" (click)="onSubmit()"  type="submit">{{booking_button_txt}}</button>
                              </h6>
                          </div>
                           
                          
                        </div>
                    </form>


                </mat-step>
                <!-- *ngIf="APPOINTMENT_BOOKING"  [stepControl]="editAppointmentForm" -->
            <mat-step   label="Finished"> 

              <div  *ngIf="!isbooked"class="row" style="justify-content: center; width: 100%;"><h2 > <span style="font-weight: 100;color: black;font-family: Roboto,'Helvetica Neue',sans-serif;"> Patient has been booked</span></h2> </div>

                <div *ngIf="isbooked" class="row" style="justify-content: center; width: 100%;"><h2 > <span style="font-weight: 100;color: black;font-family: Roboto,'Helvetica Neue',sans-serif;"> Patient is  already booked</span></h2> </div>
                  <div class="col-sm-12">
                    <h6 align="center">
                        <button mat-raised-button   class="btn-success"  style="color: white;" (click)="finish()" >Finish</button>
                    </h6>
                </div>
              <!-- <form [formGroup]="editAppointmentForm" (ngSubmit)="editAPPointment()" > 
                <div class="row" style="justify-content: center; width: 100%;"><h2 > <span style="font-weight: 100;color: black;font-family: Roboto,'Helvetica Neue',sans-serif;">{{APPOINTMENT_DATA.text}}</span></h2> </div>
              <div class="row">  
                <div class="col-sm-4">
                    <mat-form-field appearance="outline">
                        <mat-label>Appointment Date</mat-label>
                        <input matInput placeholder="Appointment Date" (ngModelChange)="getTimeSlotsAvailable2()" formControlName="date" [min]="maxDate" [matDatepicker]="picker2"   >
                        <mat-error *ngIf="g.date.errors?.required">Date  is required</mat-error>
                        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                          <mat-datepicker #picker2></mat-datepicker>
                      </mat-form-field>
                      
                </div>
                <div class="col-sm-4">
                    <mat-form-field appearance="outline">
                        <mat-label>Time</mat-label>
                        <mat-select formControlName="time" (selectionChange)="activateChangeButton()">
                          <mat-option *ngFor="let slot of SLOTS_DATA" [value]="slot.time">
                            {{slot.span}}
                          </mat-option>
                        </mat-select>  
                    </mat-form-field>
                    </div>    
            
                
                  </div> 
                  <div class="col-sm-12">
                    <div class="row" align="center">
                    <div class="col-sm-2"> <button mat-raised-button  style="background-color: black;color: white;margin:10px;"  [disabled]="APPOINTMENT_DATA.status" (click)="cancelAppointment()">Cancel Appointment</button></div>

                    
                        <div class="col-sm-2"> <button mat-raised-button  style="background-color: #EF2D2D;color: white; margin: 10px;;" [disabled]="APPOINTMENT_DATA.status || !APPOINTMENT_CHANGE" (click)="changeAppointment()">Change Appointment</button></div>

                        <div class="col-sm-2"> <button mat-raised-button  style="background-color: #10e21b;color: white; margin: 10px;;"  (click)="Finish()">Finish</button></div>

                    </div>

                </div>
                  
                    </form>           -->
              </mat-step>
                
              </mat-horizontal-stepper>
        </div>
    </div>
</div>
    


<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" ></ngx-loading>
