
    <div class="card">
        <div class="card-header">
          CREATE REAPPOINTMENT
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-12 col-md-1 col-lg-1 col-12" style="text-align: center;">
              <img src="../../../../assets/img/avatars/female.png" class="rounded-circle" alt="" style="width: 90px;" *ngIf="customer.gender == 'Female' || customer.gender == 'female'">
              <img src="../../../../assets/img/avatars/download.png" class="rounded-circle" alt="" style="width: 90px;" *ngIf="customer.gender == 'Male' || customer.gender == 'male'">
            </div>
            <div class="col-sm-12 col-md-11 col-lg-11 col-12">
              <div class="row">
            <div class="col-sm-5">
                <div class="row">
                    <div class="col-sm-12 text-primary" style="text-transform: capitalize;font-weight: 600;">{{customer.first_name}} {{customer.last_name}} {{customer.other_names}} || <span class="text-success">{{customer.age}}</span></div>
                    <div class="col-sm-12" > {{customer.phone}} </div>
                    <div class="col-sm-12" > {{customer.email}} </div>
                    <div class="col-sm-12 text-primary" >
                      {{customer.gender}}
                    </div>
                </div>

            </div>
                <div class="col-sm-7" style="text-align:right">
                </div>
              </div>
  
            </div>
          </div> 
                <div class="row">
                <div class="col-sm-12">
                
                <div class="row">
                  <div class="col-sm-12">
                    <mat-tab-group>
                      <mat-tab label="Appointment Details">
                        <form [formGroup]="appointmentForm" (ngSubmit)="onSubmit()" style="margin-top: 10px;">
                          <div class="col-sm-12">
                            <div class="row">
                
                              <div class="col-sm-12">
                                <div class="row">
                                  <div class="col-sm-2">
                  
                                    <mat-form-field appearance="outline">
                                      <mat-label>Appointment Date</mat-label>
                                        <input matInput placeholder="Appointment Date" [min]="maxDate" formControlName="date" [matDatepicker]="picker1">
                                        <mat-error *ngIf="f.date.errors && submitted">Appointment Date <strong>required</strong></mat-error>
                                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                        <mat-datepicker #picker1></mat-datepicker>
                                      </mat-form-field>
                                </div>
                                <div class="col-sm-2">
                                  
                                  <mat-form-field appearance="outline">
                                    <mat-label>Appointment Time</mat-label>
                                    <input matInput placeholder="Time" formControlName="time"  data-clocklet="class-name: my-clocklet-styleformat:HH:mm;">
                                    <mat-error *ngIf="f.time && submitted">Appointment Time <strong>required</strong></mat-error>
        
                                  </mat-form-field>
                                </div>
                                <div class="col-sm-2">
                                  <mat-form-field appearance="outline">
                                    <mat-label>Appointment Type</mat-label>
                                    <mat-select formControlName="type">
                                      <mat-option  value="standard">
                                        Standard
                                      </mat-option>
                                      <mat-option  value="Supervision">
                                        Supervision
                                      </mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="f.type && submitted">Appointment Type <strong>required</strong></mat-error>
                                  </mat-form-field>
                                </div>
                                <div class="col-sm-2">
                                  <mat-form-field appearance="outline">
                                    <mat-label>Payment Type</mat-label>
                                    <mat-select formControlName="payment_type">
                                      <mat-option  value="Cash">
                                      Cash
                                      </mat-option>
                                      <mat-option  value="Mpesa">
                                      Mpesa
                                      </mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="f.payment_type && submitted">Payment Type <strong>required</strong></mat-error>
                                  </mat-form-field>
                                </div>
                                <div class="col-sm-2" *ngIf="f.payment_type.value == 'Mpesa'" >
                                
                                  <mat-form-field appearance="outline" >
                                    <mat-label>Transaction No</mat-label>
                                    <input matInput placeholder="Transaction No" [typeahead]="transactions"  typeaheadOptionField="phone_number" (typeaheadOnSelect)="typeaheadOnSelect($event)"  [disabled]="f.payment_type.value == 'Cash'" (ngModelChange)="searchTransaction(f.no.value)" formControlName="no">
                                    <mat-error *ngIf="f.no.errors && submitted">Transaction no<strong>required</strong></mat-error>
                                    </mat-form-field>
                                </div>
                
                                <div class="col-sm-2">
                                  <mat-form-field appearance="outline">
                                    <mat-label>Amount</mat-label>
                                      <input matInput placeholder="Amount"  formControlName="amount">
                                      <mat-error *ngIf="f.amount.errors && submitted">Amount<strong>required</strong></mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-sm-12">
                                      
                                  <mat-form-field  appearance="outline">
                                      <mat-label>Appointment Reason</mat-label>
                                      <textarea matInput cols="30" rows="5"  placeholder="Reason for Appointment" formControlName="reason"></textarea>
                                  <mat-error *ngIf="f.reason && submitted">Reason for Appointment <strong>required</strong></mat-error>
                                    </mat-form-field>
                              </div>
                                </div>
                            </div>
              </div>
                          </div>
                          
                        
                           
                            <div class="col-sm-12">
                                    <br>
                                <button class="btn btn-success pull-right">Submit</button>
                            </div>
                        </form>
                      </mat-tab>
                    
                    </mat-tab-group>
                  </div>
               
                </div>
                </div>
              
                </div>
        </div>
      </div>

      <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '9px' }"></ngx-loading>
