  ::ng-deep .mat-tab-group.vertical {
    flex-direction: row;
}
::ng-deep .mat-tab-group.horizontal {
    flex-direction: column;
}
::ng-deep .vertical .mat-tab-labels {
    flex-direction: column;
}
::ng-deep .horizontal .mat-tab-labels {
    flex-direction: row;
}