
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <h5>Available Rooms</h5>
        </div>
        <div class="card-body">
        
      
          <div class="row">
           
            <div class="col-sm-12">
              <div class="mat-elevation-z8 table-responsive">
                <table mat-table [dataSource]="dataSource">
                    <ng-container matColumnDef="sn">
                        <th mat-header-cell *matHeaderCellDef>S/No</th>
                        <td mat-cell *matCellDef="let element;let i=index"> {{i+1}} </td>
                </ng-container>
                <ng-container matColumnDef="created">
                  <th mat-header-cell *matHeaderCellDef>Created</th>
                  <td mat-cell *matCellDef="let element"> {{element.created | date: 'medium'}} </td>
                </ng-container>
                <ng-container matColumnDef="room_number">
                    <th mat-header-cell *matHeaderCellDef>Room Number</th>
                    <td mat-cell *matCellDef="let element"> {{element.room_number}} </td>
                  </ng-container>
                <ng-container matColumnDef="room_block">
                  <th mat-header-cell *matHeaderCellDef>Room Block</th>
                  <td mat-cell *matCellDef="let element"  style="text-transform: capitalize;"> {{element.room_block}} </td>
                </ng-container>
                <ng-container matColumnDef="room_package">
                  <th mat-header-cell *matHeaderCellDef>Room Package</th>
                  <td mat-cell *matCellDef="let element"> {{element.room_package}} </td>
                </ng-container>
                  <ng-container matColumnDef="room_price">
                              <th mat-header-cell *matHeaderCellDef>Room Price</th>
                              <td mat-cell *matCellDef="let element" style="text-transform: capitalize;"> {{element.room_price}}  </td>
                  </ng-container>
                  <ng-container matColumnDef="boarding_package">
                    <th mat-header-cell *matHeaderCellDef>Boarding Package</th>
                    <td mat-cell *matCellDef="let element"> {{element.boarding_package}} </td>
                  </ng-container>
                    <ng-container matColumnDef="status">
                      <th mat-header-cell *matHeaderCellDef>Status</th>
                      <td mat-cell *matCellDef="let element"> 
                        <span *ngIf="element.status=='FREE'"><span class="badge badge-success">Room Available</span>
                      </span>
                      <span *ngIf="element.status=='BOOKED'"><span class="badge badge-dark">Already Booked</span>
                    </span>
                        <!-- <span class="badge badge-success">Room Available</span> -->
                      </td>
                    </ng-container> 
                    <ng-container matColumnDef="action">
                      <th mat-header-cell *matHeaderCellDef>Action</th>
                      <td mat-cell *matCellDef="let element">
                        <button type="button" *ngIf="element.status=='FREE'" (click)="BookRoom(item=element)" class="btn btn-success">Book Room</button>
                         </td>
                    </ng-container>  
                    <ng-container matColumnDef="pay">
                      <th mat-header-cell *matHeaderCellDef>Stk</th>
                      <td mat-cell *matCellDef="let element">
                        <button type="button"  (click)="PushSTK(item=element)" class="btn btn-dark">pay</button>
                         </td>
                    </ng-container>
                    <ng-container matColumnDef="edit">
                      <th mat-header-cell *matHeaderCellDef>Edit</th>
                      <td mat-cell *matCellDef="let element">
                        <button type="button"  (click)="editdata(item=element)" class="btn btn-dark">edit</button>
                         </td>
                    </ng-container>
                  
          
                  
                
                  <tr mat-header-row *matHeaderRowDef="Columns"></tr>
                  <tr mat-row *matRowDef="let row; columns:Columns;"></tr>
                </table>
          
                <mat-paginator [pageSizeOptions]="[19,50]" showFirstLastButtons></mat-paginator>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>


   
  <div class="modal fade" bsModal #ConfirmAppointment="bs-modal" [config]="{backdrop: false}" tabindex="-1" role="dialog" aria-labelledby="dialog-static-name">
    <div class="modal-dialog modal-md">
    <div class="modal-content">
     <div class="modal-header">
       <h5 id="dialog-static-name" class="modal-title pull-left">Edit Rooms</h5>
       <button type="button" class="close pull-right" aria-label="Close" (click)="ConfirmAppointment.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
     </div>
     <div class="modal-body">    
      <div class="col-sm-12">
  
        <form  >
          <div class="row" style="width:100%">
            <div class="col-sm-6">
              <mat-form-field appearance="outline">
                <mat-label>Room Block</mat-label>
                <input matInput placeholder="Room Block" [(ngModel)]="room_block" name="room_block">
              </mat-form-field>
            </div>
            
            <div class="col-sm-6">
              <mat-form-field appearance="outline">
                <mat-label>Room Number</mat-label>
                <input matInput placeholder="room Number" [(ngModel)]="room_number" name="room_number">
              </mat-form-field>
            </div>
            <div class="col-sm-6">
              <mat-form-field appearance="outline">
                <mat-label>Room Price</mat-label>
                <input matInput placeholder="room price" [(ngModel)]="room_price" name="room_price">
              </mat-form-field>
            </div>
            <div class="col-sm-6">
              <mat-form-field appearance="outline">
                <mat-label>Room Package</mat-label>
                <input matInput placeholder="room Package" [(ngModel)]="room_package" name="room_package">
              </mat-form-field>
            </div>
            
             
             
          </div>
          </form>
         
        <button class="btn btn-danger btn-sm" (click)="ConfirmAppointment.hide()" > close</button>
        <button class="btn btn-success btn-sm" (click)="editDatarooms()" >Edit</button>
      </div>
      
     </div>
    </div>
    </div>
    </div>
