
<div class="row">
    <div class="col-sm-12">
      <div class="card">
        <h5 class="card-header bg-success">FeedBacks Graphical</h5>
        <div class="card-body">


            <mat-tab-group>
            
              <mat-tab label="Net Promoter Score" style="padding-bottom: 20px;">
                <div class="row">
                  <div class="col-sm-3">
                       
                    <mat-form-field appearance="outline">
                      <mat-label>Select Start date</mat-label>
                        <input matInput placeholder="Select start date"    [(ngModel)]="nps_date1"  [matDatepicker]="picker7" (ngModelChange)="NPSFilterChangedate()" autocomplete="off">
                        <mat-datepicker-toggle matSuffix [for]="picker7"></mat-datepicker-toggle>
                        <mat-datepicker #picker7></mat-datepicker>
                      </mat-form-field>
                  </div>
                  <!-- <div class="col-sm-3" style="padding-top: 15px;">
                  <ejs-datetimepicker [(ngModel)]="channels_filter.date" (change)="channelFilterChange()"></ejs-datetimepicker>
                </div> -->
                <div class="col-sm-3">
                      
                  <mat-form-field appearance="outline">
                    <mat-label>Select End Date</mat-label>
                      <input matInput placeholder="Select end date"    [(ngModel)]="nps_date2"  [matDatepicker]="picker4" (ngModelChange)="NPSFilterChangedate()" autocomplete="off">
                      <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
                      <mat-datepicker #picker4></mat-datepicker>
                    </mat-form-field>
              </div>
              </div>

                <div class="row" style="justify-content:center ;margin-top: 10px; margin-bottom: 10px;"><span style="font-size: xx-large;">NET PROMOTER SCORE</span></div>
                <div class="row" style="color: white;">
                  <div class="col-sm-1"></div>
                  <div class="col-sm-1">
                    <div class="row"   style="justify-content: center;"> 
                      <img src="./assets/img/emoji/angry.png" width="50"/>
                    </div>
                    <div class="row" style="justify-content: center; margin-top: 10px;" >
                     <span class="badge badge-pill badge-dark" >{{nps_datasource.data[0]}}</span>
                    </div>
                  </div>
                  <div class="col-sm-1">
                    <div class="row"   style="justify-content: center;"> 
                      <img src="./assets/img/emoji/angry.png" width="50px"/>
                    </div>
                    <div class="row" style="justify-content: center; margin-top: 10px;" >
                     <span class="badge badge-pill badge-dark" >{{nps_datasource.data[1]}}</span>
                    </div>
                  </div>
  
                  <div class="col-sm-1">
                    <div class="row"   style="justify-content: center;"> 
                      <img src="./assets/img/emoji/angry.png" width="50px"/>
                    </div>
                    <div class="row" style="justify-content: center; margin-top: 10px;" >
                     <span class="badge badge-pill badge-dark">{{nps_datasource.data[2]}}</span>
                    </div>
                  </div>
                  <div class="col-sm-1">
                    <div class="row"   style="justify-content: center;"> 
                      <img src="./assets/img/emoji/angry.png" width="50px"/>
                    </div>
                    <div class="row" style="justify-content: center; margin-top: 10px;" >
                     <span class="badge badge-pill badge-dark" >{{nps_datasource.data[3]}}</span>
                    </div>
                  </div>
                  <div class="col-sm-1">
                    <div class="row"   style="justify-content: center;"> 
                      <img src="./assets/img/emoji/angry.png" width="50px"/>
                    </div>
                    <div class="row" style="justify-content: center; margin-top: 10px;" >
                     <span class="badge badge-pill badge-dark" >{{nps_datasource.data[4]}}</span>
                    </div>
                  </div>
                  <div class="col-sm-1">
                    <div class="row"   style="justify-content: center;"> 
                      <img src="./assets/img/emoji/angry.png" width="50px"/>
                    </div>
                    <div class="row" style="justify-content: center; margin-top: 10px;" >
                     <span class="badge badge-pill badge-dark">{{nps_datasource.data[5]}}</span>
                    </div>
                  </div>
                  <div class="col-sm-1">
                    <div class="row"   style="justify-content: center;"> 
                      <img src="./assets/img/emoji/neutral.png" width="50px"/>
                    </div>
                    <div class="row" style="justify-content: center; margin-top: 10px;" >
                     <span class="badge badge-pill badge-dark" >{{nps_datasource.data[6]}}</span>
                    </div>
                  </div>
                  <div class="col-sm-1">
                    <div class="row"   style="justify-content: center;"> 
                      <img src="./assets/img/emoji/neutral.png" width="50px"/>
                    </div>
                    <div class="row" style="justify-content: center; margin-top: 10px;" >
                     <span class="badge badge-pill badge-dark" >{{nps_datasource.data[7]}}</span>
                    </div>
                  </div>
                  <div class="col-sm-1">
                    <div class="row"   style="justify-content: center;"> 
                      <img src="./assets/img/emoji/happy.png" width="50px"/>
                    </div>
                    <div class="row" style="justify-content: center; margin-top: 10px;" >
                     <span class="badge badge-pill badge-dark" >{{nps_datasource.data[8]}}</span>
                    </div>
                  </div>
                  <div class="col-sm-1">
                    <div class="row"   style="justify-content: center;"> 
                      <img src="./assets/img/emoji/happy.png" width="50px"/>
                    </div>
                    <div class="row" style="justify-content: center; margin-top: 10px;" >
                     <span class="badge badge-pill badge-dark" >{{nps_datasource.data[9]}}</span>
                    </div>
                  </div>
                  <div class="col-sm-1"></div>
                </div>
                <div class="row" style="color: white; margin-top: 20px;font-size: x-large;" >
                  <div class="col-sm-1"></div>
                  <div class="col-sm-6 badge badge-pill badge-danger" style="margin:5px">
                    <div class="row">
                      <div class="col-sm-2">  
                        <span class="badge badge-pill badge-danger" >1</span>
                      </div>
                      <div class="col-sm-2">
                        <span class="badge badge-pill badge-danger" >2</span>
                      </div>
                      <div class="col-sm-2">
                        <span class="badge badge-pill badge-danger" >3</span>
                      </div>
                      <div class="col-sm-2">
                        <span class="badge badge-pill badge-danger" >4</span>
                      </div>
                      <div class="col-sm-2">
                        <span class="badge badge-pill badge-danger" >5</span>
                      </div>
                      <div class="col-sm-2">
                        <span class="badge badge-pill badge-danger" >6</span>
                      </div>
                    </div>
                    
                  </div>
                  <div class="col-sm-2 badge badge-pill badge-warning" style="margin:5px">
                    <div class="row">
                      <div class="col-sm-6">  
                        <span class="badge badge-pill badge-warning"  >7</span>
                      </div>
                      <div class="col-sm-6">
                        <span class="badge badge-pill badge-warning" >8</span>
                      </div>
                      
                    </div>
                 
                  </div>
                  <div class="col-sm-2 badge badge-pill badge-success" style="margin:5px">
                    <div class="row">
                      <div class="col-sm-6">  
                        <span class="badge badge-pill badge-success" >9</span>
                      </div>
                      <div class="col-sm-6">
                        <span class="badge badge-pill badge-success" >10</span>
                      </div>
                      
                    </div>

                  
                  </div>
                  </div>

                  <div class="row" style="margin-top: 20px;" >
                    <div class="col-sm-1"></div>
                    <div class="col-sm-6" style="margin:5px">
                      <div class="row" style="justify-content: end;margin-top: 10px;">
                        <span >DETRACTORS</span>
                        </div>
                    </div>
                    <div class="col-sm-2" style="margin:5px">
                      <div class="row" style="justify-content: center;margin-top: 10px;">
                        <span>PASSIVES</span>
                        </div>
                    </div>
                    <div class="col-sm-2" style="margin:5px">
                      <div class="row" style="justify-content: center;margin-top: 10px;">
                        <span>PROMOTERS</span>
                        </div>
                    </div>
                    <div class="col-sm-1"></div>
                    </div>
              <div class="row" style="font-size: xx-large;">
                <div class="col-sm-4"></div>
                <div class="col-sm-8">
                  NPS = <span style="color: #4dbd74;">%PROMOTERS</span> -  <span style="color: #f86c6b;">%DETRACTORS</span>
                  <div class="row"></div>
                  NPS = {{nps_datasource.nps}}
                </div>
                </div>
            


                <div class="row" style="font-size: large;">
                  <div class="col-sm-4" style=" margin-top: -80px;">





                    <fusioncharts
                    width="100%"
                    height="350"
                    type="doughnut2d"
                    dataFormat="JSON"
                    [dataSource]="nps_datasource_chart"
                ></fusioncharts>






                  </div>
                  <div class="col-sm-5" style=" font-size: xx-large;">
            
                  <div class="row">
                    <div class="col-sm-5">
                      <span class="badge badge-pill badge-danger">detractors</span>                  
                    

                    </div>
                    <div class="col-sm-3">
                      <span class="badge badge-pill badge-danger">{{nps_datasource.detractors}}</span>
                    </div>
                    <div class="col-sm-4">
                      <span class="badge badge-pill badge-danger">{{nps_datasource.detractors_perc}}%</span>
                    </div> 
                   
                  </div>
                  <div class="row" style="margin-top: 10px;">
                    <div class="col-sm-5">
                      <span class="badge badge-pill badge-warning">passives</span>                  
                    

                    </div>
                    <div class="col-sm-3">
                      <span class="badge badge-pill badge-warning">{{nps_datasource.passives}}</span>
                    </div>
                    <div class="col-sm-4">
                      <span class="badge badge-pill badge-warning">{{nps_datasource.passives_perc}}%</span>
                    </div> 
                   
                  </div>
                  <div class="row" style="margin-top: 10px;">
                    <div class="col-sm-5">
                      <span class="badge badge-pill badge-success">promoters</span>                  
                    

                    </div>
                    <div class="col-sm-3">
                      <span class="badge badge-pill badge-success">{{nps_datasource.promoters}}</span>
                    </div>
                    <div class="col-sm-4">
                      <span class="badge badge-pill badge-success">{{nps_datasource.promoters_perc}}%</span>
                    </div> 
                   
                  </div>
                  </div>
                  <div class="col-sm-3" style="margin-top: 15px; font-size: xx-large;">
                    <div class="row" style="justify-content:center">
                      <span class="badge badge-pill badge-dark" style="color: white;">total</span>
                    </div>
                    <div class="row" style="justify-content:center;margin-top: 5px;">
                      <span class="badge badge-pill badge-dark" style="color: white; font-size: 70px;">{{nps_datasource.total}}</span>
                    </div>
                  </div>
        
                  </div>
            
            </mat-tab> 
                <mat-tab label="Services Averages">
                  <div class="row">
                    <div class="col-sm-3">
                      <mat-form-field appearance="outline"  class="example-full-width" style="max-width: 400px;">
                          <mat-label>Period</mat-label>
                          <mat-select  [(ngModel)]="services_period"  (selectionChange)="getFeedbackservicefilter()">
                            <mat-option value="yearly">Yearly</mat-option>
                            <mat-option value="monthly">Monthly </mat-option>
                            <mat-option value="weekly">Weekly </mat-option>
                            <mat-option value="daily">Today</mat-option>
                          </mat-select>  
                        </mat-form-field>
                    </div>
                
                <div class="col-sm-3">
                        
                  <mat-form-field appearance="outline">
                    <mat-label>Start Date</mat-label>
                      <input matInput placeholder="Start date"    [(ngModel)]="services_start_date"  [matDatepicker]="picker161"  autocomplete="off">
                      <mat-datepicker-toggle matSuffix [for]="picker161"></mat-datepicker-toggle>
                      <mat-datepicker #picker161></mat-datepicker>
                    </mat-form-field>
              </div>
              <div class="col-sm-3">
                        
                <mat-form-field appearance="outline">
                  <mat-label>End Date</mat-label>
                    <input matInput placeholder="End date"    [(ngModel)]="services_end_date"  [matDatepicker]="picker162" (ngModelChange)="ServicesFilterChanged()" autocomplete="off">
                    <mat-datepicker-toggle matSuffix [for]="picker162"></mat-datepicker-toggle>
                    <mat-datepicker #picker162></mat-datepicker>
                  </mat-form-field>
            </div>
                </div>
               
              
                 
                  <fusioncharts
                  width="800"
                  height="400"
                  type="Column2D"
                  dataFormat="JSON"
                  [dataSource]="servicegraphdata"
                 ></fusioncharts>
  
                
                
                </mat-tab> 
  
                 
                  <mat-tab label="Categories Averages">
                    <div class="row">
                      <div class="col-sm-3">
                        <mat-form-field appearance="outline"  class="example-full-width" style="max-width: 400px;">
                            <mat-label>Period</mat-label>
                            <mat-select  [(ngModel)]="periodres"  (selectionChange)="periodChanged()">
                              <mat-option value="daily">Today</mat-option>
                              <mat-option value="weekly">Weekly </mat-option>
                              <mat-option value="monthly">Monthly </mat-option>
                              <mat-option value="yearly">Yearly </mat-option>
                            </mat-select>  
                          </mat-form-field>
                      </div>
                      <div class="col-sm-3">
                          
                        <mat-form-field appearance="outline">
                          <mat-label>Start Date</mat-label>
                            <input matInput placeholder="Start date"    [(ngModel)]="category_start_date"  [matDatepicker]="picker165"  autocomplete="off">
                            <mat-datepicker-toggle matSuffix [for]="picker165"></mat-datepicker-toggle>
                            <mat-datepicker #picker165></mat-datepicker>
                          </mat-form-field>
                    </div>
                    <div class="col-sm-3">
                              
                      <mat-form-field appearance="outline">
                        <mat-label>End Date</mat-label>
                          <input matInput placeholder="End date"    [(ngModel)]="category_end_date"  [matDatepicker]="picker166" (ngModelChange)="CategoryFilterChanged()" autocomplete="off">
                          <mat-datepicker-toggle matSuffix [for]="picker166"></mat-datepicker-toggle>
                          <mat-datepicker #picker166></mat-datepicker>
                        </mat-form-field>
                  </div>



                    </div>
                    
                  
                     
                    <fusioncharts
                    width="600"
                    height="350"
                    type="Column2D"
                    dataFormat="JSON"
                    [dataSource]="averagegraphdata"
                   ></fusioncharts>
  
                  
                  
                  </mat-tab> 
               
               
                <mat-tab label="Respondents Counts">
                  <div class="row">
                    <div class="col-sm-3">
                      <mat-form-field appearance="outline"  class="example-full-width" style="max-width: 400px;">
                          <mat-label>Period</mat-label>
                          <mat-select  [(ngModel)]="respondent_period"  (selectionChange)="getFeedbacksGraphfilter()">
                            <mat-option value="daily">Today</mat-option>
                            <mat-option value="weekly">Weekly </mat-option>
                            <mat-option value="monthly">Monthly </mat-option>
                            <mat-option value="yearly">Yearly </mat-option>
                          </mat-select>  
                        </mat-form-field>
                    </div>
                    <div class="col-sm-3">
                          
                      <mat-form-field appearance="outline">
                        <mat-label>Start Date</mat-label>
                          <input matInput placeholder="Start date"    [(ngModel)]="respondent_start_date"  [matDatepicker]="picker20"  autocomplete="off">
                          <mat-datepicker-toggle matSuffix [for]="picker20"></mat-datepicker-toggle>
                          <mat-datepicker #picker20></mat-datepicker>
                        </mat-form-field>
                  </div>
                  <div class="col-sm-3">
                            
                    <mat-form-field appearance="outline">
                      <mat-label>End Date</mat-label>
                        <input matInput placeholder="End date"    [(ngModel)]="respondent_end_date"  [matDatepicker]="picker30" (ngModelChange)="RespondentChanged()" autocomplete="off">
                        <mat-datepicker-toggle matSuffix [for]="picker30"></mat-datepicker-toggle>
                        <mat-datepicker #picker30></mat-datepicker>
                      </mat-form-field>
                </div>

                  </div>
                  
                
                   
                  <fusioncharts
                  width="800"
                  height="400"
                  type="Column2D"
                  dataFormat="JSON"
                  [dataSource]="dataSource"
                 ></fusioncharts>
               
                  
                
                </mat-tab> 

                <mat-tab label="Channels">
                <div class="row">
                  <div class="col-sm-3">
                    <mat-form-field appearance="outline"  class="example-full-width" style="max-width: 400px;">
                        <mat-label>Period</mat-label>
                        <mat-select  [(ngModel)]="channels_filter.periodic"  (selectionChange)="channelFilterChange()">
                          <mat-option value="Y">Yearly</mat-option>
                          <mat-option value="M">Monthly </mat-option>
                          <mat-option value="W">Weekly </mat-option>
                          <mat-option value="D">Daily </mat-option>
                        </mat-select>  
                      </mat-form-field>
                  </div>
               
                <div class="col-sm-3">
                        
                  <mat-form-field appearance="outline">
                    <mat-label>Select Date</mat-label>
                      <input matInput placeholder="Select date"    [(ngModel)]="channels_filter.date"  [matDatepicker]="picker42" (ngModelChange)="channelFilterChange()" autocomplete="off">
                      <mat-datepicker-toggle matSuffix [for]="picker42"></mat-datepicker-toggle>
                      <mat-datepicker #picker42></mat-datepicker>
                    </mat-form-field>
              </div>
              </div>

                  <fusioncharts
                  width="800"
                  height="400"
                  type="Column2D"
                  dataFormat="JSON"
                  [dataSource]="channels_data"
                 ></fusioncharts>
               
                  
                
                </mat-tab> 
       
      
              
                <!-- <mat-tab label="Foot Fall">
                
                   
                  <fusioncharts
                  width="100%"
                  height="350"
                  type="Column2D"
                  dataFormat="JSON"
                  [dataSource]="dataSource_fall"
              ></fusioncharts>
                
              
              </mat-tab>  -->
              <mat-tab label="Feedback Responces">
              
                 
                  <fusioncharts
                  width="100%"
                  height="350"
                  type="Column2D"
                  dataFormat="JSON"
                  [dataSource]="dataSource3"
              ></fusioncharts>
                             
              
              </mat-tab>
              <mat-tab>
                <ng-template mat-tab-label>
                 Issues
                </ng-template>
     
                    <div class="row">
                      <div class="col-sm-12">
                        <div class="row">
                          <div class="col-sm-3">
                            
                            <mat-form-field appearance="outline">
                              <mat-label>Start Date</mat-label>
                                <input matInput placeholder="Start date"    [(ngModel)]="issues_start_date"  [matDatepicker]="picker90"  autocomplete="off">
                                <mat-datepicker-toggle matSuffix [for]="picker90"></mat-datepicker-toggle>
                                <mat-datepicker #picker90></mat-datepicker>
                              </mat-form-field>
                        </div>
                        <div class="col-sm-3">
                                  
                          <mat-form-field appearance="outline">
                            <mat-label>End Date</mat-label>
                              <input matInput placeholder="End date"    [(ngModel)]="issues_end_date"  [matDatepicker]="picker009" (ngModelChange)="IssuesFilterChanged()" autocomplete="off">
                              <mat-datepicker-toggle matSuffix [for]="picker009"></mat-datepicker-toggle>
                              <mat-datepicker #picker009></mat-datepicker>
                            </mat-form-field>
                      </div>
  
                        </div>
                    
                      
                      </div>
                      
                    
                        
                      <div class="col-sm-12" style="margin-top: 15px;">
                        <div class="mat-elevation-z8 table-responsive">
                          <table mat-table [dataSource]="issuesdataSource" style="width: 100%;">
                              <ng-container matColumnDef="sn">
                                  <th mat-header-cell *matHeaderCellDef>S/N</th>
                                  <td mat-cell *matCellDef="let element;let i=index"> {{i+1}} </td>
                          </ng-container>
                          <ng-container matColumnDef="issue">
                            <th mat-header-cell *matHeaderCellDef>Issue</th>
                            <td mat-cell *matCellDef="let element"> {{element.issues}} </td>
                          </ng-container>
                          <ng-container matColumnDef="count">
                            <th mat-header-cell *matHeaderCellDef>Frequency</th>
                            <td mat-cell *matCellDef="let element"> {{element.count}}</td>
                          </ng-container>
                         
                            
                                
                               
                    
                          
                    
                            
                          
                            <tr mat-header-row *matHeaderRowDef="AllColumns1"></tr>
                            <tr mat-row *matRowDef="let row; columns:AllColumns1;"></tr>
                          </table>
                    
                          <mat-paginator [pageSizeOptions]="[100,200]" showFirstLastButtons></mat-paginator>
                        </div>
                      </div>
         
                
                
                </div>
                
              </mat-tab>
              <mat-tab>
                <ng-template mat-tab-label>
                  Compliments
                </ng-template>
                <br>
                <div class="row">
                  <div class="col-sm-3">
                    
                    <mat-form-field appearance="outline">
                      <mat-label>Start Date</mat-label>
                        <input matInput placeholder="Start date"    [(ngModel)]="comments_start_date"  [matDatepicker]="picker900"  autocomplete="off">
                        <mat-datepicker-toggle matSuffix [for]="picker900"></mat-datepicker-toggle>
                        <mat-datepicker #picker900></mat-datepicker>
                      </mat-form-field>
                </div>
                <div class="col-sm-3">
                          
                  <mat-form-field appearance="outline">
                    <mat-label>End Date</mat-label>
                      <input matInput placeholder="End date"    [(ngModel)]="comments_end_date"  [matDatepicker]="picker109" (ngModelChange)="CommentsFilterChanged()" autocomplete="off">
                      <mat-datepicker-toggle matSuffix [for]="picker109"></mat-datepicker-toggle>
                      <mat-datepicker #picker109></mat-datepicker>
                    </mat-form-field>
              </div>

                </div>
           
                    <div class="row">
                     
                    
                      
                        
                      <div class="col-sm-12" style="margin-top: 15px;">
                        <div class="mat-elevation-z8 table-responsive">
                          <table mat-table [dataSource]="complimentdataSource" style="width: 100%;">
                              <ng-container matColumnDef="sn">
                                  <th mat-header-cell *matHeaderCellDef>S/N</th>
                                  <td mat-cell *matCellDef="let element;let i=index"> {{i+1}} </td>
                          </ng-container>
                          <ng-container matColumnDef="compliment">
                            <th mat-header-cell *matHeaderCellDef>Compliment</th>
                            <td mat-cell *matCellDef="let element"> {{element.compliments}} </td>
                          </ng-container>
                          <ng-container matColumnDef="count">
                            <th mat-header-cell *matHeaderCellDef>Frequency</th>
                            <td mat-cell *matCellDef="let element"> {{element.count}} </td>
                          </ng-container>
                            
                            
                            
                                
                               
                    
                          
                    
                            
                          
                            <tr mat-header-row *matHeaderRowDef="AllColumns2"></tr>
                            <tr mat-row *matRowDef="let row; columns:AllColumns2;"></tr>
                          </table>
                    
                          <mat-paginator [pageSizeOptions]="[100,200]" showFirstLastButtons></mat-paginator>
                        </div>
                      </div>
                      </div>
                
          
                
                
              </mat-tab>          
                      </mat-tab-group>


      
        </div>
    </div>
</div>
</div>                
  
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '9px' }"></ngx-loading>      