<style>
  .item{
    font-weight: bold;
  }
</style>
<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-6 col-md-3" >
      <a routerLink="/dashboard/registration-link">
        <div class="card">
          <div class="card-body">
            <div class="text-center">
              <span class="fa-stack fa-4x">
                <i class=" fa-stack-2x icon-background4"></i>
                <i class="fa fa-circle-thin fa-stack-2x icon-background6"></i>
    
                <i class="fas fa-address-book fa-stack-4x" style="color:#A6CF39;"></i>
              </span>
            </div>
            <div class="text-center item" >Register Link</div>
    
    
          </div>
        </div>
      </a>
    </div>

    <div class="col-sm-6 col-md-3" >
      <a routerLink="booking/">
        <div class="card">
          <div class="card-body">
            <div class="text-center">
              <span class="fa-stack fa-4x">
                <i class=" fa-stack-2x icon-background4"></i>
                <i class="fa fa-circle-thin fa-stack-2x icon-background6"></i>
    
                <i class="fa fa-calendar-plus-o fa-stack-4x" style="color:#A6CF39;"></i>
              </span>
            </div>
            <div class="text-center item" >Bookings</div>
    
    
          </div>
        </div>
      </a>
    </div>
    <div class="col-sm-6 col-md-3"  >
      <a routerLink="/dashboard/records">
        <div class="card">
          <div class="card-body">
            <div class="text-center">
              <span class="fa-stack fa-4x">
                <i class=" fa-stack-2x icon-background4"></i>
                <i class="fa fa-circle-thin fa-stack-2x icon-background6"></i>
    
                <i class="icon-people fa-stack-4x" style="color:#A6CF39;"></i>
              </span>
            </div>
            <div class="text-center item"  >Clients</div>
    
    
          </div>
        </div>
      </a>
    </div>
     

      <div class="col-sm-6 col-md-3">
        <a routerLink="specialty">
          <div class="card">
            <div class="card-body">
              <div class="text-center">
                <span class="fa-stack fa-4x">
                  <i class=" fa-stack-2x icon-background4"></i>
                  <i class="fa fa-circle-thin fa-stack-2x icon-background6"></i>
      
                  <i class="fa fa-calendar-check-o fa-stack-4x" style="color:#A6CF39;"></i>
                </span>
              </div>
              <div class="text-center item">Calendar</div>
      
      
            </div>
          </div>
        </a>
      </div>

    
    
      <div class="col-sm-6 col-md-3"  >
        <a routerLink="InsuranceclaimsForm">
          <div class="card">
            <div class="card-body">
              <div class="text-center">
                <span class="fa-stack fa-4x">
                  <i class=" fa-stack-2x icon-background4"></i>
                  <i class="fa fa-circle-thin fa-stack-2x icon-background6"></i>
      
                  <i class="fas fa-folder-open fa-stack-4x" style="color:#A6CF39;"></i>
                </span>
              </div>
              <div class="text-center item"  >Print Forms</div>
      
      
            </div>
          </div>
        </a>
      </div>


      <div class="col-sm-6 col-md-3" >
        <a routerLink="reports">
          <div class="card">
            <div class="card-body">
              <div class="text-center">
                <span class="fa-stack fa-4x">
                  <i class=" fa-stack-2x icon-background4"></i>
                  <i class="fa fa-circle-thin fa-stack-2x icon-background6"></i>
      
                  <i class="fa fa-pie-chart fa-stack-4x" style="color:#A6CF39;"></i>
                </span>
              </div>
              <div class="text-center item"  >Reports</div>
      
      
            </div>
          </div>
        </a>
      </div>

      <div class="col-sm-6 col-md-3"  >
        <a routerLink="foot-walk">
          <div class="card">
            <div class="card-body">
              <div class="text-center">
                <span class="fa-stack fa-4x">
                  <i class=" fa-stack-2x icon-background4"></i>
                  <i class="fa fa-circle-thin fa-stack-2x icon-background6"></i>
                  <i class="fa fa-street-view" aria-hidden="true" style="color:#A6CF39;"></i>
                </span>
              </div>
              <div class="text-center item" >Foot Walk</div>
      
      
            </div>
          </div>
        </a>
      </div>
      <div class="col-sm-6 col-md-3"  >
        <a routerLink="feedback-responses">
          <div class="card">
            <div class="card-body">
              <div class="text-center">
                <span class="fa-stack fa-4x">
                  <i class=" fa-stack-2x icon-background4"></i>
                  <i class="fa fa-circle-thin fa-stack-2x icon-background6"></i>
                  <i class="fa fa-star-o" aria-hidden="true" style="color:#A6CF39;"></i>
                 
                </span>
              </div>
              <div class="text-center item"  >Feedback Responses</div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-sm-6 col-md-3"  >
        <a routerLink="feedback-ages">
          <div class="card">
            <div class="card-body">
              <div class="text-center">
                <span class="fa-stack fa-4x">
                  <i class=" fa-stack-2x icon-background4"></i>
                  <i class="fa fa-circle-thin fa-stack-2x icon-background6"></i>
                  <i class="fa fa-star-half-o" aria-hidden="true" style="color:#A6CF39;"></i>
                </span>
              </div>
              <div class="text-center item"  >Feedback Ages</div>
      
      
            </div>
          </div>
        </a>
      </div>
     
  </div>
</div>
