
<div class="animated fadeIn">
  <div class="row">
      <div class="col-sm-6 col-md-3">
        <a routerLink="patients">
          <div class="card">
            <div class="card-body">
              <div class="text-center">
                <span class="fa-stack fa-4x">
                  <i class=" fa-stack-2x icon-background4"></i>
                  <i class="fa fa-circle-thin fa-stack-2x icon-background6"></i>
      
                  <i class="icon-user-following fa-stack-4x" style="color:#A6CF39;"></i>
                </span>
              </div>
              <div class="text-center" style="font-size:10px;font-weight: bold">PATIENT</div>
      
      
            </div>
          </div>
        </a>
      </div>
      <div class="col-sm-6 col-md-3">
        <!-- <a routerLink="claims"> -->
          <a routerLink="eclaims-dashboard">
          <div class="card">
            <div class="card-body">
              <div class="text-center">
                <span class="fa-stack fa-4x">
                  <i class=" fa-stack-2x icon-background4"></i>
                  <i class="fa fa-circle-thin fa-stack-2x icon-background6"></i>
      
                  <i class="icon-layers fa-stack-4x" style="color:#A6CF39;"></i>
                </span>
              </div>
              <div class="text-center" style="font-size:10px;font-weight: bold">CLAIMS</div>
      
      
            </div>
          </div>
        </a>
      </div>
      <div class="col-sm-6 col-md-3">
        <a routerLink="register">
          <div class="card">
            <div class="card-body">
              <div class="text-center">
                <span class="fa-stack fa-4x">
                  <i class=" fa-stack-2x icon-background4"></i>
                  <i class="fa fa-circle-thin fa-stack-2x icon-background6"></i>
      
                  <i class="icon-wallet fa-stack-4x" style="color:#A6CF39;"></i>
                </span>
              </div>
              <div class="text-center" style="font-size:10px;font-weight: bold">ACCOUNTS</div>
      
      
            </div>
          </div>
        </a>
      </div>
      <div class="col-sm-6 col-md-3">
        <a routerLink="lab">
          <div class="card">
            <div class="card-body">
              <div class="text-center">
                <span class="fa-stack fa-4x">
                  <i class=" fa-stack-2x icon-background4"></i>
                  <i class="fa fa-circle-thin fa-stack-2x icon-background6"></i>
      
                  <i class="icon-chemistry fa-stack-4x" style="color:#A6CF39;"></i>
                </span>
              </div>
              <div class="text-center" style="font-size:10px;font-weight: bold">LABS/PROCEDURES</div>
      
      
            </div>
          </div>
        </a>
      </div>
      <div class="col-sm-6 col-md-3">
        <a routerLink="create-claim">
          <div class="card">
            <div class="card-body">
              <div class="text-center">
                <span class="fa-stack fa-4x">
                  <i class=" fa-stack-2x icon-background4"></i>
                  <i class="fa fa-circle-thin fa-stack-2x icon-background6"></i>
      
                  <i class="fa fa-medkit fa-stack-4x" style="color:#A6CF39;"></i>
                </span>
              </div>
              <div class="text-center" style="font-size:10px;font-weight: bold">PHARMACY</div>
      
      
            </div>
          </div>
        </a>
      </div>

      <div class="col-sm-6 col-md-3">
        <a routerLink="create-claim">
          <div class="card">
            <div class="card-body">
              <div class="text-center">
                <span class="fa-stack fa-4x">
                  <i class=" fa-stack-2x icon-background4"></i>
                  <i class="fa fa-circle-thin fa-stack-2x icon-background6"></i>
      
                  <i class="cui-chart fa-stack-4x" style="color:#A6CF39;"></i>
                </span>
              </div>
              <div class="text-center" style="font-size:10px;font-weight: bold">REPORTS</div>
      
      
            </div>
          </div>
        </a>
      </div>
  </div><!--/.row-->
</div>
