<style>
  .item{
    font-weight: bold;
  }
</style>


<div class="animated fadeIn">

  <div class="row">
    <div class="col-sm-6 col-md-3" *ngIf="user.role == 'customer_service' ||user.role == 'admin' || user.role == 'hospital_admin'"  >
      <a routerLink="/dashboard/registration-link">
        <div class="card">
          <div class="card-body">
            <div class="text-center">
              <span class="fa-stack fa-4x">
                <i class=" fa-stack-2x icon-background4"></i>
                <i class="fa fa-circle-thin fa-stack-2x icon-background6"></i>
    
                <i class="fas fa-address-book fa-stack-4x" style="color:#A6CF39;"></i>
              </span>
            </div>
            <div class="text-center item" >SMS Links</div>
    
    
          </div>
        </div>
      </a>
    </div>
    
    <div class="col-sm-6 col-md-3" *ngIf="user.role == 'customer_service' ||user.role == 'admin' ||user.role == 'hospital_nurses'|| user.role == 'hospital_doctors'||user.role == 'hospital_management' || user.role == 'hospital_admin'" >
      <a routerLink="booking/">
        <div class="card">
          <div class="card-body">
            <div class="text-center">
              <span class="fa-stack fa-4x">
                <i class=" fa-stack-2x icon-background4"></i>
                <i class="fa fa-circle-thin fa-stack-2x icon-background6"></i>
    
                <i class="fa fa-calendar-plus-o fa-stack-4x" style="color:#A6CF39;"></i>
              </span>
            </div>
            <div class="text-center item" >Bookings</div>
    
    
          </div>
        </div>
      </a>
    </div>


    <div class="col-sm-6 col-md-3" *ngIf="user.role == 'admin' ||user.role == 'hospital_nurses'|| user.role == 'hospital_doctors'|| user.role == 'hospital_admin'" >
      <a routerLink="view-maternity-booking/">
        <div class="card">
          <div class="card-body">
            <div class="text-center">
              <span class="fa-stack fa-4x">
                <i class=" fa-stack-2x icon-background4"></i>
                <i class="fa fa-circle-thin fa-stack-2x icon-background6"></i>
    
                <i class="fa fa-bed fa-stack-4x" style="color:#A6CF39;"></i>
              </span>
            </div>
            <div class="text-center item" >Maternity</div>
    
    
          </div>
        </div>
      </a>
    </div>


    <div class="col-sm-6 col-md-3" *ngIf="user.role == 'admin' ||user.role == 'hospital_cashiers' || user.role == 'hospital_finance' || user.role == 'hospital_admin'"  >
      <a routerLink="InsuranceclaimsForm">
        <div class="card">
          <div class="card-body">
            <div class="text-center">
              <span class="fa-stack fa-4x">
                <i class=" fa-stack-2x icon-background4"></i>
                <i class="fa fa-circle-thin fa-stack-2x icon-background6"></i>
    
                <i class="fas fa-folder-open fa-stack-4x" style="color:#A6CF39;"></i>
              </span>
            </div>
            <div class="text-center item"  >Claim Forms</div>
    
    
          </div>
        </div>
      </a>
    </div>
  
    <div class="col-sm-6 col-md-3" *ngIf="user.role == 'hospital_cashiers' || user.role == 'admin' ||user.role == 'hospital_doctors' ||user.role == 'hospital_nurses' ||user.role == 'hospital_doctors' || user.role == 'hospital_admin'" >
      <a routerLink="calendar">
        <div class="card">
          <div class="card-body">
            <div class="text-center">
              <span class="fa-stack fa-4x">
                <i class=" fa-stack-2x icon-background4"></i>
                <i class="fa fa-circle-thin fa-stack-2x icon-background6"></i>
    
                <i class="fa fa-calendar-check-o fa-stack-4x" style="color:#A6CF39;"></i>
              </span>
            </div>
            <div class="text-center item">Calendar</div>
    
    
          </div>
        </div>
      </a>
    </div>

 
    <div class="col-sm-6 col-md-3" *ngIf="user.role == 'hospital_cashiers'|| user.role == 'customer_service' || user.role == 'admin' || user.role == 'hospital_admin' "  > 
      <a routerLink="/dashboard/records">
        <div class="card">
          <div class="card-body">
            <div class="text-center">
              <span class="fa-stack fa-4x">
                <i class=" fa-stack-2x icon-background4"></i>
                <i class="fa fa-circle-thin fa-stack-2x icon-background6"></i>
    
                <i class="icon-people fa-stack-4x" style="color:#A6CF39;"></i>
              </span>
            </div>
            <div class="text-center item">Clients</div>
    
    
          </div>
        </div>
      </a>
    </div>
     

     
   
    
      


      
     
      <div class="col-sm-6 col-md-3" *ngIf="user.role == 'customer_service' || user.role == 'admin'  || user.role == 'hospital_management' || user.role == 'hospital_admin'" >
        <a routerLink="feedbacks">
          <div class="card">
            <div class="card-body">
              <div class="text-center">
                <span class="fa-stack fa-4x">
                  <i class=" fa-stack-2x icon-background4"></i>
                  <i class="fa fa-circle-thin fa-stack-2x icon-background6"></i>
                  <i class="fa fa-star-o" aria-hidden="true" style="color:#A6CF39;"></i>
                 
                </span>
              </div>
              <div class="text-center item" >Feedback</div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-sm-6 col-md-3" *ngIf="user.role == 'customer_service' || user.role == 'admin' || user.role == 'hospital_cashiers' || user.role == 'hospital_admin'" >
        <a routerLink="payments">
          <div class="card">
            <div class="card-body">
              <div class="text-center">
                <span class="fa-stack fa-4x">
                  <i class=" fa-stack-2x icon-background4"></i>
                  <i class="fa fa-circle-thin fa-stack-2x icon-background6"></i>
                  <i class="fa fa-usd" aria-hidden="true" style="color:#A6CF39;"></i>
                </span>
              </div>
              <div class="text-center item" >Mpesa</div>
      
      
            </div>
          </div>
        </a>
      </div> 
      <div class="col-sm-6 col-md-3" *ngIf="user.role == 'customer_service' || user.role == 'admin'  || user.role == 'hospital_management' || user.role == 'hospital_admin'" >
        <a routerLink="patients-reports">
          <div class="card">
            <div class="card-body">
              <div class="text-center">
                <span class="fa-stack fa-4x">
                  <i class=" fa-stack-2x icon-background4"></i>
                  <i class="fa fa-circle-thin fa-stack-2x icon-background6"></i>
                  <i class="fa fa-line-chart" aria-hidden="true" style="color:#A6CF39;"></i>
                </span>
              </div>
              <div class="text-center item" >Clients Insights</div>
      
      
            </div>
          </div>
        </a>
      </div>

      
     
      <div class="col-sm-6 col-md-3" *ngIf="user.role == 'customer_service' || user.role == 'admin' || user.role == 'hospital_admin'" >
        <a routerLink="birthday-Messanges">
          <div class="card">
            <div class="card-body">
              <div class="text-center">
                <span class="fa-stack fa-4x">
                  <i class=" fa-stack-2x icon-background4"></i>
                  <i class="fa fa-circle-thin fa-stack-2x icon-background6"></i>
                  <i class="fa fa-birthday-cake" aria-hidden="true" style="color:#A6CF39;"></i>
                </span>
              </div>
              <div class="text-center item"  >Clients Birthday</div>
      
      
            </div>
          </div>
        </a>
      </div>
      <div class="col-sm-6 col-md-3" *ngIf="user.role == 'customer_service' || user.role == 'hospital_management' || user.role == 'admin' || user.role == 'hospital_admin'" >
        <a routerLink="Feedback-graphs">
          <div class="card">
            <div class="card-body">
              <div class="text-center">
                <span class="fa-stack fa-4x">
                  <i class=" fa-stack-2x icon-background4"></i>
                  <i class="fa fa-circle-thin fa-stack-2x icon-background6"></i>
                  <i class="fa fa-bar-chart" aria-hidden="true" style="color:#A6CF39;"></i>
                </span>
              </div>
              <div class="text-center item"  >Feedback Graphs</div>
      
      
            </div>
          </div>
        </a>
      </div>
      <div class="col-sm-6 col-md-3" *ngIf="user.role == 'customer_service' || user.role == 'admin'  || user.role == 'hospital_management' || user.role == 'hospital_cashiers' || user.role == 'hospital_doctors' || user.role == 'hospital_nurses' || user.role == 'hospital_admin'" >
        <a routerLink="reports">
          <div class="card">
            <div class="card-body">
              <div class="text-center">
                <span class="fa-stack fa-4x">
                  <i class=" fa-stack-2x icon-background4"></i>
                  <i class="fa fa-circle-thin fa-stack-2x icon-background6"></i>
      
                  <i class="fa fa-pie-chart fa-stack-4x" style="color:#A6CF39;"></i>
                </span>
              </div>
              <div class="text-center item"  >Covid Reports</div>
      
      
            </div>
          </div>
        </a>
      </div>
  
  </div>
</div>
