<tabset>
<tab>
<ng-template tabHeading><i class="icon-user-following" style="color: #20a8d8;"></i> <span class="header">Member Details</span></ng-template>
<div class="row">
<div class="col-sm-7">
<fieldset>
<legend>Member Details</legend>
<div class="row">
<div class="col-sm-4">
<div class="row">
<div class="col-sm-4 hd" >Name</div>
<div class="col-sm-8 content">{{member.member_data.name}}</div>
</div>
</div>
<div class="col-sm-4">
<div class="row">
<div class="col-sm-4 hd">National ID</div>
<div class="col-sm-8 content"> {{member.member_data.national_id}}</div>
</div>
</div>
<div class="col-sm-4">
<div class="row">
<div class="col-sm-4 hd">D.O.B</div>
<div class="col-sm-8 content">{{member.member_data.dob}}</div>
</div>
</div>
<div class="col-sm-4">
<div class="row">
<div class="col-sm-4 hd">Age</div>
<div class="col-sm-8 content">{{member.member_data.age}}</div>
</div>
</div>
<div class="col-sm-4">
<div class="row">
<div class="col-sm-4 hd">Gender</div>
<div class="col-sm-8 content"> 
<span *ngIf="member.member_data.gender == 'F' || member.member_data.gender ==='female' || member.member_data.gender ==='FEMALE' || member.member_data.gender ==='female'">Female</span>
<span *ngIf="member.member_data.gender == 'M' || member.member_data.gender ==='Male' || member.member_data.gender ==='MALE' || member.member_data.gender ==='male'">Male</span> </div>
</div>
</div>

<div class="col-sm-4">
<div class="row">
<div class="col-sm-4 hd">Relationship</div>
<div class="col-sm-8 content">{{member.member_data.relationship}}</div>
</div>
</div>
<div class="col-sm-4">
<div class="row">
<div class="col-sm-4 hd">Phone</div>
<div class="col-sm-8 content">{{member.member_data.phone}}</div>
</div>
</div>

<div class="col-sm-4">
<div class="row">
<div class="col-sm-4 hd">Email</div>
<div class="col-sm-8 content">{{member.member_data.email}}</div>
</div>
</div>

<div class="col-sm-4">
<div class="row">
<div class="col-sm-4 hd">NHIF NO</div>
<div class="col-sm-8">6638222</div>
</div>
</div>
<div class="col-sm-12">
<div class="row">
<div class="col-sm-12 hd"><u>AUTHORIZATION TYPE</u></div>
<div class="col-sm-3">
<mat-checkbox>Admission</mat-checkbox>
</div>
<div class="col-sm-3">
<mat-checkbox>Maternity</mat-checkbox>
</div>
<div class="col-sm-3">
<mat-checkbox>Planned Procedure</mat-checkbox>
</div>
<div class="col-sm-3">
<mat-checkbox>Dental Procedure</mat-checkbox>
</div>
<div class="col-sm-3">
<mat-checkbox>Optical Procedure</mat-checkbox>
</div>        
</div>
</div>


</div>
</fieldset>
</div>

<div class="col-sm-5">
<fieldset>
<legend>Insurance Details</legend>
<div class="row">
<div class="col-sm-4 hd">Insurance Company</div>
<div class="col-sm-8 content">{{member.payer.name}}</div>
<div class="col-sm-4 hd">Scheme Name</div>
<div class="col-sm-8 content">{{member.member_data.scheme}}</div>
<div class="col-sm-4 hd">Plan Name</div>
<div class="col-sm-8 content">{{member.member_data.plan}}</div>
<div class="col-sm-4 hd">Plan effective date</div>
<div class="col-sm-8 content">{{member.member_data.plan_effective_date}}</div>
<div class="col-sm-4 hd">Plan expire date</div>
<div class="col-sm-8 content">{{member.member_data.plan_expiry_date}}</div>
<div class="col-sm-4 hd">Member Number</div>
<div class="col-sm-5 content">{{member.member_data.member_number}}</div>
<div class="col-sm-2">
</div>


</div>
</fieldset>
</div>

<div class="col-sm-12 fd">

<div class="row">
<div class="col-sm-6">
<fieldset>
<legend>Doctor Details</legend>
<div class="row">
<div class="col-sm-4">
<mat-form-field appearance="outline">
<mat-label>DOCTOR NAME</mat-label>
<input matInput placeholder="Placeholder" value="JAMES MUNYASYA" readonly>
</mat-form-field>
</div>
<div class="col-sm-4">
<mat-form-field appearance="outline">
<mat-label>REGISTRATION NO</mat-label>
<input matInput placeholder="Placeholder" value="NBI/0021/7894" readonly>
</mat-form-field>
</div>
<div class="col-sm-4">
<mat-form-field appearance="outline">
<mat-label>SPECIALITY</mat-label>
<input matInput placeholder="Placeholder" value="THE NAIROBI HOSPITAL" readonly>
</mat-form-field>
</div>

</div>
</fieldset>
</div>
<div class="col-sm-6">
<fieldset>
<legend>Provider Details</legend>
<div class="row">
<div class="col-sm-4">
<mat-form-field appearance="outline">
<mat-label>PROVIDER NAME</mat-label>
<input matInput placeholder="Placeholder" value="THE NAIROBI HOSPITAL" readonly>
</mat-form-field>
</div>
<div class="col-sm-4">
<mat-form-field appearance="outline">
<mat-label>LOCATION</mat-label>
<input matInput placeholder="Placeholder" value="THE NAIROBI HOSPITAL" readonly>
</mat-form-field>
</div>
<div class="col-sm-4">
<mat-form-field appearance="outline">
<mat-label>CONTACT NUMBER</mat-label>
<input matInput placeholder="Placeholder" value="0724566210" readonly>
</mat-form-field>
</div>
</div>
</fieldset>
</div>

</div>

</div>
</div>
</tab>
<tab>
<ng-template tabHeading><i class="fa fa-user-md" style="color: #20a8d8;"></i> <span class="header">Diagnosis</span></ng-template>
<mat-accordion>
<mat-expansion-panel>
<mat-expansion-panel-header>
<mat-panel-title>
<span style="margin-left: 8px;">PAST MEDICAL HISTORY</span>
</mat-panel-title>
</mat-expansion-panel-header>
<div class="row">
<div class="col-sm-6">
<fieldset>
<legend>Diagnosis</legend>
</fieldset>
</div>
<div class="col-sm-6">
<fieldset>
<legend>Medication</legend>
</fieldset>
</div>
</div>
</mat-expansion-panel>

</mat-accordion>
<br>
<mat-card>
<mat-content>
<div class="row">
<div class="col-sm-12">
<fieldset>
<legend>Diagnosis</legend>
<div class="row">
<div class="col-sm-3">

<mat-form-field appearance="outline">
<input matInput [(ngModel)]="name"
[typeahead]="diagnosesList"
[typeaheadOptionsLimit]="7"
(typeaheadOnSelect)="onDiagnosis($event)"
typeaheadOptionField="description"
placeholder="search diagnosis">  
</mat-form-field>


</div>
</div>
<div class="row" *ngIf="diagnosis.length">
<div class="col-sm-6">
<div class="custom-table">
<table  >
<thead>
<tr>
<th>Primary</th>
<th>Name</th>
<th>code</th>
<th>Delete</th>
</tr>
</thead>
<tbody>
<tr *ngFor="let item of diagnosis">
<td class="count">
<mat-checkbox></mat-checkbox>
</td>
<td>{{item.description}}</td>
<td>{{item.code}}</td>
<td > <i class="fa fa-minus-square" style="color: red;font-size: 26px;" (click)="deleteDiagnosis(item)"></i></td>
</tr>

</tbody>
</table>
</div>
</div>
</div>
</fieldset>
</div>
</div> 
<br>
<div class="row">

<div class="col-sm-2">
<mat-form-field appearance="outline">
<input matInput placeholder="Sysmptoms Onset date" bsDatepicker>
</mat-form-field>

</div>
<div class="col-sm-2">
<mat-form-field appearance="outline">
<input matInput placeholder="Date first diagnosed" bsDatepicker>
</mat-form-field>

</div>
<div class="col-sm-2">
<mat-form-field appearance="outline">
<input matInput placeholder="When Last treated" bsDatepicker>
</mat-form-field>

</div>


<div class="col-sm-2">
Refferal Letter <br>
<input type="file" name="myFile">
</div>
</div>  
<div class="row">
<div class="col-sm-12">
<mat-form-field appearance="outline">
<textarea matInput rows="10" placeholder="Observeation Notes"></textarea>
<i class="icon-note" matSuffix></i>
</mat-form-field>
</div>
</div>  

<div class="row">
<div class="col-sm-3">
<mat-checkbox>Is the condition congenital?</mat-checkbox>
</div>
<div class="col-sm-3">
<mat-checkbox>Is condition likely to recur?</mat-checkbox>
</div>
<div class="col-sm-3">
<mat-checkbox>Operation required?</mat-checkbox>
</div>
<div class="col-sm-3">
<mat-checkbox>MRI required?</mat-checkbox>
</div>
<div class="col-sm-3">
<mat-checkbox (click)="xrayModal.show()">X-Ray required?</mat-checkbox>
</div>
<div class="col-sm-3">
<mat-checkbox (click)="scanModal.show()">CT scan required?</mat-checkbox>
</div>
<div class="col-sm-3">
<mat-checkbox>Tested for HIV?</mat-checkbox>
</div>
<div class="col-sm-3">
<mat-checkbox>Have you done other imaging tests e.g. CT scans?</mat-checkbox>
</div>
</div>
</mat-content> 
</mat-card>   
<div class="modal fade" bsModal #xrayModal="bs-modal" [config]="{backdrop: 'static'}"
tabindex="-1" role="dialog" aria-labelledby="dialog-static-name">
<div class="modal-dialog modal-md">
<div class="modal-content">
<div class="modal-body">
<h6 class="modal-title pull-center">Search X-RAY</h6>
<div class="row">
<div class="col-sm-12">

<mat-form-field appearance="outline">
<input matInput [(ngModel)]="xray"
[typeahead]="xrays"
[typeaheadOptionsLimit]="7"
(typeaheadOnSelect)="onXray($event)"
typeaheadOptionField="name"
placeholder="search diagnosis"> 
<i class="icon-magnifier" matSuffix></i>
</mat-form-field>
</div>
</div>
<div class="row">
<div class="col-sm-12">
<button class="btn btn-danger btn-sm" (click)="xrayModal.hide()">Close</button>
</div>
</div>
</div>
</div>
</div>
</div> 

<div class="modal fade" bsModal #scanModal="bs-modal" [config]="{backdrop: 'static'}"
tabindex="-1" role="dialog" aria-labelledby="dialog-static-name">
<div class="modal-dialog modal-md">
<div class="modal-content">
<div class="modal-body">
<h6 class="modal-title pull-center">Search Scans</h6>
<div class="row">
<div class="col-sm-12">

<mat-form-field appearance="outline">
<input matInput [(ngModel)]="xray"
[typeahead]="ctScans"
[typeaheadOptionsLimit]="7"
(typeaheadOnSelect)="onScan($event)"
typeaheadOptionField="name"
placeholder="search scan"> 
<i class="icon-magnifier" matSuffix></i>
</mat-form-field>
</div>
</div>
<div class="row">
<div class="col-sm-12">
<button class="btn btn-danger btn-sm" (click)="scanModal.hide()">Close</button>
</div>
</div>
</div>
</div>
</div>
</div> 
</tab>
<tab>
<ng-template tabHeading><i class="fa fa-bed" style="color: #20a8d8;"></i> <span class="header">Admission</span></ng-template>
<mat-card>
<div class="row">
<div class="col-sm-2">
<mat-form-field>
<mat-label>WARD TYPE</mat-label>
<mat-select [(ngModel)]="ward" name="ward">
<mat-option *ngFor="let ward of wards" [value]="ward">
{{ward}}
</mat-option>

</mat-select>
</mat-form-field>

</div>
<div class="col-sm-2">
<mat-form-field >
<input matInput placeholder="Date of Admission" bsDatepicker>
</mat-form-field>

</div>
<div class="col-sm-2">
<mat-form-field>
<mat-label>Estimated Admission Days</mat-label>
<input type="text" matInput placeholder="No of days">
</mat-form-field>

</div>
<div class="col-sm-2"> <mat-checkbox>NHIF COPAY</mat-checkbox></div>
<div class="col-sm-2"> <mat-checkbox>SELF COPAY</mat-checkbox></div>
</div>
</mat-card>
<br>
<mat-accordion>
<mat-expansion-panel>
<mat-expansion-panel-header>
<mat-panel-title>
PROCEDURES RECOMMENDED
</mat-panel-title>

</mat-expansion-panel-header>

<div class="row">
<div class="col-sm-3">
<mat-form-field appearance="outline">
<input matInput [(ngModel)]="procedure"
[typeahead]="procedures"
[typeaheadOptionsLimit]="7"
(typeaheadLoading)="searchProcedures(procedure)"
(typeaheadOnSelect)="onProcedure($event)"
typeaheadOptionField="name"
placeholder="search scan"> 
<i class="icon-magnifier" matSuffix></i>
</mat-form-field>
</div>
</div>
<div class="row">
<div class="col-sm-8">
<div class="custom-table">
<table >
<thead>
<tr>
<th>Name</th>
<th>Category</th>
<th>Cost</th>
<th>Delete</th>
</tr>
</thead>
<tbody>
<tr *ngFor="let item of seletcedProcedures">
<td>{{item.name}}</td>
<td>{{item.category}}</td>
<td>{{item.cost}}</td>
<td > <i class="fa fa-minus-square" style="color: red;font-size: 26px;" (click)="deleteService(item)"></i></td>

</tr>

</tbody>
</table>
</div>
</div>
</div>
</mat-expansion-panel>

<mat-expansion-panel>
<mat-expansion-panel-header>
<mat-panel-title>
LAB TESTS RECOMMENDED
</mat-panel-title>

</mat-expansion-panel-header>
<div class="row">
<div class="col-sm-4">
<mat-form-field appearance="outline">
<input matInput [(ngModel)]="lab"
[typeahead]="laboratory"
[typeaheadOptionsLimit]="3"
(typeaheadLoading)="searchLaboratory(lab)"
(typeaheadOnSelect)="onLab($event)"
typeaheadOptionField="name"
placeholder="search scan"> 
<i class="icon-magnifier" matSuffix></i>
</mat-form-field>
</div>
</div>
<div class="row">
<div class="col-sm-8">
<div class="custom-table">
<table >
<thead>
<tr>
<th>Name</th>
<th>Category</th>
<th>Cost</th>
<th>Delete</th>
</tr>
</thead>
<tbody>
<tr *ngFor="let item of seletcedLaboratory">
<td>{{item.name}}</td>
<td>{{item.category}}</td>
<td>{{item.cost}}</td>
<td > <i class="fa fa-minus-square" style="color: red;font-size: 26px;" (click)="deleteService(item)"></i></td>

</tr>

</tbody>
</table>
</div>
</div>
</div>
</mat-expansion-panel>
</mat-accordion>     
</tab>
<tab>
<ng-template tabHeading><i class="icon-layers" style="color: #20a8d8;"></i> <span class="header">Services</span></ng-template>
<div class="row">
<div class="col-sm-8">
<fieldset>
<legend>Billes Services</legend>
<div class="row">

<div class="col-sm-4">
<mat-form-field appearance="outline">
<input matInput [(ngModel)]="text"
[typeahead]="services"
[typeaheadOptionsLimit]="7"
(typeaheadLoading)="search(text)"
(typeaheadOnSelect)="addService($event)"
typeaheadOptionField="name"
placeholder="search scan"> 
<i class="icon-magnifier" matSuffix></i>
</mat-form-field>
</div>
<div class="col-sm-8">
<span class="pull-right"> <i class="cui-dollar"></i> <span >{{total}}</span></span>  
</div>
<div class="col-sm-12">
<div class="custom-table">
<table >
<thead>
<tr>
<th>Name</th>
<th>Category</th>
<th>Cost</th>
<th>Delete</th>
</tr>
</thead>
<tbody>
<tr *ngFor="let item of selectedServices">
<td>{{item.name}}</td>
<td>{{item.category}}</td>
<td>{{item.cost}}</td>
<td > <i class="fa fa-minus-square" style="color: red;font-size: 26px;" (click)="deleteService(item)"></i></td>

</tr>

</tbody>
</table>
</div>
</div>
</div>
</fieldset>
</div>
</div>
</tab>
<tab>
<ng-template tabHeading><i class="icon-eye" style="color: #20a8d8;"></i> <span class="header">Preview</span></ng-template>
<div class="row">
<div class="col-sm-8">
<fieldset>
<legend>Member Details</legend>
<div class="row">
<div class="col-sm-2">
<img src="../../../../assets/img/avatars/icon.png" width="100" alt="">
</div>
<div class="col-sm-10">
<div class="row">
<div class="col-sm-5">
<div class="row">
<div class="col-sm-4 hd" >Name</div>
<div class="col-sm-8 content">{{member.member_data.name}}</div>
</div>
</div> 
<div class="col-sm-5">
        <div class="row">
        <div class="col-sm-4 hd" >Trx No</div>
        <div class="col-sm-8 content">{{member.trx}}</div>
        </div>
</div>      
</div>
<div class="row">
<div class="col-sm-5">
<div class="row">
<div class="col-sm-4 hd" >Member Number</div>
<div class="col-sm-8 content">{{member.member_data.member_number}}</div>
</div>
</div> 
<div class="col-sm-5">
                <div class="row">
                <div class="col-sm-4 hd" >Requested Amt</div>
                <div class="col-sm-8 content">{{total | number}}</div>
                </div>
        </div> 
</div>
<div class="row">
<div class="col-sm-5">
<div class="row">
<div class="col-sm-4 hd" >Insurance</div>
<div class="col-sm-8 content">{{member.payer.name}}</div>
</div>
</div>    

</div>
<div class="row">
<div class="col-sm-5">
<div class="row">
<div class="col-sm-4 hd" >Scheme</div>
<div class="col-sm-8 content">{{member.member_data.scheme}}</div>
</div>
</div> 
</div>
<div class="row">

<div class="col-sm-5">
<div class="row">
<div class="col-sm-4 hd" >Plan</div>
<div class="col-sm-8 content">{{member.member_data.plan}}</div>
</div>
</div>  
</div>
</div>
</div>
</fieldset>
</div>
</div>
<br>
<div class="row">
<div class="col-sm-8">
 <fieldset>
    <legend>Provider Details</legend>
    <div class="row">
                <div class="col-sm-4">
                <mat-form-field appearance="outline">
                <mat-label>DOCTOR NAME</mat-label>
                <input matInput placeholder="Placeholder" value="JAMES MUNYASYA" readonly>
                </mat-form-field>
                </div>
                <div class="col-sm-4">
                <mat-form-field appearance="outline">
                <mat-label>REGISTRATION NO</mat-label>
                <input matInput placeholder="Placeholder" value="NBI/0021/7894" readonly>
                </mat-form-field>
                </div>
                <div class="col-sm-4">
                <mat-form-field appearance="outline">
                <mat-label>SPECIALITY</mat-label>
                <input matInput placeholder="Placeholder" value="THE NAIROBI HOSPITAL" readonly>
                </mat-form-field>
                </div>
                
                </div>
 </fieldset>
</div>
</div>
<br>
<div class="row">
    <div class="col-sm-8">
        <fieldset>
        <legend>Diagnosis</legend>
        <div class="row" *ngIf="diagnosis.length">
                        <div class="col-sm-12">
                        <div class="custom-table">
                        <table  >
                        <thead>
                        <tr>
                        <th>Primary</th>
                        <th>Name</th>
                        <th>code</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let item of diagnosis">
                        <td class="count">
                        <mat-checkbox></mat-checkbox>
                        </td>
                        <td>{{item.description}}</td>
                        <td>{{item.code}}</td>
                        </tr>
                        
                        </tbody>
                        </table>
                        </div>
                        </div>
                 </div>
        </fieldset>
    </div>
</div>
<br>
<div class="row">
  <div class="col-sm-8">
        <fieldset>
          <legend>Services</legend>
          <div class="row">
                <div class="col-sm-12">
                <div class="custom-table">
                <table >
                <thead>
                <tr>
                <th>Name</th>
                <th>Category</th>
                <th>Cost</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let item of selectedServices">
                <td>{{item.name}}</td>
                <td>{{item.category}}</td>
                <td>{{item.cost}}</td>
                </tr>

                </tbody>
                </table>
                </div>
                </div>
          </div>
        </fieldset>
  </div>
</div>
</tab>
</tabset>