::ng-deep .mat-tab-label {
    padding: 0px !important; // adjust this to whatever padding you need
    justify-content: left !important;
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    }
    table{
        width: 100%;
        font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    }