<div class="card">
  <div class="card-header"><b style="font-size:10px;text-transform: uppercase" class="text-primary">Batch List</b></div>
  <div class="card-body">
    <div class="row">
      <div class="col-sm-3">
        <mat-form-field>
            <!-- (typeaheadLoading)="changeTypeaheadLoading($event)" -->
            <input matInput type="text" placeholder="Search Batch" [(ngModel)]="value"
       [typeahead]="batches"
       (typeaheadOnSelect)="OnSelect($event)"
       [typeaheadOptionsLimit]="7"
       typeaheadOptionField="no"
             >
            <i class="icon-magnifier" matSuffix></i>
            <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
              <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
      </div>
    </div>
    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource">
          <ng-container matColumnDef="sn">
            <th mat-header-cell *matHeaderCellDef>S/n</th>
            <td mat-cell *matCellDef="let element;let i = index"> {{i+1}} </td>
          </ng-container>
          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef>Status</th>
            <td mat-cell *matCellDef="let element">
                <!-- <span class="badge badge-danger" *ngIf="element.status == 'NEW'" style="border-radius:2px;font-size:13px;">Not Dispatched</span>
                <span class="badge badge-success" *ngIf="element.status == 'SENT'" style="border-radius:2px;font-size:13px;">Dispatched</span> -->
                <span class="badge badge-danger"  *ngIf="element.status === 'NEW' ">NOT DISPATCHED</span>
                <span class="badge badge-info"    *ngIf="element.status === 'SENT' ">DISPATCHED</span>
                <span class="badge badge-success" *ngIf="element.status === 'RECEIVED'  ">CONFIRMED OK</span>
                <span class="badge badge-warning" *ngIf="element.status === 'PENDING' ">PENDING</span>
            </td>
          </ng-container>
          <ng-container matColumnDef="user">
            <th mat-header-cell *matHeaderCellDef> User </th>
            <td mat-cell *matCellDef="let element"> {{element.user.name | uppercase}} </td>
          </ng-container>

          <ng-container matColumnDef="no">
            <th mat-header-cell *matHeaderCellDef> Batch No </th>
            <td mat-cell *matCellDef="let element"> {{element.no}} </td>
          </ng-container>
          <ng-container matColumnDef="unmatched">
              <th mat-header-cell *matHeaderCellDef> Non Existing Claims</th>
              <td mat-cell *matCellDef="let element"> {{element.unmatched}} </td>
            </ng-container>
            <ng-container matColumnDef="amountConflicting">
                <th mat-header-cell *matHeaderCellDef> MISSMATCHED AMOUNT </th>
                <td mat-cell *matCellDef="let element"> {{element.amountConflicting}} </td>
              </ng-container>
              <ng-container matColumnDef="uncoded">
                  <th mat-header-cell *matHeaderCellDef> Uncoded Claims </th>
                  <td mat-cell *matCellDef="let element"> {{element.uncoded}} </td>
                </ng-container>
                <ng-container matColumnDef="successful">
                    <th mat-header-cell *matHeaderCellDef>Successful Claims</th>
                    <td mat-cell *matCellDef="let element"> {{element.successful}} </td>
             </ng-container>
             <ng-container matColumnDef="length">
                <th mat-header-cell *matHeaderCellDef>Total Claims</th>
                <td mat-cell *matCellDef="let element"> {{element.batchclaim.length}} </td>
         </ng-container>
         <ng-container matColumnDef="amount">
            <th mat-header-cell *matHeaderCellDef>Amount</th>
            <td mat-cell *matCellDef="let element"> {{element.amount | number:'1.2-2'}} </td>
     </ng-container>
     <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef>Batch Date </th>
        <td mat-cell *matCellDef="let element"> {{element.date | date:'yyyy-MM-dd' }} </td>
 </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="batchDetails(row)"></tr>
        </table>
      
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
      </div>
  </div>
</div>