


  <div class="row">
    <div class="col-sm-12">
      <div class="card">
       
        <h5 class="card-header bg-success">Patients Uploads</h5>
        <div class="card-body">
            <div class="row" style="width:100%;justify-content: right; margin-top: 10px;">
              
           
                <div class="col-sm-4">
                   
                             <form [formGroup]="fileUploadForm">
                                <div class="row">
                                    <div class="col-sm-12">
                                       
                                    </div>
                            
                                    <div class="col-sm-6 text-center">
                            
                                        <div class="custom-file">
                                            <input type="file" class="custom-file-input" id="customFile" name="myfile"
                                                (change)="onFileSelect($event)" #UploadFileInput>
                                            <label class="custom-file-label" for="customFile">{{fileInputLabel || 'Choose File'}}</label>
                                        </div>
                            
                                    </div>
                                    <div class="col-sm-6 text-center">
                                        <button class="btn btn-primary"  (ngSubmit)="onFormSubmit()" type="submit">Upload</button>
                                    </div>
                                </div>
                            </form>
                </div>
                       
                          </div>

            <div class="col-sm-12" style="margin-top: 10px;">
                <div class="mat-elevation-z8 table-responsive">
                  <table mat-table [dataSource]="dataSourcepatientuploaded">
                      <ng-container matColumnDef="sn">
                          <th mat-header-cell *matHeaderCellDef>S/N</th>
                          <td mat-cell *matCellDef="let element;let i=index"> {{i+1}} </td>
                  </ng-container>
                  <ng-container matColumnDef="created" >
                    <th mat-header-cell *matHeaderCellDef style="font-size: 11px;"> Date</th>
                    <td mat-cell *matCellDef="let element"  style="text-transform: capitalize; font-size: 11px;">  {{element.date | date:'dd/MM/yyyy'}}  </td>
                  </ng-container>
                  <ng-container matColumnDef="First">
                    <th mat-header-cell *matHeaderCellDef  style="font-size: 11px;">Patient Name</th>
                    <td mat-cell *matCellDef="let element"  style="text-transform: capitalize; font-size: 11px;"> {{element.patient_name}} </td>
                  </ng-container>
                  <ng-container matColumnDef="gender">
                    <th mat-header-cell *matHeaderCellDef  style="font-size: 11px;">Gender</th>
                    <td mat-cell *matCellDef="let element"  style="text-transform: capitalize; font-size: 11px;"> {{element.sex}} </td>
                  </ng-container>
                  <ng-container matColumnDef="residence">
                    <th mat-header-cell *matHeaderCellDef  style="font-size: 11px;">Residence</th>
                    <td mat-cell *matCellDef="let element"  style="text-transform: capitalize; font-size: 11px;"> {{element.residence}}  </td>
                  </ng-container>
                  <ng-container matColumnDef="department">
                    <th mat-header-cell *matHeaderCellDef  style="font-size: 11px;">Department Name</th>
                    <td mat-cell *matCellDef="let element"  style="text-transform: capitalize; font-size: 11px;"> {{element.department_name}} </td>
                  </ng-container>
                
                      <ng-container matColumnDef="payment">
                        <th mat-header-cell *matHeaderCellDef  style="font-size: 11px;">UHID</th>
                        <td mat-cell *matCellDef="let element" style="font-size: 11px;"> {{element.uhid}} </td>
                      </ng-container>  
                      <ng-container matColumnDef="phone" style="font-size: 11px;">
                          <th mat-header-cell *matHeaderCellDef style="font-size: 11px;">Age</th>
                          <td mat-cell *matCellDef="let element" style="font-size: 11px;"> {{element.age}} </td>
                        </ng-container>
                        <ng-container matColumnDef="insurancecompany">
                          <th mat-header-cell *matHeaderCellDef style="font-size: 11px;">Clinic Name</th>
                          <td mat-cell *matCellDef="let element" style="font-size: 11px;"> {{element.clinic_name  | uppercase}} </td>
                        </ng-container>
                        <ng-container matColumnDef="clinic">
                          <th mat-header-cell *matHeaderCellDef style="font-size: 11px;">Email</th>
                          <td mat-cell *matCellDef="let element" style="font-size: 11px;"> {{element.email}} </td>
                        </ng-container>
                        <ng-container matColumnDef="action">
                          <th mat-header-cell *matHeaderCellDef style="font-size: 11px;">OPNO</th>
                          <td mat-cell *matCellDef="let element" style="font-size: 11px;"> {{element.opno }} </td>

                        </ng-container>
            
            
                    <tr mat-header-row *matHeaderRowDef="RegistrationColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns:RegistrationColumns;"></tr>
                  </table>
            
                  <mat-paginator [pageSizeOptions]="[100,200]" showFirstLastButtons></mat-paginator>
                </div>
              </div>
        </div>
    </div>
</div>
</div>
