<div class="card" id="print-section">
  <div class="card-body">
    <div class="row container-fluid">
        <div class="col-sm-12">
            <div class="row">
              <div class="col-sm-6">
                  <address>
                      <h2>HEALTHIX HOSPITAL</h2>
                      <span class="address" style="font-size: 18px;">
                           <i class="icon-location-pin"></i> 637833-00200 Nairobi,<br>
                          <i class="icon-call-in"></i> contact +254 7 789-1234,<br>
                          <i class="icon-envelope-letter"></i> hospital@gmail.com
                      </span>
                      </address>
              </div>
              <div class="col-sm-6">
                <img src="../../../../assets/img/avatars/logo.png" style="float: right" alt="">
              </div>
            </div>
        </div>
        <div class="col-sm-12">
          <h3>INVOICE N0 : <span class="text-primary"> MHPB09282</span></h3>
        
        </div>
        
          <div class="col-sm-5" style="font-size: 16px;">
            <div class="row">
              <div class="col-sm-4">Charge Date</div>
              <div class="col-sm-5">2019-09-39</div>
            </div>
            <div class="row">
                <div class="col-sm-4">Net</div>
                <div class="col-sm-5">24000</div>
              </div>
              <div class="row">
                  <div class="col-sm-4">Currency</div>
                  <div class="col-sm-5">KSH</div>
              </div>
              <div class="row">
                  <div class="col-sm-4">Cashier</div>
                  <div class="col-sm-5">Davi</div>
                </div>
          </div>
          <div class="col-sm-5" style="font-size: 16px;">
              <div class="row">
                  <div class="col-sm-4" >Billed to</div>
                  <div class="col-sm-5"><strong>Virginia Mukonyo</strong></div>
                </div>
                <div class="row">
                    <div class="col-sm-4">Visit number</div>
                    <div class="col-sm-5">1000227288</div>
                  </div>
                  <div class="row">
                      <div class="col-sm-4">Gender</div>
                      <div class="col-sm-5">Female</div>
                  </div>
                <div class="row">
                    <div class="col-sm-4">Phone</div>
                    <div class="col-sm-5">0724566210</div>
                  </div>
                  <!-- <div class="row">
                      <div class="col-sm-4">Email</div>
                      <div class="col-sm-5">davia@gmail.com</div>
                  </div> -->
            </div>
            
            <div class="col-sm-12">
                <br>
                <table class="table table-condensed" style="font-size: 16px;">  <tr> 
                    <th>Item / Desc.</th>
                    <th>Category.</th>
                    <th>Qty.</th>
                    <th>@</th>
                    <th>Price</th>
                    </tr> 
                    <tr> 
                    <td>Paperclips (Box)</td>
                    <td>Prescription</td> 
                    <td>100</td>
                    <td>1.15</td>
                    <td>115.00</td> 
                    </tr>

                    <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    </tr> 
                     </table>

                  </div>
                  <div class="col-sm-4"></div>
                  <div class="col-sm-4"></div>
                  <div class="col-sm-4 total">
                    <div class="row">
                      <div class="col-sm-5"> Subtotal </div>
                      <div class="col-sm-7"></div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-5">Total Aount </div>
                        <div class="col-sm-7"></div>
                      </div>
                      
                      <div class="row">
                          <div class="col-sm-5">Tax </div>
                          <div class="col-sm-7"></div>
                      </div>
                      <div class="row">
                          <div class="col-sm-5"><strong class="text-success">AMOUNT DUE</strong></div>
                          <div class="col-sm-7"></div>
                        </div>
                      
                    
                  </div>
                  <div class="col-sm-12 footer">
                    <div class="row">
                      <div class="col-sm-6"></div>
                      <div class="col-sm-6"><p class="pull-right"> <img src="../../../../assets/img/avatars/logo.png" style="height: 40px" alt=""> </p></div>
                    </div>
                  </div>
                
    </div>
  </div>
</div>
<button
  [useExistingCss]="true"
    printSectionId="print-section"
    ngxPrint>print</button>