@media print{
    #div{
        background-color: red;
    }
    .total{
    background-color: greenyellow;
    }
   
    
    
}

.card{
    margin: auto;
}
// div{
//     font-family:PT Sans bold;
// }
table{
    width: 100%;
}