<h1 mat-dialog-title>Maternity Package Upgrade</h1>
<div mat-dialog-content style="overflow-y: hidden;">
  <form>
    <div class="form-group">
      Please If you want to Upgrade your Maternity Package Note the following.         
        
    
      </div>
    <div class="form-group">        
    <label for="message-text" class="col-form-label"> Please Note The details below Before Upgrading.</label>          
    </div>

<div class="row">
 
    <ul>
<li>There is Extra additional KSH 8500 per day</li>
<li>The package is inclusive of the CS Package cost</li>
<li>The Total cost will be CS-package Cost plus KSH 8500 per Day</li>
<li>The CS Package is for 2 Nights</li>


    </ul> 
 
   
</div>

 
  </form>

<div mat-dialog-actions style="margin-bottom: 20px;">
  <button mat-button    style=" background-color: #e33434; color: white;" (click)="close()" >Close</button>
  <button mat-button  style="  background-color: #0080ff;color: white;"(click)="UpgradeRoomPrivate()">Upgrade</button>
  <button mat-button  style="  background-color: #4dbd74;color: white;"(click)="close()">Normal</button>
 
</div>

  
</div>

<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" ></ngx-loading>