table{
    width: 100%;
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
}
td.mat-cell{
    font-size:13px;
}
tr.mat-row, tr.mat-footer-row {
    height: 37px;
  }
 tr.mat-header-row {
    height:39px;
}
.one{
    color:green;
    text-transform: capitalize;
    font-weight: 600;
}
.two{
    color:red;
    text-transform: capitalize;
    font-weight: 600;
}
div{
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
}