<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <h6 class="card-header bg-success">APPOINTMENT DETAILS

              <span class="pull-right"> Total Bill  <span style="font-weight: 800;font-size:16px;" class="text-white">{{data.amount | number:'1.2-2'}} KES</span></span>
            </h6>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-12">
                      <div class="row">
                        <div class="col-sm-12 col-md-1 col-lg-1 col-3">
                          <img src="assets/img/avatars/female.png" class="rounded-circle" alt="" style="width: 90px;" *ngIf="customer.gender == 'Female' || customer.gender == 'female'">
                          <img src="assets/img/avatars/male.png" class="rounded-circle" alt="" style="width: 90px;" *ngIf="customer.gender == 'Male' || customer.gender == 'male'">
                        </div>
                        <div class="col-sm-12 col-md-11 col-lg-11 col-9">
                          <div class="row">
                        <div class="col-sm-5">
                            <div class="row">
                                <div class="col-sm-12 text-primary" style="text-transform: capitalize;font-weight: 600;">{{customer.first_name}} {{customer.last_name}} {{customer.other_names}} || <span class="text-success">{{customer.age}}</span></div>
                                <div class="col-sm-12" > {{customer.phone}} </div>
                                <div class="col-sm-12" > {{customer.email}} </div>
                            </div>

                        </div>
                            <div class="col-sm-7" style="text-align:right">
                              <mat-icon style="font-size:30px;" color="primary">receipt_long</mat-icon> 
                              <h6>Amount Paid <span class="text-success" style="font-weight:600;">{{data.amount_paid | number:'1.2-2'}}</span></h6>
                              <button (click)="navigate()" class="btn btn-primary"> <i class="fa fa-database"></i> GO TO BILLING</button>
                            </div>
                          </div>
              
                        </div>
                      </div>
                     
                    </div>
                    <div class="col-sm-12">
                        <mat-tab-group>
                          <mat-tab>
                            <ng-template mat-tab-label>
                              Appointments Fee
                            </ng-template>
                            <br>
                          <div class="row container-fluid">
                            <div class="col-sm-12">
                              <div class="mat-elevation-z8 table-responsive">
                                <table mat-table [dataSource]="feesSource" matSort>
                                  <ng-container matColumnDef="sn">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
                                    <td mat-cell *matCellDef="let element;let i=index"> {{i+1}} </td>
                                  </ng-container>
                                  <ng-container matColumnDef="date">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Date </th>
                                    <td mat-cell *matCellDef="let element"> {{element.created | date}} </td>
                                </ng-container>
                                  <ng-container matColumnDef="type">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Payment Type</th>
                                    <td mat-cell *matCellDef="let element" style="text-transform: capitalize;"> {{element.mode}} </td>
                                  </ng-container>
                              
                                  <ng-container matColumnDef="amount">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Amount </th>
                                    <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
                                  </ng-container>
                                  <ng-container matColumnDef="transaction">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Transaction</th>
                                    <td mat-cell *matCellDef="let element"> 
                                      <span *ngIf="element.amount < 0">Refund</span>
                                      <span *ngIf="element.amount > 0">Fee Payment</span>

                                       </td>
                                  </ng-container>
                            
                                  <ng-container matColumnDef="refund">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Refund</th>
                                    <td mat-cell *matCellDef="let element"> <button class="btn btn-success btn-sm" [disabled]="element.status ==1" (click)="refund(element);element.status=1">Refund</button> </td>
                                  </ng-container>        
                                  <tr mat-header-row *matHeaderRowDef="feesColumns"></tr>
                                  <tr mat-row *matRowDef="let row; columns:feesColumns;"></tr>
                                </table>
                                <mat-paginator [pageSizeOptions]="[20,40]" showFirstLastButtons></mat-paginator>
                              </div>
                            </div> 
                          </div>
                          <br>
                          </mat-tab>
                          <mat-tab>
                            <ng-template mat-tab-label>
                              Services
                            </ng-template>
                            <br>
                          <div class="row container-fluid">
                            <!-- <div class="col-sm-3">
                              <mat-form-field appearance="outline">
                                <mat-label>Search Service</mat-label>
                                  <input matInput placeholder="Service" [(ngModel)]="text"
                                  [typeahead]="services"
                                  typeaheadOptionField="name"
                                  (typeaheadOnSelect)="onService($event)">
                                </mat-form-field>
                          </div> -->
                          <br>
                          <div class="col-sm-12">
                            <div class="mat-elevation-z8 table-responsive">
                              <table mat-table [dataSource]="serviceSource" matSort>
                                <ng-container matColumnDef="sn">
                                  <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
                                  <td mat-cell *matCellDef="let element;let i=index"> {{i+1}} </td>
                                </ng-container>
                                
                                <ng-container matColumnDef="name">
                                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
                                  <td mat-cell *matCellDef="let element" style="text-transform: capitalize;"> {{element.name}} </td>
                                </ng-container>

                                <ng-container matColumnDef="code">
                                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Code</th>
                                  <td mat-cell *matCellDef="let element"> {{element.created | date}} </td>
                              </ng-container>

                                <ng-container matColumnDef="amount">
                                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Amount </th>
                                  <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
                                </ng-container>
                                <ng-container matColumnDef="delete">
                                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Delete</th>
                                  <td mat-cell *matCellDef="let element" (click)="deleteService(element)"><mat-icon color="warn" >delete_sweep</mat-icon></td>
                                </ng-container>
                                
                                <tr mat-header-row *matHeaderRowDef="serviceColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns:serviceColumns;"></tr>
                              </table>
                              <mat-paginator #paginator [pageSizeOptions]="[25,50]" showFirstLastButtons></mat-paginator>
                            </div>
                          </div>
                      
                          </div>
                          <br>

                          </mat-tab>
                          

                            <mat-tab>
                              <ng-template mat-tab-label>
                                Appointments Details
                              </ng-template>
                            
                              <br>
                              <fieldset>
                                <legend>Appointment Details</legend>
                                <div class="col-sm-12">
                                  <form [formGroup]="appointmentForm" (ngSubmit)="onSubmit()">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <mat-form-field appearance="outline">
                                              <mat-label>Appointment Date</mat-label>
                                                <input matInput placeholder="Appointment Date" [minDate]="minDate" formControlName="date" [matDatepicker]="picker1">
                                                <mat-error *ngIf="f.date.errors && submitted">Appointment Date <strong>required</strong></mat-error>
                                                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                                <mat-datepicker #picker1></mat-datepicker>
                                              </mat-form-field>
                                        </div>
                                        <div class="col-sm-3">
                                          <mat-form-field appearance="outline">
                                            <mat-label>Select Time</mat-label>
                                            <input matInput placeholder="Time"  data-clocklet="class-name: my-clocklet-style;format:HH:mm;placement: top"  formControlName="time">
                                          </mat-form-field>
                                        </div>
                                        <div class="col-sm-3">
                                          <mat-form-field appearance="outline">
                                            <mat-label>Appointment Type</mat-label>
                                            <mat-select formControlName="type" [(value)]="data.type"  (selectionChange)="appointmentTypeSelected($event.value)">
                                              <mat-option *ngFor="let item of counsellling_type" [value]="item.value">
                                                {{item.type}}
                                              </mat-option>
                                            </mat-select>
                                            <mat-error *ngIf="f.type && submitted">Appointment Type <strong>required</strong></mat-error>
                                          </mat-form-field>
                                        </div>
                                        <div class="col-sm-12">
                                              
                                          <mat-form-field  appearance="outline">
                                              <mat-label>Appointment Reason</mat-label>
                                              <textarea matInput cols="30" rows="5"  placeholder="Reason for Appointment" formControlName="reason"></textarea>
                                          <mat-error *ngIf="f.reason && submitted">Reason for Appointment <strong>required</strong></mat-error>
                                            </mat-form-field>
                                      </div>
                                      <div class="col-sm-12">
                                         <button class="btn btn-success btn-sm pull-right" *ngIf="appointmentForm.dirty">update</button>
                                      </div>
                                    </div>
                                  </form>
                                </div>
                              </fieldset>
                              <br>
                                <fieldset>
                                  <legend>Counselor  & Location Details</legend>
                                  <div class="col-sm-12">
                                    <form [formGroup]="counselorForm" (ngSubmit)="onSave()">
                                      <div class="row">
                                        <div class="col-sm-3">
                                          <mat-form-field appearance="outline">
                                            <mat-label>Select Location</mat-label>
                                            <mat-select formControlName="room">
                                              <mat-option *ngFor="let room of rooms" [value]="room.id">{{room.name}}</mat-option>
                                            </mat-select>
                                          </mat-form-field>
                                          
                                        </div>
                                          <div class="col-sm-3">
                                            <mat-form-field appearance="outline">
                                              <mat-label>Select Counselor</mat-label>
                                              <mat-select formControlName="id" (selectionChange)="onSelect(g.id.value)">
                                                <mat-option *ngFor="let counselor	 of counsolers" [value]="counselor.id">{{counselor.username}}</mat-option>
                                              </mat-select>
                                            </mat-form-field>
                                            
                                          </div>
                                          <div class="col-sm-3">
                                            <mat-form-field appearance="outline">
                                              <mat-label>First Name</mat-label>
                                                <input matInput placeholder="First Name"   formControlName="first_name" readonly>
                                                <mat-error *ngIf="g.first_name.errors && submitted">First Name<strong>required</strong></mat-error>
                                              </mat-form-field>
                                          </div>
                                          <div class="col-sm-3">
                                            <mat-form-field appearance="outline">
                                              <mat-label>Last Name</mat-label>
                                                <input matInput placeholder="Last Name"   formControlName="last_name" readonly>
                                                <mat-error *ngIf="g.last_name.errors && submitted">Last Name<strong>required</strong></mat-error>
                                              </mat-form-field>
                                          </div>
                                          <div class="col-sm-3">
                                            <mat-form-field appearance="outline">
                                              <mat-label>Phone No</mat-label>
                                                <input matInput placeholder="Phone Number" readonly formControlName="phone">
                                                <mat-error *ngIf="g.phone.errors && submitted">Phone no<strong>required</strong></mat-error>
                                              </mat-form-field>
                                          </div>
                                          <div class="col-sm-3">
                                            <mat-form-field appearance="outline">
                                              <mat-label>Email</mat-label>
                                                <input matInput placeholder="Email"   formControlName="email" readonly>
                                                <mat-error *ngIf="g.email.errors && submitted">Email is<strong>required</strong></mat-error>
                                              </mat-form-field>
                                          </div>
                                         <div class="col-sm-6">
                                           <button class="btn btn-success btn pull-right" type="submit" *ngIf="counselorForm.dirty">Save</button>
                                         </div>
                                      </div>
                                    </form>
                                  </div>
                                </fieldset>
                            <br>

                            <fieldset  *ngIf="f.type.value !='standard'">
                              <legend>Supervision Counselor </legend>
                              <div class="col-sm-12">
                                <form [formGroup]="supervisionForm" (ngSubmit)="onAdd()">
                                  <div class="row">
                                   
                                      <div class="col-sm-3">
                                        <mat-form-field appearance="outline">
                                          <mat-label>Select Counselor</mat-label>
                                          <mat-select formControlName="id" (selectionChange)="onCounsoler(i.id.value)">
                                            <mat-option *ngFor="let counselor	 of counsolers" [value]="counselor.id">{{counselor.username}}</mat-option>
                                          </mat-select>
                                        </mat-form-field>
                                        
                                      </div>
                                      <div class="col-sm-3">
                                        <mat-form-field appearance="outline">
                                          <mat-label>First Name</mat-label>
                                            <input matInput placeholder="First Name"   formControlName="first_name" readonly>
                                            <mat-error *ngIf="i.first_name.errors && submitted">First Name<strong>required</strong></mat-error>
                                          </mat-form-field>
                                      </div>
                                      <div class="col-sm-3">
                                        <mat-form-field appearance="outline">
                                          <mat-label>Last Name</mat-label>
                                            <input matInput placeholder="Last Name"   formControlName="last_name" readonly>
                                            <mat-error *ngIf="i.last_name.errors && submitted">Last Name<strong>required</strong></mat-error>
                                          </mat-form-field>
                                      </div>
                                      <div class="col-sm-3">
                                        <mat-form-field appearance="outline">
                                          <mat-label>Phone No</mat-label>
                                            <input matInput placeholder="Phone Number" readonly formControlName="phone">
                                            <mat-error *ngIf="i.phone.errors && submitted">Phone no<strong>required</strong></mat-error>
                                          </mat-form-field>
                                      </div>
                                      <div class="col-sm-3">
                                        <mat-form-field appearance="outline">
                                          <mat-label>Email</mat-label>
                                            <input matInput placeholder="Email"   formControlName="email" readonly>
                                            <mat-error *ngIf="i.email.errors && submitted">Email is<strong>required</strong></mat-error>
                                          </mat-form-field>
                                      </div>
                                     <div class="col-sm-9">
                                       <button class="btn btn-success btn pull-right" type="submit" *ngIf="supervisionForm.dirty" [disabled]="data.amount_paid < data.amount && data.amount >0">Save</button>
                                     </div>
                                  </div>
                                </form>
                              </div>
                            </fieldset>
  
                            </mat-tab>
                            <mat-tab>
                              <ng-template mat-tab-label>
                                Appointments Notes
                              </ng-template>
                              <br>
                            <div class="row container-fluid">
                              <br>
                                <!--
                              <span style="font-size:16px;font-weight:bold">
                                <span class="text-primary"></span>
                                </span> -->

                            <fieldset>
                              <legend>Client Issues </legend>
                                
                              <div class="row">
                                
                                  <div class="col-sm-3" *ngFor="let issue of issues">
                                    <mat-checkbox  [(ngModel)]="issue.checked" (change)="onIssuesChange($event,issue)" >{{issue.name}}</mat-checkbox>
                                 </div>
                               
                                  
                              </div>
                            </fieldset>
                           
                              <!-- <span style="font-size:16px;font-weight:bold">
                                <span class="text-primary"></span>
                                </span>
                                <br> -->
                                <fieldset style="margin-top:30px;margin-bottom:20px;">
                                  <legend>Client Tests</legend>
                              <div class="row">
                                <div class="col-sm-6" *ngFor="let test of tests" >
                                  <div class="row">
                                <div class="col-sm-3" >
                                    {{test.name}}
                                </div>                               
                                <div class="col-sm-3" > 
                                  <mat-slider
                                      thumbLabel
                                      [displayWith]="formatLabel"
                                      tickInterval="1"
                                      [(ngModel)]="test.value"
                                      (input)="onTestsChange($event,test)"
                                      step="1"
                                      min="1"
                                      max="5"
                                      aria-label="units"></mat-slider>

                                </div>
                              </div>
                            </div>
                              </div>
                                </fieldset>
                                <div class="row">
                                  <mat-radio-group aria-label="Session platform">
                                    <mat-radio-button value="Online Zoom">Online Zoom</mat-radio-button>
                                    <mat-radio-button value="Google Meet">Google Meet</mat-radio-button>
                                    <mat-radio-button value="Google Meet">Physical</mat-radio-button>
                                    <mat-radio-button value="Google Meet">Tele Session</mat-radio-button>
                                    <mat-radio-button value="Google Meet">Play Therapy</mat-radio-button>

                                  </mat-radio-group>
                                  
                                </div>
                              <div class="col-sm-12">
                                <button class="pull-right btn btn-danger btn-sm" (click)="addStatus('complete')" [disabled]="data.status=='complete' || data.status=='paid' || data.status=='created' " >End Session</button>
                                <button class="pull-right btn btn-success btn-sm" (click)="addStatus('ongoing')" style="margin-right: 5px;" [disabled]="data.status=='ongoing' || data.status=='complete' || !start_session_enabled">Start Session</button>
                                <!-- data.status=='ongoing' || data.status=='complete' || data.status=='created' ||  -->
                              </div>
                              <div class="col-sm-12">
                                <form [formGroup]="noteForm">
                                  <div class="row">
                                    <div class="col-sm-12">
                                      <mat-form-field >
                                        <mat-label>Counselor Notes </mat-label>
                                        <textarea  matInput  formControlName="notes" (ngModelChange)="onNote()" placeholder="Notes ......"></textarea>
                                      </mat-form-field>
                                    </div>
                                  
                                  </div>
                                </form>
                              </div>
                    

                            <div class="col-sm-12">
                              <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>Dcm 5 coding</mat-label>
                                <input matInput placeholder="Dcm 5 coding" [dropup]="true"  [(ngModel)]="diagnosis.name"
                                (ngModelChange)="searchDiagnosis(diagnosis.name)"
                                [typeahead]="icd"
                                [typeaheadOptionsLimit]="4"
                                typeaheadOptionField="description"
                                (typeaheadOnSelect)="onDiagnosis($event)"
                                >
                              </mat-form-field>
                             </div>

                             <div class="col-sm-12">
                              <div class="mat-elevation-z8 table-responsive">
                                <table mat-table [dataSource]="diagnosisSource" matSort>
                                  <ng-container matColumnDef="sn">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
                                    <td mat-cell *matCellDef="let element;let i=index"> {{i+1}} </td>
                                  </ng-container>
                                  <ng-container matColumnDef="date">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
                                    <td mat-cell *matCellDef="let element;let i=index">{{element.created | date}} </td>
                                  </ng-container>
                                  <ng-container matColumnDef="name">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
                                    <td mat-cell *matCellDef="let element" style="text-transform: capitalize;"> {{element.description__description}} </td>
                                  </ng-container>
  
                                  <ng-container matColumnDef="code">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Code</th>
                                    <td mat-cell *matCellDef="let element"> {{element.description__code}} </td>
                                </ng-container>
                                  <tr mat-header-row *matHeaderRowDef="diaColumns"></tr>
                                  <tr mat-row *matRowDef="let row; columns:diaColumns;"></tr>
                                </table>
                                <!-- <mat-paginator #paginator [pageSizeOptions]="[25,50]" showFirstLastButtons></mat-paginator> -->
                              </div>
                            </div>
                            </div>
                            <br>
                            </mat-tab>
                            <mat-tab *ngIf ="addspouse">
                              <ng-template mat-tab-label>
                                Spouse Details
                              </ng-template>
                              <br>
                            <br>
                            <div class="col-sm-12">
                              <form [formGroup]="spouseForm" (ngSubmit)="addSpouseClicked()">
                              <fieldset>
                                <legend>Spouse Information</legend>
                                <div class="row">
                                  <div class="col-sm-3">
                                    <div class="col-sm-12">
                                      <mat-form-field appearance="outline">
                                        <mat-label>Surname</mat-label>
                                          <input matInput placeholder="Surname" formControlName="l_name">
                                          <mat-error *ngIf="s.l_name.errors && spouse_submiited">Surname <strong>required</strong></mat-error>
                                        </mat-form-field>
                                  </div>
                                      
                                    <div class="col-sm-12">
                                      <mat-form-field appearance="outline">
                                        <mat-label>First Name</mat-label>
                                          <input matInput placeholder="First Name" formControlName="f_name">
                                          
                                          <mat-error *ngIf="s.f_name.errors && spouse_submiited">First Name <strong>required</strong></mat-error>
                                        </mat-form-field>
                                  </div>
                                  <div class="col-sm-12">
                                      <mat-form-field appearance="outline">
                                        <mat-label>Middle Name</mat-label>
                                          <input matInput placeholder="Middle Name" formControlName="o_names">
                                         
                                          <mat-error *ngIf="s.o_names.errors && spouse_submiited">Middle Name <strong>required</strong></mat-error>
                                        </mat-form-field>
                                  </div>
                                
                                  </div>
                                  <div class="col-sm-3">
                                    <div class="col-sm-12">
                                      <mat-form-field appearance="outline">
                                        <mat-label>D.O.B</mat-label>
                                          <input matInput placeholder="Date of Birth" [max]="dobDate" formControlName="dob" [matDatepicker]="picker">
                                          <mat-error *ngIf="s.dob.errors && spouse_submiited">Date of birth <strong>required</strong></mat-error>
                                          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                          <mat-datepicker #picker></mat-datepicker>
                                        </mat-form-field>
                                  </div> 
                                    <div class="col-sm-12">
                                      <mat-form-field appearance="outline">
                                        <mat-label>Gender</mat-label>
                                        <mat-select  formControlName="s_gender">
                                          <mat-option value="Male"><b>Male</b></mat-option>
                                          <mat-option value="Female"><b>Female</b></mat-option>
                                          <mat-option value="Other"><b>Other</b></mat-option>                      
                                        </mat-select>
                                     
                                      </mat-form-field>



                                    </div>
                                  <div class="col-sm-12">
                                    <mat-form-field  appearance="outline">
                                      <mat-label>Phone</mat-label>
                                        <input matInput placeholder="7203022331" formControlName="s_phone" type="number">
                                        <mat-error *ngIf="s.s_phone.errors && spouse_submiited">Phone <strong>required</strong></mat-error>
                      
                                      </mat-form-field>
                                   </div>
                           
                             
                              
                                </div>
                                <div class="col-sm-3">
                             
                                   <div class="col-sm-12" >
                                       <mat-form-field appearance="outline">
                                        <mat-label>National ID</mat-label>
                                           <input matInput placeholder="National ID" formControlName="national_id">
                                           <mat-error *ngIf="s.national_id.errors && spouse_submiited">National ID <strong>required</strong></mat-error>
                                         </mat-form-field>
                                   </div> 
                                   <div class="col-sm-12">
                                     <mat-form-field appearance="outline">
                                      <mat-label>Email</mat-label>
                                         <input matInput placeholder="Email" formControlName="s_email">
                                         <mat-error *ngIf="s.s_email.errors && spouse_submiited">Valid email <strong>required</strong></mat-error>
                                       </mat-form-field>
                                 </div>
                                 <div class="col-sm-12">
                                
                            
                                  <div class="col-sm-12" style="text-align: center;">
                                    <button class="btn btn-success btn-sm" [disabled]="spouseForm.invalid">Submit</button>
                                  </div>    </div>
                               
                                
                                 
                                </div>
                              </div>
                              </fieldset>
                              </form>
                            </div>
                        
                      
                            <br>
  
                            </mat-tab>
                            
  
                          </mat-tab-group>
                    </div>
                    
                  </div>
                  
            </div>
          </div>
    </div>
</div>

 
<div class="modal fade" bsModal #staticModal="bs-modal" [config]="{backdrop: 'static'}"
     tabindex="-1" role="dialog" aria-labelledby="dialog-static-name">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h5 id="dialog-static-name" class="modal-title pull-left">Cash Payment</h5>
        <button type="button" class="close pull-right" aria-label="Close" (click)="staticModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="cashForm" (ngSubmit)="onCash()">
        <div class="row">
            <div class="col-sm-12">
              <mat-form-field appearance="outline">
                <mat-label>Amount</mat-label>
                  <input matInput placeholder="Amount" formControlName="amount">
                  <mat-error>
                    <span *ngIf="h.amount.errors?.required" class="text-danger"> Amount is <strong>required</strong></span>
                    <span *ngIf="h.amount.errors?.min" class="text-danger"> <strong>Minimum amount is 50/=</strong> </span>

                  </mat-error>
                </mat-form-field>
            </div>
            <div class="col-sm-12">
              <button class="btn btn-success btn-sm pull-right" [disabled]="cashForm.invalid">Submit</button>
            </div>
          
        </div>
      </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" bsModal #serviceModal="bs-modal" [config]="{backdrop: 'static'}"
     tabindex="-1" role="dialog" aria-labelledby="dialog-static-name">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-static-name" class="modal-title pull-left">Add Service</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="serviceModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form  [formGroup]="serviceForm" (ngSubmit)="addService()">
       <div class="row">
        <div class="col-sm-12">
          <mat-form-field appearance="outline">
            <mat-label>Service</mat-label>
              <input matInput placeholder="Service" formControlName="name" readonly >
            </mat-form-field>
        </div>
        <div class="col-sm-12">
          <mat-form-field appearance="outline">
            <mat-label>Code</mat-label>
              <input matInput placeholder="Code" formControlName="code" readonly>
            </mat-form-field>
        </div>
        <div class="col-sm-12">
          <mat-form-field appearance="outline">
            <mat-label>Cost</mat-label>
              <input matInput placeholder="Cost" formControlName="cost" readonly>
            </mat-form-field>
        </div>
        <diiv class="col-sm-12">
          <button class="btn btn-success pull-right" type="submit">Submit</button>
        </diiv>
       </div>
      </form>
      </div>
    </div>
  </div>
</div>

<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '9px' }"></ngx-loading>