
mat-form-field { 
    font-size: 14px;
    width: 100%;
    font-family: lato light;
    font-weight: bold;
  }
table{
  font-family: "Open Sans", Tahoma, sans-serif;
}
::ng-deep .mat-checkbox .mat-checkbox-frame {
    height: 15px;
    width: 15px;
  }
 mat-slider{
   width: 100%;
 }
 mat-label{
   font-weight: 500;
 }
 h6{
   font-size: 12px;
  
 }
 mat-card-title{
   font-size:14px;
 }
 table{
   width: 100%;
 }
 div{
  font-family: "Open Sans", Tahoma, sans-serif;
 }
 .mat-checkbox{
  font-family: "Open Sans", Tahoma, sans-serif;
  font-weight: bold;
 }
 mat-card-title{
  font-family: "Open Sans", Tahoma, sans-serif;
   font-weight: bold;
   font-size: 14px;
 }