<div class="row">
  <div class="col-sm-12">
    <tabset>
      <tab heading="VITALS">
        <!-- <div class="row" style="font-display: lato light">
          <div class="col-sm-3 pull-right">
            <b>PATIENT NAME :</b><b class="text-primary">{{patient.name}}</b>
          </div>
          <div class="col-sm-3 pull-right">
              <b>VISIT NUMBER :</b><b class="text-primary">{{patient.visit_no}}</b>
            </div>
        </div> -->
        <br>
          <form [formGroup]="triageForm" novalidate>
        <div class="row">
        <div class="col-sm-2">
           <mat-form-field appearance="outline">
               <mat-label>Body Temperature</mat-label>
               <input matInput placeholder="Temperature value" type="number" formControlName="temperature" [ngClass]="{ 'is-invalid': submitted && f.temperature.errors }" >
               <i matSuffix class="fa fa-thermometer-half"></i>
               
               
             </mat-form-field>
        </div>
        <div class="col-sm-2">
           <mat-form-field appearance="outline">
               <mat-label>Pulse Rate</mat-label>
               <input matInput placeholder="pulse rate value" type="number" formControlName="pulse"  [ngClass]="{ 'is-invalid': submitted && f.pulse.errors }">
               <i matSuffix class="fa fa-heartbeat"></i>
             </mat-form-field>
        </div>
        <div class="col-sm-2">
           <mat-form-field appearance="outline">
               <mat-label>Blood Pressure (systolic)</mat-label>
               <input matInput placeholder="systolic value" type="number" (ngModelChange)="test()"  formControlName="systolic"  [ngClass]="{ 'is-invalid': submitted && f.systolic.errors }">
               <i matSuffix class="fa fa-yelp"></i>
             </mat-form-field>
        </div>
        <div class="col-sm-2">
           <mat-form-field appearance="outline">
               <mat-label>Blood Pressure (diastolic)</mat-label>
               <input matInput placeholder="diastolic value" type="number" (ngModelChange)="test()" formControlName="diastolic"  [ngClass]="{ 'is-invalid': submitted && f.diastolic.errors }">
               <i matSuffix class="fa fa-yelp"></i>
          
             </mat-form-field>
        </div>
        <div class="col-sm-2">
           <mat-form-field appearance="outline">
               <mat-label>Blood Pressure </mat-label>
               <input matInput placeholder="blood pressure"  [value]="pressure" type="text" formControlName="blood_pressure"    readonly>
 
             </mat-form-field>
        </div>
        <div class="col-sm-2">
            <mat-form-field appearance="outline">
                <mat-label>BSA </mat-label>
                <input matInput placeholder="BSA"  type="text" formControlName="bsa"    readonly>
                <i matSuffix class="fa fa-yelp"></i>
              </mat-form-field>
         </div>
    </div>
    <div class="row">
           <div class="col-sm-2">
                   <mat-form-field appearance="outline">
                       <mat-label>Height</mat-label>
                       <input matInput placeholder="height" type="number" (ngModelChange)="calculateBmi()" formControlName="height"  [ngClass]="{ 'is-invalid': submitted && f.height.errors }">
                       <i matSuffix class="fa fa-yelp"></i>
                     </mat-form-field>
                </div>  

                <div class="col-sm-2">
                       <mat-form-field appearance="outline">
                           <mat-label>Weight</mat-label>
                           <input matInput placeholder="weight" type="number" (ngModelChange)="calculateBmi()" formControlName="weight"  [ngClass]="{ 'is-invalid': submitted && f.weight.errors }">
                           <i matSuffix class="fa fa-yelp"></i>
                         </mat-form-field>
                    </div>     
                    <div class="col-sm-2">
                           <mat-form-field appearance="outline">
                               <mat-label>Respiratory</mat-label>
                               <input matInput placeholder="respiratory" type="number" formControlName="respiratory"  [ngClass]="{ 'is-invalid': submitted && f.respiratory.errors }">
                               <i matSuffix class="fa fa-yelp"></i>
                         
                             </mat-form-field>
                        </div>               
                <div class="col-sm-2">
                       <mat-form-field appearance="outline">
                           <mat-label>BMI</mat-label>
                           <input matInput placeholder="BMI" [value]="bmi"  formControlName="bmi"   readonly>
                           <i matSuffix class="fa fa-yelp"></i>
                         </mat-form-field>
                    </div>          
    </div>
          </form>
          <div class="row">
              <div class="col-sm-6">
                <fieldset>
                  <legend>PRIORITY</legend>
                  <div class="row">
                      <div class="col-sm-4">
                          <mat-radio-group [(ngModel)]="priority" name="priority">
                          <div class="row">
                            <div class="col-sm-6">
                              <mat-radio-button value="Normal"[checked]="true">Normal</mat-radio-button>
                            </div>
                            <div class="col-sm-6">
                              <mat-radio-button  value="Urgent">Urgent</mat-radio-button>
                            </div>
                          </div>
                        </mat-radio-group>
                        </div>
                        <div class="col-sm-2">
                          <mat-checkbox (click)="status=!status">Proceed to Doctor</mat-checkbox>
                        </div>
                    </div>
                </fieldset>
                
              </div>
            </div>
      </tab>
      <tab heading="ALLERGIES">
          <div class="row">
              <div class="col-sm-12">
                  <fieldset>
                      <legend>ALLERGIC DRUGS</legend>
                      <div class="row">
                        <div class="col-sm-3">
                            <mat-form-field>
                                <input matInput placeholder="Type Drug Name" >
                              </mat-form-field>
                        </div>
                      </div>
                    </fieldset>
              </div>
            </div>
          
        <div class="row">
          <div class="col-sm-12" style="margin-top:20px;">
             <fieldset>
                <Legend>FOOD ALLERGIES</Legend>
          
                <div class="row">
                      <div class="col-sm-2" *ngFor="let allergy of foodAllergies">
                              <mat-checkbox (click)="addAllergy(allergy.name)" style="font-weight:400">{{allergy.name | uppercase}}</mat-checkbox>
                          </div>
                </div>
            </fieldset>
          </div>
          
          <div class="col-sm-12" style="margin-top:20px;">
              <fieldset>
                 <Legend>INSECT BITES ALLERGIES</Legend>
                 <div class="row">
                       <div class="col-sm-2" *ngFor="let allergy of insectAllergies">
                               <mat-checkbox (click)="addAllergy(allergy.name)" style="font-weight:400">{{allergy.name | uppercase}}</mat-checkbox>
                           </div>
                 </div>
             </fieldset>
           </div>
           <br>
           <br>
           <div class="col-sm-12" style="margin-top:20px;">
              <fieldset>
                 <Legend>METAL ALLERGIES</Legend>
                 <div class="row">
                       <div class="col-sm-2" *ngFor="let allergy of metalAllergies">
                               <mat-checkbox (click)="addAllergy(allergy.name)" style="font-weight:400">{{allergy.name | uppercase}}</mat-checkbox>
                           </div>
                 </div>
             </fieldset>
           </div>
        </div>
      </tab>
      <tab heading="MINOR PROCEDURES & NOTES">
        <div class="row">
            <div class="col-sm-12">
                <fieldset>
                    <legend>OBSERVATION NOTES</legend>
                    <div class="row">
                      <div class="col-sm-3">
                        <mat-checkbox (click)="addObservation('Weak or Absent breathing')">Weak or Absent breathing</mat-checkbox>
                      </div>
                      <div class="col-sm-3">
                          <mat-checkbox (click)="addObservation('Obstructed Breathing')">Obstructed Breathing</mat-checkbox>
                        </div>
                        <div class="col-sm-3">
                            <mat-checkbox (click)="addObservation('Severe Respiratory Stres')">Severe Respiratory Stress</mat-checkbox>
                        </div>  
                        <div class="col-sm-3">
                            <mat-checkbox (click)="addObservation('Unintentional Weight Loss')" >Unintentional Weight Loss</mat-checkbox>
                        </div> 
                    </div>
                    <div class="row">
                      <div class="col-sm-2">
                          <mat-form-field>
                              <input matInput placeholder="Observation Type" [(ngModel)]="observations.observation_type">
                            </mat-form-field>
                      </div>
                      <div class="col-sm-2">
                          <mat-form-field>
                              <input matInput placeholder="Observation Code" [(ngModel)]="observations.code">
                            </mat-form-field>
                      </div>
                      <div class="col-sm-2">
                          <mat-form-field>
                              <input matInput [(ngModel)]="observations.symptoms_onset" placeholder="Onset of Symptoms" bsDatepicker [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }" >
                            </mat-form-field>
                      </div>
                      <div class="col-sm-2">
                          <mat-form-field>
                              <input matInput placeholder="Next Appointment" bsDatepicker [(ngModel)]="observations.appointment_date" [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }">
                            </mat-form-field>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-12">
                          <mat-form-field appearance="outline">
                              <mat-label>Observation Notes</mat-label>
                              <textarea matInput placeholder="Write Observation notes" cols="12" value="" [(ngModel)]="observations.notes"></textarea>
                              <i class="icon-note" matSuffix></i>
                              
                            </mat-form-field>
                      </div>
                    </div>
                  </fieldset> 
            </div>
          
          <div class="col-sm-12" style="margin-top:10px;">
              <fieldset>
                  <legend>PROCEDURES</legend>
                  <div class="row">
                      <div class="col-sm-3">
                          <mat-form-field appearance="outline">
                              <mat-label>Procedure</mat-label>
                              <input matInput placeholder="search Procedure">
                              <i class="icon-magnifier" matSuffix></i>

                            </mat-form-field>
                      </div>
                    </div>
                </fieldset> 
          </div>
          
        </div>
        <br>
        <div class="row">
          <br>
            <div class="col-sm-12">
                <button mat-raised-button color="primary" class="pull-right" (click)="onSubmit()"> <i class="fa fa-plus"></i> Save</button>
              </div>
        </div>
      </tab>
    </tabset>
  </div>
</div>