
<div class="row">
    <div class="col-12 col-lg-2">
        <div class="card">
          <div class="card-body p-3 clearfix">
            <i class="fa fa-cart-arrow-down  bg-info p-3 font-2xl mr-3 float-left"></i>
            <div class="h5 text-info mb-0 mt-2">{{report.placed_orders}}</div>
            <div class="text-muted text-uppercase font-weight-bold font-xs">Placed Orders</div>
          </div>
          <div class="card-footer px-3 py-2">
            <a class="font-weight-bold font-xs btn-block " (click)="viewOrders('UNRECEIVED')">View More <i class="fa fa-angle-right float-right font-lg"></i></a>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-2">
          <div class="card">
            <div class="card-body p-3 clearfix">
              <i class="icon-basket-loaded bg-success p-3 font-2xl mr-3 float-left"></i>
              <div class="h5 text-info mb-0 mt-2">{{report.completed}}</div>
              <div class="text-muted text-uppercase font-weight-bold font-xs">Completed </div>
            </div>
            <div class="card-footer px-3 py-2">
              <a class="font-weight-bold font-xs btn-block" (click)="viewOrders('COMPLETED')">View More <i class="fa fa-angle-right float-right font-lg"></i></a>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-2">
            <div class="card">
              <div class="card-body p-3 clearfix">
                <i class="fa fa-question bg-warning p-3 font-2xl mr-3 float-left"></i>
                <div class="h5 text-info mb-0 mt-2">{{report.pending}}</div>
                <div class="text-muted text-uppercase font-weight-bold font-xs">Pending Orders</div>
              </div>
              <div class="card-footer px-3 py-2">
                <a class="font-weight-bold font-xs btn-block" (click)="viewOrders('PENDING')">View More <i class="fa fa-angle-right float-right font-lg"></i></a>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-2">
              <div class="card">
                <div class="card-body p-3 clearfix">
                  <i class="fa fa-safari  bg-info p-3 font-2xl mr-3 float-left"></i>
                  <div class="h5 text-info mb-0 mt-2">{{report.pending_test}}</div>
                  <div class="text-muted text-uppercase font-weight-bold font-xs">Pending Tests</div>
                </div>
                <div class="card-footer px-3 py-2">
                  <a class="font-weight-bold font-xs btn-block" (click)="labTests()" >View More <i class="fa fa-angle-right float-right font-lg"></i></a>
                </div>
              </div>
            </div>
</div>