
.btn1 {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  width: 100%;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 10px 16px;
}
  
.btn1-lg {
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}

.btn1-primary {
  color: #fff;
  background-color: #428bca;
  border-color: #357ebd;
}

.btn1-primary:hover,
.btn1-primary:focus,
.btn1-primary:active,
.btn1-primary.active,
.open .dropdown-toggle.btn1-primary {
  color: #fff;
  background-color: #3276b1;
  border-color: #285e8e;
}

/***********************
  OUTLINE BUTTONS
************************/

.btn1.outline {
    background: none;
    padding: 12px 22px;
}
.btn1-primary.outline {
    border: 2px solid #0099cc;
    color: #0099cc;
}
.btn1-primary.outline:active, .btn1-primary.outline.active {
    border-color: #007299;
    color: #007299;
    box-shadow: none;
}

.btn1 {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.btn1:focus, .btn1:active:focus, .btn1.active:focus {
    outline: 0 none;
}

input[type="text"]{
  font-size: 10px;
}
label{
  font-size: 9px;
}

::placeholder{
  font-size: 15px;
}
