
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <h5>Clinics Calender</h5>
        </div>
        <div class="row" style="width:100%;justify-content: right; margin-top: 10px;">
          
       
            <div class="col-sm-4">
                <button class="btn btn-success" style="float: right; " (click)="ViewAll()">All Appointments: <strong style="color: rgb(0, 81, 255);">{{appointment_count}}</strong></button>        
    
            </div>
                   
                      </div>
       
        <div class="row">
          
        <div class="card-body">
          
          <!-- <div class="row">
            
                
              </div> -->
              
            <div class="col-sm-12">
              <div class="mat-elevation-z8 table-responsive">
                <table mat-table [dataSource]="dataSource">
                    <!-- <ng-container matColumnDef="sn">
                        <th mat-header-cell *matHeaderCellDef>S/N</th>
                        <td mat-cell *matCellDef="let element;let i=index"> {{i+1}} </td>
                </ng-container> -->
                    <!-- <ng-container matColumnDef="department">
                      <th mat-header-cell *matHeaderCellDef>Department</th>
                      <td mat-cell *matCellDef="let element"> {{element.department}} </td>
                    </ng-container> -->
                    <ng-container matColumnDef="specialist">
                        <th mat-header-cell *matHeaderCellDef>Specialist</th>
                        <td mat-cell *matCellDef="let element"> {{element.specialist}} </td>
                      </ng-container>
                      <ng-container matColumnDef="count">
                        <th mat-header-cell *matHeaderCellDef>Number of Bookings</th>
                        <td mat-cell *matCellDef="let element"> {{element.total}} </td>
                      </ng-container>
                     
                      <ng-container matColumnDef="calendar">
                        <th mat-header-cell *matHeaderCellDef >View</th>
                        <td mat-cell *matCellDef="let element"> 
                          <button class="btn btn-success btn-sm" (click)="clickRow(selected=element)">Calendar</button>
                           </td>
                      </ng-container>  
                 
                 
          
                  
                
                  <tr mat-header-row *matHeaderRowDef="Columns"></tr>
                  <tr mat-row *matRowDef="let row; columns:Columns;"></tr>
                </table>
          
                <mat-paginator [pageSizeOptions]="[19,50]" showFirstLastButtons></mat-paginator>
              </div>
            </div>
            
          </div>
        </div>
         <div class="row">
          <!-- <div >
            <h5>Today Appointments</h5>
          </div> -->
          
        <div class="card-body">
         <!-- <div class="col-sm-12" style="text-align: center;background-color: #4dbd74;color: #fff; height: 40px;margin-bottom:20px">
          <h6 style="justify-content: center; align-items: center;">Today Clinics Appointments</h6>
         </div> -->
         <div class="col-sm-12"  style="background-color: #4dbd74; color: #fff;; text-align: center;margin-bottom:20px ">
          <div class="row" style="justify-content: center ; height: 30px; align-items: center;">
           Today Appointments
        
          </div>
        
        </div>
          
          
              
            <div class="col-sm-12">
              <div class="mat-elevation-z8 table-responsive">
                <table mat-table [dataSource]="dataSourcetoday">
                    <!-- <ng-container matColumnDef="sn">
                        <th mat-header-cell *matHeaderCellDef>S/N</th>
                        <td mat-cell *matCellDef="let element;let i=index"> {{i+1}} </td>
                </ng-container> -->
                    <!-- <ng-container matColumnDef="department">
                      <th mat-header-cell *matHeaderCellDef>Department</th>
                      <td mat-cell *matCellDef="let element"> {{element.department}} </td>
                    </ng-container> -->
                    <ng-container matColumnDef="specialist">
                        <th mat-header-cell *matHeaderCellDef>Specialist</th>
                        <td mat-cell *matCellDef="let element"> {{element.specialist}} </td>
                      </ng-container>
                      <ng-container matColumnDef="count">
                        <th mat-header-cell *matHeaderCellDef>Number of Bookings</th>
                        <td mat-cell *matCellDef="let element"> {{element.total}} </td>
                      </ng-container>
                     
                      <ng-container matColumnDef="calendar">
                        <th mat-header-cell *matHeaderCellDef >View</th>
                        <td mat-cell *matCellDef="let element"> 
                          <button class="btn btn-success btn-sm" (click)="clickRow(selected=element)">Calendar</button>
                           </td>
                      </ng-container>  
                 
                 
          
                  
                
                  <tr mat-header-row *matHeaderRowDef="Columns"></tr>
                  <tr mat-row *matRowDef="let row; columns:Columns;"></tr>
                </table>
          
                <mat-paginator [pageSizeOptions]="[19,50]" showFirstLastButtons></mat-paginator>
              </div>
            </div>
            
          </div>
        </div>
      </div>
      
    </div>
  </div>
  
  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '9px' }"></ngx-loading>