<div class="card">
    <div class="card-body" id="print-section">
        <div class="row">
            <div class="col-sm-12">
                <button class="btn btn-success" style="float: right;" (click)="printPage()">Print Claim Form</button>
    
            </div>
        </div>
        <div class="row" >
           
            <div class="col-sm-8">
                <h1>
                    <img src="../../../../assets/img/avatars/sanlam-logo.png" alt="">
                </h1>
                <address>
                Sanlam Tower,Off waiyaki way,westlands<br> 
                P.O Box 60636-00200 Nairobi,Kenya<br>
                Email: info@sanlam.co.ke<br>
                <span style="margin-left:40px;">info@sanlam.co.ke</span><br>
                Website:sanlam.co.ke<br>
                Call Center No: +254-(0)205138282
                </address>
            </div>
            <div class="col-sm-4">
                <div class="box">
                    <h5 style="color: white;"> <i class="fa fa-chevron-right" style="color: white;font-size: 14px;" aria-hidden="true"></i> Sanlam General Insurance Ltd</h5>
                    <h1 style="color: white;text-align: right;font-weight:600;">Medical Claim <br>
                    Form</h1>
                </div>
            </div>
            <div class="col-sm-12" >
                <!-- <i class="fa fa-chevron-right" style="color: white;font-size: 14px;float: left;" aria-hidden="true"></i> -->
                <div style="background-color:#0075c9 !important;" class="text">
                    <h3 style="color: white;"> Personal Details </h3>
                </div>
                <div class="row">
                    <div class="col-sm-2">Employee Name:</div>
                    <div class="col-sm-10">
                    <input type="text" [(ngModel)]="patient.booking.employee">
                    </div>
                    
                </div>
                <div class="clearfix"></div>

                <div class="row">
                    <div class="col-sm-2">Membership No:</div>
                    <div class="col-sm-10">
                    <input type="text" [(ngModel)]="patient.member_number">
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-sm-3">Name of Policy holder/Employer:</div>
                    <div class="col-sm-9">
                    <input type="text" [(ngModel)]="patient.scheme_name">
                    </div>
                </div>
                <div class="clearfix"></div>

                <div class="row">
                    <div class="col-sm-2">Patient Name:</div>
                    <div class="col-sm-10">
                    <input type="text" [(ngModel)]="patient.member_name" >
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-sm-2">Date Of Birth:</div>
                    <div class="col-sm-4">
                    <input type="text" [(ngModel)]="patient.patient.dob">
                    </div>
                    <div class="col-sm-3">Relationship Of the Pateint to Employee:</div>
                    <div class="col-sm-3">
                    <input type="text" [(ngModel)]="patient.relation">
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-sm-2">Hospital:</div>
                    <div class="col-sm-10">
                    <input type="text"  [(ngModel)]="hospital" >
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-sm-2">Client contact Cell Phone:</div>
                    <div class="col-sm-10">
                    <input type="text" [(ngModel)]="patient.patient.phone">
                    </div>
                </div>
            </div>


            

        </div>
        <div class="row" style="margin-top: 20px;">
            <div class="col-sm-12" >
                <div style="background-color:#0075c9;">
                    <h3 style="color: white;">  Official Use Only </h3>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                    1.Diagnosis <br>
                    <textarea rows="5" style="width: 100%;"></textarea>
                    </div>
                    
                </div>
                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-sm-12">
                    2.How long has the patient suffered the same ailment?
                    <input type="text">
                </div>
                </div>
                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-sm-12">
                    3.Nature of Treatment <br>
                    <textarea rows="5" style="width: 100%;"></textarea>
                    </div>
                    
                </div>

                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-sm-6">4.Dates of any previous treatment for this ailment</div>
                    <div class="col-sm-6">
                    <input type="text" readonly>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-sm-10">
                        5.Is a Specific refferal,admission or specilaized diagnostic services required ?<br>
                    </div>
                    <div class="col-sm-2" style="float: right;">
                      <div class="row">
                          <div class="col-sm-6">
                              Yes <mat-checkbox class="example-margin" ></mat-checkbox>
                          </div>
                          <div class="col-sm-6">
                            No <mat-checkbox class="example-margin" ></mat-checkbox>
                        </div>
                      </div>
                          
                          
                    </div>
                    <div class="col-sm-12">
                    <textarea rows="5" style="width: 100%;"></textarea>
                    </div>
                    
                </div>
                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-sm-12">6.Physician's</div>
                   <div class="col-sm-12" style="margin-top: 15px;">
                    <div class="row">
                        <div class="col-sm-4" style="text-align: center;"> <hr>
                            <span >Signature</span>
                         </div>
                         <div class="col-sm-4" style="text-align: center;"> <hr>
                            <span >Stamp</span>
                         </div>
                         <div class="col-sm-4" style="text-align: center;"> <hr>
                            <span >Date</span>
                         </div>
                    </div>
                   </div>
                </div>

               
            </div>
        </div>
      


        <div class="row" style="margin-top: 20px;">
            <div class="col-sm-12" >
                <div style="background-color:#0075c9;">
                    <h3 style="color: white;"> Declaration </h3>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                    I ______________________________________________________________ Phone ___________________________________________  do hereby authorize 
                    any doctor,hospital,clinic or medical provider,insurance company,institution or person who has any record or information about me  and/or
                    family members to provide Sanlam General Insurance Company Limitted with complete information including hospitalization.
                    <br>
                    I have also been advised and have understood the various exclusions i.e illness or procedures that are not covered.Any photocopy of this authorization shall be taken as the original copy
                    </div>
                    
                </div>
               

                <div class="row" style="margin-top: 12px;">
                    <div class="col-sm-8" (click)="signatureClicked()">
                        <div class="row">
                            <div class="col-sm-4">Member's Signature:</div>
                            <div class="col-sm-8">
                                <div class="row" style="position: absolute;bottom: 0; margin-bottom: -30px;" >
                                    <img src="{{image_src}}"  height="100px" width="80px" *ngIf="show_signature_patient">
                                </div>
                            <div class="row"> ______________________________________________________________</div>
                           
                                
                            </div>
                        </div>
                       
                    </div>
                    <div class="col-sm-4">
                        Date:_______________________________________
                    </div>
                    
                </div>

            </div>
        </div>

      
    </div>
  </div>