
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <h5>Print Insurance Forms</h5>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-12">
                <div class="row">
                  <div class="col-sm-2">
                     
                  </div>
                  <div class="col-sm-2">
                   
                </div>
                </div>
              </div>
            <div class="col-sm-12">
              <div class="mat-elevation-z8 table-responsive">
                <table mat-table [dataSource]="Claims_DATA">
                    <ng-container matColumnDef="sn">
                        <th mat-header-cell *matHeaderCellDef>S/N</th>
                        <td mat-cell *matCellDef="let element;let i=index"> {{i+1}} </td>
                </ng-container>
                <!-- <ng-container matColumnDef="created">
                  <th mat-header-cell *matHeaderCellDef>Created Date</th>
                  <td mat-cell *matCellDef="let element"  style="text-transform: capitalize;">  {{element.created | date:'dd/MM/yyyy'}}  </td>
                </ng-container> -->
                <ng-container matColumnDef="First">
                  <th mat-header-cell *matHeaderCellDef>Patient Name</th>
                  <td mat-cell *matCellDef="let element"  style="text-transform: capitalize;"> {{element.member}} </td>
                </ng-container>
               
                  <ng-container matColumnDef="visit_no">
                    <th mat-header-cell *matHeaderCellDef>Visit Number</th>
                    <td mat-cell *matCellDef="let element"> {{element.visit_number}} </td>
                  </ng-container><br>
                    <ng-container matColumnDef="memberno">
                      <th mat-header-cell *matHeaderCellDef>Member Number</th>
                      <td mat-cell *matCellDef="let element"> {{element.member_number}} </td>
                    </ng-container>  
               
                    <ng-container matColumnDef="phone">
                        <th mat-header-cell *matHeaderCellDef>Scheme</th>
                        <td mat-cell *matCellDef="let element"> {{element.scheme_name}} </td>
                      </ng-container>
                      <ng-container matColumnDef="insurancecompany">
                        <th mat-header-cell *matHeaderCellDef>Company</th>
                        <td mat-cell *matCellDef="let element"> {{element.insurance_company}} </td>
                      </ng-container>
                      <ng-container matColumnDef="print">
                        <th mat-header-cell *matHeaderCellDef>Print</th>
                        <td mat-cell *matCellDef="let element"> 
                          <button class="btn btn-success btn-sm" (click)="clickRow(selected=element)">Print</button>
                           </td>
                      </ng-container>
                      <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef>Action</th>
                        <td mat-cell *matCellDef="let element"> 
                          <button class="btn btn-success btn-sm" (click)="rowSelectedView(element)">View </button>
                           </td>
                      </ng-container>
                      
                      
                 
                      <!-- <ng-container matColumnDef="form">
                        <th mat-header-cell *matHeaderCellDef>Claim Form</th>
                        <td mat-cell *matCellDef="let element">
                          <div class="dropdown show">
                           
                            <a class="btn btn-primary dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Insurance Forms
                            </a>
                          
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                             <li>  <button class="btn btn-primary"  (click)="sanlamInsuranceClicked(element)">Sanlam</button></li> 
                            <li> <button class="btn btn-primary" (click)="sedgrickInsuranceClicked(element)">Sedgrick</button></li>
                            <li> <button class="btn btn-primary" (click)="apaInsuranceClicked(element)">APA Ins</button></li>
                            <li> <button class="btn btn-primary" (click)="aarInsuranceClicked(selected=element)">AAR Ins</button></li>
                            <li> <button class="btn btn-primary" (click)="coopInsuranceClicked(element)">CO-OP Ins</button></li>
                            <li> <button class="btn btn-primary" (click)="medInsuranceClicked(element)">MED Ins</button></li>
                            <li> <button class="btn btn-primary" (click)="uapInsuranceClicked(element)">UAP Ins</button></li>
                            <li> <button class="btn btn-primary" (click)="mtnInsuranceClicked(element)">MTN Ins</button></li>
                            
                            <li> <button class="btn btn-primary" (click)="minetInsuranceClicked(element)">Minet Ins</button></li>
                            <li> <button class="btn btn-primary" (click)="jubileeInsuranceClicked(element)">jubilee Ins</button></li>
                            <li> <button class="btn btn-primary" (click)="cignaInsuranceClicked(element)">Cigna Ins</button></li>
                            <li> <button class="btn btn-primary" (click)="heritageInsuranceClicked(element)">Heritage Ins</button></li>
                            <li> <button class="btn btn-primary" (click)="cicInsuranceClicked(element)">CIC Group</button></li>
                            <li> <button class="btn btn-primary" (click)="bupaInsuranceClicked(element)">BUPA Global</button></li>

                            
                             
                            </div>
                          </div>
                        
                        </td> 
                      </ng-container>   -->

                  <tr mat-header-row *matHeaderRowDef="Columns"></tr>
                  <tr mat-row *matRowDef="let row; columns:Columns;"></tr>
                </table>
          
                <mat-paginator [pageSizeOptions]="[100,200]" showFirstLastButtons></mat-paginator>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '9px' }"></ngx-loading>
  