
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <h5>Print Insurance Forms</h5>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-12">
                <div class="row">
                  <div class="col-sm-2">
                    <mat-form-field>
                    <input matInput [(ngModel)]="searchText"  autocomplete="off"    placeholder="Mobile,  Name" type="search">
                    </mat-form-field>
            </div>   
    
    
    

          <div class="col-sm-2">
            <button  (click)="clickSearch()"  class="btn btn-success pull-right">search</button> 
          </div>
<div class="col-sm-2"></div>

        <div class="col-sm-2">
          <mat-form-field>
            <input matInput [(ngModel)]="encounterText"  autocomplete="off"    placeholder="Ecounter number, Visit Number" type="search">
            </mat-form-field>
        </div>
        <div class="col-sm-3">
          <button  (click)="clickRequest()"  class="btn btn-success pull-right">Request Encounter</button> 
        </div>

                </div>
              </div>
            <div class="col-sm-12">
              <div class="mat-elevation-z8 table-responsive">
                <table mat-table [dataSource]="Claims_DATA">
                    <ng-container matColumnDef="sn">
                        <th mat-header-cell *matHeaderCellDef>S/N</th>
                        <td mat-cell *matCellDef="let element;let i=index"> {{i+1}} </td>
                </ng-container>
             
                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef>Patient Name</th>
                  <td mat-cell *matCellDef="let element"  style="text-transform: capitalize;"> {{element.patient.first_name | uppercase }} {{element.patient.last_name | uppercase }}  </td>
                </ng-container>
               
                  <ng-container matColumnDef="visit_no">
                    <th mat-header-cell *matHeaderCellDef>Visit Number</th>
                    <td mat-cell *matCellDef="let element"> {{element.insuranceVisit.visit_number}} </td>
                  </ng-container><br>
 
                  <ng-container matColumnDef="phone">
                    <th mat-header-cell *matHeaderCellDef>Phone</th>
                    <td mat-cell *matCellDef="let element"> {{element.patient.phone }} </td>
                  </ng-container>
                      <ng-container matColumnDef="insurancecompany">
                        <th mat-header-cell *matHeaderCellDef>Company</th>
                        <td mat-cell *matCellDef="let element"> {{element.insurance_company | uppercase }} </td>
                      </ng-container>
                      <ng-container matColumnDef="member_sign">
                        <th mat-header-cell *matHeaderCellDef>Member<br> Signature</th>
                        <td mat-cell *matCellDef="let element"> 
                          <!-- <button class="btn btn-success btn-sm" *ngIf="element.member_signed" >Signed</button> -->
                          <mat-icon  *ngIf="element.member_signed"  color="primary">done</mat-icon>
                          <mat-icon  *ngIf="!element.member_signed"  color="warn">clear</mat-icon>
                          <!-- <button class="btn btn-warning btn-sm">Not Signed</button> -->
                           </td>
                      </ng-container>
                      <ng-container matColumnDef="doctor_sign">
                        <th mat-header-cell *matHeaderCellDef>Doctor <br>Signature</th>
                        <td mat-cell *matCellDef="let element"> 
                          <!-- <button class="btn btn-success btn-sm" *ngIf="element.practitioner_signed">Signed</button>
                          <button class="btn btn-warning btn-sm" *ngIf="!element.practitioner_signed">Not Signed</button> -->
                          <mat-icon  *ngIf="element.member_signed"  color="primary">done</mat-icon>
                          <mat-icon  *ngIf="!element.member_signed"  color="warn">clear</mat-icon>
                           </td>
                      </ng-container>
                      <ng-container matColumnDef="print">
                        <th mat-header-cell *matHeaderCellDef>Print</th>
                        <td mat-cell *matCellDef="let element"> 
                          <button class="btn btn-success btn-sm" (click)="clickRow(selected=element)"><i class="fa fa-print" aria-hidden="true"></i></button>
                          
                           </td>
                      </ng-container>
                 
                      
                      
                 
                     

                  <tr mat-header-row *matHeaderRowDef="Columns"></tr>
                  <tr mat-row *matRowDef="let row; columns:Columns;"></tr>
                </table>
          
                <mat-paginator [pageSizeOptions]="[100,200]" showFirstLastButtons></mat-paginator>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '9px' }"></ngx-loading>
  