<div class="card">
  <div class="card-header">
    <b><i class="icon-plus"></i> Add Triage Details</b>
  </div>
    <div class="card-body">
      <div class="row">
        <div class="col-sm-8">
          <div class="form-group row">
            <div class="col-3">
              <input type="text" class="form-control" [(ngModel)]="name" placeholder="PATIENT NAME" (input)="SearchName()">
            </div>
            <div class="col-3">
              <input type="text" class="form-control" [(ngModel)]="searchText" placeholder="National ID" (input)="Search()">
            </div>
            <div class="col-3">
              <input type="text" class="form-control" placeholder="VISIT NUMBER" (input)="SearchVisit()"
                [(ngModel)]="visitNumber">
            </div>
            <div class="col-3">
              <input type="text" class="form-control" placeholder="PATIENT NO" (input)="SearchByPatient()"
                [(ngModel)]="patientNumber">
            </div>
          </div>
        </div>
      </div>
  <div class="row">
    <div class="col-sm-12 table-responsive">
      <table class="table table-condensed table-hover table-sm" style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">
        <thead style="background-color:#d1d8dd;">
          <tr style="font-size:10px;font-weight:bold;">
            <th>S.No</th>
            <th> NAME</th>
            <th> PATIENT NAME</th>
            <th> ENCOUNTER</th>
            <th> NATIONAL ID</th>
            <th> PRIORITY</th>
            <th> PHONE</th>
            <th> STATUS</th>
            <th> CHECK IN</th>
            <th> TIME</th>
  
          </tr>
        </thead>
        <tbody id="displ">
          <tr *ngFor="let visit of visits;let i = index" style="font-weight:bold;font-size:10px;" (click)="addTriage(visit)">
            <td>{{i+1}}</td>
            <td> {{visit.name|uppercase}}</td>
            <td >{{visit.patient.patient_no}}</td>
            <td >{{visit.visit_no}}</td>
            <td> {{visit.patient.national_id}}</td>
            <td > {{visit.priority}}</td>
            <td> {{visit.patient.phone}}</td>
            <td> {{visit.status}}</td>
            
            <td>{{ visit.check_in | date: 'yyyy-MM-dd'}}</td>
            <td>{{ visit.check_in | date : 'shortTime'}}</td>
  
            <!-- <td (click)="patientDetails(visit)"> <button class="btn btn-primary btn-sm"><i class="cui-note"></i></button>
        </td> -->
            <!-- <td style="font-weight:bold;font-size:11px;"> <button class="btn btn-info btn-sm"
            (click)="setPatient(visit);staticModal.show()"><i class="icon-plus"></i> New visit</button></td> -->
  
          </tr>
          <tr *ngIf="!visits.length">
            <td colspan="8">
              <h6 class="text-center"> No record</h6>
    
            </td>
          </tr>
  
        </tbody>
      </table>
  
    </div>
  </div>

<div class="modal fade" bsModal #staticModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog"
  aria-labelledby="dialog-static-name">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h6 id="dialog-static-name" class="modal-title text-center" ><b> <i class="fa fa-circle" style="color:purple"></i><span style="font-weight:bold;font-size:11px">Add Triage Details for</span> <span style="font-weight:bold;font-size:9px;margin-left: 4px;" class="text-success">{{patientName|uppercase}}</span></b></h6>
        <button type="button" class="close pull-right" aria-label="Close" (click)="staticModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      <div class="panel panel-default">
            <div class="panel-body">
              <form [formGroup]="form">
                <div class="row">
                  <div class="col-sm-12">
                    <fieldset>
                      <legend><span style="font-size:10px;margin-left:5px;">Pressure</span></legend>
                      <div class="row">
                        <div class="col-sm-3">
                          <label>(0-120)</label>
                          <input formControlName="lower" max="20" placeholder="upperlimit" class="form-control" placeholder="upper limit"
                            type="number" #lower />
                        </div>
                        <br>
                        <h1 style="margin-top:25px;">
                      <span >/</span>
                        </h1>
                        <div class="col-sm-3">
                          <label>(0-120)</label>
                          <input formControlName="upper"  placeholder="lower limit" class="form-control" placeholder="lower limit"
                            type="number" #upper />
                        </div>
                        <div class="col-sm-2">
                          <label>Units</label><br />
                        <mat-radio-button [checked]="true">mm/Hg</mat-radio-button>
                        </div>
                      </div>
                    </fieldset>
                  </div>
                </div>
                <br />
                <fieldset>
                  <legend><span style="font-size:10px;margin-left:5px;">Other vitals</span></legend>
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="row">
                        <div class="col-sm-6">
                          <label>Weight</label>
                          <input formControlName="weight" class="form-control" placeholder="Weight" type="number" #weight />
                        </div>
                        <div class="col-sm-4">
                          <label>Units</label><br />
                          <mat-radio-button name="kgs" [checked]="true">Kgs</mat-radio-button>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="row">
                        <div class="col-sm-6">
                          <label>Height</label>
                          <input formControlName="height" class="form-control" placeholder="height" type="number" #height />
                        </div>
                        <div class="col-sm-4">
                          <label>Units</label><br />
                          <mat-radio-button name="cm" [checked]="true">cm</mat-radio-button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row" style="margin-top:8px;">
                    <div class="col-sm-6">
                      <div class="row">
                        <div class="col-sm-6">
                          <label>Temperature</label>
                          <input formControlName="temperature"  class="form-control" placeholder="Temperature" type="number" #temperature />
                        </div>
                        <div class="col-sm-4">
                          <label>Units</label><br />
                          <mat-radio-button name="celsius" [checked]="true">°C</mat-radio-button>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="row">
                        <div class="col-sm-6">
                          <label>Pulse</label>
                          <input formControlName="pulse" class="form-control" placeholder="pulse" type="number" #pulse />
                        </div>
                        <div class="col-sm-4">
                          <label>Units</label><br />
                          <mat-radio-button name="pulse" [checked]="true">bpm</mat-radio-button>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6">
                    <div class="row">
                      <div class="col-sm-6">
                        <label>Respiratory</label>
                        <input formControlName="respiratory" class="form-control" placeholder="respiratory" type="number" #respiratory />
                      </div>
                      <div class="col-sm-4">
                        <label>Units</label><br />
                        <mat-radio-button name="respiratory" [checked]="true">bpm</mat-radio-button>
                      </div>
                    </div>
                    </div>
                    
                  </div>
                  <div class="col-sm-6">
        
                  </div>
                </fieldset>
          <button class="btn btn-success btn-md pull-right"  style="margin-top:3px;" (click)="triageDetails()" [disabled]="!form.valid"><b> <i class="icon-check"></i> Save</b></button>

              </form>
             
            </div>
          </div>
      
      </div>
    </div>
  </div>
</div>
</div>