<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <h6 class="card-header bg-success">Booking Details

            </h6>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-12">
                      <div class="row">
                        <div class="col-sm-12 col-md-1 col-lg-1 col-3">
                          <img src="assets/img/avatars/female.png" class="rounded-circle" alt="" style="width: 90px;" *ngIf="customer.gender == 'Female' || customer.gender == 'female'">
                          <img src="assets/img/avatars/male.png" class="rounded-circle" alt="" style="width: 90px;" *ngIf="customer.gender == 'Male' || customer.gender == 'male'">
                        </div>
                        <div class="col-sm-12 col-md-11 col-lg-11 col-9">
                          <div class="row">
                        <div class="col-sm-5">
                            <div class="row">
                                <div class="col-sm-12 text-primary" style="text-transform: capitalize;font-weight: 600;">{{customer.first_name}} {{customer.last_name}} {{customer.other_names}} </div>
                                <div class="col-sm-12" > {{customer.phone}} </div>
                                <div class="col-sm-12" > {{customer.email}} </div>
                            </div>
                            <!-- <div class="row">
                              <div class="col-sm-12" >
                                <i class="fa fa-pencil text-primary" ></i> Edit Details
                              </div>
                            </div> -->

                        </div>
                            <div class="col-sm-7" style="text-align:right">
     
                              <button  (click)="feedbackClicked()"  class="btn btn-success pull-right">Feedback</button> 

                            </div>
                          </div>
              
                        </div>
                      </div>
                     
                    </div>
                    <div class="col-sm-12">
                        <mat-tab-group>
                         

                            <mat-tab>
                              <ng-template mat-tab-label>
                                Patient Details
                              </ng-template>
                            
                              <br>
                              <fieldset>
                                <legend>Patient Details</legend>
                                <div class="col-sm-12">
                                 
                                    <form [formGroup]="clientForm" >
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <mat-form-field appearance="outline">
                                                  <mat-label>First Name</mat-label>
                                                    <input matInput placeholder="First Name" formControlName="first_name">
                                                    
                                                    <mat-error *ngIf="c.first_name.errors && submitted">First Name <strong>required</strong></mat-error>
                                                  </mat-form-field>
                                            </div>
                                          <div class="col-sm-4">
                                            <mat-form-field appearance="outline">
                                              <mat-label>Last Name</mat-label>
                                                <input matInput placeholder="Last Name" formControlName="last_name">
                                                <mat-error *ngIf="c.last_name.errors &&submitted">Last Name <strong>required</strong></mat-error>
                                              </mat-form-field>
                                          </div>
                                    
                                        <div class="col-sm-4">
                                          <mat-form-field appearance="outline">
                                            <mat-label>Middle</mat-label>
                                              <input matInput placeholder="Middle Name" formControlName="other_names">
                                             
                                              <mat-error *ngIf="c.other_names.errors && submitted">Middle Name <strong>required</strong></mat-error>
                                            </mat-form-field>
                                      </div>
                                       <div class="col-sm-4">
                                        <mat-form-field appearance="outline">
                                          <mat-label>Gender</mat-label>
                                          <input matInput placeholder="Gender" formControlName="gender">
                                        </mat-form-field>
                                       </div>
                                       <div class="col-sm-4">
                                        <mat-form-field appearance="outline">
                                          <mat-label>Patient Number</mat-label>
                                            <input matInput placeholder="Patient Number" formControlName="patient_number">
                                          </mat-form-field>
                                      </div>
                                       <div class="col-sm-4">
                                        <mat-form-field  appearance="outline">
                                          <mat-label>Phone</mat-label>
                                            <input matInput placeholder="Phone" formControlName="phone">
                                            <mat-error *ngIf="c.phone.errors && submitted">Phone <strong>required</strong></mat-error>
                                    
                                          </mat-form-field>
                                       </div>
                                       <div class="col-sm-4">
                                        <mat-form-field appearance="outline">
                                          <mat-label>D.O.B</mat-label>
                                            <input matInput placeholder="Date of Birth (DD/MM/YYYY)"  formControlName="dob" >
                                         
                                          </mat-form-field>
                                      </div>
                                      <div class="col-sm-4">
                                        <mat-form-field appearance="outline">
                                          <mat-label>National ID</mat-label>
                                             <input matInput placeholder="National ID" formControlName="national_id">
                                             <mat-error *ngIf="c.national_id.errors && submitted">National ID <strong>required</strong></mat-error>
                                           </mat-form-field>
                                      </div>
                                      <div class="col-sm-4">
                                        <mat-form-field appearance="outline">
                                          <mat-label>Email</mat-label>
                                             <input matInput placeholder="Email" formControlName="email">
                                             <mat-error *ngIf="c.email.errors && submitted">Valid email <strong>required</strong></mat-error>
                                        </mat-form-field>
                                      </div>
                                      <div class="col-sm-4">
                                        <mat-form-field appearance="outline">
                                          <mat-label>Occupation</mat-label>
                                            <input matInput placeholder="Occupation" formControlName="occupation">
                                          </mat-form-field>
                                      </div>
                                      <div class="col-sm-4">
                                        <mat-form-field appearance="outline">
                                            <mat-label>Marital status</mat-label>
                                        
                                              <input matInput placeholder="Residence" formControlName="marital_status">
                                          </mat-form-field>
                                      </div>
                                      <div class="col-sm-4">
                                        <mat-form-field appearance="outline">
                                          <mat-label>Religion</mat-label>
                                            <input matInput placeholder="Religion" formControlName="religion">
                                          </mat-form-field>
                                      </div>
                                      <div class="col-sm-4">
                                        <mat-form-field appearance="outline">
                                          <mat-label>Residence</mat-label>
                                            <input matInput placeholder="Residence" formControlName="residence">
                                          </mat-form-field>
                                    </div>
                                    <div class="col-sm-4">
                                      <mat-form-field appearance="outline">
                                          <mat-label>Nationality</mat-label>
                                          <input matInput placeholder="Residence" formControlName="nationality">
                                        </mat-form-field>
                                  </div>

                                    <div class="col-sm-8">
                                    <button class="btn btn-success pull-right" (click)="updateClientData()">Update</button>
                                    </div>
                                        </div>
                                      </form>


                                </div>
                              </fieldset>
                              
                        

  
                            </mat-tab>
                            <mat-tab>
                              <ng-template mat-tab-label>
                                NextofKin Details
                              </ng-template>
                            
                              <br>
                              <fieldset>
                                <legend>NextofKin Details</legend>
                                <div class="col-sm-12">
                                 
                                    <form>
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <mat-form-field appearance="outline">
                                                  <mat-label>Name</mat-label>
                                                    <input matInput placeholder="Name" name="name" [(ngModel)]="nextofKin.name">
                                                  </mat-form-field>
                                            </div>
                                     
                                    
                                  
                                       <div class="col-sm-4">
                                        <mat-form-field  appearance="outline">
                                          <mat-label>Phone</mat-label>
                                            <input matInput placeholder="Phone" name="phone" [(ngModel)]="nextofKin.phone">
                                    
                                          </mat-form-field>
                                       </div>
                                  
                                       <div class="col-sm-4">
                                        <mat-form-field appearance="outline">
                                          <mat-label>Relationship</mat-label>
                                            <input matInput placeholder="Relationship" name="relationship"  [(ngModel)]="nextofKin.relationship">
                                          </mat-form-field>
                                    </div>
                                     
                                      <div class="col-sm-4">
                                        <mat-form-field appearance="outline">
                                          <mat-label>Residence</mat-label>
                                            <input matInput placeholder="Residence"   name="residence" [(ngModel)]="nextofKin.residence">
                                          </mat-form-field>
                                    </div>
                                    <div class="col-sm-8">
                                      <button class="btn btn-success pull-right" (click)="updateNextOfKinData()">Update</button>
                                      </div>
                                        </div>
                                      </form>


                                </div>
                              </fieldset>
                              
                        

  
                            </mat-tab>
                            <mat-tab>
                              <ng-template mat-tab-label>
                                Payment Details
                              </ng-template>
                              <br>
                            <div class="row container-fluid">
                            
                             
                              <div class="col-sm-12">
                               

                                <form [formGroup]="paymentForm"   #payment="ngForm">
                                    <div class="col-sm-12">
                                      <div class="row" style="justify-content: center;"> <h2><span style="font-weight: 100;color: black;font-family: Roboto,'Helvetica Neue',sans-serif;">How will you make payment for hospital bill?</span></h2></div>
                   
                                    <!-- <mat-radio-group  formControlName="payment" [(ngModel)]="payment_mode"> -->
                                      <div class="row"  style="justify-content: center;display: flex;">
                                        <div class="col-sm-3">
                                          <mat-checkbox formControlName="cash"  [checked]="payment_mode=='Cash'" (change)="cashClicked($event)" >Cash</mat-checkbox>
                                         
                                          <!-- <mat-radio-button    value="Cash"  [checked]="true" style="font-family: lato light;margin-right: 30px;"><h3>Cash</h3></mat-radio-button> -->
                                         </div>
                                         <div class="col-sm-3">
                                          <mat-checkbox formControlName="mpesa"  [checked]="payment_mode=='Mpesa'" (change)="mpesaClicked($event)">Mpesa</mat-checkbox>
                                          <!-- <mat-radio-button    value="Mpesa"   [checked]="payment_type.payment=='jMpesa'"   style="font-family: lato light;margin-right: 30px;"><h3>Mpesa</h3></mat-radio-button> -->
                                      </div>
                                         <div class="col-sm-3">
                                          <mat-checkbox formControlName="creditcard" [checked]="payment_mode=='credit Card' || payment_mode=='Credit Card'" (change)="creditCardClicked($event)">Credit Card</mat-checkbox>
                                          <!-- <mat-checkbox [aria-label]="Credit Card"> </mat-checkbox> -->
                                               <!-- <mat-radio-button value="credit Card" [checked]="payment_type.payment=='lcredit Card'"   style="font-family: lato light; margin-right: 30px;" ><h3>Credit Card</h3></mat-radio-button> -->
                                          </div>
                                          <div class="col-sm-3">
                                            <mat-checkbox formControlName="insurance"  [checked]="payment_mode=='Insurance'" (change)="insuranceClicked($event)">Insurance</mat-checkbox>
                                            <!-- <mat-checkbox [aria-label]="Insurance"> </mat-checkbox> -->
                                               <!-- <mat-radio-button value="Insurance"   [checked]="payment_type.payment=='Ijnsurance'"  style="font-family: lato light;margin-right: 30px;" ><h3>Insurance</h3></mat-radio-button> -->
                                          </div>                       
                                      </div>
                      
                                     <!-- </mat-radio-group> -->
                                  </div> 
                                <div class="card" *ngIf="show_insurance">
                                        <div class="card-header bg-default">
                                          <h6 >Insurance Payment Details</h6>
                                        </div>
                                        <div class="card-body">
                                          
                
                                            <div class="row"  *ngIf="show_insurance">
                                                           
                                              <div class="col-sm-4">                            
                                                 
                
                                                  <mat-form-field  appearance="outline">
                                                    <input id="typeahead-format" type="text"  matInput placeholder="Insurance Company" formControlName="insurance_company" [(ngModel)]="insurances" [ngbTypeahead]="search" [resultFormatter]="formatter" />
                                              
                                                  </mat-form-field>
                                            </div>
                                            <div class="col-sm-4">                            
                
                                              <mat-form-field  appearance="outline">
                                                <mat-label>Scheme Name</mat-label>
                                                <input type="text" matInput  formControlName="scheme_name"  >
                                               
                                                <mat-error *ngIf="p.scheme_name.errors?.required && show_insurance">Scheme is required</mat-error>
                                              </mat-form-field>
                                          </div>
                                          <div class="col-sm-4">
                                            <mat-form-field  appearance="outline">
                                                <mat-label>Scheme Number (Optional)</mat-label>
                                                <input matInput placeholder="Scheme number" formControlName="scheme_number">
                                                <mat-error *ngIf="p.scheme_number.errors?.required && show_insurance">Scheme number is required</mat-error>
                                
                                              </mat-form-field>
                                        </div>
                
                                                <div class="col-sm-4">
                                                    <mat-form-field appearance="outline">
                                                        <mat-label>Member Number</mat-label>
                                                        <input matInput placeholder="Member number" formControlName="member_number">
                                                        <mat-error *ngIf="p.member_number.errors?.required && show_insurance">Member number is required</mat-error>
                                        
                                                      </mat-form-field>
                                                </div>
                
                
                                                <div class="col-sm-4">
                                                  <mat-form-field  appearance="outline">
                                                      <mat-label> Employer/Name of Policy Holder</mat-label>
                                                      <input matInput placeholder=" Employer/Name of Policy Holder" formControlName="employee">
                                                      <mat-error *ngIf="p.employee.errors?.required && show_insurance"> Employer/Name of Policy Holder is required</mat-error>
                                      
                                                    </mat-form-field>
                                              </div>
                                              <div class="col-sm-4">
                                                <mat-form-field  appearance="outline">
                                                    <mat-label>Employee Number</mat-label>
                                                    <input matInput placeholder="Employee number" formControlName="employee_number">
                                                    <mat-error *ngIf="p.employee_number.errors?.required && show_insurance">Employee  Number is required</mat-error>
                                    
                                                  </mat-form-field>
                                            </div>
                                            <div class="col-sm-4">
                                              <mat-form-field  appearance="outline">
                                                  <mat-label>Department (Optional)</mat-label>
                                                  <input matInput placeholder="Employee number" formControlName="employee_number">
                                                  <mat-error *ngIf="p.department.errors?.required && show_insurance">Department is required</mat-error>
                                  
                                                </mat-form-field>
                                          </div>
                
                                          <div class="col-sm-4">
                                            <mat-form-field appearance="outline">
                                              <mat-label>Relationship to Employee</mat-label>
                                              <input matInput placeholder="Relationship to Employee" formControlName="relation"> 
                                              <mat-error *ngIf="p.relation.errors?.required && show_insurance">Relationship to Employee is required</mat-error>
                                            </mat-form-field>
                                        </div>
                
                                        <div class="col-sm-4">
                                          <mat-form-field  appearance="outline">
                                              <mat-label>Medical Card Number</mat-label>
                                              <input matInput placeholder="Medical Card Number" formControlName="card_number">
                                              <mat-error *ngIf="p.card_number.errors?.required && show_insurance">Medical Card Number is required</mat-error>
                                            </mat-form-field>
                                      </div>
                
                                      <div class="col-sm-4">
                                        <mat-form-field  appearance="outline">
                                            <mat-label>NHIF Number (Optional)</mat-label>
                                            <input matInput placeholder="NHIF Number" formControlName="nhif_number">
                                            <mat-error *ngIf="p.nhif_number.errors?.required && show_insurance">NHIF number is required</mat-error>
                                          </mat-form-field>
                                    </div>
                                      <div class="col-sm-4">
                                        <mat-form-field  appearance="outline">
                                            <mat-label>ID Number/ Passport Number</mat-label>
                                            <input matInput placeholder="ID Number/ Passport Number" formControlName="id_number">
                                            <mat-error *ngIf="p.id_number.errors?.required && show_insurance">ID Number/ Passport Number is required</mat-error>
                                          </mat-form-field>
                                    </div>
                                    <div class="col-sm-8">
                                      <button class="btn btn-success pull-right" (click)="updatePaymentDetails()">Update</button>
                                      </div>
                                              </div>
                                          </div>
                                        </div>
                  
                                
                                    </form>



                              </div>
                    
                            </div>
                            <br>
                            </mat-tab>
                            <mat-tab>
                              <ng-template mat-tab-label>
                                Symptoms 
                              </ng-template>
                              <br>
                            <div class="row container-fluid">
                            
                             
                              <div class="col-sm-12">
                                  
                                <!-- <div class="row" *ngFor="let item of symptoms" style="justify-content: left;">
                                    <div class="col-sm-6" style="text-align: left;">
                                    {{item}}
                                    </div>
                                </div> -->
                                <table style="border:1px">
                                  <thead>
                                    <th>S/N</th>
                                    <th>Symptoms</th>
                                  </thead>
                                <tbody>
                                  <tr *ngFor="let item of symptoms; index as i">
                                    <td>{{i+1}}</td><td>{{item}}</td> 
                                  </tr>
                                </tbody>
                              </table>
                              </div>
                    
                            </div>
                            <br>
                            </mat-tab>

                            <mat-tab>
                                <ng-template mat-tab-label>
                                  Clinic and Speciality 
                                </ng-template>
                                <br>
                              <div class="row container-fluid">
                                <div class="col-sm-12">
                                    <div class="row" style="text-align: left;">{{department}}</div>
                                    <!-- <div class="row" *ngFor="let item of speciality" style="justify-content: left;">
                                        <div class="col-sm-6" style="text-align: left;">
                                        {{item}}
                                        </div>
                                    </div> -->
                                    
                                    <table style="border:1px">
                                      <thead>
                                        <th>S/N</th>
                                        <th>Speciality</th>
                                      </thead>
                                    <tbody>
                                      <tr *ngFor="let item of speciality; index as i">
                                        <td>{{i+1}}</td><td>{{item}}</td> 
                                      </tr>
                                    </tbody>
                                  </table>
                                </div>
                      
                              </div>
                              <br>
                              </mat-tab>
                            
  
                          </mat-tab-group>
                    </div>
                    
                  </div>
                  
            </div>
          </div>
    </div> 

</div>


<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '9px' }"></ngx-loading>