<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <h6 class="card-header bg-success">Booking Details

            </h6>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-12">
                      <div class="row">
                        <div class="col-sm-12 col-md-1 col-lg-1 col-3">
                          <img src="assets/img/avatars/female.png" class="rounded-circle" alt="" style="width: 90px;" *ngIf="customer.gender == 'Female' || customer.gender == 'female'">
                          <img src="assets/img/avatars/male.png" class="rounded-circle" alt="" style="width: 90px;" *ngIf="customer.gender == 'Male' || customer.gender == 'male'">
                        </div>
                        <div class="col-sm-12 col-md-11 col-lg-11 col-9">
                          <div class="row">
                        <div class="col-sm-5">
                            <div class="row">
                                <div class="col-sm-12 text-primary" style="text-transform: capitalize;font-weight: 600;">{{customer.first_name}} {{customer.last_name}} {{customer.other_names}} </div>
                                <div class="col-sm-12" > {{customer.phone}} </div>
                                <div class="col-sm-12" > {{customer.email}} </div>
                            </div>


                        </div>
                            <div class="col-sm-7" style="text-align:right">
                              <div class="row">
                                
                                  <div class="col-sm-12" ><button  (click)="feedbackClicked()"  class="btn btn-success pull-right">Feedback</button></div> 
                                  <div class="col-sm-12" style="margin-top:10px;"><button  (click)="createAppointment()" class="btn btn-success pull-right"> <i class="fas fa-plus"></i>Create Appointment</button></div>
                          </div>
                            </div>
                          </div>
              
                        </div>
                      </div>
                     
                    </div>
                    <div class="col-sm-12">
                        <mat-tab-group>
                         

                            <mat-tab>
                              <ng-template mat-tab-label>
                                Patient Details
                              </ng-template>
                            
                              <br>
                              <fieldset>
                                <legend>Patient Details</legend>
                                <div class="col-sm-12">
                                 
                                    <form [formGroup]="clientForm" >
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <mat-form-field appearance="outline">
                                                  <mat-label>First Name</mat-label>
                                                    <input matInput placeholder="First Name" formControlName="first_name">
                                                    
                                                    <mat-error *ngIf="c.first_name.errors && submitted">First Name <strong>required</strong></mat-error>
                                                  </mat-form-field>
                                            </div>
                                          <div class="col-sm-4">
                                            <mat-form-field appearance="outline">
                                              <mat-label>Last Name</mat-label>
                                                <input matInput placeholder="Last Name" formControlName="last_name">
                                                <mat-error *ngIf="c.last_name.errors &&submitted">Last Name <strong>required</strong></mat-error>
                                              </mat-form-field>
                                          </div>
                                    
                                        <div class="col-sm-4">
                                          <mat-form-field appearance="outline">
                                            <mat-label>Middle</mat-label>
                                              <input matInput placeholder="Middle Name" formControlName="other_names">
                                             
                                              <mat-error *ngIf="c.other_names.errors && submitted">Middle Name <strong>required</strong></mat-error>
                                            </mat-form-field>
                                      </div>
                                       <div class="col-sm-4">
                                        <mat-form-field appearance="outline">
                                          <mat-label>Gender</mat-label>
                                          <input matInput placeholder="Gender" formControlName="gender">
                                        </mat-form-field>
                                       </div>
                                       <div class="col-sm-4">
                                        <mat-form-field appearance="outline">
                                          <mat-label>Patient Number</mat-label>
                                            <input matInput placeholder="Patient Number" formControlName="patient_number">
                                          </mat-form-field>
                                      </div>
                                       <div class="col-sm-4">
                                        <mat-form-field  appearance="outline">
                                          <mat-label>Phone</mat-label>
                                            <input matInput placeholder="Phone" formControlName="phone">
                                            <mat-error *ngIf="c.phone.errors && submitted">Phone <strong>required</strong></mat-error>
                                    
                                          </mat-form-field>
                                       </div>
                                       <div class="col-sm-4">
                                        <mat-form-field appearance="outline">
                                          <mat-label>D.O.B</mat-label>
                                            <input matInput placeholder="Date of Birth (DD/MM/YYYY)"  formControlName="dob" >
                                         
                                          </mat-form-field>
                                      </div>
                                      <div class="col-sm-4">
                                        <mat-form-field appearance="outline">
                                          <mat-label>National ID</mat-label>
                                             <input matInput placeholder="National ID" formControlName="national_id">
                                             <mat-error *ngIf="c.national_id.errors && submitted">National ID <strong>required</strong></mat-error>
                                           </mat-form-field>
                                      </div>
                                      <div class="col-sm-4">
                                        <mat-form-field appearance="outline">
                                          <mat-label>Email</mat-label>
                                             <input matInput placeholder="Email" formControlName="email">
                                             <mat-error *ngIf="c.email.errors && submitted">Valid email <strong>required</strong></mat-error>
                                        </mat-form-field>
                                      </div>
                                      <div class="col-sm-4">
                                        <mat-form-field appearance="outline">
                                          <mat-label>Occupation</mat-label>
                                            <input matInput placeholder="Occupation" formControlName="occupation">
                                          </mat-form-field>
                                      </div>
                                      <div class="col-sm-4">
                                        <mat-form-field appearance="outline">
                                            <mat-label>Marital status</mat-label>
                                        
                                              <input matInput placeholder="Residence" formControlName="marital_status">
                                          </mat-form-field>
                                      </div>
                                      <div class="col-sm-4">
                                        <mat-form-field appearance="outline">
                                          <mat-label>Religion</mat-label>
                                            <input matInput placeholder="Religion" formControlName="religion">
                                          </mat-form-field>
                                      </div>
                                      <div class="col-sm-4">
                                        <mat-form-field appearance="outline">
                                          <mat-label>Residence</mat-label>
                                            <input matInput placeholder="Residence" formControlName="residence">
                                          </mat-form-field>
                                    </div>
                                    <div class="col-sm-4">
                                      <mat-form-field appearance="outline">
                                          <mat-label>Nationality</mat-label>
                                          <input matInput placeholder="Residence" formControlName="nationality">
                                        </mat-form-field>
                                  </div>

                                    <div class="col-sm-8">
                                    <button class="btn btn-success pull-right" (click)="updateClientData()">Update</button>
                                    </div>
                                        </div>
                                      </form>


                                </div>
                              </fieldset>
                              
                        

  
                            </mat-tab>
                            <mat-tab>
                              <ng-template mat-tab-label>
                                NextofKin Details
                              </ng-template>
                            
                              <br>
                              <fieldset>
                                <legend>NextofKin Details</legend>
                                <div class="col-sm-12">
                                 
                                    <form>
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <mat-form-field appearance="outline">
                                                  <mat-label>Name</mat-label>
                                                    <input matInput placeholder="Name" name="name" [(ngModel)]="nextofKin.name">
                                                  </mat-form-field>
                                            </div>
                                     
                                    
                                  
                                       <div class="col-sm-4">
                                        <mat-form-field  appearance="outline">
                                          <mat-label>Phone</mat-label>
                                            <input matInput placeholder="Phone" name="phone" [(ngModel)]="nextofKin.phone">
                                    
                                          </mat-form-field>
                                       </div>
                                  
                                       <div class="col-sm-4">
                                        <mat-form-field appearance="outline">
                                          <mat-label>Relationship</mat-label>
                                            <input matInput placeholder="Relationship" name="relationship"  [(ngModel)]="nextofKin.relationship">
                                          </mat-form-field>
                                    </div>
                                     
                                      <div class="col-sm-4">
                                        <mat-form-field appearance="outline">
                                          <mat-label>Residence</mat-label>
                                            <input matInput placeholder="Residence"   name="residence" [(ngModel)]="nextofKin.residence">
                                          </mat-form-field>
                                    </div>
                                    <div class="col-sm-8">
                                      <button class="btn btn-success pull-right" (click)="updateNextOfKinData()">Update</button>
                                      </div>
                                        </div>
                                      </form>


                                </div>
                              </fieldset>
                              
                        

  
                            </mat-tab>
                            <mat-tab>
                              <ng-template mat-tab-label>
                                Payment Details
                              </ng-template>
                              <br>
                            <div class="row container-fluid">
                            
                             
                              <div class="col-sm-12">
                               

                                <form [formGroup]="paymentForm"   #payment="ngForm">
                                    <div class="col-sm-12">
                                      <div class="row" style="justify-content: center;"> <h2><span style="font-weight: 100;color: black;font-family: Roboto,'Helvetica Neue',sans-serif;">How will you make payment for hospital bill?</span></h2></div>
                   
                                    <!-- <mat-radio-group  formControlName="payment" [(ngModel)]="payment_mode"> -->
                                      <div class="row"  style="justify-content: center;display: flex;">
                                        <!-- <div class="col-sm-3">
                                          <mat-checkbox formControlName="cash"  [checked]="payment_mode=='Cash'" (change)="cashClicked($event)" >Cash</mat-checkbox>
                                         
                                        </div> -->
                                         <div class="col-sm-3">
                                          <mat-checkbox formControlName="mpesa"  [checked]="payment_mode=='Mpesa'" (change)="mpesaClicked($event)">Mpesa</mat-checkbox>
                                          <!-- <mat-radio-button    value="Mpesa"   [checked]="payment_type.payment=='jMpesa'"   style="font-family: lato light;margin-right: 30px;"><h3>Mpesa</h3></mat-radio-button> -->
                                      </div>
                                         <div class="col-sm-3">
                                          <mat-checkbox formControlName="creditcard" [checked]="payment_mode=='credit Card' || payment_mode=='Credit Card'" (change)="creditCardClicked($event)">Credit Card</mat-checkbox>
                                          <!-- <mat-checkbox [aria-label]="Credit Card"> </mat-checkbox> -->
                                               <!-- <mat-radio-button value="credit Card" [checked]="payment_type.payment=='lcredit Card'"   style="font-family: lato light; margin-right: 30px;" ><h3>Credit Card</h3></mat-radio-button> -->
                                          </div>
                                          <div class="col-sm-3">
                                            <mat-checkbox formControlName="insurance"  [checked]="payment_mode=='Insurance'" (change)="insuranceClicked($event)">Insurance</mat-checkbox>
                                            <!-- <mat-checkbox [aria-label]="Insurance"> </mat-checkbox> -->
                                               <!-- <mat-radio-button value="Insurance"   [checked]="payment_type.payment=='Ijnsurance'"  style="font-family: lato light;margin-right: 30px;" ><h3>Insurance</h3></mat-radio-button> -->
                                          </div>                       
                                      </div>
                      
                                     <!-- </mat-radio-group> -->
                                  </div> 
                                <div class="card" *ngIf="show_insurance">
                                        <div class="card-header bg-default">
                                          <h6 >Insurance Payment Details</h6>
                                        </div>
                                        <div class="card-body">
                                          
                
                                            <div class="row"  *ngIf="show_insurance">
                                                           
                                              <div class="col-sm-4">                            
                                                 
                
                                                  <mat-form-field  appearance="outline">
                                                    <input id="typeahead-format" type="text"  matInput placeholder="Insurance Company" formControlName="insurance_company" [(ngModel)]="insurances" [ngbTypeahead]="search" [resultFormatter]="formatter" />
                                              
                                                  </mat-form-field>
                                            </div>
                                            <div class="col-sm-4">                            
                
                                              <mat-form-field  appearance="outline">
                                                <mat-label>Scheme Name</mat-label>
                                                <input type="text" matInput  formControlName="scheme_name"  >
                                               
                                                <mat-error *ngIf="p.scheme_name.errors?.required && show_insurance">Scheme is required</mat-error>
                                              </mat-form-field>
                                          </div>
                                          <div class="col-sm-4">
                                            <mat-form-field  appearance="outline">
                                                <mat-label>Scheme Number (Optional)</mat-label>
                                                <input matInput placeholder="Scheme number" formControlName="scheme_number">
                                                <mat-error *ngIf="p.scheme_number.errors?.required && show_insurance">Scheme number is required</mat-error>
                                
                                              </mat-form-field>
                                        </div>
                
                                                <div class="col-sm-4">
                                                    <mat-form-field appearance="outline">
                                                        <mat-label>Member Number</mat-label>
                                                        <input matInput placeholder="Member number" formControlName="member_number">
                                                        <mat-error *ngIf="p.member_number.errors?.required && show_insurance">Member number is required</mat-error>
                                        
                                                      </mat-form-field>
                                                </div>
                
                
                                                <div class="col-sm-4">
                                                  <mat-form-field  appearance="outline">
                                                      <mat-label> Employer/Name of Policy Holder</mat-label>
                                                      <input matInput placeholder=" Employer/Name of Policy Holder" formControlName="employee">
                                                      <mat-error *ngIf="p.employee.errors?.required && show_insurance"> Employer/Name of Policy Holder is required</mat-error>
                                      
                                                    </mat-form-field>
                                              </div>
                                              <div class="col-sm-4">
                                                <mat-form-field  appearance="outline">
                                                    <mat-label>Employee Number</mat-label>
                                                    <input matInput placeholder="Employee number" formControlName="employee_number">
                                                    <mat-error *ngIf="p.employee_number.errors?.required && show_insurance">Employee  Number is required</mat-error>
                                    
                                                  </mat-form-field>
                                            </div>
                                            <div class="col-sm-4">
                                              <mat-form-field  appearance="outline">
                                                  <mat-label>Department (Optional)</mat-label>
                                                  <input matInput placeholder="Employee number" formControlName="employee_number">
                                                  <mat-error *ngIf="p.department.errors?.required && show_insurance">Department is required</mat-error>
                                  
                                                </mat-form-field>
                                          </div>
                
                                          <div class="col-sm-4">
                                            <mat-form-field appearance="outline">
                                              <mat-label>Relationship to Employee</mat-label>
                                              <input matInput placeholder="Relationship to Employee" formControlName="relation"> 
                                              <mat-error *ngIf="p.relation.errors?.required && show_insurance">Relationship to Employee is required</mat-error>
                                            </mat-form-field>
                                        </div>
                
                                        <div class="col-sm-4">
                                          <mat-form-field  appearance="outline">
                                              <mat-label>Medical Card Number</mat-label>
                                              <input matInput placeholder="Medical Card Number" formControlName="card_number">
                                              <mat-error *ngIf="p.card_number.errors?.required && show_insurance">Medical Card Number is required</mat-error>
                                            </mat-form-field>
                                      </div>
                
                                      <div class="col-sm-4">
                                        <mat-form-field  appearance="outline">
                                            <mat-label>NHIF Number (Optional)</mat-label>
                                            <input matInput placeholder="NHIF Number" formControlName="nhif_number">
                                            <mat-error *ngIf="p.nhif_number.errors?.required && show_insurance">NHIF number is required</mat-error>
                                          </mat-form-field>
                                    </div>
                                      <div class="col-sm-4">
                                        <mat-form-field  appearance="outline">
                                            <mat-label>ID Number/ Passport Number</mat-label>
                                            <input matInput placeholder="ID Number/ Passport Number" formControlName="id_number">
                                            <mat-error *ngIf="p.id_number.errors?.required && show_insurance">ID Number/ Passport Number is required</mat-error>
                                          </mat-form-field>
                                    </div>
                                    <div class="col-sm-8">
                                      <button class="btn btn-success pull-right" (click)="updatePaymentDetails()">Update</button>
                                      </div>
                                              </div>
                                          </div>
                                        </div>
                  
                                
                                    </form>



                              </div>
                    
                            </div>
                            <br>
                            </mat-tab>
                            <mat-tab>
                              <ng-template mat-tab-label>
                                Symptoms 
                              </ng-template>
                              <br>
                            <div class="row container-fluid">
                            
                             
                              <div class="col-sm-12">
                                  
                                <!-- <div class="row" *ngFor="let item of symptoms" style="justify-content: left;">
                                    <div class="col-sm-6" style="text-align: left;">
                                    {{item}}
                                    </div>
                                </div> -->
                                <table style="border:1px">
                                  <thead>
                                    <th>S/N</th>
                                    <th>Symptoms</th>
                                  </thead>
                                <tbody>
                                  <tr *ngFor="let item of symptoms; index as i">
                                    <td>{{i+1}}</td><td>{{item}}</td> 
                                  </tr>
                                </tbody>
                              </table>
                              </div>
                    
                            </div>
                            <br>
                            </mat-tab>

                            <mat-tab>
                                <ng-template mat-tab-label>
                                  Clinic and Speciality 
                                </ng-template>
                                <br>
                              <div class="row container-fluid">
                                <div class="col-sm-12">
                                    <div class="row" style="text-align: left;">{{department}}</div>
                                    <!-- <div class="row" *ngFor="let item of speciality" style="justify-content: left;">
                                        <div class="col-sm-6" style="text-align: left;">
                                        {{item}}
                                        </div>
                                    </div> -->
                                    
                                    <table style="border:1px">
                                      <thead>
                                        <th>S/N</th>
                                        <th>Speciality</th>
                                      </thead>
                                    <tbody>
                                      <tr *ngFor="let item of speciality; index as i">
                                        <td>{{i+1}}</td><td>{{item}}</td> 
                                      </tr>
                                    </tbody>
                                  </table>
                                </div>
                      
                              </div>
                              <br>
                              </mat-tab>
                            
                              <mat-tab>
                                <ng-template mat-tab-label>
                                  Date  and Time
                                </ng-template>
                                <br>
                              <div class="row container-fluid">
                              
                               
                                <form [formGroup]="dateTimeForm" >
                                  <div class="row" style="width:100%">
                                      <div class="col-sm-6">
                                          <mat-form-field appearance="outline">
                                            <mat-label>Appointment Date</mat-label>
                                              <input matInput placeholder="Appointment Date" [minDate]="minDate" formControlName="date" [matDatepicker]="picker1">

                                              <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                              <mat-datepicker #picker1></mat-datepicker>
                                            </mat-form-field>
                                      </div>
                                      <div class="col-sm-6">
                                        <mat-form-field appearance="outline">
                                          <mat-label>Select Time</mat-label>
                                          <input matInput placeholder="Time"  data-clocklet="class-name: my-clocklet-style;format:HH:mm;placement: top"  formControlName="time">
                                        </mat-form-field>
                                      </div>




                                      <div class="col-sm-8">
                                        <button class="btn btn-success pull-right" (click)="Rescheduledatetime()">Reschedule</button>
                                        </div>                               
                                  </div>
                                  </form>
                      
                              </div>
                              <br>
                              </mat-tab>                              
                                <mat-tab>
                                  <ng-template mat-tab-label>
                                    Appointments List
                                  </ng-template>
                                  <br>
                                  <div class="row container-fluid">
                                    <div class="col-sm-12">
                                      <div class="mat-elevation-z8 table-responsive">
                                        <table mat-table [dataSource]="dataSource" style="width:100%">
                                            <ng-container matColumnDef="sn">
                                                <th mat-header-cell *matHeaderCellDef>S/N</th>
                                                <td mat-cell *matCellDef="let element;let i=index"> {{i+1}} </td>
                                        </ng-container>
                                        <ng-container matColumnDef="date" >
                                          <th mat-header-cell *matHeaderCellDef style="font-size: 11px;">Appointment Date</th>
                                          <td mat-cell *matCellDef="let element"  style="text-transform: capitalize; font-size: 11px;">  {{element.date | date:'dd/MM/yyyy'}}  </td>
                                        </ng-container>
                                        <ng-container matColumnDef="time" >
                                          <th mat-header-cell *matHeaderCellDef style="font-size: 11px;">Appointment Time</th>
                                          <td mat-cell *matCellDef="let element"  style="text-transform: capitalize; font-size: 11px;">  {{element.date | date:'h:mm a'}}  </td>
                                        </ng-container>
                                       
                                            <ng-container matColumnDef="clinic" style="font-size: 11px;">
                                                <th mat-header-cell *matHeaderCellDef style="font-size: 11px;">Clinic</th>
                                                <td mat-cell *matCellDef="let element" style="font-size: 11px;"> {{element.clinic}} </td>
                                              </ng-container>
                                          
                                              <ng-container matColumnDef="action">
                                                <th mat-header-cell *matHeaderCellDef style="font-size: 11px;">Action</th>
                                                <td mat-cell *matCellDef="let element" style="font-size: 11px;"> 
                                                  <button class="btn btn-success btn-sm" (click)="rowSelectedBookingView(element)" style="font-size: 11px;">View </button>
                                                   </td>
                                              </ng-container>
                        
                        
                                          <tr mat-header-row *matHeaderRowDef="bookingColumns"></tr>
                                          <tr mat-row *matRowDef="let row; columns:bookingColumns;"></tr>
                                        </table>
                                  
                                        <mat-paginator [pageSizeOptions]="[100,200]" showFirstLastButtons></mat-paginator>
                                      </div>
                                    </div>
               
                                  </div>
                                <br>
                              </mat-tab>
    
                          </mat-tab-group>
                    </div>
                    
                  </div>
                  
            </div>
          </div>
    </div> 

</div>



<div class="modal fade" bsModal #calendarModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="dialog-static-name">
  <div class="modal-dialog modal-lg">
  <div class="modal-content">
   <div class="modal-header">
     <h5 id="dialog-static-name" class="modal-title pull-left">Calendar</h5>
     <button type="button" class="close pull-right" aria-label="Close" (click)="calendarModal.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
   </div>
   <div class="modal-body">
       
    <div class="col-sm-12">
    <div class="row">
      <div class="col-sm-4">
        <div class="col-sm-12"><h5> Select Clinics</h5></div>
           
        <mat-radio-group  name="d">
          <div class="row" style="margin-left: 10px;" *ngFor="let clinic of clinics" >
               <mat-radio-button [value]="clinic.id"  [checked]="clinic.id==selected_clinic_id" (click)="onClinicSelected(clinic)"  style="font-family: lato light;margin-right: 20px;"><h5>{{clinic.name}}</h5></mat-radio-button>
            </div>
                        
     
       </mat-radio-group>

      </div>
        <div class="col-sm-8">
      
          <div class="control-section">
            <div class="col-lg-12 conent-wrapper">
              <ejs-schedule #schedule [(selectedDate)]="selectedDate"   (popupOpen)='onPopupOpen($event)'    (cellClick)="onCellClick($event)" [currentView]='currentView' >
                <ng-template #cellTemplate let-data>
                  <div class="templatewrap">
                    <img src="./assets/img/avatars/accept.png" width="32px" height="32px" *ngIf="isWorkDay(data.date)"/>
                    <img src="./assets/img/avatars/close.png" width="32px" height="32px"  *ngIf="!isWorkDay(data.date)"/>
                  
                  </div>
                </ng-template>
                <e-views>          
                  <e-view option="Month"  ></e-view> 
                </e-views>
        
              </ejs-schedule>
            </div>
            
          </div>
        
        </div>
      
      </div>
       
      <button class="btn btn-danger btn-sm" (click)="calendarModal.hide()" > close</button>
    </div>
    
   </div>
  </div>
  </div>
  </div>
  




<div class="modal fade" bsModal #calendarModalTime="bs-modal" [config]="{backdrop: false}" tabindex="-1" role="dialog" aria-labelledby="dialog-static-name">
  <div class="modal-dialog modal-md">
  <div class="modal-content">
   <div class="modal-header">
     <h5 id="dialog-static-name" class="modal-title pull-left">Calendar</h5>
     <button type="button" class="close pull-right" aria-label="Close" (click)="calendarModalTime.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
   </div>
   <div class="modal-body">    
    <div class="col-sm-12">      
          <div class="control-section">
            <div class="col-lg-12 conent-wrapper">
              <ejs-schedule #schedule [(selectedDate)]="selected_appointment_date"   (popupOpen)='onPopupOpen($event)'    (cellClick)="onCellClickTime($event)" [currentView]='currentWorkweek'   [workHours]="workHours" [workDays]="workdate"  [eventSettings]="eventSettings">
             
                <e-views>          
                  <e-view option="WorkWeek"  startHour="08:00" endHour="18:00" ></e-view> 
                </e-views>
                <ng-template #eventSettingsTemplate let-data >
                  <div class='template-wrap' style="color: black; font-size: large;" >
                    <div class="subject">{{data.Subject}}</div>
                  </div>
                </ng-template>
              </ejs-schedule>
              
            </div>      
       
      </div>
       
      <button class="btn btn-danger btn-sm" (click)="calendarModalTime.hide()" > close</button>
    </div>
    
   </div>
  </div>
  </div>
  </div>


  <div class="modal fade" bsModal #ConfirmAppointment="bs-modal" [config]="{backdrop: false}" tabindex="-1" role="dialog" aria-labelledby="dialog-static-name">
    <div class="modal-dialog modal-md">
    <div class="modal-content">
     <div class="modal-header">
       <h5 id="dialog-static-name" class="modal-title pull-left">Confirm Appointment</h5>
       <button type="button" class="close pull-right" aria-label="Close" (click)="ConfirmAppointment.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
     </div>
     <div class="modal-body">    
      <div class="col-sm-12">

        <form [formGroup]="dateTimeForm" >
          <div class="row" style="width:100%">
            <div class="col-sm-12">
              <mat-form-field appearance="outline">
                <mat-label>Service Type/Clinic</mat-label>
                <input matInput placeholder="clinic_name"  formControlName="clinic_name">
              </mat-form-field>
            </div>
              <div class="col-sm-6">
                  <mat-form-field appearance="outline">
                    <mat-label>Appointment Date</mat-label>
                      <input matInput placeholder="Appointment Date" [minDate]="minDate" formControlName="date" [matDatepicker]="picker3">

                      <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                      <mat-datepicker #picker3></mat-datepicker>
                    </mat-form-field>
              </div>
              <div class="col-sm-6">
                <mat-form-field appearance="outline">
                  <mat-label>Select Time</mat-label>
                  <input matInput placeholder="Time"  data-clocklet="class-name: my-clocklet-style;format:HH:mm;placement: top"  formControlName="time">
                </mat-form-field>
              </div>
          </div>
          </form>
         
        <button class="btn btn-danger btn-sm" (click)="ConfirmAppointment.hide()" > close</button>
        <button class="btn btn-success btn-sm" (click)="confirmAppointment()" > Submit</button>
      </div>
      
     </div>
    </div>
    </div>
    </div>

<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '9px' }"></ngx-loading>