 
div{
    font-family: "Open Sans", Tahoma, sans-serif;
}
.hx{
	font-weight: 500;
	font-size: 16px;
}
::placeholder {
	font-family: "Open Sans", Tahoma, sans-serif;
}
.tab-headers{
	color:#A6CF39;
}
::ng-deep .mat-checkbox-checked.mat-accent.mat-checkbox-disabled .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: red;
}

::ng-deep .mat-tab {
  width: 40px !important;
}
	
table{
	width: 100%;
	font-family: lato light;
}
tr.mat-header-row {
	height:33px;
	
	
}
th {
	color: #20a8d8;
	font-weight: bold;
	font-size:13px;
	text-transform: uppercase;
  }
td.mat-cell{
	font-size:12px;
	font-weight:bolder;
}
tr.mat-row, tr.mat-footer-row {
  height: 32px;
}



::ng-deep .mat-checkbox-checked.mat-primary .mat-checkbox-background .mat-checkbox-background , .mat-checkbox-indeterminate.mat-primary .mat-checkbox-background {
  background: pink!important;
}
mat-form-field{
	width: 100%;
}
.obr{
	font-weight: 500;
	font-size: 13px;
}

mat-card-title {
 font-size: 14px;
}

@media print{
	img {
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 40%;
	  }
    #div{
        background-color:  #20a8d8;
    }
    .total{
    background-color: greenyellow;
    }
    .footer{
        position: fixed;
        bottom: 0;
    }
       
    table{
        width: 100%;
        font-family : lato light;
    }
    tr{
     font-weight: bold;
    }
    hr{
        margin-top: -2px;
    
    }
    .col-sm-5{
        font-size: 15px;
        font-weight:bold;
        // text-transform: uppercase;
        font-family: lato light;
    }
    .address{
        font-weight: bold;
        font-family: lato light;
        margin-top: -5px;
    }
    .header{
        font-family: lato light;
        font-family: 22px;
        font-weight: bold;
    }
    .total {
        font-family: lato light
    }
}
.mat-tab-label {
    background-color: red;
  }