
    <tabset>
            <tab heading="Appointment Booking">
              <div class="row">
                  <!-- <full-calendar defaultView="dayGridMonth" [plugins]="calendarPlugins"></full-calendar> -->
                <div class="col-sm-12">
  <!-- <full-calendar
  defaultView="dayGridMonth"
  deepChangeDetection="true"
  [plugins]="calendarPlugins"
  [weekends]="false"
  (dateClick)="handleDateClick($event)"
  [events]="[
    { title: 'Davis Is blessed', date: '2020-02-04' },
    { title: 'event 2', date: '2019-04-02' }
  ]"
></full-calendar> -->
                </div>
              </div>
                    <div class="row">
                    <div class="col-sm-7">
                    <mat-card>
                    <mat-card-title style="font-size: 16px;color:#A6CF39;">
                    <i class="fa fa-hospital-o"></i> 
                    <span style="margin-left:5px">Set Clinic Consultation</span>
                    </mat-card-title>
                    <div class="row">
                    <form [formGroup]="appointmentForm" (ngSubmit)="onSubmit()">
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-sm-3">
                                    <mat-form-field>
                                        <input type="text" matInput placeholder="Appointment Date" [daysDisabled]="[6,0]" [minDate]="limit" formControlName="appointment_date" bsDatepicker>
                                        <mat-error *ngIf="f.name">Appointment Date <strong>required</strong></mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-sm-3">
                                        <mat-form-field>
                                            <mat-label>Appointment Time</mat-label>
                                            <mat-select  formControlName="time">
                                                <mat-option *ngFor="let item of timing" [value]="item">
                                                    {{item}}
                                                  </mat-option>
                                            </mat-select>
                                          </mat-form-field>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <mat-form-field>
                                <input type="text"  formControlName="patient_no"  [typeaheadOptionsLimit]="10"  matInput placeholder="Patient" [typeahead]="visits" typeaheadOptionField="patient_no" (typeaheadOnSelect)="onSelect($event)">
                                <mat-icon matSuffix>search</mat-icon>
                                <mat-error *ngIf="f.patient_no">Patient Number <strong>required</strong></mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-sm-6">
                                        <div class="row">
                                                <div class="col-sm-6">
                                                    <mat-form-field>
                                                        <input type="text" matInput placeholder="Name" formControlName="name">
                                                        <mat-error *ngIf="f.name">Patient Name <strong>required</strong></mat-error>
                                                </mat-form-field>
                                                </div>
                                                <div class="col-sm-6">
                                                    <mat-form-field >
                                                        <input matInput placeholder="Phone" formControlName="phone" >
                                                        <mat-error *ngIf="f.phone">Patient Phone <strong>required</strong></mat-error>
                                                        </mat-form-field>
                                                </div>
                                                
                                                </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            
                            <!-- <textarea name="" id="" cols="30" rows="6" class="form-control" formControlName="reason" ></textarea> -->
                            <mat-form-field  appearance="outline">
                                <mat-label>Appointment Reason</mat-label>
                                <textarea matInput cols="30" rows="7"  placeholder="Reason for Appointment" formControlName="reason"></textarea>
                            <mat-error *ngIf="f.reason">Reason for Appointment <strong>required</strong></mat-error>
                              </mat-form-field>
                        </div>
                        <div class="col-sm-12">
                                <br>
                            <button class="btn btn-success pull-right"> Set Appointment</button>
                        </div>
                    </form>
                    </div>
                    </mat-card>
                    </div>
                    <div class="col-sm-5">
                    <mat-card>
                        <mat-card-title style="font-size: 14px;color:dodgerblue;">
                                <i class="fa fa-hospital-o"></i> 
                                <span style="margin-left: 5px;"> TODAYS APPOINTMENT LIST</span>
                        </mat-card-title>  
                        <div class="row">
                                <div class="col-sm-12">
                                        <div class="mat-elevation-z8 table-responsive">
                                                <table mat-table [dataSource]="toadysList">
                                              
                                                  <ng-container matColumnDef="S/No">
                                                    <th mat-header-cell *matHeaderCellDef></th>
                                                    <td mat-cell *matCellDef="let element;let i=index"> {{i+1}}</td>
                                                  </ng-container>
                                              
                                                  <ng-container matColumnDef="name">
                                                    <th mat-header-cell *matHeaderCellDef>Patient  Name </th>
                                                    <td mat-cell *matCellDef="let element"> {{element.name | uppercase}} </td>
                                                  </ng-container>
                                                  <ng-container matColumnDef="phone">
                                                        <th mat-header-cell *matHeaderCellDef>Phone Number</th>
                                                        <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
                                                      </ng-container>
                                                  <ng-container matColumnDef="time">
                                                    <th mat-header-cell *matHeaderCellDef>Time</th>
                                                    <td mat-cell *matCellDef="let element"> {{element.time}} </td>
                                                  </ng-container>
                                              
                                                  <tr mat-header-row *matHeaderRowDef="listColumns"></tr>
                                                  <tr mat-row *matRowDef="let row; columns: listColumns;"></tr>
                                                </table>
                                              
                                                <mat-paginator #paginator1 [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                                              </div>
                                </div>
                            </div>
                    
                    </mat-card>
                    <br>
                    
                    </div>
                    </div>
            </tab>
            <tab heading="Appointment List">
                    <div class="row">
                            <div class="col-sm-3">
                                    <mat-form-field>
                                            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="search Appointment">
                                          </mat-form-field>                                      
                            </div>
                        </div>
                <div class="row">
                    <div class="col-sm-10">
                            <div class="mat-elevation-z8">
                                    <table mat-table [dataSource]="dataSource">
                                  
                                      <ng-container matColumnDef="patient_no">
                                        <th mat-header-cell *matHeaderCellDef>File No. </th>
                                        <td mat-cell *matCellDef="let element"> {{element.patient_no}} </td>
                                      </ng-container>
                                  
                                      <ng-container matColumnDef="name">
                                        <th mat-header-cell *matHeaderCellDef>Patient  Name </th>
                                        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                                      </ng-container>
                                      <ng-container matColumnDef="phone">
                                            <th mat-header-cell *matHeaderCellDef>Phone Number</th>
                                            <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
                                          </ng-container>
                                      <ng-container matColumnDef="appointment_date">
                                        <th mat-header-cell *matHeaderCellDef>Appointent Date</th>
                                        <td mat-cell *matCellDef="let element"> {{element.appointment_date}} </td>
                                      </ng-container>
                                      <ng-container matColumnDef="time">
                                        <th mat-header-cell *matHeaderCellDef>Time</th>
                                        <td mat-cell *matCellDef="let element"> {{element.time}} </td>
                                      </ng-container>
                                  
                                      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                    </table>
                                  
                                    <mat-paginator #paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                                  </div>
                    </div>
                </div>
            </tab>
            
    </tabset>